.b-c-g {
    border-color: #e9ecef !important;
}
.b-c-r {
    border-color: red !important;
}
.c-r {
    color: red;
}
.b-c-d-g {
    border-color: #e9ecef transparent #e9ecef #e9ecef !important;
}
.b-c-d-r {
    border-color: red transparent red red !important;
}
.input-f-t:focus {
    color: #4f5467 !important;
    background-color: #fff !important;
    border-color: rgba(0, 0, 0, 0.25) !important;
    outline: 0 !important;
    box-shadow: transparent;
}
.input-f-f:focus {
    color: #4f5467 !important;
    background-color: #fff !important;
    border-color: red !important;
    outline: 0 !important;
    box-shadow: transparent;
}
