<div class="modal-header justify-content-between">
    <h5 class="modal-title" id="editLabel">{{getLang("แลกเวร/ซื้อขายเวร", "Exchange Shifts")}}</h5>
    <button type="button" class="close" (click)="activeModal.close();" aria-label="Close">
        <span aria-hidden="true" class="text-black">&times;</span>
    </button>
</div>

<div class="modal-body">
    <div class="row g-2 justify-content-center align-middle">
        <div class="form-group col-3 text-center">
            <label class="font-weight-bold text-end control-label col-form-label" style="font-size: 14px;">
                {{"Period Date"| translate}}
            </label>
        </div>
        <div class="form-group col-4 input-group">
            <div class="input-group">
                <input oninput="value = value.replace(/[^0-9/]/g, '').replace(/(\..*?)\..*/g);"
                    class="form-control border-color-gray" placeholder="{{'dd.mm.yyyy' | translate}}" name="dp1"
                    [(ngModel)]="startDate" ngbDatepicker #d1="ngbDatepicker" [maxDate]="endDate"
                    [ngClass]="{'border-color-red':!checkDateFormat(startDate)&&checkDateFormat(endDate)}"
                    (ngModelChange)="checkDatePeriod('startDate')" #c1="ngModel" (change)="startDate = datepickerService.validateFormatDate(c1)">
                <div class="input-group-append">
                    <button class="btn btn-outline-info no-shadow" (click)="d1.toggle()" type="button">
                        <i class="far fa-calendar-alt"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="form-group col-4 input-group">
            <div class="input-group">
                <input oninput="value = value.replace(/[^0-9/]/g, '').replace(/(\..*?)\..*/g);"
                    class="form-control border-color-gray" placeholder="{{'dd.mm.yyyy' | translate}}" name="dp2"
                    [(ngModel)]="endDate" ngbDatepicker #d2="ngbDatepicker" [minDate]="startDate"
                    [ngClass]="{'border-color-red':checkDateFormat(startDate)&&!checkDateFormat(endDate)}"
                    (ngModelChange)="checkDatePeriod('endDate')" #c2="ngModel" (change)="endDate = datepickerService.validateFormatDate(c2)">
                <div class="input-group-append">
                    <button class="btn btn-outline-info no-shadow" (click)="d2.toggle()" type="button">
                        <i class="far fa-calendar-alt"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row g-2 justify-content-center align-middle">
        <div class="form-group col-3 text-center">
            <button type="button" class="btn btn-info" (click)="get_list_exchange_transition()">
                {{"Search"| translate}}
            </button>
        </div>
    </div>
    <full-calendar #fullCalendar [options]="calendarOptions"></full-calendar>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="activeModal.close();">
        {{"ปิด"| translate}}
    </button>
</div>

<ng-template #alertModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="editLabel">Alert Message</h5>
        <button class="close" (click)="modal.close()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {{alert.message}}
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-info" (click)="modal.close()">
            {{"confirm"| translate}}
        </button>
    </div>
</ng-template>

<ng-template #exchange_shift_deatil_modal let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="editLabel">{{getLang("ข้อมูลการแลกเวรทำงาน", "work shift information")}}</h5>
        <button type="button" class="close" (click)="modal.close();" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row justify-content-start">
            <div class="col-12 col-md-6 b-r">
                <small class="text-muted">
                    {{getLang("ประเภทการแลก", "Exchange Type")}}
                </small>
                <h6>
                    {{exchangeShiftplan_select.exchangeType==1?"ขายเวร":"แลกเวร"}}
                </h6>
            </div>
            <div class="col-12 col-md-6 b-r">
                <small class="text-muted">
                    {{getLang("วันที่", "Date")}}
                </small>
                <h6>
                    {{exchangeShiftplan_select.dateId | date:"dd-MM-yyyy"}}
                </h6>
            </div>
            <div class="col-12 col-md-6 b-r">
                <small class="text-muted">
                    {{getLang("พนักงานที่เปิด", "Employee Who Open Shift")}}
                </small>
                <h6>
                    {{exchangeShiftplan_select.fullName}}
                </h6>
            </div>
            <div class="col-12 col-md-6 b-r">
                <small class="text-muted">
                    {{getLang("เวร", "Shift")}}
                </small>
                <h6>
                    {{exchangeShiftplan_select.shiftId}}
                </h6>
            </div>
            <div class="col-12 col-md-6 b-r">
                <small class="text-muted">
                    {{getLang("ตำแหน่งเวร", "Shift Position")}}
                </small>
                <h6>
                    {{exchangeShiftplan_select.shiftType}}
                </h6>
            </div>
            <div class="col-12 col-md-6 b-r" *ngIf="exchangeShiftplan_select.remark">
                <small class="text-muted">
                    {{getLang("หมายเหตุ", "Remark")}}
                </small>
                <h6>
                    {{exchangeShiftplan_select.remark}}
                </h6>
            </div>
            <div class="col-12 col-md-6 b-r">
                <small class="text-muted">
                    {{getLang("พนักงานที่รับ", "Employee Receiving")}}
                </small>
                <h6>
                    {{shiftplan.fullName}}
                </h6>
            </div>
            <div class="col-12 col-md-6 b-r">
                <small class="text-muted">
                    {{getLang("วันที่", "Date")}}
                </small>
                <h6 *ngIf="exchangeShiftplan_select.exchangeType==1">
                    {{exchangeShiftplan_select.dateId | date:"dd-MM-yyyy"}}
                </h6>
                <div *ngIf="exchangeShiftplan_select.exchangeType==0" class="form-group input-group">
                    <div class="input-group">
                        <input oninput="value = value.replace(/[^0-9/]/g, '').replace(/(\..*?)\..*/g);"
                            class="form-control border-color-gray" placeholder="{{'dd.mm.yyyy' | translate}}" name="dp3"
                            [(ngModel)]="shiftplan_date" ngbDatepicker #d3="ngbDatepicker"
                            [ngClass]="{'border-color-red':!checkDateFormat(shiftplan_date)}"
                            (ngModelChange)="get_employee_shift()">
                        <div class="input-group-append">
                            <button class="btn btn-outline-info no-shadow" (click)="d3.toggle()" type="button">
                                <i class="far fa-calendar-alt"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="exchangeShiftplan_select.exchangeType==0" class="col-12 col-md-6 b-r">
                <small class="text-muted">
                    {{getLang("เวร", "Shift")}}
                </small>
                <select class="form-select full-border-color-gray" [disabled]="listShiftPlanning.length==0"
                    [(ngModel)]="shiftplan_shiftId">
                    <option selected class="d-none" value="">
                        {{getLang('ไม่มีเวรการทำงานในวันที่เลือก','No Shift')}}
                    </option>
                    <option *ngFor="let item of listShiftPlanning; let i =index" [ngValue]="item.shiftId">
                        {{item.shiftId}}
                    </option>
                </select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-info" (click)="save_shift_change()">
            {{"Save"| translate}}
        </button>
    </div>
</ng-template>
