<div class="card card-hover">
    <div class="card-header bg-myhr">
        <h4>{{getLang("ตารางเวรการทำงาน", "Work Shiftplan")}}</h4>
    </div>
    <div class="card-body">
        <full-calendar #fullCalendar [options]="calendarOptions"></full-calendar>
    </div>
</div>

<ng-template #edit_shift_modal let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="editLabel">{{getLang("แก้ไขเวร", "Fix The Shift")}}</h5>
        <button type="button" class="btn-close" (click)="modal.close();" aria-label="Close">
        </button>
    </div>
    <div class="modal-body">
        <div class="row justify-content-start">
            <div class="col-12 col-md-6 b-r">
                <label class="form-label text-muted">
                    {{getLang("วันที่", "Date")}}
                </label>
                <h6>
                    {{shiftplan_select.dateId | date:"dd-MM-yyyy"}}
                </h6>
            </div>
            <div class="col-12 col-md-6 b-r">
                <label class="form-label text-muted">
                    {{getLang("พนักงาน", "Employee")}}
                </label>
                <h6>
                    {{shiftplan?.fullName}}
                </h6>
            </div>
            <div class="col-12 col-md-6 b-r">
                <label class="form-label text-muted">
                    {{getLang("เวร", "Shift")}}
                </label>
                <h6>
                    {{shiftplan_select.shiftId}}
                </h6>
            </div>
            <div class="col-12 col-md-6 b-r">
                <label class="form-label text-muted">
                    {{getLang("ตำแหน่งเวร", "Shift Position")}}
                </label>
                <h6>
                    {{shiftplan_select.shiftPositionName}}
                </h6>
            </div>
            <div class="col-12 b-r">
                <label class="form-label text-muted">
                    {{getLang("หมายเหตุ", "Remark")}}
                </label>
                <h6>
                    <textarea class="form-control no-resize border-color-gray"
                        [(ngModel)]="shiftplan_remark"> </textarea>
                </h6>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="save_shift_exchange(0);modal.close()">
            {{getLang("เปิดแลกเวร", "Open to exchange shifts.")}}
        </button>
        <button type="button" class="btn btn-success" (click)="save_shift_exchange(1);modal.close()">
            {{getLang("เปิดขายเวร", "Open for sale.")}}
        </button>
    </div>
</ng-template>

<ng-template #alertModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="editLabel">Alert Message</h5>
        <button class="btn-close" (click)="modal.close()" aria-label="Close">
        </button>
    </div>
    <div class="modal-body">
        {{alert.message}}
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" (click)="modal.close()">
            {{"confirm"| translate}}
        </button>
    </div>
</ng-template>
