.box-workflow {
    margin: 0;
    height: calc(100vh - 140px);
}
.box-workflow-list {
    height: calc(100vh - 250px);
}
.box-workflow-detail {
    height: calc(100vh - 142px);
}
@media (width: 768px) {
    .box-workflow {
        margin: 0;
        height: calc(100vh - 175px);
    }
    .box-workflow-list {
        height: calc(100vh - 285px);
    }
    .box-workflow-detail {
        height: calc(100vh - 176px);
    }
}
.box-workflow-pagination {
    padding: 16px;
    .pagination {
        margin-bottom: 0px;
    }
}
.select-workflow {
    border-bottom: 2px solid #2962ff;
}
.load-data-ring {
    display: inline-block;
}
.load-data-ring:after {
    content: " ";
    display: block;
    width: 35px;
    height: 35px;
    margin: 8px;
    border-radius: 50%;
    border: 3px solid #fff;
    border-color: #138dd8 transparent #138dd8 transparent;
    animation: load-data-ring 1.2s linear infinite;
}
@keyframes load-data-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.myhrcolor-1 .tooltip-inner {
    background-color: #fff;
    color: #2962ff;
    font-weight: 400;
    border-style: solid;
    border-color: #2962ff;
    border-width: 1px;
}
.myhrcolor-1 .arrow::before {
    border-top-color: #2962ff;
}
.myhrcolor-2 .tooltip-inner {
    background-color: #fff;
    color: #36bea6;
    font-weight: 400;
    border-style: solid;
    border-color: #36bea6;
    border-width: 1px;
}
.myhrcolor-2 .arrow::before {
    border-top-color: #36bea6;
}
.myhrcolor-3 .tooltip-inner {
    background-color: #fff;
    color: #f62d51;
    font-weight: 400;
    border-style: solid;
    border-color: #f62d51;
    border-width: 1px;
}
.myhrcolor-3 .arrow::before {
    border-top-color: #f62d51;
}
.myhrcolor-4 .tooltip-inner {
    background-color: #fff;
    color: #ffbc34;
    font-weight: 400;
    border-style: solid;
    border-color: #ffbc34;
    border-width: 1px;
}
.myhrcolor-4 .arrow::before {
    border-top-color: #ffbc34;
}
.myhrcolor-date .tooltip-inner {
    background-color: #fff;
    color: #a1aab2;
    font-weight: 400;
    border-style: solid;
    border-color: #a1aab2;
    border-width: 1px;
}
.myhrcolor-date .arrow::before {
    border-top-color: #a1aab2;
}

.border-gray {
    border-color: #e9ecef #e9ecef #e9ecef #e9ecef !important;
}
.border-gray:focus {
    color: #4f5467 !important;
    background-color: #fff !important;
    border-color: rgba(0, 0, 0, 0.25) !important;
    outline: 0 !important;
    box-shadow: transparent;
}

.tr-hover:hover {
    cursor: pointer;
    color: #7460ee;
}
.text-color-normal {
    color: #3e5569;
}
