<!-- Mobile toggle button -->
<a
  [ngClass]="showSidebar ? 'ti-close' : 'ti-menu'"
  class="btn btn-success show-left-part d-block d-lg-none"
  href="javascript:void(0)"
  (click)="mobileSidebar()"
></a>

<div class="d-md-flex align-items-center mt-2 bg-white p-2">
  <div class="ps-3">
      <h4 class="mb-0">{{ ms.topLable | translate }}</h4>
  </div>

  <div class="ms-auto">
      <!-- Add Task -->
      <button type="button" class="btn btn-info text-white" >
          <i name="plus" class="feather-sm me-2"></i>
          {{"menu.myhr-create-doc" | translate}}
      </button>
  </div>

</div>

<div
  class="justify-content-center text-center"
  role="status"
  *ngIf="loadingIn || loadingOut"
>
  <div class="spinner-grow text-info" role="status" style="margin: 5px">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-info" role="status" style="margin: 5px">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-info" role="status" style="margin: 5px">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<div
  class="main-part"
  style="height: calc(100vh - 175px); z-index: -2"
  *ngIf="!loadingIn && !loadingOut"
>
  <div class="right-part">
    <!-- ช่องรายการเมล -->
    <div class="card mb-0">
      <div class="row g-0">
        <div class="col-lg-4 col-md-12 col-xl-4 border-right">
          <div class="position-relative" style="height: 100%">
            <div
              class="
                d-flex
                align-items-center
                justify-content-center
                px-3
                py-4
                border-bottom
              "
            >
              <div class="mail-pagination">
                <ngb-pagination
                  [collectionSize]="collectionSize"
                  [(page)]="page"
                  [pageSize]="pageSize"
                  [maxSize]="3"
                  [rotate]="true"
                >
                </ngb-pagination>
              </div>
            </div>

            <div
              class="position-relative"
              style="height: calc(100vh - 258px)"
              [perfectScrollbar]="config"
            >
              <div
                *ngFor="
                  let item of showList
                    | slice
                      : (page - 1) * pageSize
                      : (page - 1) * pageSize + pageSize;
                  let i = index
                "
                (click)="mailSelected(item)"
              >
                <div class="p-3 border-bottom cursor-myhr">
                  <div class="d-flex align-items-start">
                    <img
                      src="assets/images/big/img1.jpg"
                      *ngIf="
                        item.param.wf_id == 8001 || item.param.wf_id == 8006
                      "
                      class="rounded-circle"
                      alt="* *"
                      width="35"
                      height="35"
                    />
                    <img
                      src="assets/images/big/img1.jpg"
                      *ngIf="
                        item.param.wf_id == 8021 || item.param.wf_id == 8002
                      "
                      class="rounded-circle"
                      alt="* *"
                      width="35"
                      height="35"
                    />
                    <img
                      src="assets/images/big/img1.jpg"
                      *ngIf="item.param.wf_id == 8005"
                      class="rounded-circle"
                      alt="* *"
                      width="35"
                      height="35"
                    />
                    <img
                      src="assets/images/big/img1.jpg"
                      *ngIf="item.param.wf_id == 2014"
                      class="rounded-circle"
                      alt="* *"
                      width="35"
                      height="35"
                    />
                    <div class="ms-3">
                      <div class="d-flex align-items-center">
                        <h5 class="mb-0">{{ item.initiator }}</h5>
                        <!-- <span
                          *ngIf="mail.filter.indexOf('Important') !== -1"
                          class="ms-2"
                        >
                          <i class="fas fa-bookmark font-12 text-warning"></i>
                        </span>
                        <span
                          *ngIf="mail.filter.indexOf('Star') !== -1"
                          class="ms-2"
                        >
                          <i class="fas fa-star font-12 text-warning"></i>
                        </span> -->
                      </div>
                      <!-- ACTIVE สี info -->
                      <span
                        *ngIf="item.status == 0"
                        class="badge text-bg-info font-medium px-2"
                      >
                        ACTIVE
                      </span>
                      <!-- COMPLETE สี success -->
                      <span
                        *ngIf="item.status == 1"
                        class="badge text-bg-success font-medium px-2"
                      >
                        COMPLETE
                      </span>
                      <!-- ABORT สี danger -->
                      <span
                        *ngIf="item.status == 2"
                        class="badge text-bg-danger font-medium px-2"
                      >
                        ABORT
                      </span>
                      <!-- NO RECIPIENT -->
                      <span
                        *ngIf="item.status == 3"
                        class="badge text-bg-secondary font-medium px-2"
                      >
                        NO RECIPIENT
                      </span>
                      <!-- ABORT ENGINE สี danger -->
                      <span
                        *ngIf="item.status == 4"
                        class="badge text-bg-danger font-medium px-2"
                      >
                        ABORT ENGINE
                      </span>
                      <!-- CANCEL สี danger -->
                      <span
                        *ngIf="item.status == 5"
                        class="badge text-bg-danger font-medium px-2"
                      >
                        CANCEL
                      </span>
                      <!-- RETURN -->
                      <span
                        *ngIf="item.status == 6"
                        class="badge text-bg-secondary font-medium px-2"
                      >
                        RETURN
                      </span>
                    </div>
                    <div class="ms-auto">
                      <div class="text-end">
                        <span class="text-muted d-block"> {{ item.date }}</span>
                      </div>
                    </div>
                  </div>
                  <p class="mb-0">
                    <span class="font-weight-bold">
                      {{ item.docNo | slice: 0:20 }} : {{ item.subject }}
                    </span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- ช่องรายละเอียดเมล -->
        <div
          class="col-lg-8 col-md-12 col-xl-8 detail-part"
          [class.movetodetail]="ms.addClass"
        >
          <div *ngIf="selectedMail === null" class="h-100 d-none d-lg-block">
            <div class="d-flex align-items-center justify-content-center h-100">
              <div class="text-center">
                <i class="far fa-envelope display-5"></i>
                <h3>Select to read.</h3>
              </div>
            </div>
          </div>

          <div *ngIf="selectedWF != null">
            <div
              class="position-relative"
              style="height: calc(100vh - 180px)"
              [perfectScrollbar]="config"
            >
              <!-- ปุ่มกดกลับ -->
                        <div *ngIf='selectedWF'
            class="d-flex align-items-center px-3 py-2 border-bottom bg-light">
                <div class="d-flex align-items-center">
                    <button class="me-3 d-block d-lg-none btn btn-info btn-sm">
                        <i class="fas fa-arrow-left" (click)="removeClass()"></i>
                    </button>



                </div>
            </div>
            <!-- หัวข้อเมล -->
            <spam *ngIf='selectedWF'>
              <div class="d-flex justify-content-center p-3 border-bottom bg-info text-white" style="text-align: center;">
                  <h5 class="mb-0 ">{{selectedWF.subject}}
                  </h5>
              </div>
            <!-- ปิดหัวข้อเมล -->
            <div class="p-3">
              <div class="mb-4">

            <!-- WorkFlow -->
              <app-workflow-type [wf_id]="selectedWF.param.wf_id"  [create]="false"></app-workflow-type>
              <!-- End WorkFlow  -->


            </div>
            <div class="mb-3">
                <div *ngIf='ms.replyShow'>
                    <textarea id="w3mission" rows="4" class="form-control" placeholder="Type your reply here"> </textarea>
                    <div class="d-flex align-items-center justify-content-between py-2 px-3 bg-light">
                        <div>
                            <a href="javascript:void(0)" class="link"><i class="icon-link font-16"></i></a>
                            <a href="javascript:void(0)" class="link"><i class="fas fa-smile font-16 ms-3"></i></a>
                            <a href="javascript:void(0)" class="link"><i class="fas fa-camera font-16 ms-3"></i></a>
                        </div>

                        <div>
                            <button type="button" class="btn btn-info" (click)='sendButtonClick()'><i
                                    class="fas fa-arrow-left"></i></button>
                            <button type="button" class="btn btn-danger ms-2"><i class="fas fa-trash me-1"></i></button>
                            <button type="button" class="btn btn-secondary ms-2"><i class=" fas fa-share me-1"></i>Send</button>
                        </div>
                    </div>
                </div>


                <div *ngIf='!ms.replyShow'>
                    <button type="button" class="btn btn-outline-info btn-sm" (click)='reply()'>
                        <i class="fas fa-reply"></i> Reply
                    </button>
                    <button type="button" class="btn btn-outline-info ms-1 btn-sm" (click)='reply()'>
                        <i class="fas fa-reply-all"></i> Reply All
                    </button>
                    <button type="button" class="btn btn-outline-info ms-1 btn-sm" (click)='reply()'>
                        <i class="fas fa-share"></i> Forward
                    </button>
                </div>





            </div>
        </div>
        </spam>



            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ----------------------------------------------------------------------------- -->
<!-- Compose Modal -->
<!-- ----------------------------------------------------------------------------- -->
<ng-template #content let-modal>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <div class="card mb-0">
          <div class="card-body">
            <ul
              ngbNav
              #navKC="ngbNav"
              [(activeId)]="activeKeep"
              [destroyOnHide]="false"
              class="nav-tabs"
            >
              <li [ngbNavItem]="1" [destroyOnHide]="true">
                <a ngbNavLink>Personal</a>
                <ng-template ngbNavContent>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="card text-center mb-0">
                        <div class="card-body">
                          <h4 class="card-title text-dark">
                            <i
                              class="fas fa-file-alt"
                              style="font-size: 50px"
                            ></i>
                          </h4>
                          <h4 class="card-title">
                            <a href="#" class="text-dark">ใบขอหนังสือรับรอง</a>
                          </h4>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="card text-center mb-0">
                        <div class="card-body">
                          <h4 class="card-title text-dark">
                            <i
                              class="fas fa-user-circle"
                              style="font-size: 50px"
                            ></i>
                          </h4>
                          <h4 class="card-title">
                            <a href="#" class="text-dark"
                              >ใบปรับปรุงข้อมูลพนักงาน</a
                            >
                          </h4>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="card text-center mb-0">
                        <div class="card-body">
                          <h4 class="card-title text-dark">
                            <i
                              class="fas fa-user-plus"
                              style="font-size: 50px"
                            ></i>
                          </h4>
                          <h4 class="card-title">
                            <a href="#" class="text-dark"
                              >ใบปรับปรุงข้อมูลพนักงานโดยหัวหน้า</a
                            >
                          </h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </li>
              <li [ngbNavItem]="2">
                <a ngbNavLink>Time Attendance</a>
                <ng-template ngbNavContent>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="card text-center mb-0">
                        <div class="card-body">
                          <h4 class="card-title text-dark">
                            <i class="fas fa-bed" style="font-size: 50px"></i>
                          </h4>
                          <h4 class="card-title">
                            <a href="#" class="text-dark">ใบขอลาหยุดงาน</a>
                          </h4>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="card text-center mb-0">
                        <div class="card-body">
                          <h4 class="card-title text-dark">
                            <i class="fas fa-edit" style="font-size: 50px"></i>
                          </h4>
                          <h4 class="card-title">
                            <a href="#" class="text-dark"
                              >ใบขอลาหยุดงานโดยหัวหน้า</a
                            >
                          </h4>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="card text-center mb-0">
                        <div class="card-body">
                          <h4 class="card-title text-dark">
                            <i
                              class="fas fa-briefcase"
                              style="font-size: 50px"
                            ></i>
                          </h4>
                          <h4 class="card-title">
                            <a href="#" class="text-dark"
                              >ใบขอลาหยุดงานโดย Center</a
                            >
                          </h4>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="card text-center mb-0">
                        <div class="card-body">
                          <h4 class="card-title text-dark">
                            <i
                              class="fas fa-hourglass-half"
                              style="font-size: 50px"
                            ></i>
                          </h4>
                          <h4 class="card-title">
                            <a href="#" class="text-dark"
                              >ใบแก้ไขบันทึกการทำงาน</a
                            >
                          </h4>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="card text-center mb-0">
                        <div class="card-body">
                          <h4 class="card-title text-dark">
                            <i
                              class="fas fa-pencil-alt"
                              style="font-size: 50px"
                            ></i>
                          </h4>
                          <h4 class="card-title">
                            <a href="#" class="text-dark"
                              >ใบแก้ไขบันทึกการทำงานโดยหัวหน้า</a
                            >
                          </h4>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="card text-center mb-0">
                        <div class="card-body">
                          <h4 class="card-title text-dark">
                            <i
                              class="fas fa-id-card-alt"
                              style="font-size: 50px"
                            ></i>
                          </h4>
                          <h4 class="card-title">
                            <a href="#" class="text-dark"
                              >ใบแก้ไขบันทึกการทำงานโดย Center</a
                            >
                          </h4>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="card text-center mb-0">
                        <div class="card-body">
                          <h4 class="card-title text-dark">
                            <i
                              class="fas fa-retweet"
                              style="font-size: 50px"
                            ></i>
                          </h4>
                          <h4 class="card-title">
                            <a href="#" class="text-dark"
                              >ใบขอเปลี่ยนกะการทำงาน</a
                            >
                          </h4>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="card text-center mb-0">
                        <div class="card-body">
                          <h4 class="card-title text-dark">
                            <i
                              class="fas fa-sync-alt"
                              style="font-size: 50px"
                            ></i>
                          </h4>
                          <h4 class="card-title">
                            <a href="#" class="text-dark"
                              >ใบขอแลกกะการทำงานกับผู้อื่น</a
                            >
                          </h4>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="card text-center mb-0">
                        <div class="card-body">
                          <h4 class="card-title text-dark">
                            <i class="fas fa-child" style="font-size: 50px"></i>
                          </h4>
                          <h4 class="card-title">
                            <a href="#" class="text-dark">ใบขอทำงานล่วงเวลา</a>
                          </h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </li>
              <li [ngbNavItem]="3">
                <a ngbNavLink>Training</a>
                <ng-template ngbNavContent let-active>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="card text-center mb-0">
                        <div class="card-body">
                          <h4 class="card-title text-dark">
                            <i
                              class="fas fa-file-alt"
                              style="font-size: 50px"
                            ></i>
                          </h4>
                          <h4 class="card-title">
                            <a href="#" class="text-dark">ใบขอหนังสือรับรอง</a>
                          </h4>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="card text-center mb-0">
                        <div class="card-body">
                          <h4 class="card-title text-dark">
                            <i
                              class="fas fa-user-circle"
                              style="font-size: 50px"
                            ></i>
                          </h4>
                          <h4 class="card-title">
                            <a href="#" class="text-dark"
                              >ใบปรับปรุงข้อมูลพนักงาน</a
                            >
                          </h4>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="card text-center mb-0">
                        <div class="card-body">
                          <h4 class="card-title text-dark">
                            <i
                              class="fas fa-user-plus"
                              style="font-size: 50px"
                            ></i>
                          </h4>
                          <h4 class="card-title">
                            <a href="#" class="text-dark"
                              >ใบปรับปรุงข้อมูลพนักงานโดยหัวหน้า</a
                            >
                          </h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </li>
              <li [ngbNavItem]="4">
                <a ngbNavLink>Recruitment</a>
                <ng-template ngbNavContent let-active>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="card text-center mb-0">
                        <div class="card-body">
                          <h4 class="card-title text-dark">
                            <i
                              class="fas fa-file-alt"
                              style="font-size: 50px"
                            ></i>
                          </h4>
                          <h4 class="card-title">
                            <a href="#" class="text-dark">ใบขอหนังสือรับรอง</a>
                          </h4>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="card text-center mb-0">
                        <div class="card-body">
                          <h4 class="card-title text-dark">
                            <i
                              class="fas fa-user-circle"
                              style="font-size: 50px"
                            ></i>
                          </h4>
                          <h4 class="card-title">
                            <a href="#" class="text-dark"
                              >ใบปรับปรุงข้อมูลพนักงาน</a
                            >
                          </h4>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="card text-center mb-0">
                        <div class="card-body">
                          <h4 class="card-title text-dark">
                            <i
                              class="fas fa-user-plus"
                              style="font-size: 50px"
                            ></i>
                          </h4>
                          <h4 class="card-title">
                            <a href="#" class="text-dark"
                              >ใบปรับปรุงข้อมูลพนักงานโดยหัวหน้า</a
                            >
                          </h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </li>
              <li [ngbNavItem]="5">
                <a ngbNavLink>Welfare</a>
                <ng-template ngbNavContent let-active> </ng-template>
              </li>
              <li [ngbNavItem]="6">
                <a ngbNavLink>แบบฟอร์มยกเลิกเอกสาร</a>
                <ng-template ngbNavContent let-active> </ng-template>
              </li>
              <li [ngbNavItem]="7">
                <a ngbNavLink>แบบฟอร์มเอกสารจัดเวร</a>
                <ng-template ngbNavContent let-active> </ng-template>
              </li>
            </ul>

            <div [ngbNavOutlet]="navKC" class="mt-2"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-danger"
      (click)="modal.dismiss('Cross click')"
    >
      {{ "Close" | translate }}
    </button>
  </div>
</ng-template>

<!--  -->
