<div class="row">
    <!-- ส่งถึง -->
    <div class="col-12">
        <app-workflow-sendto (employeeCCId)="employeeCCId=$event" [wfid]="wfid" [cardName]="'Update Employee Bank'"></app-workflow-sendto>
    </div>
    <!-- ปิดส่งถึง -->
    <!-- ข้อมูลพนักงาน -->
    <div class="col-12">
        <app-workflow-emp-information [employeeId]="employeeId" (changeEmpInformation)="empInformation=$event"></app-workflow-emp-information>
    </div>
    <!-- ปิดข้อมูลพนักงาน -->
    <!-- รายละเอียดใบขอแก้ไขข้อมูลธนาคาร -->
    <div class="col-12">
        <div class="card mb-0">
            <div class="card-header bg-myhr">
                <h6 class="card-title">{{"Detail" | translate }}</h6>
            </div>
            <div class="card-body">
                <div class="row g-2">
                    <div class="form-group col-3 text-center">
                        <label class="col-form-label font-weight-bold font-14">
                            {{"Old Bank Name"| translate}}
                        </label>
                    </div>
                    <div class="form-group  col-6 col-md-3">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="{{'Bank Code'| translate}}"
                                 [value]="selectBankEmp.bank.bankId" disabled>

                        </div>
                    </div>
                    <div class="form-group offset-3 offset-md-0 col-6 col-md-3 ">
                        <input type="text" placeholder="{{'Bank Name'| translate}}" class="form-control"
                            [value]="selectBankEmp.bank.getDesc()" disabled>
                    </div>
                </div>
                <div class="row g-2">
                    <div class="form-group col-3 text-center">
                        <label class="col-form-label font-weight-bold font-14">
                            {{"New Bank Name"| translate}}
                        </label>
                    </div>
                    <div class="form-group  col-6 col-md-3">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="{{'Bank Code'| translate}}"
                                aria-describedby="basic-addon1" [ngModel]="bank.bankId"
                                (ngModelChange)="modelBankChange($event)" required>
                            <div class="input-group-append">
                                <button class="btn me-0 btn-info" type="button" (click)="openBankModal()">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group offset-3 offset-md-0 col-6 col-md-3 ">
                        <input type="text" placeholder="{{'Bank Name'| translate}}" class="form-control"
                            [value]="bank.getName()" disabled>
                    </div>
                </div>
                <div class="row g-2">
                    <div class="form-group col-3 text-center">
                        <label class="col-form-label font-weight-bold font-14">
                            {{"New Account No"| translate}}
                        </label>
                    </div>
                    <div class="form-group  col-6 col-md-3">
                        <input appMaskInput="accountid" type="text" placeholder="{{'Account No'| translate}}" class="form-control"
                            oninput="value = value.replace(/[^0-9]/g, '');" [(ngModel)]="accountNo" required>
                    </div>
                </div>
                <app-workflow-remark [wfid]="wfid"></app-workflow-remark>
            </div>
        </div>
    </div>
    <!-- ปิดรายละเอียดใบขอแก้ไขข้อมูลธนาคาร -->
    <!-- หมายเหตุ -->
    <div class="col-12">
        <div class="card mb-0">
            <div class="card-header bg-myhr">
                <h6 class="card-title">
                    {{"systemcode.note" | translate}}
                </h6>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 col-xs-12 b-r">
                        <div class="form-group">
                            <small class="text-muted">
                                {{"systemcode.note"| translate}}
                            </small>
                            <textarea class="form-control" rows="2" style="resize: none;" [(ngModel)]="remark"
                                placeholder='{{"systemcode.note"| translate}}'></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ปิดหมายเหตุ -->
    <!-- เอกสารอ้างอิง -->
    <div class="col-12" *ngIf="runno&&workflowData">
        <app-workflow-create-doc-reference [inputs]="inputs" [dynamicComponent]="dynamicComponent"
            [workflowData]="workflowData" (runno)="runno=$event">
        </app-workflow-create-doc-reference>
    </div>
    <!-- ปิดเอกสารอ้างอิง -->
    <!-- แนบไฟล์ -->
    <div class="col-12">
        <app-workflow-attach-file [nameFile]="nameFile" [timestampFile]="timestampFile"
            (changeTimestampFile)="timestampFile=$event"></app-workflow-attach-file>
    </div>
    <!-- ปิดแนบไฟล์ -->
    <!-- ยืนยัน -->
    <div class="card-body ">
        <div class="d-flex no-block align-items-center justify-content-center">
            <div class="action-form">
                <div class="form-group m-b-0 text-center">
                    <button type="submit" class="btn btn-success waves-effect waves-light" (click)="onSubmit()">
                        <i class=" fas fa-check"></i>
                        {{"Submit" | translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- ปิดยืนยัน -->
</div>
