<div class="card">
    <div class="card-header bg-myhr">
        <h4>{{"upload_file" | translate}}</h4>
    </div>
    <div class="card-body">
        <div class="row m-t-5">
            <div class="col-6 col offset-3 form-group">
                <small class="text-muted">
                    {{"selected_file"| translate}}
                </small>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            {{"upload_file"|translate}}
                        </span>
                    </div>
                    <div class="custom-file">
                        <input type="file" accept="{{'.csv'}}" class="custom-file-input"
                            title="{{file.name | translate}}" id="inputGroupFile01"
                            (change)="selectFile($event.target.files)">
                        <label class="custom-file-label" for="inputGroupFile01">
                            {{file.name | translate}}
                        </label>
                    </div>
                </div>
                <small class="text-danger text-nowrap" *ngIf="uploadConfig">
                    <p class="mb-0">
                        {{"Maximum upload size" | translate}} {{uploadConfig.maxSize/1024/1024}} MB
                    </p>
                    <p>
                        {{"Extensions are support" | translate}} {{'*.csv'}}
                    </p>
                </small>
            </div>
            <div class="col-2 form-group" *ngIf="file.name!='browse_file'">
                <button type="button" class="btn btn-danger m-t-20" (click)="file={ name: 'browse_file', data: '' }">
                    <i class="fas fa-times"></i>
                    {{"cancel"| translate}}
                </button>
            </div>
        </div>
        <div class="row justify-content-center align-items-center form-group">
            <button class="btn btn-info" (click)="importData()">
                {{"Import" | translate}}
            </button>
        </div>
    </div>
</div>

<ng-template #alertModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="editLabel">Alert Message</h5>
        <button class="close" (click)="modal.close()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" [innerHTML]="alert.message">
    </div>
    <div class="modal-footer">
        <button class="btn btn-info" (click)="closeAllModal()">
            {{"confirm"| translate}}
        </button>
        <span *ngIf="alert.name!='alertModal'">
            <button class="btn btn-danger" (click)="modal.dismiss()">
                {{"cancel"| translate}}
            </button>
        </span>
    </div>
</ng-template>
