<div class="row">
  <!-- ส่งถึง -->
  <div class="col-12">
      <app-workflow-sendto (employeeCCId)="employeeCCId=$event" [wfid]="wfid" [cardName]="'ใบสมัครสมาชิกกองทุนสำรองเลี้ยงชีพ'" [menuPage]="'PWF022'"></app-workflow-sendto>
  </div>
  <!-- ปิดส่งถึง -->
  <!-- ข้อมูลพนักงาน -->
  <div class="col-12">
      <app-workflow-emp-information (changeEmpInformation)="empInformation=$event"></app-workflow-emp-information>
  </div>
  <!-- ปิดข้อมูลพนักงาน -->
  <!-- รายละเอียดการขอหนังสือรับรอง -->
  <div class="col-12">
      <div class="card mb-0">
          <div class="card-header bg-myhr">
              <h6 class="card-title">{{"Detail" | translate }}</h6>
          </div>
          <div class="card-body">
            <div class="row">

              <div class="col-12 col-xs-12 b-r">
                <div class="form-group">
                  <small class="text-muted">{{"systemcode.priority"| translate }}</small>
                  <div class="form-group  col-6">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" name="EmployeeRadio" id="Subordinate" class="custom-control-input" value="1"
                        [(ngModel)]="modelData.priorityTransfer"  (ngModelChange)="checkSubmitForm()">
                        <label class="custom-control-label" for="Subordinate">
                            {{"สมัครใหม่" | translate}}
                        </label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" name="EmployeeRadio" id="transfer" class="custom-control-input" value="2"
                        [(ngModel)]="modelData.priorityTransfer"  (ngModelChange)="checkSubmitForm()" >
                        <label class="custom-control-label" for="transfer">
                            {{"transfer.dashboard" | translate}}
                        </label>
                    </div>
                </div>
                </div>
              </div>
              <div class="col-12 col-xs-12 b-r" *ngIf="modelData.priorityTransfer == '2'">
                <div class="form-group">
                  <small class="text-muted">{{"กรณีโอนย้าย (ระบุกองทุนเดิม)"| translate }}</small>
                  <div class="input-group">
                    <input type="text" class="form-control col-md-8 col-sm-12 col-lg-8" [value]="pvFund.fundtable.fundtableId +'-'+pvFund.fundtable.getFundDesc()" disabled>
                  </div>
                </div>
              </div>

              <div class="col-12">
            <!-- กองทุนใหม่ -->
              <div class="row">
                <div class="col-4 col-sm-4 col-md-4 col-lg-3  b-r">
                  <div class="form-group">
                    <small class="text-muted ellipsis-myhr">{{"Fund"| translate }}</small>
                    <div class="input-group mb-3">
                      <input type="text" class="form-control " aria-label="" aria-describedby="basic-addon1"(ngModelChange)="searchFundSelect($event)"  [(ngModel)]="modelData.newFund">
                      <div class="input-group-append">
                        <button class="btn me-0 btn-info" type="button"  (click)="openModal(modalListFund,'modalListFund')"><i
                            class="fa fa-search"></i></button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-8 col-sm-8 col-md-7 col-lg-5 b-r">
                  <div class="form-group">
                    <small class="text-muted ellipsis-myhr">{{"Fund Name"| translate}}</small>
                    <input type="text" class="form-control"
                      [value]="fundSelect.getChangeMoneyDesc()" disabled>
                  </div>
                </div>
              </div>
              </div>

              <div class="col-md-6 col-xs-12 b-r">
                <div class="form-group">
                  <small class="text-muted">{{"Fund entry date"| translate }}</small>
                  <div class="input-group">
                    <input class="form-control col-md-6 col-sm-6 col-lg-6" placeholder="{{'dd.mm.yyyy' | translate}}" oninput="value = value.replace(/[^0-9/]/g, '');"
                      name="dp2" [(ngModel)]="modelData.fundEntryDate" ngbDatepicker #d2="ngbDatepicker" #c1="ngModel" (change)="modelData.fundEntryDate = datepickerService.validateFormatDate(c1)" disabled>
                    <div class="input-group-append">
                      <button class="btn btn-outline-info no-shadow" (click)="d2.toggle()" type="button" disabled>
                        <i class="far fa-calendar-alt"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-xs-12 b-r">
                <div class="form-group">
                  <small class="text-muted">{{"provident"| translate}} : %</small>
                  <div class="input-group">
                    <div class="input-group">
                      <input type="text" class="form-control col-md-6 col-sm-6 col-lg-6"  [(ngModel)]="modelData.fundtablemRate" disabled>
                      <div class="input-group-append">
                          <button type="button" class="btn btn-info" (click)="openModal(modalFund,'modalFund')" >
                              <i class="fa fa-search"></i>
                          </button>
                      </div>
                  </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-12 b-r" *ngIf="modelData.priorityTransfer == '2'" >
                <div class="form-group">
                  <small class="text-muted">{{"เงินที่โอนมา"| translate }} : {{"systemcode.bth"| translate}}</small>
                  <div class="input-group">
                    <input type="text" class="form-control col-md-8 col-sm-12 col-lg-8"  [(ngModel)]="modelData.moneyTransferred" oninput="value = value.replace(/[^0-9]/g, '');" >
                  </div>
                </div>
              </div>

                <div class="col-12 b-r" *ngIf="modelData.newFund">
                    <small class="text-muted mb-1">{{"Note"| translate}}</small>
                    <h6 *ngIf="CheckFund.register">** {{"วันที่มีผล" | translate}} {{formatDate(effDateChange())}} **</h6>
                    <h6 *ngIf="!CheckFund.register">** ไม่สามารถสมัครเข้ากองทุนได้ **</h6>
                </div>


            </div>

          </div>
      </div>
  </div>

  <!-- ปิดรายละเอียดช่องแรก -->
  <!-- กองทุน -->
  <div class="col-12">
    <div class="card mb-0">
        <div class="card-header bg-myhr">
            <h6 class="card-title">{{"Detail" | translate }}</h6>
        </div>
        <div class="card-body">
          <div class="row">

            <!-- <div class="col-12 b-r">
              <div class="form-group">
                <small class="text-muted">{{"อัตราส่วนเงินสะสมรวม : %"| translate }}</small>
                <div class="input-group">
                  <input type="text" class="form-control col-md-4 col-sm-6 col-lg-3"  [(ngModel)]="modelData.totalSavingsRatio">
                </div>
              </div>
            </div> -->

            <div class="col-6 col-xs-12 b-r">
              <div class="form-group">
                <small class="text-muted">{{"เริ่มตั้งแต่ : เดือน"| translate }}</small>
                <select class="form-control col-md-6 col-sm-6 col-lg-6" id="inputGroupSelect01" [(ngModel)]="modelData.selectMonth">
                  <option *ngFor="let item of monthList; let i=index" [ngValue]="item.val">
                      {{item.name| translate}}
                  </option>
              </select>
              </div>
            </div>

            <div class="col-md-6 col-xs-12 b-r">
              <div class="form-group">
                <small class="text-muted">{{"Year"| translate }}</small>
                <select class="form-control col-md-6 col-sm-6 col-lg-6" id="inputGroupSelect01" [(ngModel)]="modelData.selectYear">
                  <option *ngFor="let item of  yearList; let i=index" [ngValue]="item">
                      {{item}}
                  </option>
                </select>
              </div>
            </div>

            <div class="col-6 col-xs-12 b-r">
              <div class="form-group">
                <small class="text-muted">{{"เงื่อนไขการรับผลประโยชน์"| translate }}</small>
                <select class="form-control col-md-6 col-sm-6 col-lg-6" [(ngModel)]="modelData.conditionsBenefits">
                  <option value="1">จ่ายตามส่วนเท่าๆกัน</option>
                  <option value="2">จ่ายตามลำดับก่อนหลัง</option>
                  <option value="3">อื่นๆ</option>
                </select>
              </div>
            </div>
          </div>



          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="col-lg-6 col-8">
                  <div class="form-group">
                    <small class="text-muted">{{"ผู้รับผลประโยชน์คนที่ 1"| translate }}</small>
                    <div class="input-group ">
                      <input type="text" class="form-control " aria-label="" aria-describedby="basic-addon1" [(ngModel)]="modelData.personBenefits1">
                      <div class="input-group-append">
                        <button class="btn me-0 btn-info" type="button"  (click)="openModal(modalFamilyList,'modalFamilyList','1')"><i
                            class="fa fa-search"></i></button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2 col-2">
                  <div class="form-group">
                    <small class="text-muted">{{"ความสัมพันธ์"| translate }}</small>
                    <select class="form-control " [(ngModel)]="modelData.relationship1">
                      <option *ngFor="let item of  relationList; let i=index" [ngValue]="item.relationId">
                        {{item.getDesc()}}
                    </option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-2 col-2">
                  <div class="form-group">
                    <small class="text-muted">{{"อัตราส่วนแบ่ง : %"| translate }}</small>
                    <div class="input-group">
                      <input type="text" class="form-control" [(ngModel)]="modelData.shareRatio1" oninput="value = value.replace(/[^0-9/]/g, '');">
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <small class="text-muted">{{"ที่อยู่"| translate }}</small>
                    <div class="input-group">
                      <input type="text" class="form-control col-lg-8" [(ngModel)]="modelData.address1">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="col-lg-6 col-8">
                  <div class="form-group">
                    <small class="text-muted">{{"ผู้รับผลประโยชน์คนที่ 2"| translate }}</small>
                    <div class="input-group ">
                      <input type="text" class="form-control " aria-label="" aria-describedby="basic-addon1" [(ngModel)]="modelData.personBenefits2">
                      <div class="input-group-append">
                        <button class="btn me-0 btn-info" type="button"  (click)="openModal(modalFamilyList,'modalFamilyList','2')"><i
                            class="fa fa-search"></i></button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2 col-2">
                  <div class="form-group">
                    <small class="text-muted">{{"ความสัมพันธ์"| translate }}</small>
                    <select class="form-control " [(ngModel)]="modelData.relationship2">
                      <option *ngFor="let item of  relationList; let i=index" [ngValue]="item.relationId">
                        {{item.getDesc()}}
                    </option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-2 col-2">
                  <div class="form-group">
                    <small class="text-muted">{{"อัตราส่วนแบ่ง : %"| translate }}</small>
                    <div class="input-group">
                      <input type="text" class="form-control" [(ngModel)]="modelData.shareRatio2" oninput="value = value.replace(/[^0-9/]/g, '');">
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <small class="text-muted">{{"ที่อยู่"| translate }}</small>
                    <div class="input-group">
                      <input type="text" class="form-control col-lg-8" [(ngModel)]="modelData.address2">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="col-lg-6 col-8">
                  <div class="form-group">
                    <small class="text-muted">{{"ผู้รับผลประโยชน์คนที่ 3"| translate }}</small>
                    <div class="input-group ">
                      <input type="text" class="form-control " aria-label="" aria-describedby="basic-addon1" [(ngModel)]="modelData.personBenefits3">
                      <div class="input-group-append">
                        <button class="btn me-0 btn-info" type="button"  (click)="openModal(modalFamilyList,'modalFamilyList','3')"><i
                            class="fa fa-search"></i></button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2 col-2">
                  <div class="form-group">
                    <small class="text-muted">{{"ความสัมพันธ์"| translate }}</small>
                    <select class="form-control " [(ngModel)]="modelData.relationship3">
                      <option *ngFor="let item of  relationList; let i=index" [ngValue]="item.relationId">
                        {{item.getDesc()}}
                    </option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-2 col-2">
                  <div class="form-group">
                    <small class="text-muted">{{"อัตราส่วนแบ่ง : %"| translate }}</small>
                    <div class="input-group">
                      <input type="text" class="form-control" [(ngModel)]="modelData.shareRatio3" oninput="value = value.replace(/[^0-9/]/g, '');">
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <small class="text-muted">{{"ที่อยู่"| translate }}</small>
                    <div class="input-group">
                      <input type="text" class="form-control col-lg-8" [(ngModel)]="modelData.address3">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>



          <div class="row">
            <div class="col-12 b-r">
              <div class="form-group">
                <small class="text-muted">{{"systemcode.priority"| translate }}</small>
                <div class="form-group  col-6">
                  <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" name="priorityfamily" id="format-0" class="custom-control-input" [value]="'1'" [(ngModel)]="modelData.importance"
                         >
                      <label class="custom-control-label" for="format-0">
                          {{"changemoney.format.1" | translate}}
                      </label>
                  </div>
                  <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" name="priorityfamily" id="format-1" class="custom-control-input" [value]="'2'"[(ngModel)]="modelData.importance"
                         >
                      <label class="custom-control-label" for="format-1">
                          {{"changemoney.format.2" | translate}}
                      </label>
                  </div>
                  <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" name="priorityfamily" id="format-2" class="custom-control-input" [value]="'3'"[(ngModel)]="modelData.importance"
                         >
                      <label class="custom-control-label" for="format-2">
                          {{"changemoney.format.3" | translate}}
                      </label>
                  </div>
              </div>
              </div>
            </div>
          </div>

            <div class="row mt-2">
                <app-workflow-remark [wfid]="wfid"></app-workflow-remark>
            </div>
        </div>
    </div>
</div>
  <!-- ปิดกลองทุน -->
  <!-- หมายเหตุ -->
  <div class="col-12">
      <div class="card mb-0">
          <div class="card-header bg-myhr">
              <h6 class="card-title">
                  {{"systemcode.note" | translate}}
              </h6>
          </div>
          <div class="card-body">
              <div class="row">
                  <div class="col-md-12 col-xs-12 b-r">
                      <div class="form-group">
                          <small class="text-muted">
                              {{"systemcode.note"| translate}}
                          </small>
                          <textarea class="form-control" rows="2" style="resize: none;" [(ngModel)]="remark"
                              placeholder='{{"systemcode.note"| translate}}'></textarea>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- ปิดหมายเหตุ -->
  <!-- เอกสารอ้างอิง -->
  <div class="col-12" *ngIf="runno&&workflowData">
      <app-workflow-create-doc-reference [inputs]="inputs" [dynamicComponent]="dynamicComponent"
          [workflowData]="workflowData" (runno)="runno=$event">
      </app-workflow-create-doc-reference>
  </div>
  <!-- ปิดเอกสารอ้างอิง -->
  <!-- แนบไฟล์ -->
  <div class="col-12">
      <app-workflow-attach-file [nameFile]="nameFile" [timestampFile]="timestampFile"
          (changeTimestampFile)="timestampFile=$event"></app-workflow-attach-file>
  </div>
  <!-- ปิดแนบไฟล์ -->
  <!-- ยืนยัน -->
  <div class="card-body ">
      <div class="d-flex no-block align-items-center justify-content-center">
          <div class="action-form">
              <div class="form-group m-b-0 text-center">
                  <button type="submit"
                      class="btn btn-success waves-effect waves-light" (click)="onSubmit()" [disabled]="checkSubmit" ><i
                          class=" fas fa-check"></i>
                      {{"Submit" | translate}}</button>
              </div>
          </div>
      </div>
  </div>
  <!-- ปิดยืนยัน -->
</div>



  <!-- Modal listกองทุน -->
  <ng-template #modalListFund let-modal>
    <div class="modal-content dialog-height">
      <div class="modal-body" [perfectScrollbar]="config">
        <div class="card" style="margin-bottom:-15px">
          <div class="card-header bg-myhr">
            <h5 class="card-title">{{"fund.table" | translate}}</h5>
          </div>
          <div class="card-body pb-0">
            <div class="table-responsive">
              <div class="wrapper">
                <div class="d-flex mb-1">
                  <input type="text" placeholder="{{'systemcode.search' | translate}} {{'code.emp' | translate}}"
                    class="form-control w-50" [(ngModel)]="searchfundList"
                    (ngModelChange)="searchChangeListFund()">
                </div>
                <table class="table  table-hover table-striped-myhr table-sm  mb-0 no-wrap v-middle">
                  <thead class="bg-info ">
                    <tr class="text-white font-weight-normal">
                      <th class="font-weight-normal text-center" scope="col">{{"code.emp" | translate}}</th>
                      <th class="font-weight-normal text-center" scope="col">{{"detailTH" | translate}}</th>
                      <th class="font-weight-normal text-center" scope="col">{{"detailENG"| translate}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngIf="fundListShow.length==0">
                      <td colspan="4" class="font-weight-normal text-center">{{"No Data Found" | translate}}</td>
                    </tr>
                    <tr
                      *ngFor="let item of fundListShow | slice: (pageModal-1) * pageSizeModal : (pageModal-1) * pageSizeModal + pageSizeModal; let i=index"
                      (click)="selectFund(item);modal.close('Close click')" class="cursor-myhr">
                      <td class="font-weight-normal text-center">{{item.fundtableId}}</td>
                      <td class="font-weight-normal text-center">{{item.tdesc}}</td>
                      <td class="font-weight-normal text-center">{{item.edesc}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="d-flex justify-content-end p-2">

              <select class="form-select m-r-5" style="width: auto" [(ngModel)]="pageSizeModal"
                (ngModelChange)="pageModal=1">
                <option [ngValue]="10">{{"Items per page" | translate}}: 10</option>
                <option [ngValue]="50">{{"Items per page" | translate}}: 50</option>
                <option [ngValue]="100">{{"Items per page" | translate}}: 100</option>
              </select>
              <ngb-pagination [collectionSize]="collectionSizeModal" [(page)]="pageModal" [pageSize]="pageSizeModal"
                [maxSize]="3" [rotate]="true">
                <ng-template ngbPaginationPrevious>{{"Prev" | translate}}</ng-template>
                <ng-template ngbPaginationNext>{{"Next" | translate}}</ng-template>
              </ngb-pagination>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">{{"Close" |
          translate}}</button>
      </div>
    </div>
  </ng-template>

  <!-- Modal listกองทุน -->
  <ng-template #modalFamilyList let-modal>
    <div class="modal-content dialog-height">
      <div class="modal-body" [perfectScrollbar]="config">
        <div class="card" style="margin-bottom:-15px">
          <div class="card-header bg-myhr">
            <h5 class="card-title">{{"fund.table" | translate}}</h5>
          </div>
          <div class="card-body pb-0">
            <div class="table-responsive">
              <div class="wrapper">
                <div class="d-flex mb-1">
                  <input type="text" placeholder="{{'systemcode.search' | translate}} {{'code.emp' | translate}}"
                    class="form-control w-50" [(ngModel)]="searchfamilyList"
                    (ngModelChange)="searchChangeListFund()">
                </div>
                <table class="table  table-hover table-striped-myhr table-sm  mb-0 no-wrap v-middle">
                  <thead class="bg-info ">
                    <tr class="text-white font-weight-normal">
                      <th class="font-weight-normal text-center" scope="col">{{"systemcode.emp.name" | translate}}</th>
                      <th class="font-weight-normal text-center" scope="col">{{"Relation" | translate}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngIf="familyListShow.length==0">
                      <td colspan="4" class="font-weight-normal text-center">{{"No Data Found" | translate}}</td>
                    </tr>
                    <tr
                      *ngFor="let item of familyListShow | slice: (pageModal-1) * pageSizeModal : (pageModal-1) * pageSizeModal + pageSizeModal; let i=index"
                      (click)="selectfamily(item);modal.close('Close click')" class="cursor-myhr">
                      <td class="font-weight-normal text-center">{{item.getFullnamePrefix()}}</td>
                      <td class="font-weight-normal text-center">{{item.getRelation()}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="d-flex justify-content-end p-2">

              <select class="form-select m-r-5" style="width: auto" [(ngModel)]="pageSizeModal"
                (ngModelChange)="pageModal=1">
                <option [ngValue]="10">{{"Items per page" | translate}}: 10</option>
                <option [ngValue]="50">{{"Items per page" | translate}}: 50</option>
                <option [ngValue]="100">{{"Items per page" | translate}}: 100</option>
              </select>
              <ngb-pagination [collectionSize]="collectionSizeModal" [(page)]="pageModal" [pageSize]="pageSizeModal"
                [maxSize]="3" [rotate]="true">
                <ng-template ngbPaginationPrevious>{{"Prev" | translate}}</ng-template>
                <ng-template ngbPaginationNext>{{"Next" | translate}}</ng-template>
              </ngb-pagination>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">{{"Close" |
          translate}}</button>
      </div>
    </div>
  </ng-template>

  <!-- Modal ตารางเงินสะสมกองทุน -->
  <ng-template #modalFund let-modal>
    <div class="modal-content dialog-height">
      <div class="modal-body" [perfectScrollbar]="config">
        <div class="card" style="margin-bottom:-15px">
          <div class="card-header bg-myhr">
            <h5 class="card-title">{{"fund.table" | translate}}</h5>
          </div>
          <div class="card-body pb-0">
            <div class="table-responsive">
              <div class="wrapper">
                <div class="d-flex mb-1">
                  <input type="text" placeholder="{{'systemcode.search' | translate}} {{'code.emp' | translate}}"
                    class="form-control w-50" [(ngModel)]="searchChangeMoney"
                    (ngModelChange)="searchChangeMoneyChange()">
                </div>
                <table class="table  table-hover table-striped-myhr table-sm  mb-0 no-wrap v-middle">
                  <thead class="bg-info ">
                    <tr class="text-white font-weight-normal">
                      <th class="font-weight-normal text-center" scope="col">{{"code.emp" | translate}}</th>
                      <th class="font-weight-normal text-center" scope="col">{{"detailTH" | translate}}</th>
                      <th class="font-weight-normal text-center" scope="col">{{"detailENG"| translate}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngIf="changeMoneyShow.length==0">
                      <td colspan="4" class="font-weight-normal text-center">{{"No Data Found" | translate}}</td>
                    </tr>
                    <tr
                      *ngFor="let item of changeMoneyShow | slice: (pageModal-1) * pageSizeModal : (pageModal-1) * pageSizeModal + pageSizeModal; let i=index"
                      (click)="selectChangeMoney(item);modal.close('Close click')" class="cursor-myhr">
                      <td class="font-weight-normal text-center">{{item.fundtableId}}</td>
                      <td class="font-weight-normal text-center">{{item.tdesc}}</td>
                      <td class="font-weight-normal text-center">{{item.edesc}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="d-flex justify-content-end p-2">

              <select class="form-select m-r-5" style="width: auto" [(ngModel)]="pageSizeModal"
                (ngModelChange)="pageModal=1">
                <option [ngValue]="10">{{"Items per page" | translate}}: 10</option>
                <option [ngValue]="50">{{"Items per page" | translate}}: 50</option>
                <option [ngValue]="100">{{"Items per page" | translate}}: 100</option>
              </select>
              <ngb-pagination [collectionSize]="collectionSizeModal" [(page)]="pageModal" [pageSize]="pageSizeModal"
                [maxSize]="3" [rotate]="true">
                <ng-template ngbPaginationPrevious>{{"Prev" | translate}}</ng-template>
                <ng-template ngbPaginationNext>{{"Next" | translate}}</ng-template>
              </ngb-pagination>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">{{"Close" |
          translate}}</button>
      </div>
    </div>
  </ng-template>

