<div class="modal-body">
    <div class="card" style="margin-bottom:-15px">
        <div class="card-header bg-myhr">
            <h5 class="card-title">
                {{"Set OT" | translate}}
            </h5>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <!-- <perfect-scrollbar [config]="{useBothWheelAxes: true, suppressScrollX: false, suppressScrollY: false}"> -->
                    <table class="table  table-hover table-striped-myhr table-sm  mb-0 no-wrap v-middle">
                        <thead class="bg-info ">
                            <tr class="text-white font-weight-normal">
                                <th class="font-weight-normal text-center" scope="col">
                                    <div class="custom-control custom-checkbox">
                                        &nbsp;
                                        <input type="checkbox" class="custom-control-input" id="checkboxSetOT" (click)="setOTCheckAll($event.target.checked)">
                                        <label class="custom-control-label font-weight-normal" for="checkboxSetOT">
                                        </label>
                                    </div>
                                </th>
                                <th class="font-weight-normal text-center" scope="col">{{"No."| translate}}</th>
                                <th class="font-weight-normal text-center" scope="col">{{"Employee ID" | translate}}
                                </th>
                                <th class="font-weight-normal text-center" scope="col">{{"Name-Surname" |
                                    translate}}</th>
                                <th class="font-weight-normal text-center" scope="col">{{"Start Date" | translate}}
                                </th>
                                <th class="font-weight-normal text-center" scope="col">{{"End Date" | translate}}
                                </th>
                                <th class="font-weight-normal text-center" scope="col">{{"Start Time"| translate}}
                                </th>
                                <th class="font-weight-normal text-center" scope="col">{{"End Time"| translate}}
                                </th>
                                <th class="font-weight-normal text-center" scope="col">{{"Total Time"| translate}}
                                </th>
                                <th class="font-weight-normal text-center" scope="col">{{"Reason"| translate}}</th>
                                <th class="font-weight-normal text-center" scope="col">{{"OT Working Area"|
                                    translate}}</th>
                                <th class="font-weight-normal text-center" scope="col">{{"Cost Center"| translate}}
                                </th>
                                <th class="font-weight-normal text-center" scope="col">{{"OT Type2"| translate}}
                                </th>
                                <th class="font-weight-normal text-center" scope="col">{{"Shift for OT"| translate}}
                                </th>
                                <th class="font-weight-normal text-center" scope="col">{{"Remark"| translate}}</th>
                                <th class="font-weight-normal text-center" scope="col"></th>
                            </tr>
                        </thead>
                        <tbody *ngIf="setOTList.length==0">
                            <tr>
                                <td colSpan="100%" class="text-center">
                                    {{"No Data Found" | translate}}
                                </td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="setOTList.length>0">
                            <tr
                                *ngFor="let item of setOTList | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize ; let i=index">
                                <td class="font-weight-normal text-center">
                                    <div class="custom-control custom-checkbox">
                                        &nbsp;
                                        <input type="checkbox" class="custom-control-input"
                                            [id]="'checkboxSetOT'+(((page-1) * pageSize)+(i+1))"
                                            [(ngModel)]="item.checkbox">
                                        <label class="custom-control-label font-weight-normal"
                                            [for]="'checkboxSetOT'+(((page-1) * pageSize)+(i+1))">
                                        </label>
                                    </div>
                                </td>
                                <td class="font-weight-normal text-center">
                                    {{((page-1) * pageSize)+(i+1)}}
                                </td>
                                <td class="font-weight-normal text-center">
                                    {{item.employee.id}}
                                </td>
                                <td class="font-weight-normal text-center">
                                    {{item.employee.name}}
                                </td>
                                <td class="font-weight-normal text-center">
                                    {{item.dateStart}}
                                </td>
                                <td class="font-weight-normal text-center">
                                    {{item.dateEnd}}
                                </td>
                                <td class="font-weight-normal text-center">
                                    {{item.timeStart}}
                                </td>
                                <td class="font-weight-normal text-center">
                                    {{item.timeEnd}}
                                </td>
                                <td class="font-weight-normal text-center">
                                    {{item.timeTotal}}
                                </td>
                                <td class="font-weight-normal text-center">
                                    {{item.reason.getName()}}
                                </td>
                                <td class="font-weight-normal text-center">
                                    {{item.workarea.getName()}}
                                </td>
                                <td class="font-weight-normal text-center">
                                    {{item.costCenter.getName()}}
                                </td>
                                <td class="font-weight-normal text-center">
                                    {{getMessageTranslate(item.otType.tdesc,item.otType.edesc)}}
                                </td>
                                <td class="font-weight-normal text-center">
                                    {{item.time0.getName()}}
                                </td>
                                <td class="font-weight-normal text-center">
                                    {{item.remark}}
                                </td>
                                <td class="font-weight-normal text-center">
                                    <button type="button" class="btn btn-danger btn-sm btn-circle ms-2"
                                        (click)="openSetOTEditModal(SetOTEditModal,i)">
                                        <i class="fas fa-pencil-alt"></i>
                                    </button>
                                </td>
                            </tr>
                    </table>
                <!-- </perfect-scrollbar> -->
            </div>
            <div class="d-flex justify-content-end p-2">
                <select class="form-select m-r-5" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="page=1">
                    <option *ngFor="let item of [10,50,100]" [ngValue]="item">
                        {{"Items per page"| translate}}: {{item}}
                    </option>
                </select>
                <ngb-pagination [collectionSize]="setOTList.length" [(page)]="page" [pageSize]="pageSize" [maxSize]="3"
                    [rotate]="true">
                    <ng-template ngbPaginationPrevious>{{"Prev"| translate}}</ng-template>
                    <ng-template ngbPaginationNext>{{"Next"| translate}}</ng-template>
                </ngb-pagination>
            </div>
            <div class="row g-2">
                <div class="form-group col-12 text-center">
                    <button type="button" class="btn btn-info waves-effect waves-light" style="width: 90px;"
                        (click)="openSetOTEditModal(SetOTEditModal)">
                        {{"Add" | translate}}
                    </button>
                    &nbsp;
                    <button type="submit" class="btn btn-danger waves-effect waves-light" style="width: 85px;"
                        (click)="deleteSetOTList()">
                        {{"systemcode.delete" | translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="checkSetOT()">
        {{"confirm" |translate}}
    </button>
    <button type="button" class="btn btn-danger" (click)="activeModal.dismiss()">
        {{"Close" |translate}}
    </button>
</div>

<ng-template #SetOTEditModal let-modal>
    <div class="modal-body">
        <div class="card" style="margin-bottom:-15px">
            <div class="card-header bg-myhr">
                <h5 class="card-title">
                    {{"Set OT" | translate}}
                </h5>
            </div>
            <div class="card-body">
                <div class="row g-2">
                    <div class="form-group col-3 text-center">
                        <label class="col-form-label font-weight-bold font-14">
                            {{"Employee"| translate}}
                        </label>
                    </div>
                    <div class="form-group col-6">
                        <select class="form-select" [ngModel]="setOT.employee"
                            (ngModelChange)="setOT.employee=$event">
                            <option *ngFor="let item of employeeList" [ngValue]="item">
                                {{item.id+" : "+item.name}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row g-2">
                    <div class="form-group col-3 text-center">
                        <label class="col-form-label font-weight-bold font-14">
                            {{"Period Date"| translate}}
                        </label>
                    </div>
                    <div class="form-group col-6 col-md-3 ">
                        <div class="input-group">
                            <input class="form-control" [ngClass]="{'set-ot-input-error': dateError}" ngbDatepicker
                                #DpStart="ngbDatepicker" placeholder="{{'dd.mm.yyyy' | translate}}"
                                [(ngModel)]="setOT.dateStart" (ngModelChange)="dateError=false" required>
                            <div class="input-group-append">
                                <button type="button" class="btn btn-outline-info no-shadow" (click)="DpStart.toggle()">
                                    <i class="far fa-calendar-alt"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group offset-3 offset-md-0 col-6 col-md-3 ">
                        <div class="input-group">
                            <input class="form-control" [ngClass]="{'set-ot-input-error': dateError}" ngbDatepicker
                                #DpEnd="ngbDatepicker" placeholder="{{'dd.mm.yyyy' | translate}}"
                                [(ngModel)]="setOT.dateEnd" (ngModelChange)="dateError=false" required>
                            <div class="input-group-append">
                                <button type="button" class="btn btn-outline-info no-shadow" (click)="DpEnd.toggle()">
                                    <i class="far fa-calendar-alt"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-2">
                    <div class="form-group col-3 text-center">
                        <label class="col-form-label font-weight-bold font-14">
                            {{"time"| translate}}
                        </label>
                    </div>
                    <div class="form-group col-6 col-lg-3 ">
                        <input type="time" class="form-control" [ngClass]="{'set-ot-input-error': timeError}"
                            [(ngModel)]="setOT.timeStart" (ngModelChange)="timeError=false" required>
                    </div>
                    <div class="form-group offset-3 offset-md-0 col-6 col-md-3 ">
                        <input type="time" class="form-control" [ngClass]="{'set-ot-input-error': timeError}"
                            [(ngModel)]="setOT.timeEnd" (ngModelChange)="timeError=false" required>
                    </div>
                </div>
                <div class="row g-2">
                    <div class="form-group col-3 text-center">
                        <label class="col-form-label font-weight-bold font-14">
                            {{"Remark"| translate}}
                        </label>
                    </div>
                    <div class="form-group col-6 col-md-3">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="{{'Reasonchange ID'| translate}}"
                                [ngModel]="setOT.reason.reasonChangeId" (ngModelChange)="modelReasonChange($event)"
                                required>
                            <div class="input-group-append">
                                <button type="button" class="btn btn-info" (click)="openReasonModal()">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group offset-3 offset-md-0 col-6 col-md-3 ">
                        <input type="text" class="form-control" placeholder="{{'Reasonchange Name'| translate}}"
                            [value]="setOT.reason.getName()" disabled>
                    </div>
                </div>
                <div class="row g-2">
                    <div class="form-group col-3 text-center">
                        <label class="col-form-label font-weight-bold font-14">
                            {{"OT Working Area"| translate}}
                        </label>
                    </div>
                    <div class="form-group col-6 col-md-3">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="{{'OT Working Area ID'| translate}}"
                                [ngModel]="setOT.workarea.workareaId" (ngModelChange)="modelWorkareaChange($event)"
                                required>
                            <div class="input-group-append">
                                <button type="button" class="btn btn-info" (click)="openWorkareaModal()">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group offset-3 offset-md-0 col-6 col-md-3 ">
                        <input type="text" class="form-control" placeholder="{{'OT Working Area Name'| translate}}"
                            [value]="setOT.workarea.getName()" disabled>
                    </div>
                </div>
                <div class="row g-2">
                    <div class="form-group col-3 text-center">
                        <label class="col-form-label font-weight-bold font-14">
                            {{"Cost Center"| translate}}
                        </label>
                    </div>
                    <div class="form-group col-6 col-md-3">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="{{'Cost Center ID'| translate}}"
                                [ngModel]="setOT.costCenter.costCenterId"
                                (ngModelChange)="modelCostCenterChange($event)" required>
                            <div class="input-group-append">
                                <button type="button" class="btn btn-info" (click)="openCostCenterModal()">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group offset-3 offset-md-0 col-6 col-md-3 ">
                        <input type="text" class="form-control" placeholder="{{'Cost Center Name'| translate}}"
                            [value]="setOT.costCenter.getName()" disabled>
                    </div>
                </div>
                <div class="row g-2">
                    <div class="form-group col-3 text-center">
                        <label class="col-form-label font-weight-bold font-14">
                            {{"OT Type2"| translate}}
                        </label>
                    </div>
                    <div class="form-group col-6 col-md-3">
                        <select class="form-select" [ngModel]="setOT.otType" (ngModelChange)="setOT.otType=$event">
                            <option *ngFor="let item of otTypeList" [ngValue]="item">
                                {{getMessageTranslate(item.tdesc,item.edesc)}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row g-2">
                    <div class="form-group col-3 text-center">
                        <label class="col-form-label font-weight-bold font-14">
                            {{"Shift for OT"| translate}}
                        </label>
                    </div>
                    <div class="form-group col-6 col-md-3">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="{{'Shift ID'| translate}}"
                                [ngModel]="setOT.time0.time0id" (ngModelChange)="modelTime0Change($event)" required>
                            <div class="input-group-append">
                                <button type="button" class="btn btn-info" (click)="openTime0Modal()">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group offset-3 offset-md-0 col-6 col-md-3 ">
                        <input type="text" class="form-control" placeholder="{{'Shift Name'| translate}}"
                            [value]="setOT.time0.getName()" disabled>
                    </div>
                </div>
                <div class="row g-2">
                    <div class="form-group col-3 text-center">
                        <label class="col-form-label font-weight-bold font-14">
                            {{"Reason"| translate}}
                        </label>
                    </div>
                    <div class="form-group col-6">
                        <textarea class="form-control" rows="2" [(ngModel)]="setOT.remark" required></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="checkSetOTEditModal()">
            {{"confirm" |translate}}
        </button>
        <button type="button" class="btn btn-danger" (click)="modal.dismiss()">
            {{"Close" |translate}}
        </button>
    </div>
</ng-template>
