<div class="card main-content-card">
  <div class="card-body">
    <div class="justify-content-center text-center" role="status" *ngIf="loading">
      <div class="spinner-grow text-info" role="status" style="margin: 5px">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div class="spinner-grow text-info" role="status" style="margin: 5px">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div class="spinner-grow text-info" role="status" style="margin: 5px">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>

    <div class="row m-0 bg-transparent">
      <div class="col-2 me-3 mt-2 mb-2 d-flex justify-content-start">
                    <select name="version" id="version" class="form-select">
          <option *ngFor="let item of ['1.0', '1.0', '1.2', '2.0', '2.1', '3.0']">
            {{ "Version: " + item }}
          </option>
        </select>
      </div>
      <div class="col me-3 mt-2 mb-2 d-flex justify-content-end">
        <button type="button" class="btn btn-info" (click)="openModal(helpModal);">
          {{ "Help" }}
        </button>
      </div>
    </div>

    <div class="row m-0">
      <div id="tree2"></div>
    </div>
  </div>
</div>

<ng-template #addNodeModal let-modal>
  <div class="modal-body">
    <div class="card" style="margin-bottom: -10px">
      <div class="modal-header">
        <h5 class="modal-title">
          <span class="material-symbols-outlined me-2">add</span>
          {{ "เพิ่มข้อมูล" | translate }}
        </h5>
        <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')" aria-label="Close">
        </button>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-6 col-md-6 border-end">
            <div class="mb-3">
              <small class="text-muted">{{"ID" | translate}}</small>
              <input type="text" class="form-control" placeholder="{{ 'ID' | translate }}" [(ngModel)]="newNode.id" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-6 border-end">
            <div class="mb-3">
              <small class="text-muted">{{ "systemcode.emp.fname" | translate}}</small>
              <input type="text" class="form-control" placeholder="{{ 'systemcode.emp.fname' | translate}}"
                [(ngModel)]="newNode.tdesc" />
            </div>
          </div>
          <div class="col-sm-6 col-md-6 border-end">
            <div class="mb-3">
              <small class="text-muted">{{ "systemcode.emp.efname" | translate}}</small>
              <input type="text" class="form-control" placeholder="{{ 'systemcode.emp.efname' | translate}}"
                [(ngModel)]="newNode.edesc" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-6 border-end">
            <div class="mb-3">
              <small class="text-muted">{{"Bu" | translate}}</small>
              <select name="level" id="level" class="form-control" [(ngModel)]="newNode.level">
                <option *ngFor="let item of [1, 2, 3, 4, 5]" [ngValue]="item">
                  {{ "Bu" + item }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="row mt-2 d-flex justify-content-end">
          <button type="button" class="btn btn-primary me-1" (click)="addNode(newNode); modal.close()">
            {{ "Add New Node" }}
          </button>
          <button type="button" class="btn btn-danger" (click)="modal.close()">
            {{ "Close" | translate}}
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #modalDetail let-modal>
  <div class="modal-body">
    <div class="card" style="margin-bottom: -10px">
      <div class="modal-header">
        <h5 class="modal-title">
          <span class="material-symbols-outlined me-2">info</span>
          {{ "รายละเอียด" | translate }}
        </h5>
        <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')" aria-label="Close">
        </button>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-6 col-md-6 border-end">
            <div class="mb-3">
              <small class="text-muted">{{"ID" | translate}}</small>
              <input type="text" class="form-control" placeholder="{{ 'ID' | translate }}" [(ngModel)]="selectedNode.id"
                disabled />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-6 border-end">
            <div class="mb-3">
              <small class="text-muted">{{ "systemcode.emp.fname" | translate }}</small>
              <input type="text" class="form-control" placeholder='{{ "systemcode.emp.fname" | translate }}'
                [(ngModel)]="selectedNode.tdesc" disabled />
            </div>
          </div>
          <div class="col-sm-6 col-md-6 border-end">
            <div class="mb-3">
              <small class="text-muted">{{ "systemcode.emp.efname" | translate }}</small>
              <input type="text" class="form-control" placeholder='{{ "systemcode.emp.efname" | translate }}'
                [(ngModel)]="selectedNode.edesc" disabled />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-6 border-end">
            <div class="mb-3">
              <small class="text-muted">{{"Bu" | translate}}</small>
              <input type="text" class="form-control" placeholder="{{ 'Bu' | translate }}"
                [value]="'Bu' + selectedNode.level" disabled />
            </div>
          </div>
        </div>
        <div class="row d-flex justify-content-end">
          <button type="button" class="btn btn-danger" (click)="modal.close()">
            {{ "Close" | translate}}
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #modalEdit let-modal>
  <div class="modal-header">
    <h5 class="modal-title">
      <span class="material-symbols-outlined me-2">edit</span>
      {{ "Edit" | translate }}
    </h5>
    <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')" aria-label="Close">
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-6 col-md-6 border-end">
        <div class="mb-3">
          <label class="form-label text-muted">{{"ID" | translate}}</label>
          <input type="text" class="form-control" placeholder="{{ 'ID' | translate }}" [(ngModel)]="selectedNode.id"
            disabled />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-6 border-end">
        <div class="mb-3">
          <label class="form-label text-muted">{{ "systemcode.emp.fname" | translate }}</label>
          <input type="text" class="form-control" placeholder='{{ "systemcode.emp.fname" | translate }}'
            [(ngModel)]="selectedNode.tdesc" />
        </div>
      </div>
      <div class="col-sm-6 col-md-6 border-end">
        <div class="mb-3">
          <label class="form-label text-muted">{{ "systemcode.emp.efname" | translate }}</label>
          <input type="text" class="form-control" placeholder='{{ "systemcode.emp.efname" | translate }}'
            [(ngModel)]="selectedNode.edesc" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-6 border-end">
        <div class="mb-3">
          <label class="form-label text-muted">{{"Bu" | translate}}</label>
          <select name="level" id="level-edit" class="form-select" [(ngModel)]="selectedNode.level">
            <option *ngFor="let item of [1, 2, 3, 4, 5]" [ngValue]="item">
              {{ "Bu" + item }}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success me-2" (click)="updateNode('selectedNode'); modal.close()">
      <span class="material-symbols-outlined me-1">save</span>
      {{ "บันทึก" | translate}}
    </button>
    <button type="button" class="btn btn-danger" (click)="modal.close()">
      <span class="material-symbols-outlined me-1">close</span>
      {{ "Close" | translate}}
    </button>
  </div>
</ng-template>

<ng-template #addEmpModal let-modal>
  <div class="modal-body">
    <div class="card" style="margin-bottom: -10px">
      <div class="modal-header">
        <h5 class="modal-title">
          <span class="material-symbols-outlined me-2">person_add</span>
          {{ "เพิ่มข้อมูลพนักงาน" | translate }}
        </h5>
        <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')" aria-label="Close">
        </button>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-6 col-md-6 border-end">
            <div class="mb-3">
              <small class="text-muted">{{"ID" | translate}}</small>
              <input type="text" class="form-control" placeholder="{{ 'ID' | translate }}" [(ngModel)]="newEmp.id" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-6 border-end">
            <div class="mb-3">
              <small class="text-muted">{{ "systemcode.emp.fname" | translate}}</small>
              <input type="text" class="form-control" placeholder="{{ 'systemcode.emp.fname' | translate}}"
                [(ngModel)]="newEmp.fname" (ngModelChange)="newEmp.name = newEmp.fname + ' ' + newEmp.lname" />
            </div>
          </div>
          <div class="col-sm-6 col-md-6 border-end">
            <div class="mb-3">
              <small class="text-muted">{{ "systemcode.emp.lname" | translate}}</small>
              <input type="text" class="form-control" placeholder="{{ 'systemcode.emp.lname' | translate}}"
                [(ngModel)]="newEmp.lname" (ngModelChange)="newEmp.name = newEmp.fname + ' ' + newEmp.lname" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-6 border-end">
            <div class="mb-3">
              <small class="text-muted">{{ "systemcode.emp.efname" | translate}}</small>
              <input type="text" class="form-control" placeholder="{{ 'systemcode.emp.efname' | translate}}"
                [(ngModel)]="newEmp.efname" (ngModelChange)="newEmp.name = newEmp.efname + ' ' + newEmp.elname" />
            </div>
          </div>
          <div class="col-sm-6 col-md-6 border-end">
            <div class="mb-3">
              <small class="text-muted">{{ "systemcode.emp.ee" | translate}}</small>
              <input type="text" class="form-control" placeholder="{{ 'systemcode.emp.elname' | translate}}"
                [(ngModel)]="newEmp.elname" (ngModelChange)="newEmp.name = newEmp.efname + ' ' + newEmp.elname" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-6 border-end">
            <div class="mb-3">
              <small class="text-muted">{{"Bu" | translate}} 1</small>
              <input type="text" class="form-control" placeholder="{{ 'Bu' | translate}} 1" [(ngModel)]="newEmp.bu1" disabled/>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 border-end">
            <div class="mb-3">
              <small class="text-muted">{{"Bu" | translate}} 2</small>
              <input type="text" class="form-control" placeholder="{{ 'Bu' | translate}} 2" [(ngModel)]="newEmp.bu2" disabled/>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 border-end">
            <div class="mb-3">
              <small class="text-muted">{{"Bu" | translate}} 3</small>
              <input type="text" class="form-control" placeholder="{{ 'Bu' | translate}} 3" [(ngModel)]="newEmp.bu3" disabled/>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 border-end">
            <div class="mb-3">
              <small class="text-muted">{{"Bu" | translate}} 4</small>
              <input type="text" class="form-control" placeholder="{{ 'Bu' | translate}} 4" [(ngModel)]="newEmp.bu4" disabled/>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 border-end">
            <div class="mb-3">
              <small class="text-muted">{{"Bu" | translate}} 5</small>
              <input type="text" class="form-control" placeholder="{{ 'Bu' | translate}} 5" [(ngModel)]="newEmp.bu5" disabled/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-6 border-end">
            <div class="mb-3">
              <small class="text-muted">{{ "position" | translate}}</small>
              <input type="text" class="form-control" placeholder="{{ 'position' | translate}}"
                [(ngModel)]="newEmp.position" />
            </div>
          </div>
          <div class="col-sm-6 col-md-6 border-end">
            <div class="mb-3">
              <small class="text-muted">{{ "pictuer" | translate}}</small>
              <input type="text" class="form-control" placeholder="{{ 'pictuer' | translate}}"
                [(ngModel)]="newEmp.picture" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-6 border-end">
            <div class="mb-3">
              <small class="text-muted">{{"plId" | translate}}</small>
              <select name="level" id="level" class="form-control" [(ngModel)]="newEmp.plId">
                <option *ngFor="let item of [1,2,3,4,5,6]" [ngValue]="item">
                  {{"plId " + item}}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="row mt-2 d-flex justify-content-end">
          <button type="button" class="btn btn-primary me-1" (click)="addNewEmp_2(newEmp); modal.close()">
            {{ "Add New Node" }}
          </button>
          <button type="button" class="btn btn-danger" (click)="modal.close()">
            {{ "Close" | translate}}
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #helpModal let-modal>
  <div class="modal-body">
    <div class="card" style="margin-bottom: -10px">
      <div class="modal-header">
        <h5 class="modal-title">
          <span class="material-symbols-outlined me-2">help</span>
          {{ "Help" | translate }}
        </h5>
        <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')" aria-label="Close">
        </button>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-6 col-md-6 border-end">
            <div class="mb-3">
              <small class="text-muted">{{"Help" | translate}}</small>
              <input type="text" class="form-control" placeholder="{{ 'Help' | translate }}" disabled />
            </div>
          </div>
        </div>
        <div class="row d-flex justify-content-end">
          <button type="button" class="btn btn-danger" (click)="modal.close()">
            {{ "Close" | translate}}
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
