.mailbox .message-center {
    height: auto !important;
  }
  .mailbox .message-center .message-item {
    padding: 2px 15px;
  }
  .mailbox .message-center .message-item .mail-contnet {
    width: 80%;
    overflow: hidden;
  }
  
  .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #2962ff !important;
    background-color: #ecf1ff;
  }
  .sub-menu li {
    font-size: 1em;
    padding: .25em 1em;
    line-height: 1em;
  }
  
  