.border-color-gray {
    border-color: #e9ecef transparent #e9ecef #e9ecef !important;
}
.border-color-gray:focus {
    color: #4f5467 !important;
    background-color: #fff !important;
    border-color: rgba(0, 0, 0, 0.25) !important;
    outline: 0 !important;
    box-shadow: transparent;
}
.border-color-red {
    border-color: red transparent red red !important;
}
.border-color-red:focus {
    color: #4f5467 !important;
    background-color: #fff !important;
    border-color: red !important;
    outline: 0 !important;
    box-shadow: transparent;
}

.border-color-green {
    border-color: #36bea6 transparent #36bea6 #36bea6 !important;
}
.border-color-green:focus {
    color: #4f5467 !important;
    background-color: #fff !important;
    border-color: #36bea6 !important;
    outline: 0 !important;
    box-shadow: transparent;
}
.border-color-gray-full {
    border-color: #e9ecef #e9ecef #e9ecef #e9ecef !important;
}
.border-color-red-full {
    border-color: red red red red !important;
}
.border-color-green-full {
    border-color: #36bea6 #36bea6 #36bea6 #36bea6 !important;
}

.border-color-gray-full-focus {
    border-color: #e9ecef #e9ecef #e9ecef #e9ecef !important;
}
.border-color-gray-full-focus:focus {
    color: #4f5467 !important;
    background-color: #fff !important;
    border-color: rgba(0, 0, 0, 0.25) !important;
    outline: 0 !important;
    box-shadow: transparent;
}
.btn-group-first {
    border-radius: 2px 0px 0px 2px !important;
}
.btn-group {
    border-radius: 0px !important;
}

.text-underline-hover-purple {
    text-decoration: underline;
}
.text-underline-hover-purple:hover {
    color: #7460ee !important;
}

.btn-yellow {
    color: #ffffff;
    background-color: #ffbc34;
    border-color: #ffbc34 transparent #ffbc34 #ffbc34;
}
.btn-yellow:disabled {
    color: #000000;
    background-color: #ffffff;
    border-color: #ffbc34 transparent #ffbc34 #ffbc34;
}
.btn-yellow:disabled:hover {
    color: #000000;
    background-color: #ffffff;
    border-color: #ffbc34 transparent #ffbc34 #ffbc34;
}
.btn-yellow:hover {
    color: #ffffff;
    background-color: #ffaf0e;
    border-color: #ffaf0e;
}
.btn-blue {
    color: #fff;
    background-color: #2962ff;
    border-color: #2962ff transparent #2962ff #2962ff;
}
.btn-blue:disabled {
    color: #000000;
    background-color: #ffffff;
    border-color: #2962ff transparent #2962ff #2962ff;
}
.btn-blue:disabled:hover {
    color: #000000;
    background-color: #ffffff;
    border-color: #2962ff transparent #2962ff #2962ff;
}
.btn-blue:hover {
    color: #ffffff;
    background-color: #0346ff;
    border-color: #0346ff;
}
.btn-green {
    color: #ffffff;
    background-color: #36bea6;
    border-color: #36bea6 #36bea6 #36bea6 #36bea6;
}
.btn-green:disabled {
    color: #000000;
    background-color: #ffffff;
    border-color: #36bea6 #36bea6 #36bea6 #36bea6;
}
.btn-green:disabled:hover {
    color: #000000;
    background-color: #ffffff;
    border-color: #36bea6 #36bea6 #36bea6 #36bea6;
}
.btn-green:hover {
    color: #ffffff;
    background-color: #2ea08c;
    border-color: #2ea08c;
}
.btn-blue-fullborder {
    color: #fff;
    background-color: #2962ff;
    border-color: #2962ff;
}
.btn-blue-fullborder:disabled {
    color: #000000;
    background-color: #ffffff;
    border-color: #2962ff;
}
.btn-blue-fullborder:disabled:hover {
    color: #000000;
    background-color: #ffffff;
    border-color: #2962ff;
}
.btn-blue-fullborder:hover {
    color: #ffffff;
    background-color: #0346ff;
    border-color: #0346ff;
}
.btn-date-blue {
    color: #2962ff;
    border-color: #2962ff;
    background-color: #ffffff;
}
.btn-date-blue:hover {
    color: #fff;
    background-color: #2962ff;
    border-color: #2962ff;
}
.text-pink {
    color: #ff00ff !important;
}

.overflow-x-clip {
    display: block;
    width: 100%;
    overflow-x: clip !important;
}
.border-red {
    border-color: red red red red !important;
}
