<div class="card">
    <div class="card-header bg-myhr">
        <h4>{{"Daily Time Attendance" | translate}}</h4>
    </div>
    <div class="card-body">
        <!-- <div class="row g-2">
            <div class="form-group col-3 text-end me-2">
                <label class="col-form-label font-weight-bold font-14">
                    {{"Store Branch"| translate}}
                </label>
            </div>
            <div class="form-group col-6 col-md-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="{{'Branch ID'| translate}}"
                        [ngModel]="userAccessibleWorkarea.workareaId"
                        (ngModelChange)="modelUserAccessibleWorkareaChange($event)">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-info" (click)="openUserAccessibleWorkareaModal()">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="form-group offset-3 offset-md-0 col-6 col-md-3 ">
                <input type="text" class="form-control" placeholder="{{'Branch Name'| translate}}"
                    [value]="userAccessibleWorkarea.getName()" disabled>
            </div>
        </div> -->
        <div class="row g-2">
            <div class="form-group col-3 text-end me-2">
                <label class="col-form-label font-weight-bold font-14">
                    {{"Employee ID"| translate}}
                </label>
            </div>
            <div class="form-group col-6 col-md-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="{{'Employee ID'| translate}}"
                        [ngModel]="employee.employeeId" (ngModelChange)="modelEmployeeChange($event)">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-info" (click)="openEmployeeModal()">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="form-group offset-3 offset-md-0 col-6 col-md-3 ">
                <input type="text" class="form-control" placeholder="{{'Employee Name'| translate}}"
                    [value]="employee.getName()" disabled>
            </div>
        </div>
        <div class="row g-2">
            <div class="form-group col-3 text-end me-2">
                <label class="col-form-label font-weight-bold font-14">
                    {{"Period Date"| translate}}
                </label>
            </div>
            <div class="form-group col-6 col-md-3 ">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            {{"Start" | translate}}
                        </span>
                    </div>
                    <input class="form-control" ngbDatepicker #DpStart="ngbDatepicker"
                        placeholder="{{'dd.mm.yyyy' | translate}}" [(ngModel)]="dateStart"
                        oninput="value = value.replace(/[^0-9/]/g, '');" #c1="ngModel" (change)="dateStart = datepickerService.validateFormatDate(c1)">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-outline-info no-shadow" (click)="DpStart.toggle()">
                            <i class="far fa-calendar-alt"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="form-group offset-3 offset-md-0 col-6 col-md-3 ">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            {{"to2" | translate}}
                        </span>
                    </div>
                    <input class="form-control" ngbDatepicker #DpEnd="ngbDatepicker"  oninput="value = value.replace(/[^0-9/]/g, '');"
                        placeholder="{{'dd.mm.yyyy' | translate}}" [(ngModel)]="dateEnd"
                        [minDate]="dateStart" #c2="ngModel" (change)="dateEnd = datepickerService.validateFormatDate(c2)">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-outline-info no-shadow" (click)="DpEnd.toggle()">
                            <i class="far fa-calendar-alt"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row g-2">
            <div class="form-group col-3 text-end me-2">
                <label class="col-form-label font-weight-bold font-14">
                    {{"Position"| translate}}
                </label>
            </div>
            <div class="form-group col-6 col-md-3">
                <input type="text" class="form-control" placeholder="{{'Position Name'| translate}}"
                    [value]="employee.job.position.getName()" disabled>
            </div>
        </div>
        <!-- <div class="row g-2">
            <div class="form-group offset-3 col-6">
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" name="ApprovedRadio" id="Unapproved" class="custom-control-input" [value]="1"
                        [(ngModel)]="approvedRadio">
                    <label class="custom-control-label" for="Unapproved">
                        {{"Unapproved" | translate}}
                    </label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" name="ApprovedRadio" id="Approved" class="custom-control-input" [value]="2"
                        [(ngModel)]="approvedRadio">
                    <label class="custom-control-label" for="Approved">
                        {{"Daily Time:Approved" | translate}}
                    </label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" name="ApprovedRadio" id="All" class="custom-control-input" [value]="3"
                        [(ngModel)]="approvedRadio">
                    <label class="custom-control-label" for="All">
                        {{"All" | translate}}
                    </label>
                </div>
            </div>
        </div> -->
        <div class="row g-2">
            <div class="form-group offset-3 col-6">
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" name="EmployeeRadio" id="Subordinate" class="custom-control-input" [value]="1"
                        [(ngModel)]="employeeRadio">
                    <label class="custom-control-label" for="Subordinate">
                        {{"Subordinate" | translate}}
                    </label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" name="EmployeeRadio" id="Borrowed" class="custom-control-input" [value]="2"
                        [(ngModel)]="employeeRadio">
                    <label class="custom-control-label" for="Borrowed">
                        {{"Borrowed" | translate}}
                    </label>
                </div>
            </div>
        </div>
        <div class="row g-2">
            <div class="form-group col-12 text-center">
                <button type="button" class="btn btn-info waves-effect waves-light" style="width: 85px"
                    (click)="search()">
                    {{"systemcode.search" | translate}}
                </button>
            </div>
        </div>
        <div *ngIf="searchShow">
            <div class="row g-2">
                <div class="form-group col-12 text-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-yellow waves-light" (click)="openSetShiftModal()">
                            {{"K:Set Shift" | translate}}
                        </button>
                        <button type="button" class="btn btn-blue waves-light" (click)="openSetWorkOffModal()">
                            {{"K:Set Work/off" | translate}}
                        </button>
                        <button type="button" class="btn btn-blue waves-light" (click)="openPostLeaveModal()">
                            {{"K:Post Leave" | translate}}
                        </button>
                         <!--   <button type="button" class="btn btn-blue waves-light" (click)="openSetPunchModal()">
                            {{"K:Set Punch" | translate}}
                        </button>
                        <button type="button" class="btn btn-blue waves-light" (click)="openSetOTModal()">
                            {{"K:Set OT" | translate}}
                        </button>
                        <button type="button" class="btn btn-blue waves-light" (click)="openSetCOTModal()">
                            {{"K:Set C-OT" | translate}}
                        </button>
                        <button type="button" class="btn btn-blue-fullborder waves-light" (click)="openSetCOffModal()">
                            {{"K:Set C-OFF" | translate}}
                        </button> -->
                    </div>
                    <ng-container *ngIf="buttonGreenShow&&!buttonGreenLoading">
                        &nbsp;
                        <button type="button" class="btn btn-green waves-light" (click)="process()">
                            {{"Process" | translate}}
                        </button>
                    </ng-container>
                </div>
            </div>
            <div class="row g-2" *ngIf="buttonGreenLoading">
                <div class="form-group col-12 text-center">
                    <div *ngFor="let item of [1,2,3]" class="spinner-grow text-info m-t-5 m-r-5 m-b-5 m-l-5"
                        role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
            <div class="row g-2" *ngIf="buttonGreenShow&&!buttonGreenLoading">
                <div class="form-group col-12 text-center">
                    <!-- <button type="button" class="btn btn-green waves-light" style="width: 90px;"
                        (click)="managerApprove()">
                        {{"systemcpde.welfare.history.approvestatus.1" | translate}}
                    </button>
                    &nbsp; -->
                    <button type="button" class="btn btn-green waves-light" style="width: 90px;"
                        (click)="exportToExcel()">
                        {{"Export"| translate}}
                    </button>
                </div>
            </div>
            <div class="table-responsive">
                <!-- <perfect-scrollbar [config]="{useBothWheelAxes: true, suppressScrollX: false, suppressScrollY: false}"> -->
                    <table class="table  table-hover table-striped-myhr table-sm  mb-0 no-wrap v-middle table-bordered">
                        <thead class="bg-info ">
                            <tr class="text-white font-weight-normal">
                                <th class="font-weight-normal width-table text-center align-middle" scope="col"
                                    rowspan="2">
                                    {{"No." | translate}}
                                </th>
                                <th class="font-weight-normal width-table align-middle" scope="col" rowspan="2">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="Accept"
                                            (click)="acceptCheckAll($event.target.checked)">
                                        <label class="custom-control-label font-weight-normal" for="Accept">
                                            {{"Daily Time:Send" | translate}}
                                        </label>
                                    </div>
                                </th>
                                <th class="font-weight-normal width-table text-center align-middle" scope="col"
                                    rowspan="2">
                                    {{"Employee ID"| translate}}
                                </th>
                                <th class="font-weight-normal width-table text-center align-middle" scope="col"
                                    rowspan="2">
                                    {{"Name-Surname"| translate}}
                                </th>
                                <th class="font-weight-normal width-table text-center align-middle" scope="col"
                                    rowspan="2">
                                    {{"Forget date"| translate}}
                                </th>
                                <th class="font-weight-normal width-table align-middle" scope="col" rowspan="2">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="Adj."
                                            (click)="adjCheckAll($event.target.checked)">
                                        <label class="custom-control-label font-weight-normal" for="Adj.">
                                            {{"Adj." | translate}}
                                        </label>
                                    </div>
                                </th>
                                <th class="font-weight-normal width-table text-center align-middle" scope="col"
                                    rowspan="2">
                                    {{"status"| translate}}
                                </th>
                                <th class="font-weight-normal width-table text-center align-middle" scope="col"
                                    rowspan="2">
                                    {{"Shift.1"| translate}}
                                </th>
                                <th class="font-weight-normal width-table text-center align-middle" scope="col"
                                    rowspan="2">
                                    {{"Shift In"| translate}}
                                </th>
                                <th class="font-weight-normal width-table text-center align-middle" scope="col"
                                    rowspan="2">
                                    {{"Time Break In"| translate}}
                                </th>
                                <th class="font-weight-normal width-table text-center align-middle" scope="col"
                                    rowspan="2">
                                    {{"Time Break Out"| translate}}
                                </th>

                                <!-- <th class="font-weight-normal width-table text-center align-middle" scope="col"
                                    rowspan="2">
                                    {{"Shift Out"| translate}}
                                </th> -->
                                <!-- <th class="font-weight-normal width-table text-center align-middle" scope="col"
                                    rowspan="2">
                                    {{"Time Break Out"| translate}}
                                </th>
                                <th class="font-weight-normal width-table text-center align-middle" scope="col"
                                    rowspan="2">
                                    {{"Time Break In"| translate}}
                                </th> -->
                                <th class="font-weight-normal width-table text-center align-middle" scope="col"
                                    rowspan="2">
                                    {{"Shift Out"| translate}}
                                </th>
                                <th class="font-weight-normal width-table text-center align-middle" scope="col"
                                    rowspan="2">
                                    {{"Punch In"| translate}}
                                </th>
                                <th class="font-weight-normal width-table text-center align-middle" scope="col"
                                    rowspan="2">
                                    {{"Punch Out"| translate}}
                                </th>

                                <th class="font-weight-normal width-table text-center align-middle" scope="col"
                                    rowspan="2">
                                    {{"Late"| translate}}
                                </th>
                                <th class="font-weight-normal width-table text-center align-middle" scope="col"
                                    rowspan="2">
                                    {{"Early Departure"| translate}}
                                </th>
                                <th class="font-weight-normal width-table text-center align-middle" scope="col"
                                    rowspan="2">
                                    {{"Leave"| translate}}
                                </th>
                                <!-- <th class="font-weight-normal width-table text-center align-middle" scope="col"
                                    rowspan="2">
                                    {{"Pay hours"| translate}}
                                </th> -->
                                <th class="font-weight-normal width-table text-center align-middle" scope="col"
                                    rowspan="2">
                                    {{"OT"| translate}}
                                </th>
                                <th class="font-weight-normal width-table text-center" scope="col" colspan="4">
                                    {{"OT"| translate}}
                                </th>
                                <!-- <th class="font-weight-normal width-table text-center" scope="col" colspan="5">
                                    {{"Additional revenue"| translate}}
                                </th> -->
                            </tr>
                            <tr class="text-white font-weight-normal">
                                <th class="font-weight-normal width-table text-center" scope="col">
                                    {{"OT1"| translate}}
                                </th>
                                <th class="font-weight-normal width-table text-center" scope="col">
                                    {{"OT1.5"| translate}}
                                </th>
                                <th class="font-weight-normal width-table text-center" scope="col">
                                    {{"OT2"| translate}}
                                </th>
                                <th class="font-weight-normal width-table text-center" scope="col">
                                    {{"OT3"| translate}}
                                </th>
                                <!-- <th class="font-weight-normal width-table text-center" scope="col">
                                    {{"Shift"| translate}}
                                </th>
                                <th class="font-weight-normal width-table text-center" scope="col">
                                    {{"WOW"| translate}}
                                </th>
                                <th class="font-weight-normal width-table text-center" scope="col">
                                    {{"Rider"| translate}}
                                </th>
                                <th class="font-weight-normal width-table text-center" scope="col">
                                    {{"Leaflet allowance"| translate}}
                                </th> -->
                            </tr>
                        </thead>
                        <tbody *ngIf="!tc1EmployeeListLoading&&tc1EmployeeList.length>0">
                            <tr
                                *ngFor="let item of tc1EmployeeList | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize ; let i=index">
                                <td class="font-weight-normal text-center">
                                    {{((page-1) * pageSize)+(i+1)}}
                                </td>
                                <td class="font-weight-normal text-center">
                                    <div class="custom-control custom-checkbox">
                                        &nbsp;
                                        <input type="checkbox" class="custom-control-input"
                                            [id]="'checkboxAccept'+(((page-1) * pageSize)+(i+1))"
                                            [(ngModel)]="item.checkboxAccept" [disabled]="item.data.approve">
                                        <label class="custom-control-label font-weight-normal"
                                            [for]="'checkboxAccept'+(((page-1) * pageSize)+(i+1))">
                                        </label>
                                    </div>
                                </td>
                                <td class="font-weight-normal text-center">
                                    {{item.data.employee.employeeId}}
                                </td>
                                <td class="font-weight-normal text-center">
                                    {{item.data.employee.getName()}}
                                </td>
                                <td class="font-weight-normal text-center">
                                    {{item.data.dateId | date:"dd-MM-yyyy"}}
                                </td>
                                <td class="font-weight-normal text-center">
                                    <div class="custom-control custom-checkbox">
                                        &nbsp;
                                        <input type="checkbox" class="custom-control-input"
                                            [id]="'checkboxAdj'+(((page-1) * pageSize)+(i+1))"
                                            [(ngModel)]="item.checkboxAdj" [disabled]="item.data.approve">
                                        <label class="custom-control-label font-weight-normal"
                                            [for]="'checkboxAdj'+(((page-1) * pageSize)+(i+1))">
                                        </label>
                                    </div>
                                </td>
                                <td class="font-weight-normal text-center">
                                    {{item.data.eventGrp.getName()}}
                                </td>
                                <td class="font-weight-normal text-center">
                                    {{item.data.time0Id.time0id}}
                                </td>
                                <td class="font-weight-normal text-center">
                                    {{convertFormatTime(item.data.ctmBg)}}
                                    <!-- กะเข้า -->
                                </td>
                                <td class="font-weight-normal text-center">
                                    {{convertFormatTime(item.data.tmBreakout)}}
                                    <!-- เวลาเข้าพัก	 -->
                                </td>
                                <td class="font-weight-normal text-center">
                                    {{convertFormatTime(item.data.tmBreakIn)}}
                                    <!-- เวลาออกพัก	 -->
                                </td>
                                <!-- <td class="font-weight-normal text-center">
                                    {{item.data.ctmEn}}
                                </td> -->
                                <!-- <td class="font-weight-normal text-center">
                                    {{item.data.mtmBg}}
                                </td> -->
                                <td class="font-weight-normal text-center">
                                    {{convertFormatTime(item.data.ctmEn)}}
                                    <!-- กะออก -->
                                </td>
                                <td class="font-weight-normal text-center">
                                    {{convertFormatTimeCheckCurrentDate(item.data.mtmBg , item.data.dateId , item.data.sourceIn)}}
                                    <!-- เวลาเข้า	 -->
                                </td>
                                <td class="font-weight-normal text-center">
                                    {{convertFormatTimeCheckCurrentDate(item.data.mtmEn , item.data.dateId , item.data.sourceOut)}}
                                    <!-- เวลาออก	 -->
                                </td>
                                <td class="font-weight-normal text-center">
                                    {{convertFormatTime(item.data.lt)}}
                                    <!-- สาย -->
                                </td>
                                <td class="font-weight-normal text-center">
                                    {{convertFormatTime(item.data.warn05)}}
                                    <!-- ออกก่อนเวลายังไม่มี -->
                                </td>
                                <td class="font-weight-normal text-center">
                                    {{convertFormatTimeLeave(item.data.mlv , item.data.eventGrp.eventgrpid )}}
                                    <!-- ลา -->
                                </td>
                                <!-- <td class="font-weight-normal text-center">
                                    {{convertFormatTime(item.data.mlv)}}
                                </td> -->
                                <td class="font-weight-normal text-center">
                                    {{convertFormatTime(item.data.acOt)}}
                                    <!-- โอที -->
                                </td>
                                <td class="font-weight-normal text-center">
                                    {{convertFormatTime(item.data.ot1)}}
                                </td>
                                <td class="font-weight-normal text-center">
                                    {{convertFormatTime(item.data.ot5)}}
                                </td>
                                <td class="font-weight-normal text-center">
                                    {{convertFormatTime(item.data.ot2)}}
                                </td>
                                <td class="font-weight-normal text-center">
                                    {{convertFormatTime(item.data.ot3)}}
                                </td>
                                <!-- <td class="font-weight-normal text-center">
                                    {{item.data.shift}}
                                </td>
                                <td class="font-weight-normal text-center">
                                    {{item.data.wow}}
                                </td>
                                <td class="font-weight-normal text-center">
                                    {{item.data.rider}}
                                </td>
                                <td class="font-weight-normal text-center">
                                    {{item.data.leaflet}}
                                </td>
                                <td class="font-weight-normal text-center">
                                    {{item.data.allowance}}
                                </td> -->
                            </tr>
                        </tbody>
                        <tbody *ngIf="!tc1EmployeeListLoading&&tc1EmployeeList.length==0">
                            <tr>
                                <td colSpan="100%" class="text-center">
                                    {{"No Data Found" | translate}}
                                </td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="tc1EmployeeListLoading">
                            <tr>
                                <td colSpan="100%" class="text-center">
                                    <div *ngFor="let item of [1,2,3]"
                                        class="spinner-grow text-info m-t-5 m-r-5 m-b-5 m-l-5" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                <!-- </perfect-scrollbar> -->
            </div>
            <div class="d-flex justify-content-end p-2">
                <select class="form-select m-r-5" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="page=1">
                    <option *ngFor="let item of [10,50,100]" [ngValue]="item">
                        {{"Items per page"| translate}}: {{item}}
                    </option>
                </select>
                <ngb-pagination [collectionSize]="tc1EmployeeList.length" [(page)]="page" [pageSize]="pageSize"
                    [maxSize]="3" [rotate]="true">
                    <ng-template ngbPaginationPrevious>{{"Prev"| translate}}</ng-template>
                    <ng-template ngbPaginationNext>{{"Next"| translate}}</ng-template>
                </ngb-pagination>
            </div>
        </div>
    </div>
</div>
