<!-- ใบแก้ไขบันทึกการทำงาน -->
<div class="row">
  <div class="col-12">
      <app-workflow-emp-information [employeeId]="employeeId"></app-workflow-emp-information>
  </div>
  <!-- รายละเอียดการเปลี่ยนกะ -->
  <div class="col-12">
      <div class="card mb-0">
          <div class="card-header bg-myhr">
              <h6 class="card-title">{{"swap-shift-detail" | translate }}</h6>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6 col-xs-12 b-r">
                <small class="text-muted">{{"Fund"| translate}}</small>
                <h6>{{pvFund.fundtable!.getFundDesc()}}</h6>
              </div>

              <div class="col-md-6 col-xs-12 b-r">
                <small class="text-muted">{{"วันที่เริ่มเป็นสมาชิกกองทุน"| translate}}</small>
                <h6>{{dateFormat(pvFund.registerDate)}}</h6>
              </div>
              <div class="col-md-6 col-xs-12 b-r">
                <small class="text-muted">{{"วันที่ลาออกจากกองทุน"| translate}}</small>
                <h6>{{dateFormat(workflowData.screen_value.__wf__resigndate)}}</h6>
              </div>
              <div class="col-md-6 col-xs-12 b-r">
                <small class="text-muted">{{"อายุงาน"| translate}}</small>
                <h6>{{calAge(empWork!.firstHiredate!)}}</h6>
              </div>
              <div class="col-md-6 col-xs-12 b-r">
                <small class="text-muted">{{"อายุกองทุน"| translate}}</small>
                <h6>{{calAge(pvFund.registerDate)}}</h6>
              </div>
            </div>

              <div class="row mt-2">
                  <div class="col-md-12 col-xs-12 b-r">
                      <small class="text-muted">{{"Note"| translate}}</small>
                      <h6>**{{"ต้องดำเนินการให้แล้วเสร็จในวันที่ 25 เพื่อให้มีผลในวันที่ 1 เดือนถัดไป" | translate}}</h6>
                  </div>
              </div>

          </div>
      </div>
  </div>


  <!-- หมายเหตุ แนบไฟล์ ประวัติเส้นทางเอกสาร ข้อเสนอแนะ -->
  <div class="col-12">
      <app-workflow-detail-footer [workflowData]="workflowData" [manageDocument]="manageDocument">
      </app-workflow-detail-footer>
  </div>
  <!-- ปิด หมายเหตุ แนบไฟล์ ประวัติเส้นทางเอกสาร ข้อเสนอแนะ -->
</div>
<!-- Row ปิดใบแก้ไขบันทึกการทำงาน -->
