<!-- ข้อมูลพนักงาน -->
<div class="col-12">
  <app-workflow-emp-information [employeeId]="employeeId"></app-workflow-emp-information>
</div>
<!-- ปิดข้อมูลพนักงาน -->

<div class="col-12">
  <div class="card mb-0">
    <div class="card-header bg-myhr">
      <h6 class="card-title">{{"Detail" | translate }}</h6>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let item of welfareFormList ; let i = index">
              <div class="d-flex mb-2">
                <h5 class="m-t-5 ">{{'no'| translate}} {{i+1}}</h5>
              </div>
              <!-- สถานที่ -->
              <div class="row">
                <div class="col-4 col-sm-4 col-md-4   b-r">
                  <div class="form-group">
                    <small class="text-muted ellipsis-myhr">{{"systemcode.location.id"| translate }}</small>
                    <div class="input-group mb-3">
                      <input type="text" class="form-control " [(ngModel)]="item.locationCode" disabled>
                    </div>
                  </div>
                </div>
                <div class="col-8 col-sm-8 col-md-8 b-r">
                  <div class="form-group">
                    <small class="text-muted ellipsis-myhr">{{"Location"| translate}}</small>
                    <input type="text" class="form-control" [(ngModel)]="item.location" disabled>
                  </div>
                </div>
              </div>
              <!-- งานที่รับผิดชอบ/งานที่ปฏิบัติ -->
              <div class="row">
                <div class="col-12 col-sm-6 col-md-8   b-r">
                  <div class="form-group">
                    <small class="text-muted ellipsis-myhr">{{"งานที่รับผิดชอบ/งานที่ปฏิบัติ"| translate }}</small>
                    <input type="text" class="form-control" [(ngModel)]="item.workDescription" disabled>
                  </div>
                </div>
              </div>
              <!-- หมายเลขโครงการที่ปฏิบัติ -->
              <div class="row">
                <div class="col-12 col-sm-6 col-md-8  b-r">
                  <div class="form-group">
                    <small class="text-muted ellipsis-myhr">{{"หมายเลขโครงการที่ปฏิบัติ"| translate }}</small>
                    <input type="text" class="form-control" [(ngModel)]="item.projectCode" disabled>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-lg-3 col-xs-12 b-r">
                  <div class="form-group">
                    <small class="text-muted">{{"systemcode.sentdate"| translate }}</small>
                    <div class="input-group">
                      <input class="form-control " placeholder="{{'dd.mm.yyyy' | translate}}"
                        [(ngModel)]="item.datesent" disabled>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-3 col-xs-12 b-r">
                  <div class="form-group">
                    <small class="text-muted">{{"systemcode.receiptdate"| translate }}</small>
                    <div class="input-group">
                      <input class="form-control " placeholder="{{'dd.mm.yyyy' | translate}}"
                        [(ngModel)]="item.datebill" disabled>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-sm-6 col-md-6 col-lg-6  b-r">
                  <div class="form-group">
                    <small class="text-muted ellipsis-myhr">{{"systemcode.bill"| translate}}</small>
                    <input type="text" class="form-control" [(ngModel)]="item.numberbill" disabled>
                  </div>
                </div>
              </div>

              <!-- วันที่ -->
              <div class="row">
                <div class="col-md-6 col-lg-3 col-xs-12 b-r">
                  <div class="form-group">
                    <small class="text-muted">{{"start.date"| translate }}</small>
                    <div class="input-group">
                      <input class="form-control " placeholder="{{'dd.mm.yyyy' | translate}}"
                        [(ngModel)]="item.startDate" disabled>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-3 col-xs-12 b-r">
                  <div class="form-group">
                    <small class="text-muted">{{"time-start"| translate }}</small>
                    <input type="text" class="form-control " [(ngModel)]="item.startTime" disabled>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-lg-3 col-xs-12 b-r">
                  <div class="form-group">
                    <small class="text-muted">{{"end.date"| translate }}</small>
                    <div class="input-group">
                      <input class="form-control " placeholder="{{'dd.mm.yyyy' | translate}}"
                        [(ngModel)]="item.endDate" disabled>

                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-3 col-xs-12 b-r">
                  <div class="form-group">
                    <small class="text-muted">{{"time-end"| translate }}</small>
                    <input type="text" class="form-control " [(ngModel)]="item.endTime" disabled>
                  </div>
                </div>
              </div>
              <div class="row d-none">
                <div class="col-6 col-md-2 col-lg-1  b-r">
                  <div class="form-group">
                    <small class="text-muted ellipsis-myhr">{{"Number of days"| translate }}</small>
                    <input type="text" class="form-control" [(ngModel)]="item.days" disabled>
                  </div>
                </div>
                <div class="col-6 col-md-2 col-lg-1  b-r">
                  <div class="form-group">
                    <small class="text-muted ellipsis-myhr">{{"Number of hours"| translate }}</small>
                    <input type="text" class="form-control" [(ngModel)]="item.hours" disabled>
                  </div>
                </div>
              </div>
              <!-- <div class="row">
                <div class="col-01">
                  <h6>{{"Travel allowance outside the office" | translate}}</h6>
                </div>
              </div> -->
              <div class="row">
                <div class="col-md-4 col-lg-2 col-xs-6 b-r">
                  <div class="form-group">
                    <small class="text-muted">{{"start.date"| translate }}</small>
                    <div class="input-group">
                      <input class="form-control" placeholder="{{'dd.mm.yyyy' | translate}}"
                        [(ngModel)]="item.startDate" disabled>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-lg-2 col-xs-6 b-r">
                  <div class="form-group">
                    <small class="text-muted">{{"end.date"| translate }}</small>
                    <div class="input-group">
                      <input class="form-control" placeholder="{{'dd.mm.yyyy' | translate}}"
                        [(ngModel)]="item.endDate" disabled>
                    </div>
                  </div>
                </div>
                <!-- <div class="col-6 col-md-2 col-lg-1  b-r">
                  <div class="form-group">
                    <small class="text-muted ellipsis-myhr">{{"Number of days"| translate }}</small>
                    <input type="text" class="form-control" [(ngModel)]="item.days" disabled>
                  </div>
                </div>
                <div class="col-6 col-md-2 col-lg-1  b-r">
                  <div class="form-group">
                    <small class="text-muted ellipsis-myhr">{{"Number of hours"| translate }}</small>
                    <input type="text" class="form-control" [(ngModel)]="item.hours" disabled>
                  </div>
                </div> -->
              </div>
              <div class="row">
                <div class="col-4 col-sm-4 col-md-5  b-r">
                  <div class="form-group">
                    <small class="text-muted ellipsis-myhr">{{"systemcode.welId"| translate }}</small>
                    <div class="input-group mb-3">
                      <input type="text" class="form-control " readonly [(ngModel)]="item.welfareId">
                    </div>
                  </div>
                </div>
                <div class="col-8 col-sm-8 col-md-7 b-r">
                  <div class="form-group">
                    <small class="text-muted ellipsis-myhr">{{"menu.empview-welfare"| translate}}</small>
                    <input type="text" class="form-control" disabled [(ngModel)]="item.welfareName">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-12">
                  <p>{{"Work off-site (within the country)"| translate}}</p>
                </div>
              </div>

              <div class="row">
                <div class="col-3 col-md-3  ps-3 d-flex align-items-center">
                  <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="customCheck1{{i}}" disabled
                      [(ngModel)]="item.oil">
                    <label class="custom-control-label" for="customCheck1{{i}}">{{"Fuel cost" | translate}}</label>
                  </div>

                </div>
                <div class="col-3 col-md-3">
                  <div class="form-group">
                    <small class="text-muted ellipsis-myhr">{{"จำนวนกิโลเมตรที่เดินทาง"| translate}}</small>
                    <input type="text" class="form-control" disabled [(ngModel)]="item.oil_number_km">
                  </div>
                </div>
                <div class="col-3 col-md-3">
                  <div class="form-group">
                    <small class="text-muted ellipsis-myhr">{{"ราคาน้ำมัน"| translate}}</small>
                    <input type="text" class="form-control" disabled [(ngModel)]="item.oil_prices">
                  </div>
                </div>
                <div class="col-3 col-md-3">
                  <div class="form-group">
                    <small class="text-muted ellipsis-myhr">{{"systemcode.reqCost"| translate}}</small>
                    <input type="text" class="form-control" [value]="item.oil_prices_withdraw | number:'1.2-2'"
                      readonly>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-3 col-md-3   ps-3 d-flex align-items-center">
                  <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="customCheck2{{i}}" [(ngModel)]="item.room"
                      disabled>
                    <label class="custom-control-label" for="customCheck2{{i}}">{{"Accommodation costs"|
                      translate}}</label>
                  </div>
                </div>
                <div class="col-3 col-md-3 ">
                  <div class="form-group">
                    <small class="text-muted ellipsis-myhr">{{"ราคาที่พัก : รายวัน"| translate}}</small>
                    <input type="text" class="form-control" disabled [(ngModel)]="item.room_prices">
                  </div>
                </div>
                <div class="col-3 col-md-3 ">
                  <div class="form-group">
                    <small class="text-muted ellipsis-myhr">{{"จำนวนวัน"| translate}}</small>
                    <input type="text" class="form-control" disabled [(ngModel)]="item.days">
                  </div>
                </div>
                <div class="col-3 col-md-3 ">
                  <div class="form-group">
                    <small class="text-muted ellipsis-myhr">{{"systemcode.reqCost"| translate}}</small>
                    <input type="text" class="form-control" [value]="item.room_number_withdraw | number:'1.2-2'"
                      readonly>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-3 col-md-3   ps-3 d-flex align-items-center">
                  <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="customCheck3{{i}}"
                      [(ngModel)]="item.expressway_etc" disabled>
                    <label class="custom-control-label" for="customCheck3{{i}}">{{"Toll fees, parking, etc." |
                      translate}}</label>
                  </div>
                </div>
                <div class="col-3 col-md-3 ">
                  <div class="form-group">
                    <small class="text-muted ellipsis-myhr">{{"ยอดที่ต้องการเบิก"| translate}}</small>
                    <input type="text" class="form-control" disabled [(ngModel)]="item.expressway_etc_cost">
                  </div>
                </div>
                <div class="col-3 col-md-3 ">
                  <div class="form-group">
                    <small class="text-muted ellipsis-myhr">{{"systemcode.reqCost"| translate}}</small>
                    <input type="text" class="form-control" [value]="item.expressway_etc_cost_withdraw | number:'1.2-2'"
                      readonly>
                  </div>
                </div>
                <div class="col-3 col-md-3">
                  <div class="form-group">
                    <small class="text-muted ellipsis-myhr">{{"รายละเอียด อื่นๆ"| translate}}</small>
                    <input type="text" class="form-control" disabled [(ngModel)]="item.expressway_etc_remark">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-3 col-md-3   ps-3 d-flex align-items-center">
                  <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="customCheck4{{i}}"
                      [(ngModel)]="item.reserve_payment" disabled>
                    <label class="custom-control-label" for="customCheck4{{i}}">{{"Reserve payment"| translate}}</label>
                  </div>
                </div>
                <div class="col-3 col-md-3 ">
                  <div class="form-group">
                    <small class="text-muted ellipsis-myhr">{{"ยอดที่ต้องการเบิก"| translate}}</small>
                    <input type="text" class="form-control" disabled [(ngModel)]="item.reserve_payment_cost">
                  </div>
                </div>
                <div class="col-3 col-md-3 ">
                  <div class="form-group">
                    <small class="text-muted ellipsis-myhr">{{"systemcode.reqCost"| translate}}</small>
                    <input type="text" class="form-control"
                      [value]="item.reserve_payment_cost_withdraw | number:'1.2-2'" readonly>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-3 col-md-3  ps-3 d-flex align-items-center">
                  <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="customCheck5{{i}}"
                      [(ngModel)]="item.currency" disabled>
                    <label class="custom-control-label" for="customCheck5{{i}}">{{"foreign exchange rate" |
                      translate}}</label>
                  </div>
                </div>
                <div class="col-3 col-md-3 ">
                  <div class="form-group">
                    <small class="text-muted ellipsis-myhr">{{"Foreign currency"| translate}}</small>
                    <input type="text" class="form-control" [(ngModel)]="item.currency_bath" disabled>
                  </div>
                </div>
                <div class="col-3 col-md-3 ">
                  <div class="form-group">
                    <small class="text-muted ellipsis-myhr">{{"Rate.2"| translate }}</small>
                    <div class="input-group mb-3">
                      <input type="text" class="form-control " readonly [(ngModel)]="item.currency_rateId" disabled>
                    </div>
                  </div>
                </div>
                <div class="col-3 col-md-3 ">
                  <div class="form-group">
                    <small class="text-muted">{{"systemcode.reqCost"| translate }}</small>
                    <input type="text" class="form-control" [value]="item.currency_cost | number:'1.2-2'" readonly>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-4 col-md-3 ">
                  <div class="form-group">
                    <small class="text-muted ellipsis-myhr">{{"systemcode.request.amount"| translate }}</small>
                    <input type="text" class="form-control" [(ngModel)]="item.reqcost" disabled>
                  </div>
                </div>
                <div class="col-4 col-md-3 ">
                  <div class="form-group">
                    <small class="text-muted ellipsis-myhr">{{"systemcode.reqCost"| translate }}</small>
                    <input type="text" class="form-control" readonly [value]="item.cost_total| number:'1.2-2'">
                  </div>
                </div>
                <div class="col-4 col-md-3 ">
                  <div class="form-group">
                    <small class="text-muted ellipsis-myhr">{{"Balance"| translate }}</small>
                    <input type="text" class="form-control" [(ngModel)]="item.cost" disabled>
                  </div>
                </div>
              </div>
              <div class="row">
                <!-- แนบไฟล์ -->
                  <div class="col-12 p-0" *ngIf="item.nameFileUpload">
                    <div class="card mb-0">
                        <div class="card-header bg-myhr">
                            <h6 class="card-title">{{"attach_file" | translate}}</h6>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 col-xs-12 b-r">
                                    <small class="text-muted">{{"selected_file"| translate}}</small>
                                    <h6>
                                        <a class="text-dark" style="cursor: hand;cursor: pointer;"
                                            (click)="dowloadFile(item.nameFileUpload)">{{item.nameFileUpload}}</a>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                  <!-- ปิดแนบไฟล์ -->
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="row mt-2">
        <app-workflow-remark [wfid]="wfid"></app-workflow-remark>
      </div>
    </div>
  </div>
</div>
<!-- ปิดรายละเอียดการขอหนังสือรับรอง -->
<!-- หมายเหตุ แนบไฟล์ ประวัติเส้นทางเอกสาร ข้อเสนอแนะ -->
<app-workflow-detail-footer [workflowData]="workflowData" [manageDocument]="manageDocument">
</app-workflow-detail-footer>
<!-- ปิด หมายเหตุ แนบไฟล์ ประวัติเส้นทางเอกสาร ข้อเสนอแนะ -->
