<!-- ใบขออัตรากำลัง -->
<div class="row">
  <!-- รายละเอียดรับตำแหน่งงาน -->
  <div class="col-12">
    <div class="card mb-0">
      <div class="card-header bg-myhr">
        <h6 class="card-title">{{ "systemcode.job.detail" | translate }}</h6>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-4 col-sm-4 col-md-4 col-lg-3 b-r">
            <div class="form-group">
              <small class="text-muted ellipsis-myhr">{{
                "systemcode.company.id" | translate
                }}</small>
              <h6>{{ data.workflowData.screen_value["__wf__branch"] }}</h6>
            </div>
          </div>
          <div class="col-8 col-sm-8 col-md-7 col-lg-5 b-r">
            <div class="form-group">
              <small class="text-muted ellipsis-myhr">{{
                "Company" | translate
                }}</small>
              <h6>{{ data.workflowData.screen_value["__wf__branchDesc"] }}</h6>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-4 col-sm-4 col-md-4 col-lg-3 b-r">
            <div class="form-group">
              <small class="text-muted ellipsis-myhr">{{
                "systemcode.division.id" | translate
                }}</small>
              <h6>{{ data.workflowData.screen_value["__wf__bu1"] }}</h6>
            </div>
          </div>
          <div class="col-8 col-sm-8 col-md-7 col-lg-5 b-r">
            <div class="form-group">
              <small class="text-muted ellipsis-myhr">{{
                "systemcode.emp.bu1" | translate
                }}</small>
              <h6>{{ data.workflowData.screen_value["__wf__bu1Desc"] }}</h6>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-4 col-sm-4 col-md-4 col-lg-3 b-r">
            <div class="form-group">
              <small class="text-muted ellipsis-myhr">{{
                "systemcode.department.id" | translate
                }}</small>
              <h6>{{ data.workflowData.screen_value["__wf__bu2"] }}</h6>
            </div>
          </div>
          <div class="col-8 col-sm-8 col-md-7 col-lg-5 b-r">
            <div class="form-group">
              <small class="text-muted ellipsis-myhr">{{
                "systemcode.emp.bu3" | translate
                }}</small>
              <h6>{{ data.workflowData.screen_value["__wf__bu2Desc"] }}</h6>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-4 col-sm-4 col-md-4 col-lg-3 b-r">
            <div class="form-group">
              <small class="text-muted ellipsis-myhr">{{
                "Section" | translate
                }}</small>
              <h6>{{ data.workflowData.screen_value["__wf__bu3"] }}</h6>
            </div>
          </div>
          <div class="col-8 col-sm-8 col-md-7 col-lg-5 b-r">
            <div class="form-group">
              <small class="text-muted ellipsis-myhr">{{
                "dashboard.bu3" | translate
                }}</small>
              <h6>{{ data.workflowData.screen_value["__wf__bu3Desc"] }}</h6>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-4 col-sm-4 col-md-4 col-lg-3 b-r">
            <div class="form-group">
              <small class="text-muted ellipsis-myhr">{{
                "Sub Section #1" | translate
                }}</small>
              <h6>{{ data.workflowData.screen_value["__wf__bu4"] }}</h6>
            </div>
          </div>
          <div class="col-8 col-sm-8 col-md-7 col-lg-5 b-r">
            <div class="form-group">
              <small class="text-muted ellipsis-myhr">{{
                "dashboard.bu4" | translate
                }}</small>
              <h6>{{ data.workflowData.screen_value["__wf__bu4Desc"] }}</h6>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-4 col-sm-4 col-md-4 col-lg-3 b-r">
            <div class="form-group">
              <small class="text-muted ellipsis-myhr">{{ "Sub Section #2" | translate }}</small>
              <h6>{{ data.workflowData.screen_value["__wf__bu5"] }}</h6>
            </div>
          </div>
          <div class="col-8 col-sm-8 col-md-7 col-lg-5 b-r">
            <div class="form-group">
              <small class="text-muted ellipsis-myhr">{{
                "dashboard.bu4" | translate
                }}</small>
              <h6>{{ data.workflowData.screen_value["__wf__bu5Desc"] }}</h6>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-4 col-sm-4 col-md-4 col-lg-3 b-r">
            <div class="form-group">
              <small class="text-muted ellipsis-myhr">{{
                "systemcode.position.id" | translate
                }}</small>
              <h6>{{ data.workflowData.screen_value["__wf__positionid"] }}</h6>
            </div>
          </div>
          <div class="col-8 col-sm-8 col-md-7 col-lg-5 b-r">
            <div class="form-group">
              <small class="text-muted ellipsis-myhr">{{
                "dashboard.position" | translate
                }}</small>
              <h6>
                {{ data.workflowData.screen_value["__wf__positionDesc"] }}
              </h6>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-4 col-sm-4 col-md-4 col-lg-3 b-r">
            <div class="form-group">
              <small class="text-muted ellipsis-myhr">{{
                "systemcode.job.id" | translate
                }}</small>
              <h6>{{ data.workflowData.screen_value["__wf__jobid"] }}</h6>
            </div>
          </div>
          <div class="col-8 col-sm-8 col-md-7 col-lg-5 b-r">
            <div class="form-group">
              <small class="text-muted ellipsis-myhr">{{
                "systemcode.work" | translate
                }}</small>
              <h6>{{ data.workflowData.screen_value["__wf__jobDesc"] }}</h6>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-xs-12 b-r">
            <div class="form-group">
              <small class="text-muted">{{
                "systemcode.work2" | translate
                }}</small>
              <h6>
                {{ data.workflowData.screen_value["__wf__responsibility"] }}
              </h6>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-xs-12 b-r">
            <div class="form-group">
              <small class="text-muted">{{
                "systemcode.work3" | translate
                }}</small>
              <h6>
                {{ data.workflowData.screen_value["__wf__qualification"] }}
              </h6>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-8 col-md-4 col-lg-3 col-8 b-r">
            <div class="form-group">
              <small class="text-muted ellipsis-myhr">{{
                "systemcode.work4" | translate
                }}</small>
              <h6 *ngIf="empType">{{ getEmployeeTypeDesc().getDesc() }}</h6>

              <h6 *ngIf="data.workflowData.screen_value['__wf__emp_type'] == '2'">
                {{ data.workflowData.screen_value["__wf__contact_duration"]== 3 ? ("months.3"| translate):("months.6"|
                translate) }}
              </h6>
            </div>
          </div>
          <div class="col-sm-4 col-md-2 col-lg-2 col-4 b-r">
            <div class="form-group">
              <small class="text-muted ellipsis-myhr">{{ "systemcode.work5" | translate }} :
                {{ "position" | translate }}</small>
              <h6>{{ data.workflowData.screen_value["__wf__emp_num"] }}</h6>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3 col-md-3 col-4 b-r">
            <div class="form-group">
              <small class="text-muted ellipsis-myhr">{{ "Age" | translate }} : {{ "Year" | translate }}</small>
              <h6>{{ data.workflowData.screen_value["__wf__fromage"] }}</h6>
            </div>
          </div>
          <div class="col-sm-3 col-md-3 col-4 b-r">
            <div class="form-group">
              <small class="text-muted ellipsis-myhr">{{ "systemcode.to" | translate }} :
                {{ "Year" | translate }}</small>
              <h6>{{ data.workflowData.screen_value["__wf__toage"] }}</h6>
            </div>
          </div>
          <div class="col-sm-3 col-md-3 col-4 b-r">
            <div class="form-group">
              <small class="text-muted ellipsis-myhr">{{
                "Sex" | translate
                }}</small>
              <h6 *ngIf="data.workflowData.screen_value['__wf__sex'] == 1">
                {{
                data.workflowData.screen_value["__wf__sex"] == 1
                ? ("systemcode.memployee.sex.1" | translate)
                : ""
                }}
              </h6>
              <h6 *ngIf="data.workflowData.screen_value['__wf__sex'] == 2">
                {{
                data.workflowData.screen_value["__wf__sex"] == 2
                ? ("systemcode.memployee.sex.2" | translate)
                : ""
                }}
              </h6>
              <h6 *ngIf="data.workflowData.screen_value['__wf__sex'] == 3">
                {{
                data.workflowData.screen_value["__wf__sex"] == 3
                ? ("systemcode.memployee.sex.3" | translate)
                : ""
                }}
              </h6>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-4 col-sm-4 col-md-4 col-lg-3 b-r">
            <div class="form-group">
              <small class="text-muted ellipsis-myhr">{{
                "transcript ID" | translate
                }}</small>
              <h6>{{ data.workflowData.screen_value["__wf__degreeid"] }}</h6>
            </div>
          </div>
          <div class="col-8 col-sm-8 col-md-7 col-lg-5 b-r">
            <div class="form-group">
              <small class="text-muted ellipsis-myhr">{{
                "systemcode.work6" | translate
                }}</small>
              <h6>{{ data.workflowData.screen_value["__wf__degreedesc"] }}</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- เพิ่มสาขาวิชา -->
  <div class="col-12">
    <div class="card m-0 p-0">
      <div class="card-header bg-myhr">
        <h6 class="card-title">{{ "systemcode.work7" | translate }}</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <div class="wrapper">
            <table class="table table-hover table-striped-myhr table-sm mb-0 no-wrap v-middle">
              <thead class="bg-info">
                <tr class="text-white font-weight-normal">
                  <th class="font-weight-normal text-center" scope="col">
                    {{ "systemcode.major.id" | translate }}
                  </th>
                  <th class="font-weight-normal text-center" scope="col">
                    {{ "systemcode.major.name" | translate }}
                  </th>
                  <th class="font-weight-normal text-center" scope="col">
                    {{ "systemcode.major.ename" | translate }}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of major; let i = index">
                  <td class="align-middle text-center">{{ item.id }}</td>
                  <td class="align-middle text-center">{{ item.tdesc }}</td>
                  <td class="align-middle text-center">{{ item.edesc }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- รายละเอียอื่นๆ -->
  <div class="col-12">
    <div class="card mb-0">
      <div class="card-header bg-myhr">
        <h6 class="card-title">{{ "Other" | translate }}</h6>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12 col-xs-12 b-r">
            <div class="form-group">
              <small class="text-muted">{{
                "systemcode.recruit.1" | translate
                }}</small>
              <h6>{{ data.workflowData.screen_value['__wf__experience'] }}</h6>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-xs-12 b-r">
            <div class="form-group">
              <small class="text-muted">{{
                "systemcode.recruit.2" | translate
                }}</small>
              <h6>{{ data.workflowData.screen_value['__wf__other'] }}</h6>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-8 col-md-4 col-lg-3 col-8 b-r">
            <div class="form-group">
              <small class="text-muted ellipsis-myhr">{{
                "systemcode.recruit.3" | translate
                }}</small>
              <h6 *ngIf="reqType">{{ getSystemCodeReqtypeDesc().getDesc() }}</h6>

            </div>
          </div>
        </div>
        <div class="row">
          <app-workflow-remark [wfid]="data.workflowData.wf_id"></app-workflow-remark>
        </div>
        <div class="row">
          <div class="col-sm-8 col-md-4 col-lg-3 col-8 b-r">
            <small class="text-muted">{{
              "systemcode.recruit.4" | translate
              }}</small>
            <h6 *ngIf="data.workflowData.screen_value['__wf__subrequest'] == '0'">{{"systemcode.recruit.note.1" |
              translate}}</h6>
            <h6 *ngIf="data.workflowData.screen_value['__wf__subrequest'] == '1'">{{"systemcode.recruit.note.2" |
              translate}}</h6>
            <h6 *ngIf="data.workflowData.screen_value['__wf__subrequest'] == '2'">{{"systemcode.recruit.note.3" |
              translate}}</h6>
          </div>
        </div>

        <!-- <div class="table-responsive mt-2 " > -->
        <div class="mt-2">
          <div class="table-responsive">
            <div class="wrapper">
              <table class="table table-hover table-striped-myhr table-sm mb-0 no-wrap v-middle">
                <thead class="bg-info">
                  <tr class="text-white font-weight-normal">
                    <th class="font-weight-normal" scope="col">
                      {{ "Employee ID" | translate }}
                    </th>
                    <th class="font-weight-normal" scope="col">
                      {{ "Name-Surname" | translate }}
                    </th>
                    <th class="font-weight-normal" scope="col">
                      {{ "Position" | translate }}
                    </th>
                    <th class="font-weight-normal" scope="col">
                      {{ "HR Department" | translate }}
                    </th>
                    <th class="font-weight-normal" scope="col">
                      {{ "Department" | translate }}
                    </th>
                    <th class="font-weight-normal" scope="col">
                      {{ "dashboard.bu3" | translate }}
                    </th>
                    <th class="font-weight-normal" scope="col">
                      {{ "reason" | translate }}
                    </th>
                    <th class="font-weight-normal" scope="col">
                      {{ "systemcode.recruit.5" | translate }}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of empSelectList ; let i=index">
                    <td class="align-middle font-12">{{item.employeeId}}</td>
                    <td class="align-middle font-12">{{item.getFullname()}}</td>
                    <td class="align-middle font-12">{{item.position?item.position.getPositionDesc():"-"}}</td>
                    <td class="align-middle font-12">{{item.bu1?item.bu1.getBu1Desc():"-"}}</td>
                    <td class="align-middle font-12">{{item.bu2?item.bu2.getBu2Desc():"-"}}</td>
                    <td class="align-middle font-12">{{item.bu3?item.bu3.getBu3Desc():"-"}}</td>
                    <td class="align-middle font-12">
                      {{data.workflowData.screen_value['__wf__reason'+(i+1)]!="0"?("โอนย้าย" | translate):("ลาออก" |
                      translate)}}</td>
                    <td class="align-middle font-12">{{data.workflowData.screen_value['__wf__adjdate'+(i+1)]}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- หมายเหตุ -->
  <div class="col-12">
    <div class="card mb-0">
      <div class="card-header bg-myhr">
        <h6 class="card-title">{{ "Note" | translate }}</h6>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12 col-xs-12 b-r">
            <small class="text-muted">{{ "Note" | translate }}</small>
            <h6>{{ data.workflowData.remark }}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- เอกสารอ้างอิง -->
  <div class="col-12" *ngIf="workflowData">
    <div class="card mb-0">
      <div class="card-header bg-myhr">
        <h6 class="card-title">{{"Doc Reference" | translate}}</h6>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6 col-xs-12 b-r">
            <div class="form-group">
              <h6 class="cursor-myhr" (click)="openDocReference()">
                {{translate.currentLang=="th"?workflowData.thaiSubject:workflowData.engSubject}}
                [{{workflowData.doc_no}}]
              </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- แนบไฟล์ -->
  <div class="col-12" *ngIf="data.manageDocument.attachFile">
    <div class="card mb-0">
      <div class="card-header bg-myhr">
        <h6 class="card-title">{{ "attach_file" | translate }}</h6>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12 col-xs-12 b-r">
            <small class="text-muted">{{ "selected_file" | translate }}</small>
            <h6>
              <a class="text-dark" style="cursor: hand; cursor: pointer" (click)="dowloadFile()">{{
                data.manageDocument.attachFile[0].name }}</a>
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- History Document Routing -->
  <div class="col-12">
    <div class="card mb-0">
      <div class="card-header bg-myhr">
        <h6 class="card-title">{{ "History Document Routing" | translate }}</h6>
      </div>
      <div class="card-body ps-0 pe-0">
        <div class="table-responsive">
          <div class="wrapper">
            <table class="table table-hover table-striped-myhr table-sm mb-0 no-wrap v-middle">
              <thead class="bg-info">
                <tr class="text-white font-weight-normal">
                  <th class="font-weight-normal text-center" scope="col">
                    {{ "systemcode.no" | translate }}
                  </th>
                  <th class="font-weight-normal text-center" scope="col">
                    {{ "systemcode.emp.name" | translate }}
                  </th>
                  <th class="font-weight-normal text-center" scope="col">
                    {{ "Position" | translate }}
                  </th>
                  <th class="font-weight-normal text-center" scope="col">
                    {{ "systemcode.start.time" | translate }}
                  </th>
                  <th class="font-weight-normal text-center" scope="col">
                    {{ "systemcode.end.time" | translate }}
                  </th>
                  <th class="font-weight-normal text-center" scope="col">
                    {{ "systemcode.status" | translate }}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="
                    let item of data.manageDocument.routingHistory;
                    let i = index
                  ">
                  <td class="align-middle text-center">{{ i + 1 }}</td>
                  <td class="align-middle text-center">
                    {{
                    translate.currentLang == "th"
                    ? item.fullName_tdesc
                    : item.fullName_edesc
                    }}
                  </td>
                  <td class="align-middle text-center">
                    {{
                    translate.currentLang == "th"
                    ? item.position_tdesc
                    : item.position_edesc
                    }}
                  </td>
                  <td class="align-middle text-center">{{ item.startTime }}</td>
                  <td class="align-middle text-center">
                    {{ item.completionTime }}
                  </td>
                  <td class="align-middle text-center">
                    {{ item.action | translate }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Row ปิดใบขออัตรากำลัง -->

<!-- แจ้งเตือน -->
<ng-template #alertModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="editLabel">
      {{ "Alert Message" | translate }}
    </h5>
    <button type="button" class="close" (click)="closeBtnClick()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{ msg }}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info" (click)="modal.dismiss('Cross click')">
      {{ "confirm" | translate }}
    </button>
    <button type="button" class="btn btn-danger" (click)="modal.dismiss('Cross click')">
      {{ "cancel" | translate }}
    </button>
  </div>
</ng-template>


<ng-template #DocReferenceModal let-modal>
  <div class="modal-content dialog-height">
    <div class="modal-header">
      <h5 class="modal-title" id="editLabel">{{"systemcode.documents.detail" | translate}}</h5>
      <button type="button" class="close" (click)="closeBtnClick()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" [perfectScrollbar]="config">
      <div class="card" style="margin-bottom:-15px">
        <div class="card-body">
          <!-- ใส่เอกสารตรงนี้นะจ๊ะ -->
          <ng-template #workflowView [ngComponentOutlet]="dynamicComponent" [ndcDynamicInputs]="inputs"
            [ndcDynamicOutputs]="outputs"></ng-template>
          <!-- <app-wel210-nstda-create></app-wel210-nstda-create> -->
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-info" (click)="modal.dismiss('Cross click')">{{"confirm"|
        translate}}</button>
    </div>
  </div>
</ng-template>
