<div class="modal-header">
    <h5 class="modal-title" id="editLabel">{{"Alert Message" | translate}}</h5>
    <button type="button" class="btn-close" (click)="activeModal.dismiss('dismiss')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<ng-container *ngIf="innerHTML!=undefined then InnerHTML else Message"></ng-container>

<ng-template #Message>
    <div class="modal-body">
        {{message | translate}}
    </div>
</ng-template>

<ng-template #InnerHTML>
    <div class="modal-body" [innerHTML]="innerHTML">
    </div>
</ng-template>
