<!-- ใบขอสลับวันหยุดโดย Center -->
<div class="row">
  <!-- รายละเอียดข้อมูลพนักงาน -->
  <div class="col-12">
    <div class="card mb-0">
      <div class="card-header bg-myhr">
        <h6 class="card-title">{{"Employee Detail" | translate}}</h6>
      </div>
      <div class="card-body" *ngIf="empWork">
        <div class="row">
          <div class="col-md-6 col-xs-12 b-r">
            <small class="text-muted">{{"Employee ID"| translate}}</small>
            <h6>{{empWork.employeeId}}</h6>
          </div>
          <div class="col-md-6 col-xs-12 b-r">
            <small class="text-muted">{{"Name-Surname"| translate}}</small>
            <h6>{{empWork.getFullname()}}</h6>
          </div>
          <div class="col-md-6 col-xs-12 b-r">
            <small class="text-muted">{{"Position"| translate}}</small>
            <h6>{{empWork.position?empWork.position.getPositionDesc():'-'}}</h6>
          </div>
          <div class="col-md-6 col-xs-12 b-r">
            <small class="text-muted">{{"dashboard.bu1"| translate}}</small>
            <h6>{{empWork.bu1?empWork.bu1.getBu1Desc():'-'}}</h6>
          </div>
          <div class="col-md-6 col-xs-12 b-r">
            <small class="text-muted">{{"dashboard.bu2"| translate}}</small>
            <h6>{{empWork.bu2?empWork.bu2.getBu2Desc():'-'}}</h6>
          </div>
          <div class="col-md-6 col-xs-12 b-r">
            <small class="text-muted">{{"dashboard.bu3"| translate}}</small>
            <h6>{{empWork.bu3?empWork.bu3.getBu3Desc():'-'}}</h6>
          </div>
          <div class="col-md-6 col-xs-12 b-r">
            <small class="text-muted">{{"dashboard.bu4"| translate}}</small>
            <h6>{{empWork.bu4?empWork.bu4.getBu4Desc():'-'}}</h6>
          </div>
          <div class="col-md-6 col-xs-12 b-r">
            <small class="text-muted">{{"dashboard.bu5"| translate}}</small>
            <h6>{{empWork.bu5?empWork.bu5.getBu5Desc():'-'}}</h6>
          </div>
          <!-- <div class="col-md-6 col-xs-12 b-r">
            <small class="text-muted">{{"dashboard.bu6"| translate}}</small>
            <h6>{{empWork.bu6?empWork.bu6.getBu6Desc():'-'}}</h6>
          </div>
          <div class="col-md-6 col-xs-12 b-r">
            <small class="text-muted">{{"dashboard.bu7"| translate}}</small>
            <h6>{{empWork.bu7?empWork.bu7.getBu7Desc():'-'}}</h6>
          </div> -->
          <div class="col-md-6 col-xs-12 b-r">
            <small class="text-muted">{{"tel"| translate}}</small>
            <h6>{{empWork.telExt?empWork.telExt:'-'}}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- รายละเอียดการเปลี่ยนวันหยุด -->
  <div class="col-12">
    <div class="card mb-0">
      <div class="card-header bg-myhr">
        <h6 class="card-title">{{"systemcode.detail.holiday" | translate }}</h6>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6 col-xs-12 b-r">
            <div class="form-group">
              <small class="text-muted ellipsis-myhr">{{"systemcode.holiday.noet.1"| translate}}</small>
              <h6>{{data.workflowData.screen_value['__wf__holiday_list']}}</h6>
              <small class="text-danger ellipsis-myhr"> {{"systemcode.holiday.noet.5" |translate}}</small>
            </div>
          </div>

          <div class="col-md-6 col-xs-12 b-r">
            <div class="form-group">
              <small class="text-muted">{{"systemcode.holiday.noet.2"| translate }}</small>
              <h6>{{data.workflowData.screen_value['__wf__change_date1']}}</h6>
            </div>
          </div>

          <div class="col-md-6 col-xs-12 b-r">
            <div class="form-group">
              <small class="text-muted">{{"systemcode.holiday.noet.3"| translate}}</small>
              <h6>{{data.workflowData.screen_value['__wf__remarks']}}</h6>
            </div>
          </div>
          <div class="col-md-6 col-xs-12 b-r">
            <small class="text-muted">{{"Note" | translate}}</small>
            <h6>{{"systemcode.holiday.noet.4" | translate}}</h6>
          </div>
          <app-workflow-remark [wfid]="data.workflowData.wf_id"></app-workflow-remark>
        </div>
      </div>
    </div>
  </div>

<div class="col-12">
  <!-- หมายเหตุ แนบไฟล์ ประวัติเส้นทางเอกสาร ข้อเสนอแนะ -->
  <app-workflow-detail-footer [workflowData]="workflowData" [manageDocument]="manageDocument">
  </app-workflow-detail-footer>
  <!-- ปิด หมายเหตุ แนบไฟล์ ประวัติเส้นทางเอกสาร ข้อเสนอแนะ -->
</div>
<!-- Row ใบขอสลับวันหยุดโดย Center -->



<!-- แจ้งเตือน -->
<ng-template #alertModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="editLabel">{{"Alert Message"|translate}}</h5>
    <button type="button" class="close" (click)="closeBtnClick()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{msg}}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info" (click)="modal.dismiss('Cross click')">{{"confirm"|
      translate}}</button> <button type="button" class="btn btn-danger"
      (click)="modal.dismiss('Cross click')">{{"cancel"| translate}}</button>
  </div>
</ng-template>
<ng-template #DocReferenceModal let-modal>
  <div class="modal-content dialog-height">
    <div class="modal-header">
      <h5 class="modal-title" id="editLabel">{{"systemcode.documents.detail" | translate}}</h5>
      <button type="button" class="close" (click)="closeBtnClick()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" [perfectScrollbar]="config">
      <div class="card" style="margin-bottom:-15px">
        <div class="card-body">
          <!-- ใส่เอกสารตรงนี้นะจ๊ะ -->
          <ng-template #workflowView [ngComponentOutlet]="dynamicComponent" [ndcDynamicInputs]="inputs"
            [ndcDynamicOutputs]="outputs"></ng-template>
          <!-- <app-wel210-nstda-create></app-wel210-nstda-create> -->
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-info" (click)="modal.dismiss('Cross click')">{{"confirm"|
        translate}}</button>
    </div>
  </div>
</ng-template>
