<!-- ใบแก้ไขบันทึกการทำงาน -->
<div class="row">
  <div class="col-12">
      <app-workflow-emp-information [employeeId]="employeeId"></app-workflow-emp-information>
  </div>
  <!-- รายละเอียดการเปลี่ยนกะ -->
  <div class="col-12">
      <div class="card mb-0">
          <div class="card-header bg-myhr">
              <h6 class="card-title">{{"Detail" | translate }}</h6>
          </div>
          <div class="card-body">
            <div class="row">

              <div class="col-12 col-xs-12 b-r">
                <small class="text-muted">{{"systemcode.priority"| translate }}</small>
                <h6>{{(modelData.priorityTransfer == 1?"สมัครใหม่":"transfer.dashboard")| translate}}</h6>
              </div>
              <div class="col-12 col-xs-12 b-r" *ngIf="modelData.priorityTransfer == 2">
                <small class="text-muted">{{"กรณีโอนย้าย (ระบุกองทุนเดิม)"| translate }}</small>
                <h6>{{modelData.oldFund}}</h6>
              </div>

              <div class="col-12">
            <!-- กองทุนใหม่ -->
              <div class="row">
                <div class="col-4 ">
                  <small class="text-muted ellipsis-myhr">{{"Fund"| translate }}</small>
                  <h6>{{modelData.newFund}}</h6>
                </div>
                <div class="col-8">
                  <small class="text-muted ellipsis-myhr">{{"Fund Name"| translate}}</small>
                  <h6>{{fundSelect.getChangeMoneyDesc()}}</h6>
                </div>
              </div>
              </div>

              <div class="col-4 b-r">
                <small class="text-muted">{{"Fund entry date"| translate }}</small>
                <h6>{{modelData.fundEntryDate}}</h6>
              </div>

              <div class="col-4 b-r" *ngIf="modelData.priorityTransfer == 2">
                <small class="text-muted">{{"เงินที่โอนมา"| translate }} : {{"systemcode.bth"| translate}}</small>
                <h6>{{modelData.moneyTransferred}}</h6>
              </div>

              <div class="col-4 b-r">
                <small class="text-muted">{{"provident"| translate}} : %</small>
                <h6>{{modelData.totalSavingsRatio}}</h6>
              </div>
              <div class="col-12">
                <div class="row">

                  <!-- <div class="col-12 b-r">
                    <small class="text-muted">{{"อัตราส่วนเงินสะสมรวม : %"| translate }}</small>
                    <h6>{{modelData.totalSavingsRatio}}</h6>
                  </div> -->

                  <div class="col-6 col-xs-12 b-r">
                    <div class="form-group">
                      <small class="text-muted">{{"เริ่มตั้งแต่ : เดือน"| translate }}</small>
                  <h6>{{modelData.selectMonth}} </h6>
                    </div>
                  </div>

                  <div class="col-md-6 col-xs-12 b-r">
                    <small class="text-muted">{{"Year"| translate }}</small>
                    <h6>{{modelData.selectYear}}</h6>
                  </div>

                  <div class="col-6 col-xs-12 b-r">
                    <small class="text-muted">{{"เงื่อนไขการรับผลประโยชน์"| translate }}</small>
                  <h6>{{getConditionsBenefits(modelData.conditionsBenefits)}}</h6>
                  </div>
                </div>

                <div class="row" *ngIf="modelData.personBenefits1">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-lg-4 col-6">
                        <small class="text-muted">{{"ผู้รับผลประโยชน์คนที่ 1"| translate }}</small>
                        <h6>{{modelData.personBenefits1}}</h6>
                      </div>
                      <div class="col-lg-2 col-2">
                        <small class="text-muted">{{"ความสัมพันธ์"| translate }}</small>
                        <h6>{{modelData.relationship1}}</h6>
                      </div>
                      <div class="col-lg-2 col-2">
                        <small class="text-muted">{{"อัตราส่วนแบ่ง"| translate }}</small>
                        <h6>{{modelData.shareRatio1}} %</h6>
                      </div>
                      <div class="col-12">
                        <small class="text-muted">{{"ที่อยู่"| translate }}</small>
                        <h6>{{modelData.address1}}</h6>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row" *ngIf="modelData.personBenefits2">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-lg-4 col-6">
                        <small class="text-muted">{{"ผู้รับผลประโยชน์คนที่ 2"| translate }}</small>
                        <h6>{{modelData.personBenefits2}}</h6>
                      </div>
                      <div class="col-lg-4 col-3">
                        <small class="text-muted">{{"ความสัมพันธ์"| translate }}</small>
                        <h6>{{modelData.relationship2}}</h6>
                      </div>
                      <div class="col-lg-4 col-3">
                        <small class="text-muted">{{"อัตราส่วนแบ่ง"| translate }}</small>
                        <h6>{{modelData.shareRatio2}} %</h6>
                      </div>
                      <div class="col-12">
                        <small class="text-muted">{{"ที่อยู่"| translate }}</small>
                        <h6>{{modelData.address2}}</h6>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row" *ngIf="modelData.personBenefits3">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-lg-4 col-6">
                        <small class="text-muted">{{"ผู้รับผลประโยชน์คนที่ 3"| translate }}</small>
                        <h6>{{modelData.personBenefits3}}</h6>
                      </div>
                      <div class="col-lg-4 col-3">
                        <small class="text-muted">{{"ความสัมพันธ์"| translate }}</small>
                        <h6>{{modelData.relationship3}}</h6>
                      </div>
                      <div class="col-lg-4 col-3">
                        <small class="text-muted">{{"อัตราส่วนแบ่ง"| translate }}</small>
                        <h6>{{modelData.shareRatio3}} %</h6>
                      </div>
                      <div class="col-12">
                        <small class="text-muted">{{"ที่อยู่"| translate }}</small>
                        <h6>{{modelData.address3}}</h6>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12 b-r">
                    <small class="text-muted">{{"systemcode.priority"| translate }}</small>
                    <h6>{{("changemoney.format."+modelData.importance) | translate}}</h6>
                  </div>
                </div>
              </div>
            </div>
      </div>
  </div>


  <!-- หมายเหตุ แนบไฟล์ ประวัติเส้นทางเอกสาร ข้อเสนอแนะ -->
  <div class="col-12">
      <app-workflow-detail-footer [workflowData]="workflowData" [manageDocument]="manageDocument">
      </app-workflow-detail-footer>
  </div>
  <!-- ปิด หมายเหตุ แนบไฟล์ ประวัติเส้นทางเอกสาร ข้อเสนอแนะ -->
</div>
<!-- Row ปิดใบแก้ไขบันทึกการทำงาน -->
