<div class="row">
    <div class="col-12">
        <app-workflow-sendto (employeeCCId)="employeeCCId=$event" [wfid]="wfid"
        cardName="Application form for off-site work/off-site travel allowance"></app-workflow-sendto>
    </div>
    <div class="col-12">
      <app-workflow-emp-information (changeEmpInformation)="empInformation=$event"></app-workflow-emp-information>
  </div>
</div>
<div class="row">
<div class="col-12">
  <div class="card">
    <div class="card-header bg-myhr">
      <h6 class="card-title">{{"systemcode.welfare.list" | translate}}</h6>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-12">
       <!-- วันที่ -->
              <!-- <div class="row">
                <div class="col-md-4 col-lg-2 col-xs-6 b-r">
                  <div class="form-group">
                    <small class="text-muted">{{"start.date"| translate }}</small>
                    <div class="input-group">
                      <input class="form-control" ngbDatepicker placeholder="{{'dd.mm.yyyy' | translate}}"[(ngModel)]="modelWelfare.startDate"  disabled>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-lg-2 col-xs-6 b-r">
                  <div class="form-group">
                    <small class="text-muted">{{"end.date"| translate }}</small>
                    <div class="input-group">
                      <input class="form-control" ngbDatepicker placeholder="{{'dd.mm.yyyy' | translate}}" [(ngModel)]="modelWelfare.endDate" disabled>
                    </div>
                  </div>
                </div>
                <div class="col-6 col-md-2 col-lg-1  b-r">
                  <div class="form-group">
                    <small class="text-muted ellipsis-myhr">{{"Number of days"| translate }}</small>
                    <input type="text" class="form-control" [(ngModel)]="modelWelfare.days" disabled>
                  </div>
                </div>
                <div class="col-6 col-md-2 col-lg-1  b-r">
                  <div class="form-group">
                    <small class="text-muted ellipsis-myhr">{{"Number of hours"| translate }}</small>
                    <input type="text" class="form-control" [(ngModel)]="modelWelfare.hours" disabled>
                  </div>
                </div>
              </div> -->
        

              <div class="list-group" *ngFor="let item of welfareFormList ; let i = index">
                  <div class="card">
                    <div class="d-flex">
                    <div class="card-header w-100 cursor-myhr d-flex" (click)="toggleSection(item)">
                        <h6 class="card-title">{{'no'| translate}} {{i+1}}</h6>
                        <i class="{{item.isCollapsed?'fas fa-angle-down':'fas fa-angle-up'}} ms-auto mt-auto"></i>
                    </div>
                    <button class="btn btn-danger ms-auto" [disabled]="welfareFormList.length == 1"  (click)="removeList(i)">
                      <i class="fa fa-times"></i>
                    </button>
                    </div>
           
                    <div class="card-body border" [ngbCollapse]="item.isCollapsed">
                        <!-- สถานที่ -->
                    <div class="row">
                      <div class="col-4 col-sm-4 col-md-4 col-lg-3  b-r">
                        <div class="form-group">
                          <small class="text-muted ellipsis-myhr">{{"systemcode.location.id"| translate }}</small>
                          <div class="input-group mb-3">
                            <input type="text" class="form-control " [(ngModel)]="item.locationCode"  (ngModelChange)="findDataWorkArea(i)">
                            <div class="input-group-append">
                              <button class="btn me-0 btn-info" type="button" (click)="openModal(modalLocation,'modalLocation',i)"><i class="fa fa-search"></i></button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-8 col-sm-8 col-md-7 col-lg-4 b-r">
                        <div class="form-group">
                          <small class="text-muted ellipsis-myhr">{{"Location"| translate}}</small>
                          <input type="text" class="form-control" [(ngModel)]="item.location" disabled>
                        </div>
                      </div>
                    </div>
                    <!-- งานที่รับผิดชอบ/งานที่ปฏิบัติ -->
                  <div class="row">
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6  b-r">
                      <div class="form-group">
                        <small class="text-muted ellipsis-myhr">{{"งานที่รับผิดชอบ/งานที่ปฏิบัติ"| translate }}</small>
                        <input type="text" class="form-control" [(ngModel)]="item.workDescription" >
                      </div>
                    </div>
                  </div>
                    <!-- หมายเลขโครงการที่ปฏิบัติ -->
                  <div class="row">
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6  b-r">
                      <div class="form-group">
                        <small class="text-muted ellipsis-myhr">{{"หมายเลขโครงการที่ปฏิบัติ"| translate }}</small>
                        <input type="text" class="form-control" [(ngModel)]="item.projectCode" >
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6 col-lg-3 col-xs-12 b-r">
                      <div class="form-group">
                        <small class="text-muted">{{"systemcode.sentdate"| translate }}</small>
                        <div class="input-group">
                          <input class="form-control " placeholder="{{'dd.mm.yyyy' | translate}}" [(ngModel)]="item.datesent"
                            name="dp1"  ngbDatepicker #d3="ngbDatepicker" #c3="ngModel"
                            (ngModelChange)="ckeckDate('start',i)">
                          <div class="input-group-append">
                            <button class="btn btn-outline-info no-shadow" (click)="d3.toggle();" type="button">
                              <i class="far fa-calendar-alt"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-3 col-xs-12 b-r">
                      <div class="form-group">
                        <small class="text-muted">{{"systemcode.receiptdate"| translate }}</small>
                        <div class="input-group">
                          <input class="form-control " placeholder="{{'dd.mm.yyyy' | translate}}" [(ngModel)]="item.datebill"
                            name="dp1"  ngbDatepicker #d4="ngbDatepicker" #c4="ngModel" [maxDate]="maxDate" 
                            (ngModelChange)="ckeckDate('end',i)">
                          <div class="input-group-append">
                            <button class="btn btn-outline-info no-shadow" (click)="d4.toggle();" type="button">
                              <i class="far fa-calendar-alt"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6  b-r">
                      <div class="form-group">
                        <small class="text-muted ellipsis-myhr">{{"systemcode.bill"| translate}}</small>
                        <input type="text" class="form-control" [(ngModel)]="item.numberbill" >
                      </div>
                    </div>
                  </div>
                  <!-- วันที่ -->
                  <div class="row">
                    <div class="col-md-6 col-lg-3 col-xs-12 b-r">
                      <div class="form-group">
                        <small class="text-muted">{{"start.date"| translate }}</small>
                        <div class="input-group">
                          <input class="form-control " placeholder="{{'dd.mm.yyyy' | translate}}" [(ngModel)]="item.startDate"
                            name="dp1"  ngbDatepicker #d1="ngbDatepicker" #c1="ngModel" [maxDate]="item.endDate"
                            (ngModelChange)="timeChange('start',i);">
                          <div class="input-group-append">
                            <button class="btn btn-outline-info no-shadow" (click)="d1.toggle();" type="button">
                              <i class="far fa-calendar-alt"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-3 col-xs-12 b-r">
                      <div class="form-group">
                        <small class="text-muted">{{"time-start"| translate }}</small>
                        <input type="time" class="form-control " [(ngModel)]="item.startTime" (ngModelChange)="timeChange('start',i)">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 col-lg-3 col-xs-12 b-r">
                      <div class="form-group">
                        <small class="text-muted">{{"end.date"| translate }}</small>
                        <div class="input-group">
                          <input class="form-control " placeholder="{{'dd.mm.yyyy' | translate}}" [(ngModel)]="item.endDate"
                            name="dp2" ngbDatepicker #d2="ngbDatepicker" [minDate]="item.startDate" #c2="ngModel" (ngModelChange)="timeChange('end',i);"> 
                          <div class="input-group-append">
                            <button class="btn btn-outline-info no-shadow" (click)="d2.toggle()" type="button">
                              <i class="far fa-calendar-alt"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-3 col-xs-12 b-r">
                      <div class="form-group">
                        <small class="text-muted">{{"time-end"| translate }}</small>
                        <input type="time" class="form-control " [(ngModel)]="item.endTime" (ngModelChange)="timeChange('end',i)">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6 col-md-2 col-lg-1  b-r">
                      <div class="form-group">
                        <small class="text-muted ellipsis-myhr">{{"Number of days"| translate }}</small>
                        <input type="text" class="form-control" [(ngModel)]="item.days" disabled>
                      </div>
                    </div>
                    <div class="col-6 col-md-2 col-lg-1  b-r">
                      <div class="form-group">
                        <small class="text-muted ellipsis-myhr">{{"Number of hours"| translate }}</small>
                        <input type="text" class="form-control"[(ngModel)]="item.hours" disabled>
                      </div>
                    </div>
                  </div>
                      <div class="row">
                        <div class="col-4 col-sm-4 col-md-4 col-lg-3  b-r">
                          <div class="form-group">
                            <small class="text-muted ellipsis-myhr">{{"systemcode.welId"| translate }}</small>
                            <div class="input-group mb-3">
                              <input type="text" class="form-control "  aria-describedby="basic-addon1" readonly  [(ngModel)]="item.welfareId"  (ngModelChange)="findDataWelfare(i)">
                              <div class="input-group-append">
                                <button class="btn me-0 btn-info" type="button" (click)="openModal(modalWelfare,'modalWelfare',i)"><i
                                    class="fa fa-search"></i></button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-8 col-sm-8 col-md-7 col-lg-4 b-r">
                          <div class="form-group">
                            <small class="text-muted ellipsis-myhr">{{"menu.empview-welfare"| translate}}</small>
                            <input type="text" class="form-control" disabled [(ngModel)]="item.welfareName">
                          </div>
                        </div>
                      </div>
        
                      <div class="row">
                        <div class="col-12">
                          <p>{{"Work off-site (within the country)"| translate}}</p>
                        </div>
                      </div>
        
                      <div class="row">
                        <div class="col-3 col-md-2 col-lg-2  ps-3 d-flex align-items-center">
                          <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="customCheck1{{i}}" [(ngModel)]="item.oil"  (ngModelChange)="clearValue('oil',item.oil,i)">
                            <label class="custom-control-label" for="customCheck1{{i}}">{{"Fuel cost" | translate}}</label>
                        </div>
                        
                        </div>
                        <div class="col-3 col-md-3 col-lg-2" *ngIf="item.oil">
                          <div class="form-group">
                            <small class="text-muted ellipsis-myhr">{{"จำนวนกิโลเมตรที่เดินทาง"| translate}}</small>
                            <input type="text" class="form-control" [disabled]="!item.oil" [(ngModel)]="item.oil_number_km" (ngModelChange)="calOil(i)"
                            oninput="this.value = this.value.replace(/[^\d\.]/g,'').replace(/^\./g,'0.').replace(/(.*)\.(.*\..{0,2}).*/g, '$1$2').replace(/(.*)(\..{0,2}).*/g, '$1$2').replace(/^0+/g,'0').replace(/^0+(\d+)/g,'$1').split('').reverse().join('').replace(/(\d{3})/g,'$1,').split('').reverse().join('').replace(/^,(.*)/g,'$1');"
                              onchange="this.value = this.value.replace(/^(\d{1,2})$/g,'$1.00').replace(/(\d{3})$/g,'$1.00').replace(/(.*\.\d)$/g,'$10').replace(/(.*\.)$/g,'$100') ; this.value = value.replace(/^$/g, '0.00')">
                          </div>
                        </div>
                        <div class="col-3 col-md-3 col-lg-2"  *ngIf="item.oil">
                          <div class="form-group">
                            <small class="text-muted ellipsis-myhr">{{"ราคาน้ำมัน"| translate}}</small>
                            <input type="text" class="form-control" [disabled]="!item.oil" [(ngModel)]="item.oil_prices" (ngModelChange)="calOil(i)"  oninput="this.value = this.value.replace(/[^\d\.]/g,'').replace(/^\./g,'0.').replace(/(.*)\.(.*\..{0,2}).*/g, '$1$2').replace(/(.*)(\..{0,2}).*/g, '$1$2').replace(/^0+/g,'0').replace(/^0+(\d+)/g,'$1').split('').reverse().join('').replace(/(\d{3})/g,'$1,').split('').reverse().join('').replace(/^,(.*)/g,'$1');"
                              onchange="this.value = this.value.replace(/^(\d{1,2})$/g,'$1.00').replace(/(\d{3})$/g,'$1.00').replace(/(.*\.\d)$/g,'$10').replace(/(.*\.)$/g,'$100') ; this.value = value.replace(/^$/g, '0.00')">
                          </div>
                        </div>
                        <div class="col-3 col-md-3 col-lg-2"  *ngIf="item.oil">
                          <div class="form-group">
                            <small class="text-muted ellipsis-myhr">{{"systemcode.request.amount"| translate}}</small>
                            <input type="text" class="form-control" [value]="item.oil_prices_withdraw | number:'1.2-2'" readonly>
                          </div>
                        </div>
                      </div>
        
                      <div class="row">
                        <div class="col-3 col-md-2 col-lg-2  ps-3 d-flex align-items-center">
                          <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="customCheck2{{i}}" [(ngModel)]="item.room" (ngModelChange)="clearValue('room',item.room,i)">
                            <label class="custom-control-label" for="customCheck2{{i}}">{{"Accommodation costs" | translate}}</label>
                        </div>
                        </div>
                        <div class="col-3 col-md-3 col-lg-2"  *ngIf="item.room">
                          <div class="form-group">
                            <small class="text-muted ellipsis-myhr">{{"ราคาที่พัก : รายวัน"| translate}}</small>
                            <input type="text" class="form-control"  [disabled]="!item.room" [(ngModel)]="item.room_prices"  (ngModelChange)="calRoom(i)"  oninput="this.value = this.value.replace(/[^\d\.]/g,'').replace(/^\./g,'0.').replace(/(.*)\.(.*\..{0,2}).*/g, '$1$2').replace(/(.*)(\..{0,2}).*/g, '$1$2').replace(/^0+/g,'0').replace(/^0+(\d+)/g,'$1').split('').reverse().join('').replace(/(\d{3})/g,'$1,').split('').reverse().join('').replace(/^,(.*)/g,'$1');"
                              onchange="this.value = this.value.replace(/^(\d{1,2})$/g,'$1.00').replace(/(\d{3})$/g,'$1.00').replace(/(.*\.\d)$/g,'$10').replace(/(.*\.)$/g,'$100') ; this.value = value.replace(/^$/g, '0.00')">
                          </div>
                        </div>
                        <div class="col-3 col-md-3 col-lg-2" *ngIf="item.room">
                          <div class="form-group">
                            <small class="text-muted ellipsis-myhr">{{"จำนวนวัน"| translate}}</small>
                            <input type="text" class="form-control"  disabled [(ngModel)]="item.room_number_days">
                          </div>
                        </div>
                        <div class="col-3 col-md-3 col-lg-2" *ngIf="item.room">
                          <div class="form-group">
                            <small class="text-muted ellipsis-myhr">{{"systemcode.request.amount"| translate}}</small>
                            <input type="text" class="form-control"[value]="item.room_number_withdraw | number:'1.2-2'" readonly  >
                          </div>
                        </div>
                      </div>
        
                      <div class="row">
                        <div class="col-3 col-md-2 col-lg-2  ps-3 d-flex align-items-center">
                          <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="customCheck3{{i}}" [(ngModel)]="item.expressway_etc" (ngModelChange)="clearValue('expressway',item.expressway_etc,i)">
                            <label class="custom-control-label" for="customCheck3{{i}}">{{"Toll fees, parking, etc."| translate}}</label>
                        </div>
                        </div>
                        <div class="col-3 col-md-3 col-lg-2" *ngIf="item.expressway_etc">
                          <div class="form-group">
                            <small class="text-muted ellipsis-myhr">{{"ยอดที่ต้องการเบิก"| translate}}</small>
                            <input type="text" class="form-control" [disabled]="!item.expressway_etc"[(ngModel)]="item.expressway_etc_cost"  (ngModelChange)="calExpressway(i)"  oninput="this.value = this.value.replace(/[^\d\.]/g,'').replace(/^\./g,'0.').replace(/(.*)\.(.*\..{0,2}).*/g, '$1$2').replace(/(.*)(\..{0,2}).*/g, '$1$2').replace(/^0+/g,'0').replace(/^0+(\d+)/g,'$1').split('').reverse().join('').replace(/(\d{3})/g,'$1,').split('').reverse().join('').replace(/^,(.*)/g,'$1');"
                              onchange="this.value = this.value.replace(/^(\d{1,2})$/g,'$1.00').replace(/(\d{3})$/g,'$1.00').replace(/(.*\.\d)$/g,'$10').replace(/(.*\.)$/g,'$100') ; this.value = value.replace(/^$/g, '0.00')">
                          </div>
                        </div>
                        <div class="col-3 col-md-3 col-lg-2" *ngIf="item.expressway_etc">
                          <div class="form-group">
                            <small class="text-muted ellipsis-myhr">{{"systemcode.request.amount"| translate}}</small>
                            <input type="text" class="form-control" [value]="item.expressway_etc_cost_withdraw | number:'1.2-2'" readonly>
                          </div>
                        </div>
                        <div class="col-3 col-md-4 col-lg-3" *ngIf="item.expressway_etc">
                          <div class="form-group">
                            <small class="text-muted ellipsis-myhr">{{"รายละเอียด อื่นๆ"| translate}}</small>
                            <input type="text" class="form-control" [disabled]="!item.expressway_etc" [(ngModel)]="item.expressway_etc_remark">
                          </div>
                        </div>
                      </div>
                      
                      <div class="row">
                        <div class="col-3 col-md-2 col-lg-2  ps-3 d-flex align-items-center">
                          <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="customCheck4{{i}}" [(ngModel)]="item.reserve_payment" (ngModelChange)="clearValue('payment',item.reserve_payment,i)">
                            <label class="custom-control-label" for="customCheck4{{i}}">{{"Reserve payment"| translate}}</label>
                        </div>
                        </div>
                        <div class="col-3 col-md-3 col-lg-2"  *ngIf="item.reserve_payment">
                          <div class="form-group">
                            <small class="text-muted ellipsis-myhr">{{"ยอดที่ต้องการเบิก"| translate}}</small>
                            <input type="text" class="form-control" [disabled]="!item.reserve_payment" [(ngModel)]="item.reserve_payment_cost" (ngModelChange)="calPayment(i)"
                             oninput="this.value = this.value.replace(/[^\d\.]/g,'').replace(/^\./g,'0.').replace(/(.*)\.(.*\..{0,2}).*/g, '$1$2').replace(/(.*)(\..{0,2}).*/g, '$1$2').replace(/^0+/g,'0').replace(/^0+(\d+)/g,'$1').split('').reverse().join('').replace(/(\d{3})/g,'$1,').split('').reverse().join('').replace(/^,(.*)/g,'$1');"
                              onchange="this.value = this.value.replace(/^(\d{1,2})$/g,'$1.00').replace(/(\d{3})$/g,'$1.00').replace(/(.*\.\d)$/g,'$10').replace(/(.*\.)$/g,'$100') ; this.value = value.replace(/^$/g, '0.00')">
                          </div>
                        </div>
                        <div class="col-3 col-md-3 col-lg-2" *ngIf="item.reserve_payment">
                          <div class="form-group">
                            <small class="text-muted ellipsis-myhr">{{"systemcode.request.amount"| translate}}</small>
                            <input type="text" class="form-control"[value]="item.reserve_payment_cost_withdraw | number:'1.2-2'" readonly >
                          </div>
                        </div>
                      </div>
        
                      <div class="row">
                        <div class="col-3 col-md-2 col-lg-2  ps-3 d-flex align-items-center">
                          <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="customCheck5{{i}}" [(ngModel)]="item.currency" (ngModelChange)="clearValue('currency',item.currency,i)" >
                            <label class="custom-control-label" for="customCheck5{{i}}">{{"foreign exchange rate" | translate}}</label>
                        </div>
                        </div>
                        <div class="col-3 col-md-3 col-lg-2" *ngIf="item.currency">
                          <div class="form-group">
                            <small class="text-muted ellipsis-myhr">{{"Foreign currency"| translate}}</small>
                            <input type="text" class="form-control"  [disabled]="!item.currency"[(ngModel)]="item.currency_bath" (ngModelChange)="calCurrency(i)"    oninput="this.value = this.value.replace(/[^\d\.]/g,'').replace(/^\./g,'0.').replace(/(.*)\.(.*\..{0,2}).*/g, '$1$2').replace(/(.*)(\..{0,2}).*/g, '$1$2').replace(/^0+/g,'0').replace(/^0+(\d+)/g,'$1').split('').reverse().join('').replace(/(\d{3})/g,'$1,').split('').reverse().join('').replace(/^,(.*)/g,'$1');"
                              onchange="this.value = this.value.replace(/^(\d{1,2})$/g,'$1.00').replace(/(\d{3})$/g,'$1.00').replace(/(.*\.\d)$/g,'$10').replace(/(.*\.)$/g,'$100') ; this.value = value.replace(/^$/g, '0.00')">
                          </div>
                        </div>
                        <div class="col-3 col-md-3 col-lg-2"  *ngIf="item.currency">
                          <div class="form-group">
                            <small class="text-muted ellipsis-myhr">{{"Rate.2"| translate }}</small>
                            <div class="input-group mb-3">
                              <input type="text" class="form-control "  readonly  [(ngModel)]="item.currency_rateId" (ngModelChange)="calCurrency(i)"
                                aria-describedby="basic-addon1">
                              <div class="input-group-append">
                                <button class="btn me-0 btn-info" type="button"   [disabled]="!item.currency" (click)="openModal(modalCurrency,'modalCurrency',i)"><i
                                    class="fa fa-search"></i></button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-3 col-md-3 col-lg-2"  *ngIf="item.currency">
                          <div class="form-group">
                              <small class="text-muted">{{"systemcode.request.amount"| translate }}</small>
                              <input type="text" class="form-control"  [value]="item.currency_cost | number:'1.2-2'" readonly   oninput="this.value = this.value.replace(/[^\d\.]/g,'').replace(/^\./g,'0.').replace(/(.*)\.(.*\..{0,2}).*/g, '$1$2').replace(/(.*)(\..{0,2}).*/g, '$1$2').replace(/^0+/g,'0').replace(/^0+(\d+)/g,'$1').split('').reverse().join('').replace(/(\d{3})/g,'$1,').split('').reverse().join('').replace(/^,(.*)/g,'$1');"
                              onchange="this.value = this.value.replace(/^(\d{1,2})$/g,'$1.00').replace(/(\d{3})$/g,'$1.00').replace(/(.*\.\d)$/g,'$10').replace(/(.*\.)$/g,'$100') ; this.value = value.replace(/^$/g, '0.00')">
                          </div>
                        </div>
                      </div>
      
                      <div class="row">
                        <div class="col-4 col-md-3 col-lg-2">
                          <div class="form-group">
                            <small class="text-muted ellipsis-myhr">{{"systemcode.request.amount"| translate }}</small>
                            <input type="text" class="form-control" [(ngModel)]="item.reqcost"   (blur)="calTotalIndex(i)"  oninput="this.value = this.value.replace(/[^\d\.]/g,'').replace(/^\./g,'0.').replace(/(.*)\.(.*\..{0,2}).*/g, '$1$2').replace(/(.*)(\..{0,2}).*/g, '$1$2').replace(/^0+/g,'0').replace(/^0+(\d+)/g,'$1').split('').reverse().join('').replace(/(\d{3})/g,'$1,').split('').reverse().join('').replace(/^,(.*)/g,'$1');"
                              onchange="this.value = this.value.replace(/^(\d{1,2})$/g,'$1.00').replace(/(\d{3})$/g,'$1.00').replace(/(.*\.\d)$/g,'$10').replace(/(.*\.)$/g,'$100') ; this.value = value.replace(/^$/g, '0.00')">
                          </div>
                        </div>
                        <div class="col-4 col-md-3 col-lg-2">
                          <div class="form-group">
                            <small class="text-muted ellipsis-myhr">{{"systemcode.reqCost"| translate }}</small>
                            <input type="text" class="form-control" readonly [value]="item.cost| number:'1.2-2'" >
                          </div>
                        </div>
                        <div class="col-4 col-md-3 col-lg-2">
                          <div class="form-group">
                            <small class="text-muted ellipsis-myhr">{{"Balance"| translate }}</small>
                            <input type="text" class="form-control"[value]="item.cost_total > 1000000 ? 'ไม่จำกัดวงเงิน' : (item.cost_total | number:'1.2-2')" readonly>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12">
                          <app-workflow-attach-file-multi [nameFile]="item.nameFile"  [timestampFile]="timestampFile"
                              (changeTimestampFile)="timestampFile=$event" (changeNameFile)="item.nameFileUpload=$event"></app-workflow-attach-file-multi>
                        </div>
                      </div>

                    </div>
                  </div>

              </div>
          

              <div class="row">
                <div class="col-12">
                  <div class="d-flex no-block align-items-center justify-content-center  mt-3 mb-1">
                    <div class="action-form">
                      <div class="form-group m-b-0 text-center">
                        <button type="submit" class="btn-w-100 btn btn-info waves-effect waves-light  me-3" [disabled]="welfareFormList.length >= 5" (click)="addList()">{{"systemcode.add" | translate}}</button>
                        <button type="submit" class="btn btn-success waves-effect waves-light " (click)="calWelfare()">
                          <i class=" fas fa-calculator"></i> {{"Calculate" |translate}}
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

        </div>
        
      </div>
    </div>
  </div>
</div>
    <!-- หมายเหตุ -->
    <div class="col-12">
      <div class="card mb-0">
          <div class="card-header bg-myhr">
              <h6 class="card-title">
                  {{"systemcode.note" | translate}}
              </h6>
          </div>
          <div class="card-body">
              <div class="row">
                  <div class="col-md-12 col-xs-12 b-r">
                      <div class="form-group">
                          <small class="text-muted">
                              {{"systemcode.note"| translate}}
                          </small>
                          <textarea class="form-control" rows="2" style="resize: none;" [(ngModel)]="remark"
                              placeholder='{{"systemcode.note"| translate}}'></textarea>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
<div class="col-12">
  <app-workflow-attach-file-multi [nameFile]="nameFile" [timestampFile]="timestampFile" 
      (changeTimestampFile)="timestampFile=$event" (changeNameFile)="nameFileUpload=$event"></app-workflow-attach-file-multi>
</div>
<!-- ปิดแนบไฟล์ -->
<!-- ยืนยัน -->
<div class="card-body ">
  <div class="d-flex no-block align-items-center justify-content-center">
      <div class="action-form">
          <div class="form-group m-b-0 text-center">
              <button type="submit"
                  class="btn btn-success waves-effect waves-light" (click)="onSubmit()" [disabled]="checkCal"><i
                      class=" fas fa-check"></i>
                  {{"Submit" | translate}}</button>
          </div>
      </div>
  </div>
</div>
</div>



<!-- สวัสดิการ -->
<ng-template #modalWelfare let-modal>
  <div class="modal-content dialog-height">
    <div class="modal-body" [perfectScrollbar]="config">
      <div class="card" style="margin-bottom:-15px">
        <div class="card-header bg-myhr">
          <h4>{{"menu.empview-welfare" | translate}}</h4>
        </div>
        <div class="card-body pt-0 pt-2">
          <div class="d-flex mb-1">
            <input type="text" placeholder="{{'menu.empview-welfare' | translate}}" class="form-control w-25"
              [(ngModel)]="searchWelfare">
          </div>
          <div class="table-responsive">
            <table class="table  table-hover table-striped-myhr table-sm  mb-0 no-wrap v-middle ">
              <thead class="bg-info ">
                <tr class="text-white font-weight-normal">
                  <th class="font-weight-normal text-center" scope="col">{{"systemcode.welId"| translate}}</th>
                  <th class="font-weight-normal text-center" scope="col">{{"th-detail"| translate}}</th>
                  <th class="font-weight-normal text-center" scope="col">{{"en-detail"| translate}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="filterWelfareLists().length==0">
                  <td colspan="4" class="font-weight-normal text-center">{{"No Data Found" | translate}}</td>
                </tr>
                <tr class="cursor-myhr" *ngFor="let item of filterWelfareLists() |slice: (pageModal-1) * pageSizeModal : (pageModal-1) * pageSizeModal + pageSizeModal; let i=index"
                 (click)="selectWelfare(item);modal.dismiss('Cross click')">
                  <td class="align-middle text-center">{{item.welId}}</td>
                  <td class="align-middle text-center">{{item.tdesc}}</td>
                  <td class="align-middle text-center">{{item.edesc}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="d-flex justify-content-end p-2">
            <select class="form-select m-r-5" style="width: auto" [(ngModel)]="pageSizeModal"
              (ngModelChange)="pageModal=1">
              <option [ngValue]="10">{{"Items per page" | translate}}: 10</option>
              <option [ngValue]="50">{{"Items per page" | translate}}: 50</option>
              <option [ngValue]="100">{{"Items per page" | translate}}: 100</option>
            </select>
            <ngb-pagination [collectionSize]="filterWelfareLists().length" [(page)]="pageModal" [pageSize]="pageSizeModal"
              [maxSize]="3" [rotate]="true">
              <ng-template ngbPaginationPrevious>{{"Prev" | translate}}</ng-template>
              <ng-template ngbPaginationNext>{{"Next" | translate}}</ng-template>
            </ngb-pagination>
          </div>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="modal.dismiss('Cross click')">{{"Close"|
        translate}}</button>
    </div>
  </div>
</ng-template>


<!-- สถานที่ใช้บริการ -->
<ng-template #modalLocation let-modal>
  <div class="modal-content dialog-height">
    <div class="modal-body" [perfectScrollbar]="config">
      <div class="card" style="margin-bottom:-15px">
        <div class="card-header bg-myhr">
          <h4>{{"systemcode.sitewel" | translate}}</h4>
        </div>
        <div class="card-body pt-0 pt-2">
          <div class="d-flex mb-1">
            <input type="text" placeholder="{{'systemcode.location' | translate}}" class="form-control w-25"
              [(ngModel)]="searchWorkArea" >
          </div>
          <div class="table-responsive">
            <table class="table  table-hover table-striped-myhr table-sm  mb-0 no-wrap v-middle ">
              <thead class="bg-info ">
                <tr class="text-white font-weight-normal">
                  <th class="font-weight-normal text-center" scope="col">{{"systemcode.location.id"| translate}}</th>
                  <th class="font-weight-normal text-center" scope="col">{{"th-detail"| translate}}</th>
                  <th class="font-weight-normal text-center" scope="col">{{"en-detail"| translate}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="filterWorkArea().length==0">
                  <td colspan="4" class="font-weight-normal text-center">{{"No Data Found" | translate}}</td>
                </tr>
                <tr class="cursor-myhr" *ngFor="let item of filterWorkArea() |slice: (pageModal-1) * pageSizeModal : (pageModal-1) * pageSizeModal + pageSizeModal; let i=index" (click)="selectWorkArea(item);modal.dismiss('Cross click')">
                  <td class="align-middle text-center">{{item.workareaId}}</td>
                  <td class="align-middle text-center">{{item.tdesc}}</td>
                  <td class="align-middle text-center">{{item.edesc}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="d-flex justify-content-end p-2">
            <select class="form-select m-r-5" style="width: auto" [(ngModel)]="pageSizeModal"
              (ngModelChange)="pageModal=1">
              <option [ngValue]="10">{{"Items per page" | translate}}: 10</option>
              <option [ngValue]="50">{{"Items per page" | translate}}: 50</option>
              <option [ngValue]="100">{{"Items per page" | translate}}: 100</option>
            </select>
            <ngb-pagination [collectionSize]="filterWorkArea().length" [(page)]="pageModal" [pageSize]="pageSizeModal"
              [maxSize]="3" [rotate]="true">
              <ng-template ngbPaginationPrevious>{{"Prev" | translate}}</ng-template>
              <ng-template ngbPaginationNext>{{"Next" | translate}}</ng-template>
            </ngb-pagination>
          </div>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="modal.dismiss('Cross click')">{{"Close"|
        translate}}</button>
    </div>
  </div>
</ng-template>

<!-- สกุลเงิน -->
<ng-template #modalCurrency let-modal>
  <div class="modal-content dialog-height">
    <div class="modal-body" [perfectScrollbar]="config">
      <div class="card" style="margin-bottom:-15px">
        <div class="card-header bg-myhr">
          <h4>{{"Exchange Rate" | translate}}</h4>
        </div>
        <div class="card-body pt-0 pt-2">
          <div class="d-flex mb-1">
            <input type="text" placeholder="{{'Exchange Rate Id' | translate}}" class="form-control w-25"
              [(ngModel)]="searchCurrency" >
          </div>
          <div class="table-responsive">
            <table class="table  table-hover table-striped-myhr table-sm  mb-0 no-wrap v-middle ">
              <thead class="bg-info ">
                <tr class="text-white font-weight-normal">
                  <th class="font-weight-normal text-center" scope="col">{{"Exchange Rate Id"| translate}}</th>
                  <th class="font-weight-normal text-center" scope="col">{{"Currency TH"| translate}}</th>
                  <th class="font-weight-normal text-center" scope="col">{{"Currency ENG"| translate}}</th>
                  <th class="font-weight-normal text-center" scope="col">{{"Exchange Rate"| translate}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="filterCurrencyList().length==0">
                  <td colspan="4" class="font-weight-normal text-center">{{"No Data Found" | translate}}</td>
                </tr>
                <tr class="cursor-myhr" *ngFor="let item of filterCurrencyList() |slice: (pageModal-1) * pageSizeModal : (pageModal-1) * pageSizeModal + pageSizeModal; let i=index" (click)="selectCurrency(item);modal.dismiss('Cross click')">
                  <td class="align-middle text-center">{{item.currencyId}}</td>
                  <td class="align-middle text-center">{{item.tdesc}}</td>
                  <td class="align-middle text-center">{{item.edesc}}</td>
                  <td class="align-middle text-center">{{item.exchange}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="d-flex justify-content-end p-2">
            <select class="form-select m-r-5" style="width: auto" [(ngModel)]="pageSizeModal"
              (ngModelChange)="pageModal=1">
              <option [ngValue]="10">{{"Items per page" | translate}}: 10</option>
              <option [ngValue]="50">{{"Items per page" | translate}}: 50</option>
              <option [ngValue]="100">{{"Items per page" | translate}}: 100</option>
            </select>
            <ngb-pagination [collectionSize]="filterCurrencyList().length" [(page)]="pageModal" [pageSize]="pageSizeModal"
              [maxSize]="3" [rotate]="true">
              <ng-template ngbPaginationPrevious>{{"Prev" | translate}}</ng-template>
              <ng-template ngbPaginationNext>{{"Next" | translate}}</ng-template>
            </ngb-pagination>
          </div>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="modal.dismiss('Cross click')">{{"Close"|
        translate}}</button>
    </div>
  </div>
</ng-template>
<!-- แจ้งเตือน -->
<ng-template #alertModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="editLabel">{{'Alert Message' | translate}}</h5>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" >
    <div class="row">
      <div class="col-12" *ngIf="msg.success.length > 0">
        <ul class="list-group">
          <li class="list-group-item list-group-item-success font-bold">{{'Welfare Can request.' | translate}}</li>
            <li class="list-group-item" *ngFor="let item of msg.success" [innerHTML]="item">
            </li>
        </ul>
      </div>
      <hr >
      <div class="col-12" *ngIf="msg.fail.length > 0">
        <ul class="list-group">
            <li class="list-group-item list-group-item-danger font-bold">{{"Welfare Can't request" | translate}}</li>
            <li class="list-group-item" *ngFor="let item of msg.fail" [innerHTML]="item">
            </li>
        </ul>
      </div>

    </div>
 
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.dismiss('Cross click')">{{"Close"|
      translate}}</button>
  </div>
</ng-template>
