<!-- แบบฟอร์มการเบิกค่ารักษาพยาบาลและเงินช่วยเหลือสวัสดิการ -->
<div class="row">
  <!-- ส่งถึง -->
  <div class="col-12">
    <app-workflow-sendto (employeeCCId)="employeeCCId=$event" [wfid]="wfid"
      cardName="Welfare Requisition Form"></app-workflow-sendto>
  </div>
  <!-- รายละเอียดข้อมูลพนักงาน -->
  <div class="col-12">
    <div class="card mb-0">
      <div class="card-header bg-myhr">
        <h6 class="card-title">{{"Employee Detail" | translate}}</h6>
      </div>
      <div class="card-body" *ngIf="emp">
        <div class="row">
          <div class="col-md-6 col-xs-12 b-r">
            <small class="text-muted">{{"Employee ID" | translate}}</small>
            <h6>{{emp.employeeId}}</h6>
          </div>
          <div class="col-md-6 col-xs-12 b-r">
            <small class="text-muted">{{"Name-Surname" | translate}}</small>
            <h6>{{emp.getFullname()}}</h6>
          </div>
          <div class="col-md-6 col-xs-12 b-r">
            <small class="text-muted">{{"Position" | translate}}</small>
            <h6>{{emp.position.getPositionDesc()?emp.position.getPositionDesc():'-'}}</h6>
          </div>
          <div class="col-md-6 col-xs-12 b-r">
            <small class="text-muted">{{"dashboard.bu1" | translate}}</small>
            <h6>{{emp.bu1.getBu1Desc()?emp.bu1.getBu1Desc():'-'}}</h6>
          </div>
          <div class="col-md-6 col-xs-12 b-r">
            <small class="text-muted">{{"dashboard.bu2" | translate}}</small>
            <h6>{{emp.bu2.getBu2Desc()?emp.bu2.getBu2Desc():'-'}}</h6>
          </div>
          <div class="col-md-6 col-xs-12 b-r">
            <small class="text-muted">{{"dashboard.bu3" | translate}}</small>
            <h6>{{emp.bu3.getBu3Desc()?emp.bu3.getBu3Desc():'-'}}</h6>
          </div>
          <div class="col-md-6 col-xs-12 b-r">
            <small class="text-muted">{{"dashboard.bu4" | translate}}</small>
            <h6>{{emp.bu4.getBu4Desc()?emp.bu4.getBu4Desc():'-'}}</h6>
          </div>
          <div class="col-md-6 col-xs-12 b-r">
            <small class="text-muted">{{"dashboard.bu5" | translate}}</small>
            <h6>{{emp.bu5.getBu5Desc()?emp.bu5.getBu5Desc():'-'}}</h6>
          </div>
          <div class="col-md-6 col-xs-12 b-r">
            <small class="text-muted">{{"tel" | translate}}</small>
            <h6>{{emp.telExt?emp.telExt:'-'}}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- รายการสวัสดิการ -->
  <div class="col-12">
    <div class="card mb-0">
      <div class="card-header bg-myhr">
        <h6 class="card-title">{{"systemcode.welfare.list" | translate}}</h6>
      </div>
      <div class="card-body">
        <!-- หมวดสวัสดิการ -->
        <!-- <div class="row">
          <div class="col-4 col-sm-4 col-md-4 col-lg-3  b-r">
            <div class="form-group">
              <small class="text-muted ellipsis-myhr">{{"systemcode.welcategory"| translate }}</small>
              <div class="input-group mb-3">
                <input type="text" class="form-control " readonly [(ngModel)]="selectWelfareGroup.welgId"
                  (ngModelChange)="findWelfareGroupList();" 
                  aria-describedby="basic-addon1">
                <div class="input-group-append">
                  <button class="btn me-0 btn-info" type="button" (click)="openModal(modalWelfareGroup,'modalWelfareGroup')"><i
                      class="fa fa-search"></i></button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-8 col-sm-8 col-md-7 col-lg-5 b-r">
            <div class="form-group">
              <small class="text-muted ellipsis-myhr">{{"menu.empview-welfare"| translate}}</small>
              <input type="text" class="form-control"
                value="{{translateService.currentLang=='th'?selectWelfareGroup.tdesc:selectWelfareGroup.edesc}}" disabled>
            </div>
          </div>
        </div> -->
        <!-- สวัสดิการ -->
        <div class="row">
          <div class="col-4 col-sm-4 col-md-4 col-lg-3  b-r">
            <div class="form-group">
              <small class="text-muted ellipsis-myhr">{{"systemcode.welId"| translate }}</small>
              <div class="input-group mb-3">
                <input type="text" class="form-control " readonly  [(ngModel)]="__wf__mcomplain$welid$01"
                  (ngModelChange)="change__wf__mcomplain$welid$01();resultstatus=false" aria-label=""
                  aria-describedby="basic-addon1">
                <div class="input-group-append">
                  <button class="btn me-0 btn-info" type="button" (click)="openModal(modalWelfare,'modalWelfare')"><i
                      class="fa fa-search"></i></button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-8 col-sm-8 col-md-7 col-lg-5 b-r">
            <div class="form-group">
              <small class="text-muted ellipsis-myhr">{{"menu.empview-welfare"| translate}}</small>
              <input type="text" class="form-control"
                value="{{translateService.currentLang=='th'?__wf__weldesc01.tdesc:__wf__weldesc01.edesc}}" disabled>
            </div>
          </div>
        </div>
        <!-- ครอบครัว -->
        <div class="row" *ngIf="checkFamilyLists == true">
          <div class="col-4 col-sm-4 col-md-4 col-lg-3  b-r">
            <div class="form-group">
              <small class="text-muted ellipsis-myhr">{{"systemcode.family.data.id"| translate }}</small>
              <div class="input-group mb-3">
                <input type="text" class="form-control " [(ngModel)]="__wf__mcomplain$line_no$01"
                  (ngModelChange)="change__wf__mcomplain$line_no$01()" aria-label="" aria-describedby="basic-addon1">
                <div class="input-group-append">
                  <button class="btn me-0 btn-info" type="button" (click)="openModal(modalFamily,'modalFamily')"><i
                      class="fa fa-search"></i></button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-8 col-sm-8 col-md-7 col-lg-5 b-r">
            <div class="form-group">
              <small class="text-muted ellipsis-myhr">{{"systemcode.family.data"| translate}}</small>
              <input type="text" class="form-control"
                value="{{translateService.currentLang=='th'?__wf__familydesc01.tdesc:__wf__familydesc01.edesc}}"
                disabled>
            </div>
          </div>
        </div>
        <!-- สถานที่ใช้สวัสดิการ -->
        <div class="row">
          <div class="col-4 col-sm-4 col-md-4 col-lg-3  b-r">
            <div class="form-group">
              <small class="text-muted ellipsis-myhr">{{"systemcode.sitewel.id"| translate }}</small>
              <div class="input-group mb-3">
                <input type="text" class="form-control " [(ngModel)]="__wf__mcomplain$sitewelid$01"
                  (ngModelChange)="change__wf__mcomplain$sitewelid$01()" aria-label="" aria-describedby="basic-addon1">
                <div class="input-group-append">
                  <button class="btn me-0 btn-info" type="button" (click)="openModal(modalLocation,'modalLocation')"><i
                      class="fa fa-search"></i></button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-8 col-sm-8 col-md-7 col-lg-5 b-r">
            <div class="form-group">
              <small class="text-muted ellipsis-myhr">{{"systemcode.sitewel"| translate}}</small>
              <input type="text" class="form-control"
                value="{{translateService.currentLang=='th'?__wf__siteweldesc01.tdesc:__wf__siteweldesc01.edesc}}"
                disabled>
            </div>
          </div>
        </div>

        <!-- ชื่อโรงพยาบาล -->
        <div class="row">
          <div class="col-12 col-sm-6 col-md-6 col-lg-6  b-r">
            <div class="form-group">
              <small class="text-muted ellipsis-myhr">{{"systemcode.hospital"| translate }}</small>
              <input type="text" class="form-control" [(ngModel)]="__wf__mcomplain$hopital$01">
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-sm-4 col-md-3 col-6 b-r">
            <div class="form-group">
              <small class="text-muted ellipsis-myhr">{{"systemcode.sentdate"| translate }}</small>
              <div class="input-group">
                <input class="form-control col-md-6 col-sm-6 col-lg-6" placeholder="{{'dd.mm.yyyy' | translate}}"
                  name="dp1" [(ngModel)]="__wf__mcomplain$datesent$01" ngbDatepicker #d1="ngbDatepicker"
                  [minDate]="__wf__mcomplain$datebill$01" #c1="ngModel"
                  (change)="__wf__mcomplain$datesent$01 = datepickerService.validateFormatDate(c1)">
                <div class="input-group-append">
                  <button class="btn btn-outline-info no-shadow" (click)="d1.toggle()" type="button">
                    <i class="far fa-calendar-alt"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-md-3 col-6 b-r">
            <div class="form-group">
              <small class="text-muted ellipsis-myhr">{{"systemcode.receiptdate"| translate }}</small>
              <div class="input-group">
                <input class="form-control col-md-6 col-sm-6 col-lg-6" placeholder="{{'dd.mm.yyyy' | translate}}"
                  name="dp2" [(ngModel)]="__wf__mcomplain$datebill$01" ngbDatepicker #d2="ngbDatepicker"
                  (ngModelChange)="checkDate()" [maxDate]="maxDate" #c2="ngModel"
                  (change)="__wf__mcomplain$datebill$01 = datepickerService.validateFormatDate(c2)">
                <div class="input-group-append">
                  <button class="btn btn-outline-info no-shadow" (click)="d2.toggle()" type="button">
                    <i class="far fa-calendar-alt"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-sm-3 col-md-3 col-6 b-r">
            <div class="form-group">
              <small class="text-muted ellipsis-myhr">{{"systemcode.bill"| translate}}</small>
              <input type="text" class="form-control" [(ngModel)]="__wf__mcomplain$numberbill$01">
            </div>
          </div>
          <div class="col-sm-3 col-md-3 col-6 b-r">
            <div class="form-group">
              <small class="text-muted ellipsis-myhr">{{"systemcode.ref"| translate}}</small><br>
              <button type="submit" class="btn btn-info waves-effect waves-light "
                [disabled]="!__wf__mcomplain$welid$01" (click)="openModal(modalRef,'modalRef')">{{"systemcode.view" |
                translate}}</button>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3 col-md-3 col-6 b-r">
            <div class="form-group">
              <small class="text-muted ellipsis-myhr">{{"systemcode.request.amount"| translate}} : {{"systemcode.bth"
                |translate}}</small>
              <input type="text" class="form-control"
                oninput="this.value = this.value.replace(/[^\d\.]/g,'').replace(/^\./g,'0.').replace(/(.*)\.(.*\..{0,2}).*/g, '$1$2').replace(/(.*)(\..{0,2}).*/g, '$1$2').replace(/^0+/g,'0').replace(/^0+(\d+)/g,'$1').split('').reverse().join('').replace(/(\d{3})/g,'$1,').split('').reverse().join('').replace(/^,(.*)/g,'$1');"
                onchange="this.value = this.value.replace(/^(\d{1,2})$/g,'$1.00').replace(/(\d{3})$/g,'$1.00').replace(/(.*\.\d)$/g,'$10').replace(/(.*\.)$/g,'$100') ; this.value = value.replace(/^$/g, '0.00')"
                [(ngModel)]="__wf__mcomplain$amountmoney$01">
            </div>
          </div>
          <div class="col-sm-3 col-md-3 col-6 b-r">
            <div class="form-group">
              <small class="text-muted ellipsis-myhr">{{"systemcode.reqCost"| translate}} : {{"systemcode.bth"
                |translate}}</small>
              <input readonly type="text" oninput="this.value = this.value.replace(/[^\d\.]/g,'').replace(/^\./g,'0.').replace(/(.*)\.(.*\..{0,2}).*/g, '$1$2').replace(/(.*)(\..{0,2}).*/g, '$1$2').replace(/^0+/g,'0').replace(/^0+(\d+)/g,'$1').split('').reverse().join('').replace(/(\d{3})/g,'$1,').split('').reverse().join('').replace(/^,(.*)/g,'$1');
                this.value = this.value.replace(/^(\d{1,2})$/g,'$1.00').replace(/(\d{3})$/g,'$1.00').replace(/(.*\.\d)$/g,'$10').replace(/(.*\.)$/g,'$100') ; 
                this.value = value.replace(/^$/g, '0.00')" class="form-control"
                value="{{__wf__mcomplain$amountrealmoney$01}}">
            </div>
          </div>
          <div class="col-sm-3 col-md-3 col-6 b-r">
            <div class="form-group">
              <small class="text-muted ellipsis-myhr">{{"Balance"| translate}} : {{"systemcode.bth"
                |translate}}</small>
              <input readonly type="text" class="form-control" [value]="cost > 1000000 ? 'ไม่จำกัดวงเงิน' : (cost | number:'1.2-2')" readonly>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-md-12 col-xs-12 b-r">
            <div class="d-flex no-block align-items-center mb-1">
              <div class="action-form">
                <div class="form-group m-b-0 text-center">
                  <button type="submit" class="btn btn-success waves-effect waves-light me-3"
                    [disabled]="!__wf__weldesc01.tdesc&&!__wf__weldesc01.edesc||!__wf__mcomplain$amountmoney$01||__wf__mcomplain$amountmoney$01=='0.00'||__wf__mcomplain$amountmoney$01=='0'||__wf__mcomplain$amountmoney$01=='0.0'||__wf__mcomplain$amountmoney$01=='0.'"
                    (click)="calWelfare()">
                    <i class=" fas fa-calculator"></i> {{"systemcode.calculate" |translate}}
                  </button>
                  <button type="submit" class="btn btn-info waves-effect waves-light "
                    [disabled]="!__wf__mcomplain$welid$01" (click)="viewWelfare()"><i class="fa fa-search"></i>
                    {{"systemcode.view" | translate}}</button>
                </div>
                <small class="text-danger"
                  *ngIf="!resultstatus&&!(!__wf__weldesc01.tdesc&&!__wf__weldesc01.edesc||!__wf__mcomplain$amountmoney$01)">
                  {{translateService.currentLang=='th'?calculateWord.th:calculateWord.en}}</small>
              </div>
            </div>
          </div>
        </div>

        <small class="text-muted">{{"systemcode.priority"| translate}}</small>
        <div class="form-group row">
          <div class="col-12">
            <div class="custom-control custom-radio custom-control-inline m-t-5">
              <input type="radio" class="custom-control-input" id="priority1" name="radio-stacked"
                (click)="priority='1'" [checked]="priority=='1'">
              <label class="custom-control-label" for="priority1">{{"changemoney.format.1" | translate }}</label>
            </div>

            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" class="custom-control-input" id="priority2" name="radio-stacked"
                (click)="priority='2'" [checked]="priority=='2'">
              <label class="custom-control-label" for="priority2">{{"changemoney.format.2" | translate}}</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" class="custom-control-input" id="priority3" name="radio-stacked"
                (click)="priority='3'" [checked]="priority=='3'">
              <label class="custom-control-label" for="priority3">{{"changemoney.format.3" | translate}}</label>
            </div>
          </div>
        </div>
        <div class="row">
          <app-workflow-remark [wfid]="wfid"></app-workflow-remark>
        </div>


      </div>
    </div>
  </div>


  <!-- ข้อมูลการเบิก -->
  <div class="col-12" *ngIf="welfareView">
    <div class="card m-0 p-0">
      <div class="card-header bg-myhr">
        <h6 class="card-title">{{"systemcode.requisition" | translate}}</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <div class="wrapper">
            <table class="table  table-hover table-striped-myhr table-sm  mb-0 no-wrap v-middle ">
              <thead class="bg-info ">
                <tr class="text-white font-weight-normal">
                  <th class="font-weight-normal text-center" scope="col">{{"systemcode.caseId" | translate}}</th>
                  <th class="font-weight-normal text-center" scope="col">{{"date" | translate}}</th>
                  <th class="font-weight-normal text-center" scope="col">{{"systemcode.location"| translate}}</th>
                  <th class="font-weight-normal text-center" scope="col">{{"systemcode.records"| translate}}</th>
                  <th class="font-weight-normal text-center" scope="col">{{"systemcode.receipt"| translate}}</th>
                  <th class="font-weight-normal text-center" scope="col">{{"systemcode.amount.money"| translate}}</th>
                  <th class="font-weight-normal text-center" scope="col">{{"Remain"| translate}}</th>
                  <th class="font-weight-normal text-center" scope="col">{{"Note"| translate}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="welfareView.length==0">
                  <td colspan="8" class="font-weight-normal text-center">{{"No Data Found" | translate}}</td>
                </tr>
                <tr *ngFor="let item of welfareView; let i=index">
                  <td class="align-middle text-center">{{i+1}}</td>
                  <td class="align-middle text-center">
                    {{item.occurDate.split("-")[2]}}
                    {{welfareViewDate[i]|translate}}
                    {{translateService.currentLang=='th'?welfareViewYearTh[i]:item.occurDate.split("-")[0]}}
                  </td>
                  <td class="align-middle text-center">{{item.sitewel.getSitewelDesc()}}</td>
                  <td class="align-middle text-center">{{item.welfare.getWelfareDesc()}}</td>
                  <td class="align-middle text-center">{{item.refNo}}</td>
                  <td class="align-middle text-center">{{item.cost|number:"2.2"}}</td>
                  <td class="align-middle text-center"></td>
                  <td class="align-middle text-center">{{item.remark}}</td>
                </tr>
                <tr *ngIf="welfareView.length!=0">
                  <td colspan="4" class="align-middle text-center"></td>
                  <td class="align-middle text-center">{{"system.total" | translate}}</td>
                  <td class="align-middle text-center">{{welfareViewTotal|number:"2.2"}}</td>
                  <td class="align-middle text-center">{{welfareViewCost|number:"2.2"}}</td>
                  <td class="align-middle text-center"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- เหตุผล -->
  <div class="col-12">
    <div class="card mb-0">
      <div class="card-header bg-myhr">
        <h6 class="card-title">{{"systemcode.note" | translate}}</h6>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12 col-xs-12 b-r">
            <div class="form-group">
              <small class="text-muted">{{"systemcode.note"| translate}}</small>
              <textarea class="form-control" rows="2" style="resize: none;" [(ngModel)]="remark"
                placeholder='{{"systemcode.note"| translate}}'></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- เอกสารอ้างอิง -->
  <div class="col-12" *ngIf="runno&&workflowData">
    <div class="card mb-0">
      <div class="card-header bg-myhr">
        <h6 class="card-title">{{"Doc Reference" | translate}}</h6>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6 col-xs-12 b-r">
            <div class="form-group">
              <h6 class="cursor-myhr" (click)="openDocReference()">
                {{translateService.currentLang=="th"?workflowData.thaiSubject:workflowData.engSubject}}
                [{{workflowData.doc_no}}]
              </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- แนบไฟล์ -->
  <div class="col-12">
    <div class="card mb-0">
      <div class="card-header bg-myhr">
        <h6 class="card-title">{{"attach_file" | translate}}</h6>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6 col-xs-12 b-r">
            <div class="form-group">
              <small class="text-muted">{{"selected_file"| translate}}</small>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">{{"upload_file"|translate}}</span>
                </div>
                <div class="custom-file">
                  <input #fileInput type="file" class="custom-file-input" id="inputGroupFile01" title=""
                    (change)="onFileSelected($event)"
                    accept="{{uploadConfig?uploadConfig.filter.replaceAll('*',''):''}}">
                  <label class="custom-file-label col-lg-12 col-md-12 col-sm-12" for="inputGroupFile01">{{nameFile |
                    translate}}</label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xs-12 b-r">
            <div class="form-group " style="margin-top: 20px;">
              <button type="button" class="btn btn-danger" (click)="resetIMG()">{{"cancel"| translate}}</button>
            </div>
          </div>
          <div class="col-md-12 col-xs-12 b-r" *ngIf="uploadConfig">
            <p class="text-danger m-b-0">{{"Maximum upload size" | translate}} {{uploadConfig.maxSize/1024/1024}} MB</p>
            <p class="text-danger">{{"Extensions are support" | translate}} {{uploadConfig.filter}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body ">
    <div class="d-flex no-block align-items-center justify-content-center">
      <div class="action-form">
        <div class="form-group m-b-0 text-center">
          <button type="submit"
            [disabled]="!__wf__weldesc01.tdesc&&!__wf__weldesc01.edesc||!__wf__mcomplain$amountmoney$01||validDate"
            class="btn btn-success waves-effect waves-light" (click)="openOnSubmit()"><i class=" fas fa-check"></i>
            {{"Submit" | translate}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Row ปิดแบบฟอร์มการเบิกค่ารักษาพยาบาลและเงินช่วยเหลือสวัสดิการ -->

<!-- รายชื่อพนักงาน -->
<ng-template #contentEmp let-modal>
  <div class="modal-content dialog-height">
    <div class="modal-body" [perfectScrollbar]="config">
      <div class="card" style="margin-bottom:-15px">
        <div class="card-header bg-myhr">
          <h4>{{"subordinate list" | translate}}</h4>
        </div>
        <div class="card-body pt-0 pt-2">
          <div class="d-flex mb-1">
            <input type="text" placeholder="{{'Name-Surname' | translate}}" class="form-control w-25">
          </div>
          <div class="table-responsive">
            <table class="table  table-hover table-striped-myhr table-sm  mb-0 no-wrap v-middle ">
              <thead class="bg-info ">
                <tr class="text-white font-weight-normal">
                  <th class="font-weight-normal text-center" scope="col">{{"Employee ID"| translate}}</th>
                  <th class="font-weight-normal text-center" scope="col">{{"Name-Surname"| translate}}</th>
                  <th class="font-weight-normal text-center" scope="col">{{"Position"| translate}}</th>
                  <th class="font-weight-normal text-center" scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="align-middle text-center">AAA0102</td>
                  <td class="align-middle text-center">จันจิรา เจนณรงค์</td>
                  <td class="align-middle text-center">Corporate Audit</td>
                  <td class="font-weight-normal text-center"><button type="button" class="btn btn-info btn-sm"
                      style="width: 60px;"> {{"choose"| translate}}</button></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="d-flex justify-content-end p-2">

            <select class="form-select m-r-5" style="width: auto" [(ngModel)]="pageSize">
              <option [ngValue]="10">{{"Items per page"| translate}}: 10</option>
              <option [ngValue]="50">{{"Items per page"| translate}}: 50</option>
              <option [ngValue]="100">{{"Items per page"| translate}}: 100</option>
            </select>

            <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
              <ng-template ngbPaginationPrevious>{{"Prev"| translate}}</ng-template>
              <ng-template ngbPaginationNext>{{"Next"| translate}}</ng-template>
            </ngb-pagination>
          </div>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="modal.dismiss('Cross click')">{{"Close"|
        translate}}</button>
    </div>
  </div>
</ng-template>
<!-- หมวดสวัสดิการ -->
<ng-template #modalWelfareGroup let-modal>
  <div class="modal-content dialog-height">
    <div class="modal-body" [perfectScrollbar]="config">
      <div class="card" style="margin-bottom:-15px">
        <div class="card-header bg-myhr">
          <h4>{{"systemcode.welcategory" | translate}}</h4>
        </div>
        <div class="card-body pt-0 pt-2">
          <div class="d-flex mb-1">
            <input type="text" placeholder="{{'systemcode.welcategory' | translate}}" class="form-control w-25"
              [(ngModel)]="searchWelfareGroup" >
          </div>
          <div class="table-responsive">
            <table class="table  table-hover table-striped-myhr table-sm  mb-0 no-wrap v-middle ">
              <thead class="bg-info ">
                <tr class="text-white font-weight-normal">
                  <th class="font-weight-normal text-center" scope="col">{{"systemcode.welId"| translate}}</th>
                  <th class="font-weight-normal text-center" scope="col">{{"th-detail"| translate}}</th>
                  <th class="font-weight-normal text-center" scope="col">{{"en-detail"| translate}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="filterWorkArea().length==0">
                  <td colspan="4" class="font-weight-normal text-center">{{"No Data Found" | translate}}</td>
                </tr>
                <tr class="cursor-myhr"
                  *ngFor="let item of filterWorkArea() |slice: (pageModal-1) * pageSizeModal : (pageModal-1) * pageSizeModal + pageSizeModal; let i=index"
                  (click)="selectWelfareGroupList(item);modal.dismiss('Cross click')">
                  <td class="align-middle text-center">{{item.welgId}}</td>
                  <td class="align-middle text-center">{{item.tdesc}}</td>
                  <td class="align-middle text-center">{{item.edesc}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="d-flex justify-content-end p-2">
            <select class="form-select m-r-5" style="width: auto" [(ngModel)]="pageSizeModal"
              (ngModelChange)="pageModal=1">
              <option [ngValue]="10">{{"Items per page" | translate}}: 10</option>
              <option [ngValue]="50">{{"Items per page" | translate}}: 50</option>
              <option [ngValue]="100">{{"Items per page" | translate}}: 100</option>
            </select>
            <ngb-pagination [collectionSize]="filterWorkArea().length" [(page)]="pageModal" [pageSize]="pageSizeModal"
              [maxSize]="3" [rotate]="true">
              <ng-template ngbPaginationPrevious>{{"Prev" | translate}}</ng-template>
              <ng-template ngbPaginationNext>{{"Next" | translate}}</ng-template>
            </ngb-pagination>
          </div>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="modal.dismiss('Cross click')">{{"Close"|
        translate}}</button>
    </div>
  </div>
</ng-template>

<!-- สวัสดิการ -->
<ng-template #modalWelfare let-modal>
  <div class="modal-content dialog-height">
    <div class="modal-body" [perfectScrollbar]="config">
      <div class="card" style="margin-bottom:-15px">
        <div class="card-header bg-myhr">
          <h4>{{"menu.empview-welfare" | translate}}</h4>
        </div>
        <div class="card-body pt-0 pt-2">
          <div class="d-flex mb-1">
            <input type="text" placeholder="{{'menu.empview-welfare' | translate}}" class="form-control w-25"
              [(ngModel)]="welfareListsSearch" (ngModelChange)="searchWelfareLists()">
          </div>
          <div class="table-responsive">
            <table class="table  table-hover table-striped-myhr table-sm  mb-0 no-wrap v-middle ">
              <thead class="bg-info ">
                <tr class="text-white font-weight-normal">
                  <th class="font-weight-normal text-center" scope="col">{{"systemcode.welId"| translate}}</th>
                  <th class="font-weight-normal text-center" scope="col">{{"th-detail"| translate}}</th>
                  <th class="font-weight-normal text-center" scope="col">{{"en-detail"| translate}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="welfareListsShow.length==0">
                  <td colspan="4" class="font-weight-normal text-center">{{"No Data Found" | translate}}</td>
                </tr>
                <tr class="cursor-myhr"
                  *ngFor="let item of welfareListsShow |slice: (pageModal-1) * pageSizeModal : (pageModal-1) * pageSizeModal + pageSizeModal; let i=index"
                  (click)="selectWelfareLists(item);modal.dismiss('Cross click')">
                  <td class="align-middle text-center">{{item.welId}}</td>
                  <td class="align-middle text-center">{{item.tdesc}}</td>
                  <td class="align-middle text-center">{{item.edesc}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="d-flex justify-content-end p-2">
            <select class="form-select m-r-5" style="width: auto" [(ngModel)]="pageSizeModal"
              (ngModelChange)="pageModal=1">
              <option [ngValue]="10">{{"Items per page" | translate}}: 10</option>
              <option [ngValue]="50">{{"Items per page" | translate}}: 50</option>
              <option [ngValue]="100">{{"Items per page" | translate}}: 100</option>
            </select>
            <ngb-pagination [collectionSize]="collectionSizeModal" [(page)]="pageModal" [pageSize]="pageSizeModal"
              [maxSize]="3" [rotate]="true">
              <ng-template ngbPaginationPrevious>{{"Prev" | translate}}</ng-template>
              <ng-template ngbPaginationNext>{{"Next" | translate}}</ng-template>
            </ngb-pagination>
          </div>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="modal.dismiss('Cross click')">{{"Close"|
        translate}}</button>
    </div>
  </div>
</ng-template>

<!-- ครอบครัว -->
<ng-template #modalFamily let-modal>
  <div class="modal-content dialog-height">
    <div class="modal-body" [perfectScrollbar]="config">
      <div class="card" style="margin-bottom:-15px">
        <div class="card-header bg-myhr">
          <h4>{{"Family Information" | translate}}</h4>
        </div>
        <div class="card-body pt-0 pt-2">
          <div class="d-flex mb-1">
            <input type="text" placeholder="{{'Name-Surname' | translate}}" class="form-control w-25"
              [(ngModel)]="familyListsSearch" (ngModelChange)="searchFamilyLists()">
          </div>
          <div class="table-responsive">
            <table class="table  table-hover table-striped-myhr table-sm  mb-0 no-wrap v-middle ">
              <thead class="bg-info ">
                <tr class="text-white font-weight-normal">
                  <th class="font-weight-normal text-center" scope="col">{{"Employee ID"| translate}}</th>
                  <th class="font-weight-normal text-center" scope="col">{{"Relation"| translate}}</th>
                  <th class="font-weight-normal text-center" scope="col">{{"systemcode.prefix"| translate}}</th>
                  <th class="font-weight-normal text-center" scope="col">{{"table.memployee.profile.name.surname"|
                    translate}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="familyListsShow.length==0">
                  <td colspan="6" class="font-weight-normal text-center">{{"No Data Found" | translate}}</td>
                </tr>
                <tr class="cursor-myhr"
                  *ngFor="let item of familyLists |slice: (pageModal-1) * pageSizeModal : (pageModal-1) * pageSizeModal + pageSizeModal; let i=index"
                  (click)="selectFamilyLists(item);modal.dismiss('Cross click')">
                  <td class="align-middle text-center">{{emp.employeeId}}</td>
                  <td class="align-middle text-center">{{item.relation.getDesc()}}</td>
                  <td class="align-middle text-center">{{item.prefix.getPrefixDesc()}}</td>
                  <td class="align-middle text-center">{{item.getFullNameDesc()}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="d-flex justify-content-end p-2">
            <select class="form-select m-r-5" style="width: auto" [(ngModel)]="pageSizeModal"
              (ngModelChange)="pageModal=1">
              <option [ngValue]="10">{{"Items per page" | translate}}: 10</option>
              <option [ngValue]="50">{{"Items per page" | translate}}: 50</option>
              <option [ngValue]="100">{{"Items per page" | translate}}: 100</option>
            </select>
            <ngb-pagination [collectionSize]="collectionSizeModal" [(page)]="pageModal" [pageSize]="pageSizeModal"
              [maxSize]="3" [rotate]="true">
              <ng-template ngbPaginationPrevious>{{"Prev" | translate}}</ng-template>
              <ng-template ngbPaginationNext>{{"Next" | translate}}</ng-template>
            </ngb-pagination>
          </div>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="modal.dismiss('Cross click')">{{"Close"|
        translate}}</button>
    </div>
  </div>
</ng-template>


<!-- สถานที่ใช้บริการ -->
<ng-template #modalLocation let-modal>
  <div class="modal-content dialog-height">
    <div class="modal-body" [perfectScrollbar]="config">
      <div class="card" style="margin-bottom:-15px">
        <div class="card-header bg-myhr">
          <h4>{{"systemcode.sitewel" | translate}}</h4>
        </div>
        <div class="card-body pt-0 pt-2">
          <div class="d-flex mb-1">
            <input type="text" placeholder="{{'systemcode.location' | translate}}" class="form-control w-25"
              [(ngModel)]="sitewelListsSearch" (ngModelChange)="searchSitewelLists()">
          </div>
          <div class="table-responsive">
            <table class="table  table-hover table-striped-myhr table-sm  mb-0 no-wrap v-middle ">
              <thead class="bg-info ">
                <tr class="text-white font-weight-normal">
                  <th class="font-weight-normal text-center" scope="col">{{"systemcode.location.id"| translate}}</th>
                  <th class="font-weight-normal text-center" scope="col">{{"th-detail"| translate}}</th>
                  <th class="font-weight-normal text-center" scope="col">{{"en-detail"| translate}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="sitewelListsShow.length==0">
                  <td colspan="4" class="font-weight-normal text-center">{{"No Data Found" | translate}}</td>
                </tr>
                <tr class="cursor-myhr"
                  *ngFor="let item of sitewelListsShow |slice: (pageModal-1) * pageSizeModal : (pageModal-1) * pageSizeModal + pageSizeModal; let i=index"
                  (click)="selectSitewelLists(item);modal.dismiss('Cross click')">
                  <td class="align-middle text-center">{{item.sitewelId}}</td>
                  <td class="align-middle text-center">{{item.tdesc}}</td>
                  <td class="align-middle text-center">{{item.edesc}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="d-flex justify-content-end p-2">
            <select class="form-select m-r-5" style="width: auto" [(ngModel)]="pageSizeModal"
              (ngModelChange)="pageModal=1">
              <option [ngValue]="10">{{"Items per page" | translate}}: 10</option>
              <option [ngValue]="50">{{"Items per page" | translate}}: 50</option>
              <option [ngValue]="100">{{"Items per page" | translate}}: 100</option>
            </select>
            <ngb-pagination [collectionSize]="collectionSizeModal" [(page)]="pageModal" [pageSize]="pageSizeModal"
              [maxSize]="3" [rotate]="true">
              <ng-template ngbPaginationPrevious>{{"Prev" | translate}}</ng-template>
              <ng-template ngbPaginationNext>{{"Next" | translate}}</ng-template>
            </ngb-pagination>
          </div>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="modal.dismiss('Cross click')">{{"Close"|
        translate}}</button>
    </div>
  </div>
</ng-template>

<!-- อ้างอิง -->
<ng-template #modalRef let-modal>
  <div class="modal-content dialog-height">
    <div class="modal-body" [perfectScrollbar]="config">
      <div class="card" style="margin-bottom:-15px">
        <div class="card-header bg-myhr">
          <h4>{{"systemcode.ref" | translate}}</h4>
        </div>
        <div class="card-body pt-0 pt-2">
          <div class="table-responsive">
            <table class="table  table-hover table-striped-myhr table-sm  mb-0 no-wrap v-middle ">
              <thead class="bg-info ">
                <tr class="text-white font-weight-normal">
                  <th class="font-weight-normal text-center" scope="col">{{"choose"| translate}}</th>
                  <th class="font-weight-normal text-center" scope="col">{{"No."| translate}}</th>
                  <th class="font-weight-normal text-center" scope="col">{{"th-detail"| translate}}</th>
                  <th class="font-weight-normal text-center" scope="col">{{"systemcode.status"| translate}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="welfareListsDoc.documentGrp.referencesDocument.length==0">
                  <td colspan="4" class="font-weight-normal text-center">{{"No Data Found" | translate}}</td>
                </tr>
                <tr *ngFor="let item of welfareListsDoc.documentGrp.referencesDocument let i=index">
                  <td class="align-middle text-center"><input type="checkbox" name="check_emp"
                      [(ngModel)]="welfareListsDocChack[i].select" /></td>
                  <td class="align-middle text-center">{{i+1}}</td>
                  <td class="align-middle text-center">{{item.document.getDesc()}}</td>
                  <td class="align-middle text-center">{{"systemcode.listsDoc"+item.status | translate}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="modal.dismiss('Cross click')">{{"Close"|
        translate}}</button>
    </div>
  </div>
</ng-template>
<!-- แจ้งเตือน -->
<ng-template #alertModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="editLabel">Alert Message</h5>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" [innerHTML]="msg">
  </div>
</ng-template>
<ng-template #confirmModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="editLabel">{{"Alert Message" | translate}}</h5>
    <button type="button" class="close" (click)="closeBtnClick()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{msg | translate}}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info" (click)="onSubmit();modal.close('Close click')">{{"confirm"|
      translate}}</button> <button type="button" class="btn btn-danger" (click)="closeBtnClick()">{{"cancel"|
      translate}}</button>
  </div>
</ng-template>

<ng-template #DocReferenceModal let-modal>
  <div class="modal-content dialog-height">
    <div class="modal-header">
      <h5 class="modal-title" id="editLabel">{{"systemcode.documents.detail" | translate}}</h5>
      <button type="button" class="close" (click)="closeBtnClick()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" [perfectScrollbar]="config">
      <div class="card" style="margin-bottom:-15px">
        <div class="card-body">
          <!-- ใส่เอกสารตรงนี้นะจ๊ะ -->
          <ng-template #workflowView [ngComponentOutlet]="dynamicComponent" [ndcDynamicInputs]="inputs"
            [ndcDynamicOutputs]="outputs"></ng-template>
          <!-- <app-wel210-nstda-create></app-wel210-nstda-create> -->
        </div>
      </div>
      <div class="d-flex no-block align-items-center justify-content-center mt-4">
        <div class="action-form">
          <div class="form-group m-b-0 text-center">
            <button type="button" class="btn btn-danger" (click)="onCancel()"><i class=" fas fa-times"></i>
              {{"cancel" |translate}}</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-info" (click)="closeBtnClick()">{{"confirm"| translate}}</button>
    </div>
  </div>
</ng-template>
<ng-template #cancelModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="editLabel">{{"Alert Message" | translate}}</h5>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{msg | translate}}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info" (click)="cancelWF()">{{"confirm"| translate}}</button> <button
      type="button" class="btn btn-danger" (click)="modal.dismiss('Cross click')">{{"cancel"| translate}}</button>
  </div>
</ng-template>
