<app-modal [show]="isOpen" [title]="(isEditMode ? 'company.positionGroup.edit' : 'company.positionGroup.add') | translate" [useSolidBackground]="true" [size]="'md'" (closeEvent)="onClose()" (confirmEvent)="onSubmit()">
  <form [formGroup]="form" class="space-y-6">
    <app-glass-input [label]="'company.positionGroup.column.id' | translate" formControlName="positionGroupId" [required]="true" [readonly]="isEditMode" [useFormValidationMessages]="true">
      <app-form-validation-messages [control]="form.get('positionGroupId')" [customMessages]="{ required: 'company.positionGroup.idRequired' | translate }"></app-form-validation-messages>
    </app-glass-input>
    <app-glass-input [label]="'company.positionGroup.column.tdesc' | translate" formControlName="tdesc" [required]="true" [useFormValidationMessages]="true"></app-glass-input>
    <app-glass-input [label]="'company.positionGroup.column.edesc' | translate" formControlName="edesc"></app-glass-input>
  </form>
</app-modal>
