<!-- ใบขอเปลี่ยนกะการทำงาน center -->
<div class="row">
  <!-- ส่งถึง -->
  <div class="col-12">
    <app-workflow-sendto (employeeCCId)="employeeCCId=$event" [wfid]="wfid" [cardName]="'systemcode.swapshift.center'"></app-workflow-sendto>
    </div>
  <!-- รายละเอียดข้อมูลพนักงาน -->
  <div class="col-12">
    <div class="card mb-0">
      <div class="card-header bg-myhr">
        <h6 class="card-title">{{"Employee Detail" | translate}}</h6>
      </div>
      <div class="card-body" *ngIf="empListSelect">
        <div class="row">
          <div class="col-md-6 col-xs-12 b-r">
            <small class="text-muted">{{"Employee ID" | translate}}</small>
            <h6><button type="button" class="btn btn-info  btn-sm btn-circle me-3" (click)="openEmployeeModal()"><i
                  class="fa fa-search"></i> </button>
              {{checkEmptyText(empListSelect.employeeId)}}</h6>
          </div>
          <div class="col-md-6 col-xs-12 b-r">
            <small class="text-muted">{{"Name-Surname" | translate}}</small>
            <h6>{{checkEmptyText(empListSelect.getFullname())}}</h6>
          </div>
          <div class="col-md-6 col-xs-12 b-r">
            <small class="text-muted">{{"Position" | translate}}</small>
            <h6>{{checkEmptyText(empListSelect.position?.getPositionDesc())}}</h6>
          </div>
          <div class="col-md-6 col-xs-12 b-r">
            <small class="text-muted">{{"dashboard.bu1" | translate}}</small>
            <h6>{{checkEmptyText(empListSelect.bu1?.getBu1Desc())}}</h6>
          </div>
          <div class="col-md-6 col-xs-12 b-r">
            <small class="text-muted">{{"dashboard.bu2" | translate}}</small>
            <h6>{{checkEmptyText(empListSelect.bu2?.getBu2Desc())}}</h6>
          </div>
          <div class="col-md-6 col-xs-12 b-r">
            <small class="text-muted">{{"dashboard.bu3" | translate}}</small>
            <h6>{{checkEmptyText(empListSelect.bu3?.getBu3Desc())}}</h6>
          </div>
          <div class="col-md-6 col-xs-12 b-r">
            <small class="text-muted">{{"dashboard.bu4" | translate}}</small>
            <h6>{{checkEmptyText(empListSelect.bu4?.getBu4Desc())}}</h6>
          </div>
          <div class="col-md-6 col-xs-12 b-r">
            <small class="text-muted">{{"dashboard.bu5" | translate}}</small>
            <h6>{{checkEmptyText(empListSelect.bu5?.getBu5Desc())}}</h6>
          </div>
          <div class="col-md-6 col-xs-12 b-r">
            <small class="text-muted">{{"dashboard.bu6" | translate}}</small>
            <h6>{{empListSelect.bu6?empListSelect.bu6.getBu6Desc():"-"}}</h6>
          </div>
          <div class="col-md-6 col-xs-12 b-r">
            <small class="text-muted">{{"dashboard.bu7" | translate}}</small>
            <h6>{{empListSelect.bu7?empListSelect.bu7.getBu7Desc():"-"}}</h6>
          </div>
          <div class="col-md-6 col-xs-12 b-r">
            <small class="text-muted">{{"tel" | translate}}</small>
            <h6>{{checkEmptyText(empListSelect.telExt)}}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- รายละเอียดการเปลี่ยนกะ -->
  <div class="col-12">
    <div class="card mb-0">
      <div class="card-header bg-myhr">
        <h6 class="card-title">{{"swap-shift-detail" | translate }}</h6>
      </div>
      <div class="card-body" *ngIf="emp">
        <div class="row">

          <div class="col-md-6 col-xs-12 b-r">
            <div class="form-group">
              <small class="text-muted">{{"start.date"| translate }}</small>
              <div class="input-group">
                <input class="form-control col-md-6 col-sm-6 col-lg-6" placeholder="{{'dd.mm.yyyy' | translate}}"
                  name="dp1" [(ngModel)]="__wf__start_date" (ngModelChange)=" updateShiftByStartDate()"  #c1="ngModel" (change)="__wf__start_date = datepickerService.validateFormatDate(c1);dateChange();"
                  ngbDatepicker #d1="ngbDatepicker" (dateSelect)="dateChange()" >
                <div class="input-group-append">
                  <button class="btn btn-outline-info no-shadow" (click)="d1.toggle()" type="button">
                    <i class="far fa-calendar-alt"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xs-12 b-r">
            <div class="form-group">
              <small class="text-muted">{{"end.date"| translate }}</small>
              <div class="input-group">
                <input class="form-control col-md-6 col-sm-6 col-lg-6" placeholder="{{'dd.mm.yyyy' | translate}}"
                  name="dp2" [(ngModel)]="__wf__end_date" ngbDatepicker #d2="ngbDatepicker" #c2="ngModel" (change)="__wf__end_date = datepickerService.validateFormatDate(c2);dateChange();"
                  (blur)="dateChange()" (dateSelect)="dateChange()"> 
                <div class="input-group-append">
                  <button class="btn btn-outline-info no-shadow" (click)="d2.toggle()" type="button">
                    <i class="far fa-calendar-alt"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-xs-12 b-r">
            <small class="text-muted">{{"main-shift"| translate }}</small>
            <div class="row">
              <div class="col-md-2  col-lg-2 col-sm-2">
                <div class="form-group">
                  <!-- ไอนี่แหละ -->
                  <input readonly type="text" class="form-control" placeholder="{{__wf__old_shift}}">
                </div>
              </div>
              <div class="col-md-4  col-lg-4 col-sm-4">
                <div class="form-group">
                  <input readonly type="text" class="form-control"
                    placeholder="{{translateService.currentLang=='th'?MTIME0_a_TDESC$old.tdesc:MTIME0_a_TDESC$old.edesc}}">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-xs-12 b-r">
            <small class="text-muted">{{"new-shift"| translate }}</small>
            <div class="row">
              <div class="col-md-2 col-lg-2 col-sm-2">
                <div class="form-group">
                  <input type="text" class="form-control" [(ngModel)]="__wf__new_shift"
                    (ngModelChange)="change__wf__new_shift()">
                </div>
              </div>
              <div class="col-md-4 col-lg-4 col-sm-4">
                <div class="form-group">
                  <input readonly type="text" class="form-control"
                    placeholder="{{translateService.currentLang=='th'?MTIME0_a_TDESC.tdesc:MTIME0_a_TDESC.edesc}}">
                </div>
              </div>
              <div class="col-md-2 col-lg-2 col-sm-2">
                <div class="form-group">
                  <button type="submit" class="btn btn-info waves-effect waves-light "
                    (click)="openModal(contentSwap,'contentSwap')"><i class="fa fa-search"></i></button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- เหตุผลที่เปลี่ยนกะ -->
  <div class="col-12">
    <div class="card mb-0">
      <div class="card-header bg-myhr">
        <h6 class="card-title">{{"swap-reason" | translate}}</h6>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12 col-xs-12 b-r">
            <div class="form-group">
              <small class="text-muted">{{"swap-reason"| translate}}</small>
              <textarea class="form-control" rows="2" style="resize: none;" [(ngModel)]="__wf__reason"
                placeholder='{{"swap-reason"| translate}}'></textarea>
            </div>
          </div>
          <app-workflow-remark [wfid]="wfid"></app-workflow-remark>
          <div class="col-md-12 col-xs-12 b-r">
            <small class="text-muted">{{"Note" | translate}}</small>
            <h6>{{"systemcode.shiftchange.1" | translate}}</h6>
            <h6>{{"systemcode.shiftchange.2" | translate}}</h6>
            <button [disabled]="MTIME0_a_TDESC.tdesc==''&&MTIME0_a_TDESC.edesc==''" type="submit"
              class="btn btn-info waves-effect waves-light me-1" (click)="getShiftListTime()">View</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ตารางเรียกูดข้อมูล  ต้องกดปุ่ม View ก่อนถึงจะขึ้นโชว์นะจ๊ะ-->
  <div class="col-12" *ngIf="__wf__old_shiftList||__wf__new_shiftList">
    <div class="card mb-0 ">
      <div class="card-header bg-myhr">
        <h6 class="card-title">{{ "Exchange Shift Data" | translate }}</h6>
      </div>
      <div class="card-body pe-0 ps-0 pb-0 mb-2">
        <h6 class="ms-4">{{"systemcode.old.work"|translate}}</h6>
        <div class="table-responsive">
          <div class="wrapper">
            <table class="table table-hover table-striped-myhr table-sm mb-0 no-wrap v-middle" style="table-layout: fixed;">
              <thead class="bg-info ">
                <tr class="text-white font-weight-normal">
                  <th class="font-weight-normal text-center" scope="col">{{"day" | translate }}</th>
                  <th class="font-weight-normal text-center" scope="col">{{"Shift ID" | translate }}</th>
                  <th class="font-weight-normal text-center" scope="col">{{"detail" | translate }}</th>
                  <th class="font-weight-normal text-center" scope="col">{{"Time In" | translate }}</th>
                  <th class="font-weight-normal text-center" scope="col">{{"Time Out" | translate }}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of __wf__old_shiftList; let i=index">
                  <td class="align-middle text-center">{{item.startDate}}</td>
                  <td class="align-middle text-center">{{item.timeCode}}</td>
                  <td class="align-middle text-center">{{item.timeCodeTdesc}}</td>
                  <td class="align-middle text-center">{{item.startTime|number:"2.2"}}</td>
                  <td class="align-middle text-center">{{item.endTime|number:"2.2"}}</td>
                </tr>
                <tr>
                  <td class="align-middle text-center" >{{"all" | translate }} :
                    {{__wf__old_shiftList?__wf__old_shiftList.length:"0"}} {{"day" | translate}}
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="card-body pe-0 ps-0 pb-0 mb-2">
        <h6 class="ms-4">{{"systemcode.new.work"|translate}}</h6>
        <div class="table-responsive">
          <div class="wrapper">
            <table class="table table-hover table-striped-myhr table-sm mb-0 no-wrap v-middle" style="table-layout: fixed;">
              <thead class="bg-info ">
                <tr class="text-white font-weight-normal">
                  <th class="font-weight-normal text-center" scope="col">{{"day" | translate }}</th>
                  <th class="font-weight-normal text-center" scope="col">{{"Shift ID" | translate }}</th>
                  <th class="font-weight-normal text-center" scope="col">{{"detail" | translate }}</th>
                  <th class="font-weight-normal text-center" scope="col">{{"Time In" | translate }}</th>
                  <th class="font-weight-normal text-center" scope="col">{{"Time Out" | translate }}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of __wf__new_shiftList; let i=index">
                  <td class="align-middle text-center">{{item.startDate}}</td>
                  <td class="align-middle text-center">{{item.timeCode}}</td>
                  <td class="align-middle text-center">{{item.getDesc()}}</td>
                  <td class="align-middle text-center">{{item.startTime|number:"2.2"}}</td>
                  <td class="align-middle text-center">{{item.endTime|number:"2.2"}}</td>
                </tr>
                <tr>
                  <td class="align-middle text-center" >{{"all" | translate }} :
                    {{__wf__new_shiftList?__wf__new_shiftList.length:"0"}} {{"day" | translate}}
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- เหตุผล -->
  <div class="col-12">
    <div class="card mb-0">
      <div class="card-header bg-myhr">
        <h6 class="card-title">{{"systemcode.note" | translate}}</h6>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12 col-xs-12 b-r">
            <div class="form-group">
              <small class="text-muted">{{"systemcode.note"| translate}}</small>
              <textarea class="form-control" rows="2" style="resize: none;" [(ngModel)]="remark"
                placeholder='{{"systemcode.note"| translate}}'></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- เอกสารอ้างอิง -->
  <div class="col-12" *ngIf="runno&&workflowData">
    <div class="card mb-0">
      <div class="card-header bg-myhr">
        <h6 class="card-title">{{"Doc Reference" | translate}}</h6>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6 col-xs-12 b-r">
            <div class="form-group">
              <h6 class="cursor-myhr" (click)="openDocReference()">
                {{translateService.currentLang=="th"?workflowData.thaiSubject:workflowData.engSubject}}
                [{{workflowData.doc_no}}]
              </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- แนบไฟล์ -->
  <div class="col-12">
    <div class="card mb-0">
      <div class="card-header bg-myhr">
        <h6 class="card-title">{{"attach_file" | translate}}</h6>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6 col-xs-12 b-r">
            <div class="form-group">
              <small class="text-muted">{{"selected_file"| translate}}</small>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">{{"upload_file"|translate}}</span>
                </div>
                <div class="custom-file">
                  <input #fileInput type="file" class="custom-file-input" id="inputGroupFile01" title=""
                    (change)="onFileSelected($event)"
                    accept="{{uploadConfig?uploadConfig.filter.replaceAll('*',''):''}}">
                  <label class="custom-file-label col-lg-12 col-md-12 col-sm-12" for="inputGroupFile01">{{nameFile |
                    translate}}</label>
                </div>

              </div>
            </div>
          </div>

          <div class="col-md-6 col-xs-12 b-r">
            <div class="form-group " style="margin-top: 20px;">
              <button type="button" class="btn btn-danger" (click)="resetIMG()">{{"cancel"| translate}}</button>
            </div>
          </div>
          <div class="col-md-12 col-xs-12 b-r" *ngIf="uploadConfig">
            <p class="text-danger m-b-0">{{"Maximum upload size" | translate}} {{uploadConfig.maxSize/1024/1024}} MB</p>
            <p class="text-danger">{{"Extensions are support" | translate}} {{uploadConfig.filter}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="d-flex no-block align-items-center justify-content-center">
        <div class="action-form">
          <div class="form-group m-b-0 text-center">
            <button [disabled]="(MTIME0_a_TDESC.tdesc==''&&MTIME0_a_TDESC.edesc=='')||!empListSelect.employeeId || !__wf__start_date || !__wf__end_date"
              type="submit" class="btn btn-success waves-effect waves-light" (click)="openOnSubmit()"><i
                class=" fas fa-check"></i>
              {{"Submit" | translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ปิดใบขอเปลี่ยนกะการทำงาน center -->

<!-- Modal สำเนาถึง -->
<ng-template #modalCC let-modal>
  <div class="modal-content dialog-height">
    <div class="modal-body" [perfectScrollbar]="config">
      <div class="card" style="margin-bottom:-15px">
        <div class="card-header bg-myhr">
          <h5 class="card-title">{{"menu.employee-list" | translate}}</h5>
        </div>
        <div class="card-body pb-0 pt-1">
          <div class="d-flex mb-1">
            <input type="text" placeholder="{{'Name-Surname' | translate}}" class="form-control w-50">
          </div>
          <div class="table-responsive">
            <div class="wrapper">
              <table class="table  table-hover  table-sm  mb-0 no-wrap v-middle">
                <thead class="bg-info ">
                  <tr class="text-white font-weight-normal">
                    <th class="font-weight-normal text-center" scope="col">{{"systemcode.emp.id" | translate}}</th>
                    <th class="font-weight-normal text-center" scope="col">{{"systemcode.emp.name" | translate}}</th>
                    <th class="font-weight-normal text-center" scope="col">{{"systemcode.position"| translate}}</th>
                    <th class="font-weight-normal text-center" scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="bg-myhr" colspan="4">Executive Office 3 :</td>
                  </tr>
                  <tr>
                    <td class="font-weight-normal text-center">540954</td>
                    <td class="font-weight-normal text-center">นายชัยยันต์ เค้าแคน</td>
                    <td class="font-weight-normal text-center">Executive Office</td>
                    <td class="font-weight-normal text-center"><button type="button" class="btn btn-info btn-sm"
                        style="width: 60px;"> {{"choose"| translate}}</button></td>
                  </tr>
                  <tr>
                    <td class="font-weight-normal text-center">570906</td>
                    <td class="font-weight-normal text-center">นายสามารถ เนื่องศรี</td>
                    <td class="font-weight-normal text-center">Executive Office</td>
                    <td class="font-weight-normal text-center"><button type="button" class="btn btn-info btn-sm"
                        style="width: 60px;"> {{"choose"| translate}}</button></td>
                  </tr>
                  <tr>
                    <td class="bg-myhr" colspan="4">Operations :</td>
                  </tr>
                  <tr>
                    <td class="font-weight-normal text-center">580109</td>
                    <td class="font-weight-normal text-center">นางสาวนิตยา เนมขุนทด</td>
                    <td class="font-weight-normal text-center">Marketing Officer</td>
                    <td class="font-weight-normal text-center"><button type="button" class="btn btn-info btn-sm"
                        style="width: 60px;"> {{"choose"| translate}}</button></td>
                  </tr>
                  <tr>
                    <td class="font-weight-normal text-center">580109</td>
                    <td class="font-weight-normal text-center">นางสาวนิตยา เนมขุนทด</td>
                    <td class="font-weight-normal text-center">Marketing Officer</td>
                    <td class="font-weight-normal text-center"><button type="button" class="btn btn-info btn-sm"
                        style="width: 60px;"> {{"choose"| translate}}</button></td>
                  </tr>
                  <tr>
                    <td class="font-weight-normal text-center">580109</td>
                    <td class="font-weight-normal text-center">นางสาวนิตยา เนมขุนทด</td>
                    <td class="font-weight-normal text-center">Marketing Officer</td>
                    <td class="font-weight-normal text-center"><button type="button" class="btn btn-info btn-sm"
                        style="width: 60px;"> {{"choose"| translate}}</button></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="d-flex justify-content-end p-2">

            <select class="form-select m-r-5" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="page=1">
              <option [ngValue]="10">{{"Items per page" | translate}}: 10</option>
              <option [ngValue]="50">{{"Items per page" | translate}}: 50</option>
              <option [ngValue]="100">{{"Items per page" | translate}}: 100</option>
            </select>
            <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" [maxSize]="3"
              [rotate]="true">
              <ng-template ngbPaginationPrevious>{{"Prev" | translate}}</ng-template>
              <ng-template ngbPaginationNext>{{"Next" | translate}}</ng-template>
            </ngb-pagination>

          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">{{"Close" | translate}}</button>
    </div>
  </div>
</ng-template>


<ng-template #contentSwap let-modal>
  <div class="modal-content dialog-height">
    <div class="modal-body" [perfectScrollbar]="config">
      <div class="card" style="margin-bottom:-15px">
        <div class="card-header bg-myhr">
          <h4>{{"working-table" | translate}}</h4>
        </div>
        <div class="card-body pt-0 pt-2">
          <div class="d-flex mb-1">
            <input type="text" placeholder="{{'time-code' | translate}}" class="form-control w-25"
              [(ngModel)]="shiftListSearch" (ngModelChange)="searchShiftList()">
          </div>
          <div class="table-responsive">
            <table class="table  table-hover table-striped-myhr table-sm  mb-0 no-wrap v-middle ">
              <thead class="bg-info ">
                <tr class="text-white font-weight-normal">
                  <th class="font-weight-normal" scope="col">{{"time-code"| translate}}</th>
                  <th class="font-weight-normal" scope="col">{{"th-detail"| translate}}</th>
                  <th class="font-weight-normal" scope="col">{{"en-detail"| translate}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="shiftListShow.length==0">
                  <td colspan="4" class="font-weight-normal text-center">{{"No Data Found" | translate}}</td>
                </tr>
                <tr class="cursor-myhr"
                  *ngFor="let item of shiftListShow |slice: (pageModal-1) * pageSizeModal : (pageModal-1) * pageSizeModal + pageSizeModal; let i=index"
                  (click)="selectShiftList(item);modal.dismiss('Cross click')">
                  <td class="align-middle">{{item.time0id}}</td>
                  <td class="align-middle">{{item.tdesc}}</td>
                  <td class="align-middle">{{item.edesc}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="d-flex justify-content-end p-2">
            <select class="form-select m-r-5" style="width: auto" [(ngModel)]="pageSizeModal"
              (ngModelChange)="pageModal=1">
              <option [ngValue]="10">{{"Items per page" | translate}}: 10</option>
              <option [ngValue]="50">{{"Items per page" | translate}}: 50</option>
              <option [ngValue]="100">{{"Items per page" | translate}}: 100</option>
            </select>
            <ngb-pagination [collectionSize]="collectionSizeModal" [(page)]="pageModal" [pageSize]="pageSizeModal"
              [maxSize]="3" [rotate]="true">
              <ng-template ngbPaginationPrevious>{{"Prev" | translate}}</ng-template>
              <ng-template ngbPaginationNext>{{"Next" | translate}}</ng-template>
            </ngb-pagination>


          </div>



        </div>
      </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="modal.dismiss('Cross click')">{{"Close"|
        translate}}</button>
    </div>
  </div>
</ng-template>

<!-- แจ้งเตือน -->
<ng-template #alertModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="editLabel">{{"Alert Message" | translate}}</h5>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{msg}}
  </div>
</ng-template>
<ng-template #confirmModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="editLabel">{{"Alert Message" | translate}}</h5>
    <button type="button" class="close" (click)="closeBtnClick()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{msg | translate}}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info" (click)="onSubmit();modal.close('Close click')">{{"confirm"|
      translate}}</button> <button type="button" class="btn btn-danger" (click)="closeBtnClick()">{{"cancel"|
      translate}}</button>
  </div>
</ng-template>

<ng-template #DocReferenceModal let-modal>
  <div class="modal-content dialog-height">
    <div class="modal-header">
      <h5 class="modal-title" id="editLabel">{{"systemcode.documents.detail" | translate}}</h5>
      <button type="button" class="close" (click)="closeBtnClick()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" [perfectScrollbar]="config">
      <div class="card" style="margin-bottom:-15px">
        <div class="card-body">
          <!-- ใส่เอกสารตรงนี้นะจ๊ะ -->
          <ng-template #workflowView [ngComponentOutlet]="dynamicComponent" [ndcDynamicInputs]="inputs"
            [ndcDynamicOutputs]="outputs"></ng-template>
          <!-- <app-wel210-nstda-create></app-wel210-nstda-create> -->
        </div>
      </div>
      <div class="d-flex no-block align-items-center justify-content-center mt-4">
        <div class="action-form">
          <div class="form-group m-b-0 text-center">
            <button type="button" class="btn btn-danger" (click)="onCancel()"><i class=" fas fa-times"></i>
              {{"cancel" |translate}}</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-info" (click)="closeBtnClick()">{{"confirm"| translate}}</button>
    </div>
  </div>
</ng-template>
<ng-template #cancelModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="editLabel">{{"Alert Message" | translate}}</h5>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{msg | translate}}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info" (click)="cancelWF()">{{"confirm"| translate}}</button> <button
      type="button" class="btn btn-danger" (click)="modal.dismiss('Cross click')">{{"cancel"| translate}}</button>
  </div>
</ng-template>
