<div class="card mb-0"  *ngIf="!multiFile">
    <div class="card-header bg-myhr">
        <h6 class="card-title">
            {{"attach_file" | translate}}
        </h6>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6 col-xs-12 b-r">
                <div class="form-group">
                    <small class="text-muted">{{"selected_file"| translate}}</small>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">{{"upload_file"|translate}}</span>
                        </div>
                        <div class="custom-file">
                            <input #fileInput type="file" class="custom-file-input" id="inputGroupFile01" title=""
                                (change)="onFileSelected($event)"
                                accept="{{uploadConfig?uploadConfig.filter.replaceAll('*',''):''}}">
                            <label class="custom-file-label col-lg-12 col-md-12 col-sm-12"
                                for="inputGroupFile01">{{nameFile |
                                translate}}</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 b-r">
                <div class="form-group " style="margin-top: 20px;">
                    <button type="button" class="btn btn-danger" (click)="resetIMG()">
                        {{"cancel"|translate}}</button>
                </div>
            </div>
            <div class="col-md-12 col-xs-12 b-r" *ngIf="uploadConfig">
                <p class="text-danger m-b-0">{{"Please attach supporting documents (if any)." | translate}}</p>
                <p class="text-danger m-b-0">
                    {{"Maximum upload size" | translate}}
                    {{uploadConfig.maxSize/1024/1024}} MB</p>
                <p class="text-danger">{{"Extensions are support" | translate}} {{uploadConfig.filter}}</p>
            </div>
        </div>
    </div>
</div>

<div class="row" *ngIf="multiFile">
    <div class="col-md-6 col-xs-12 b-r">
        <div class="form-group">
            <small class="text-muted">{{"selected_file"| translate}}</small>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">{{"upload_file"|translate}}</span>
                </div>
                <div class="custom-file">
                    <input #fileInput type="file" class="custom-file-input" id="inputGroupFile01" title=""
                        (change)="onFileSelected($event)"
                        accept="{{uploadConfig?uploadConfig.filter.replaceAll('*',''):''}}">
                    <label class="custom-file-label col-lg-12 col-md-12 col-sm-12"
                        for="inputGroupFile01">{{nameFile |
                        translate}}</label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xs-12 b-r">
        <div class="form-group " style="margin-top: 20px;">
            <button type="button" class="btn btn-danger" (click)="resetIMG()">
                {{"cancel"|translate}}</button>
        </div>
    </div>
    <div class="col-md-12 col-xs-12 b-r" *ngIf="uploadConfig">
        <p class="text-danger m-b-0">{{"Please attach supporting documents (if any)." | translate}}</p>
        <p class="text-danger m-b-0">
            {{"Maximum upload size" | translate}}
            {{uploadConfig.maxSize/1024/1024}} MB</p>
        <p class="text-danger">{{"Extensions are support" | translate}} {{uploadConfig.filter}}</p>
    </div>
</div>
