<!-- ใบขอแลกกะโดย Center -->
<div class="row">
    <!-- รายละเอียดข้อมูลพนักงาน -->
    <div class="col-12">
        <div class="card mb-0">
            <div class="card-header bg-myhr">
                <h6 class="card-title">{{"Employee Detail" | translate}}</h6>
            </div>
            <div class="card-body" *ngIf="empWork">
                <div class="row">
                    <div class="col-md-6 col-xs-12 b-r">
                        <small class="text-muted">{{"Employee ID"| translate}}</small>
                        <h6>{{empWork.employeeId}}</h6>
                    </div>
                    <div class="col-md-6 col-xs-12 b-r">
                        <small class="text-muted">{{"Name-Surname"| translate}}</small>
                        <h6>{{empWork.getFullname()}}</h6>
                    </div>
                    <div class="col-md-6 col-xs-12 b-r">
                        <small class="text-muted">{{"Position"| translate}}</small>
                        <h6>{{empWork.position?empWork.position.getPositionDesc():'-'}}</h6>
                    </div>
                    <div class="col-md-6 col-xs-12 b-r">
                        <small class="text-muted">{{"dashboard.bu1"| translate}}</small>
                        <h6>{{empWork.bu1?empWork.bu1.getBu1Desc():'-'}}</h6>
                    </div>
                    <div class="col-md-6 col-xs-12 b-r">
                        <small class="text-muted">{{"dashboard.bu2"| translate}}</small>
                        <h6>{{empWork.bu2?empWork.bu2.getBu2Desc():'-'}}</h6>
                    </div>
                    <div class="col-md-6 col-xs-12 b-r">
                        <small class="text-muted">{{"dashboard.bu3"| translate}}</small>
                        <h6>{{empWork.bu3?empWork.bu3.getBu3Desc():'-'}}</h6>
                    </div>
                    <div class="col-md-6 col-xs-12 b-r">
                        <small class="text-muted">{{"dashboard.bu4"| translate}}</small>
                        <h6>{{empWork.bu4?empWork.bu4.getBu4Desc():'-'}}</h6>
                    </div>
                    <div class="col-md-6 col-xs-12 b-r">
                        <small class="text-muted">{{"dashboard.bu5"| translate}}</small>
                        <h6>{{empWork.bu5?empWork.bu5.getBu5Desc():'-'}}</h6>
                    </div>
                    <div class="col-md-6 col-xs-12 b-r">
                        <small class="text-muted">{{"tel"| translate}}</small>
                        <h6>{{empWork.telExt?empWork.telExt:'-'}}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- รายละเอียดการแลกกะ -->
    <div class="col-12">
        <div class="card mb-0">
            <div class="card-header bg-myhr">
                <h6 class="card-title">{{"Exchange Shift Details" | translate}}</h6>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-3  b-r">
                        <div class="form-group">
                            <small class="text-muted ellipsis-myhr">{{"Exchange Of Employee"| translate }}</small>
                            <h6>{{data.workflowData.screen_value["__wf__emp_exchange"]}}</h6>
                        </div>
                    </div>
                    <div class="col-10 col-sm-6 col-md-7 col-lg-3 b-r">
                        <div class="form-group">
                            <small class="text-muted ellipsis-myhr">{{"Name-Surname"| translate}}</small>
                            <h6>{{data.workflowData.screen_value["MEMPLOYEE@FULLNAME$exc"]}}</h6>
                        </div>
                    </div>
                    <div class="col-2 col-sm-2 col-md-1 col-lg-1 b-r">
                        <div class="form-group">
                            <small class="text-muted ellipsis-myhr">{{"Shitf"| translate}}</small>
                            <h6>{{data.workflowData.screen_value["__wf__shift_exchange"]}}</h6>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-3  b-r">
                        <div class="form-group">
                            <small class="text-muted ellipsis-myhr">{{"Receive Of Employee"| translate }}</small>
                            <h6>{{data.workflowData.screen_value["__wf__emp_receive"]}}</h6>
                        </div>
                    </div>
                    <div class="col-10 col-sm-6 col-md-7 col-lg-3 b-r">
                        <div class="form-group">
                            <small class="text-muted ellipsis-myhr">{{"Name-Surname"| translate}}</small>
                            <h6>{{data.workflowData.screen_value["MEMPLOYEE@FULLNAME$rec"]}}</h6>
                        </div>
                    </div>
                    <div class="col-2 col-sm-2 col-md-1 col-lg-1 b-r">
                        <div class="form-group">
                            <small class="text-muted ellipsis-myhr">{{"Shitf"| translate}}</small>
                            <h6>{{data.workflowData.screen_value["__wf__shift_receive"]}}</h6>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-xs-12 b-r">
                        <div class="form-group">
                            <small class="text-muted">{{"Change Date Request" | translate}}</small>
                            <h6>{{data.workflowData.screen_value["__wf__start_date"]}}</h6>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12 b-r">
                        <div class="form-group">
                            <small class="text-muted">{{"Date of Change" | translate}}</small>
                            <h6>{{data.workflowData.screen_value["__wf__end_date"] }}</h6>
                        </div>
                    </div>
                    <app-workflow-remark [wfid]="data.workflowData.wf_id"></app-workflow-remark>
                    <div class="col-md-12 col-xs-12 b-r">
                        <div class="form-group">
                            <small class="text-muted">{{"Cause" | translate}}</small>
                            <h6>{{data.workflowData.screen_value["__wf__cause_exchange"]}}</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ตารางเรียกูดข้อมูล -->
    <div class="col-12" *ngIf="shiftListMEMPLOYEE_FULLNAME$exc&&shiftListMEMPLOYEE_FULLNAME$rec">
        <div class="card mb-0 ">
            <div class="card-header bg-myhr">
                <h6 class="card-title">{{ "Exchange Shift Data" | translate }}</h6>
            </div>
            <div class="card-body pe-0 ps-0 pb-0 mb-2">
                <h6 class="ms-4">{{"Working Information"|translate}}
                    {{data.workflowData.screen_value["__wf__emp_exchange"]}} -
                    {{data.workflowData.screen_value["MEMPLOYEE@FULLNAME$exc"]}}</h6>
                <div class="table-responsive">
                    <div class="wrapper">
                        <table class="table  table-hover table-striped-myhr table-sm  mb-0 no-wrap v-middle ">
                            <thead class="bg-info ">
                                <tr class="text-white font-weight-normal">
                                    <th class="font-weight-normal text-center" scope="col">{{"day" | translate }}</th>
                                    <th class="font-weight-normal text-center" scope="col">{{"Shift ID" | translate }}
                                    </th>
                                    <th class="font-weight-normal text-center" scope="col">{{"detail" | translate }}
                                    </th>
                                    <th class="font-weight-normal text-center" scope="col">{{"Time In" | translate }}
                                    </th>
                                    <th class="font-weight-normal text-center" scope="col">{{"Time Out" | translate }}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of shiftListMEMPLOYEE_FULLNAME$exc; let i=index">
                                    <td class="align-middle text-center">{{item.startDate}}</td>
                                    <td class="align-middle text-center">{{item.timeCode}}</td>
                                    <td class="align-middle text-center">{{item.getDesc()}}</td>
                                    <td class="align-middle text-center">{{item.startTime|number:"2.2"}}</td>
                                    <td class="align-middle text-center">{{item.endTime|number:"2.2"}}</td>
                                </tr>
                                <tr>
                                    <td class="align-middle text-center">{{"all" | translate }} :
                                        {{shiftListMEMPLOYEE_FULLNAME$exc?shiftListMEMPLOYEE_FULLNAME$exc.length:"0"}}
                                        {{"day" |
                                        translate}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card-body pe-0 ps-0 pb-0 mb-2">
                <h6 class="ms-4">{{"Working Information"|translate}}
                    {{data.workflowData.screen_value["__wf__emp_receive"]}} -
                    {{data.workflowData.screen_value["MEMPLOYEE@FULLNAME$rec"]}}</h6>
                <div class="table-responsive">
                    <div class="wrapper">
                        <table class="table  table-hover table-striped-myhr table-sm  mb-0 no-wrap v-middle ">
                            <thead class="bg-info ">
                                <tr class="text-white font-weight-normal">
                                    <th class="font-weight-normal text-center" scope="col">{{"day" | translate }}</th>
                                    <th class="font-weight-normal text-center" scope="col">{{"Shift ID" | translate }}
                                    </th>
                                    <th class="font-weight-normal text-center" scope="col">{{"detail" | translate }}
                                    </th>
                                    <th class="font-weight-normal text-center" scope="col">{{"Time In" | translate }}
                                    </th>
                                    <th class="font-weight-normal text-center" scope="col">{{"Time Out" | translate }}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of shiftListMEMPLOYEE_FULLNAME$rec; let i=index">
                                    <td class="align-middle text-center">{{item.startDate}}</td>
                                    <td class="align-middle text-center">{{item.timeCode}}</td>
                                    <td class="align-middle text-center">{{item.getDesc()}}</td>
                                    <td class="align-middle text-center">{{item.startTime|number:"2.2"}}</td>
                                    <td class="align-middle text-center">{{item.endTime|number:"2.2"}}</td>
                                </tr>
                                <tr>
                                    <td class="align-middle text-center">{{"all" | translate }} :
                                        {{shiftListMEMPLOYEE_FULLNAME$rec?shiftListMEMPLOYEE_FULLNAME$rec.length:"0"}}
                                        {{"day" |
                                        translate}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- หมายเหตุ -->
    <div class="col-12">
        <div class="card mb-0">
            <div class="card-header bg-myhr">
                <h6 class="card-title">{{"Note" | translate}}</h6>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 col-xs-12 b-r">
                        <small class="text-muted">{{"Note"| translate}}</small>
                        <h6>{{data.workflowData.remark}}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- เอกสารอ้างอิง -->
    <div class="col-12" *ngIf="workflowData">
        <div class="card mb-0">
            <div class="card-header bg-myhr">
                <h6 class="card-title">{{"Doc Reference" | translate}}</h6>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 col-xs-12 b-r">
                        <div class="form-group">
                            <h6 class="cursor-myhr" (click)="openDocReference()">
                                {{translate.currentLang=="th"?workflowData.thaiSubject:workflowData.engSubject}}
                                [{{workflowData.doc_no}}]
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- แนบไฟล์ -->
    <div class="col-12" *ngIf="data.manageDocument.attachFile">
        <div class="card mb-0">
            <div class="card-header bg-myhr">
                <h6 class="card-title">{{"attach_file" | translate}}</h6>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 col-xs-12 b-r">
                        <small class="text-muted">{{"selected_file"| translate}}</small>
                        <h6><a class="text-dark" style="cursor: hand;cursor: pointer;"
                                (click)="dowloadFile()">{{data.manageDocument.attachFile[0].name}}</a></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- History Document Routing -->
    <div class="col-12">
        <div class="card mb-0">
            <div class="card-header bg-myhr">
                <h6 class="card-title">{{"History Document Routing" | translate}}</h6>
            </div>
            <div class="card-body ps-0 pe-0">
                <div class="table-responsive">
                    <div class="wrapper">
                        <table class="table  table-hover table-striped-myhr table-sm  mb-0 no-wrap v-middle ">
                            <thead class="bg-info ">
                                <tr class="text-white font-weight-normal">
                                    <th class="font-weight-normal text-center" scope="col">{{"systemcode.no" |
                                        translate}}
                                    </th>
                                    <th class="font-weight-normal text-center" scope="col">{{"systemcode.emp.name" |
                                        translate}}</th>
                                    <th class="font-weight-normal text-center" scope="col">{{"Position" | translate}}
                                    </th>
                                    <th class="font-weight-normal text-center" scope="col">{{"systemcode.start.time"|
                                        translate}}</th>
                                    <th class="font-weight-normal text-center" scope="col">{{"systemcode.end.time"|
                                        translate}}</th>
                                    <th class="font-weight-normal text-center" scope="col">{{"systemcode.status" |
                                        translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of data.manageDocument.routingHistory; let i=index">
                                    <td class="align-middle text-center">{{i+1}}</td>
                                    <td class="align-middle text-center">
                                        {{translate.currentLang=='th'?item.fullName_tdesc:item.fullName_edesc}}</td>
                                    <td class="align-middle text-center">
                                        {{translate.currentLang=='th'?item.position_tdesc:item.position_edesc}}</td>
                                    <td class="align-middle text-center">{{item.startTime}}</td>
                                    <td class="align-middle text-center">{{item.completionTime}}</td>
                                    <td class="align-middle text-center">{{item.action | translate}}</td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Row ปิดใบขอแลกกะโดย Center -->
