<ejs-dialog
  [(visible)]="visibleValue"
  [header]="title()"
  [width]="width()"
  [isModal]="true"
  [showCloseIcon]="showCloseIcon()"
  [closeOnEscape]="closeOnEscape()"
  [animationSettings]="{ effect: 'Zoom', duration: 400, delay: 0 }"
  (close)="onClose()">
  <ng-template #content>
    <div class="p-4">
      <p class="text-gray-700 dark:text-gray-300">{{ message() }}</p>
    </div>
  </ng-template>
  <ng-template #footerTemplate>
    <div class="flex justify-end gap-3 p-4">
      <app-glass-button
        type="button"
        [variant]="cancelVariant()"
        size="md"
        (clicked)="onCancel()">
        {{ cancelText() }}
      </app-glass-button>
      <app-glass-button
        type="button"
        [variant]="confirmVariant()"
        size="md"
        (clicked)="onConfirm()">
        {{ confirmText() }}
      </app-glass-button>
    </div>
  </ng-template>
</ejs-dialog>

