<app-modal
  [show]="isOpen"
  [title]="(isEditMode ? 'company.companyType.edit' : 'company.companyType.add') | translate"
  (closeEvent)="onClose()"
  (confirmEvent)="onSubmit()">
  
  <form [formGroup]="form" class="space-y-6 p-1">
    <!-- Code (PK) - Disable on Edit -->
    <app-glass-input
      [label]="'company.companyType.codeId' | translate"
      formControlName="codeid"
      [required]="true"
      [readonly]="isEditMode"
      [useFormValidationMessages]="true"
      maxLength="3">
      <app-form-validation-messages
        [control]="form.get('codeid')"
        [customMessages]="{ required: 'company.companyType.codeIdRequired' | translate }">
      </app-form-validation-messages>
    </app-glass-input>

    <!-- Thai Description -->
    <app-glass-input
      [label]="'company.companyType.tdesc' | translate"
      formControlName="tdesc"
      [required]="true"
      [useFormValidationMessages]="true">
      <app-form-validation-messages
        [control]="form.get('tdesc')"
        [customMessages]="{ required: 'company.companyType.tdescRequired' | translate }">
      </app-form-validation-messages>
    </app-glass-input>

    <!-- English Description -->
    <app-glass-input
      [label]="'company.companyType.edesc' | translate"
      formControlName="edesc">
    </app-glass-input>
  </form>

</app-modal>
