<!-- ข้อมูลพนักงาน -->
<div class="col-12">
    <app-workflow-emp-information [employeeId]="employeeId"
        (changeEmpInformation)="changeEmpInformation($event)"></app-workflow-emp-information>
</div>
<!-- ปิดข้อมูลพนักงาน -->
<!-- รายละเอียดแบบฟอร์มการลาออก -->
<div class="col-12">
    <div class="card mb-0">
        <div class="card-header bg-myhr">
            <h6 class="card-title">{{"Detail" | translate }}</h6>
        </div>
        <div class="card-body">
            <div class="row g-2">
                <div class="form-group col-3 text-center">
                    <label class="col-form-label font-weight-bold font-14">
                        {{"Effective date"| translate}}
                    </label>
                </div>
                <div class="form-group col-6 col-md-3 ">
                    <div class="input-group">
                        <input class="form-control" ngbDatepicker #DpEffective="ngbDatepicker"
                            placeholder="{{'dd.mm.yyyy' | translate}}" [(ngModel)]="effectiveDate" disabled>
                        <div class="input-group-append">
                            <button type="button" class="btn btn-outline-info no-shadow">
                                <i class="far fa-calendar-alt"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-2">
                <div class="form-group col-3 text-center">
                    <label class="col-form-label font-weight-bold font-14">
                        {{"Last Work Date"| translate}}
                    </label>
                </div>
                <div class="form-group col-6 col-md-3 ">
                    <div class="input-group">
                        <input class="form-control" ngbDatepicker #DpLastWork="ngbDatepicker"
                            placeholder="{{'dd.mm.yyyy' | translate}}" [(ngModel)]="lastWorkDate" disabled>
                        <div class="input-group-append">
                            <button type="button" class="btn btn-outline-info no-shadow">
                                <i class="far fa-calendar-alt"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-2">
                <div class="form-group col-3 text-center">
                    <label class="col-form-label font-weight-bold font-14">
                        {{"Work ages"| translate}}
                    </label>
                </div>
                <div class="form-group col-6 col-md-3 ">
                    <label class="col-form-label font-weight-bold font-14">
                        {{ageWork.year}} {{"year" | translate}}
                        {{ageWork.month}} {{"month" | translate}}
                        {{ageWork.day}} {{"day" | translate}}
                    </label>
                </div>
            </div>
            <!-- <div class="row g-2">
                <div class="form-group col-3 text-center">
                    <label class="col-form-label font-weight-bold font-14">
                        {{"Attitude"| translate}}
                    </label>
                </div>
                <div class="form-group col-6">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" name="AttitudeRadio" id="Positive" class="custom-control-input" [value]="1"
                            [(ngModel)]="attitude" disabled>
                        <label class="custom-control-label">
                            {{"Positive" | translate}}
                        </label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" name="AttitudeRadio" id="Negative" class="custom-control-input" [value]="2"
                            [(ngModel)]="attitude" disabled>
                        <label class="custom-control-label">
                            {{"Negative" | translate}}
                        </label>
                    </div>
                </div>
            </div> -->
            <!-- <div class="row g-2">
                <div class="form-group col-3 text-center">
                    <label class="col-form-label font-weight-bold font-14">
                        {{"Willingly Resign"| translate}}
                    </label>
                </div>
                <div class="form-group col-6">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" name="WillinglyResignRadio" id="Yes" class="custom-control-input"
                            [value]="1" [(ngModel)]="willinglyResign" disabled>
                        <label class="custom-control-label">
                            {{"Yes" | translate}}
                        </label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" name="WillinglyResignRadio" id="No" class="custom-control-input" [value]="2"
                            [(ngModel)]="willinglyResign" disabled>
                        <label class="custom-control-label">
                            {{"No" | translate}}
                        </label>
                    </div>
                </div>
            </div> -->
            <div class="row g-2">
                <div class="form-group col-3 text-center">
                    <label class="col-form-label font-weight-bold font-14">
                        {{"Resign Reason"| translate}}
                    </label>
                </div>
                <div class="form-group col-6 col-md-3">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="{{'Resign Reason ID'| translate}}"
                            [ngModel]="resignReason.resignreasonId" disabled>
                        <div class="input-group-append">
                            <button type="button" class="btn btn-info">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-group offset-3 offset-md-0 col-6 col-md-3 ">
                    <input type="text" class="form-control" placeholder="{{'Resign Reason Name'| translate}}"
                        [value]="resignReason.getName()" disabled>
                </div>
            </div>
            <!-- <div class="row g-2">
                <div class="form-group col-3 text-center">
                    <label class="col-form-label font-weight-bold font-14">
                        {{"Resign Reason(Supervisor)"| translate}}
                    </label>
                </div>
                <div class="form-group col-6 col-md-3">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="{{'Resign Reason ID'| translate}}"
                            [ngModel]="resignReasonSupervisor.resignreasonId" disabled>
                        <div class="input-group-append">
                            <button type="button" class="btn btn-info">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-group offset-3 offset-md-0 col-6 col-md-3 ">
                    <input type="text" class="form-control" placeholder="{{'Resign Reason Name'| translate}}"
                        [value]="resignReasonSupervisor.getName()" disabled>
                </div>
            </div> -->
            <!-- <div class="row g-2">
                <div class="form-group col-3 text-center">
                    <label class="col-form-label font-weight-bold font-14">
                        {{"Resign Reason(HR)"| translate}}
                    </label>
                </div>
                <div class="form-group col-6 col-md-3">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="{{'Resign Reason ID'| translate}}"
                            [ngModel]="resignReasonHR.resignreasonId" disabled>
                        <div class="input-group-append">
                            <button type="button" class="btn btn-info">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-group offset-3 offset-md-0 col-6 col-md-3 ">
                    <input type="text" class="form-control" placeholder="{{'Resign Reason Name'| translate}}"
                        [value]="resignReasonHR.getName()" disabled>
                </div>
            </div> -->
            <div class="row g-2">
                <div class="form-group col-3 text-center">
                    <label class="col-form-label font-weight-bold font-14">
                        {{"Resign Reason"| translate}}
                    </label>
                </div>
                <div class="form-group col-6">
                    <textarea class="form-control" rows="2" style="resize: none;" [(ngModel)]="otherResignreason"
                        placeholder='{{"systemcode.note"| translate}}' disabled></textarea>
                </div>
            </div>
            <!-- <div class="row g-2">
                <div class="form-group col-3 text-center">
                    <label class="col-form-label font-weight-bold font-14">
                        {{"Strong point of company"| translate}}
                    </label>
                </div>
                <div class="form-group col-6">
                    <textarea class="form-control" rows="2" style="resize: none;" [(ngModel)]="strongPoint"
                        placeholder='{{"systemcode.note"| translate}}' disabled></textarea>
                </div>
            </div> -->
            <!-- <div class="row g-2">
                <div class="form-group col-3 text-center">
                    <label class="col-form-label font-weight-bold font-14">
                        {{"Weak point of company"| translate}}
                    </label>
                </div>
                <div class="form-group col-6">
                    <textarea class="form-control" rows="2" style="resize: none;" [(ngModel)]="weakPoint"
                        placeholder='{{"systemcode.note"| translate}}' disabled></textarea>
                </div>
            </div> -->
            <app-workflow-remark [wfid]="wfid"></app-workflow-remark>
        </div>
    </div>
</div>
<!-- ปิดรายละเอียดแบบฟอร์มการลาออก -->
<!-- หมายเหตุ แนบไฟล์ ประวัติเส้นทางเอกสาร ข้อเสนอแนะ -->
<app-workflow-detail-footer [workflowData]="workflowData" [manageDocument]="manageDocument">
</app-workflow-detail-footer>
<!-- ปิด หมายเหตุ แนบไฟล์ ประวัติเส้นทางเอกสาร ข้อเสนอแนะ -->
