.border-form {
    min-width: 100%;
    min-height: 100%;
    margin: 5px;
    display: flex;
    justify-content: center !important;
    align-items: center;
    border: 1px solid #e9ecef !important;
    border-color: #36bea6 !important;
    padding: 10px;
}

.border-bottom-form {
    min-width: 100%;
    min-height: 100%;
    margin: 5px;
    display: flex;
    justify-content: center !important;
    align-items: center;
    border-bottom: 2px solid #e9ecef !important;
    border-color: #36bea6 !important;
    padding: 10px;
}

.disborder-form {
    min-width: 100%;
    min-height: 100%;
    margin: 5px;
    display: flex;
    justify-content: center !important;
    align-items: center;
    padding: 10px;
}



.col-55-55 {
    flex: 0 0 55.55%;
    max-width: 55.55%;
}
.col-22-22 {
    flex: 0 0 22.22%;
    max-width: 22.22%;
}
