<!-- ใบแก้ไขบันทึกการทำงาน -->
<div class="row">
  <!-- ส่งถึง -->
  <div class="col-12">
    <app-workflow-sendto (employeeCCId)="employeeCCId=$event" [wfid]="wfid" [cardName]="'systemcode.swapshift'"></app-workflow-sendto>
    </div>
  <!-- รายละเอียดข้อมูลพนักงาน -->
  <div class="col-12">
    <app-workflow-emp-information (changeEmpInformation)="empInformation=$event"></app-workflow-emp-information>
  </div>
  <!-- รายละเอียดการเปลี่ยนกะ -->
  <div class="col-12">
    <div class="card mb-0">
      <div class="card-header bg-myhr">
        <h6 class="card-title">{{"swap-shift-detail" | translate }}</h6>
      </div>
      <div class="card-body">
        <div class="row">

          <div class="col-md-6 col-xs-12 b-r">
            <div class="form-group">
              <small class="text-muted">{{"start.date"| translate }}</small>
              <div class="input-group">
                <input class="form-control col-md-6 col-sm-6 col-lg-6" placeholder="{{'dd.mm.yyyy' | translate}}"
                  name="dp1" [(ngModel)]="selectStartDate"  (dateSelect)="checkBetweenDate()"
                  (ngModelChange)="selectStartDate;getShiftDay()"  
                  #c1="ngModel"
                  (change)="selectStartDate = datepickerService.validateFormatDate(c1);checkBetweenDate();"
                  ngbDatepicker 
                  #d1="ngbDatepicker"
                  (blur)="checkBetweenDate()">
                <div class="input-group-append">
                  <button class="btn btn-outline-info no-shadow" (click)="d1.toggle()" type="button">
                    <i class="far fa-calendar-alt"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
         
          <div class="col-md-6 col-xs-12 b-r">
            <div class="form-group">
              <small class="text-muted">{{"end.date"| translate }}</small>
              <div class="input-group">
                <input class="form-control col-md-6 col-sm-6 col-lg-6" placeholder="{{'dd.mm.yyyy' | translate}}"
                  name="dp2" [(ngModel)]="selectEndDate" ngbDatepicker #d2="ngbDatepicker"
                 (dateSelect)="checkBetweenDate()" #c2="ngModel" (change)="selectEndDate = datepickerService.validateFormatDate(c2);checkBetweenDate();"
                 (blur)="checkBetweenDate()">
                <div class="input-group-append">
                  <button class="btn btn-outline-info no-shadow" (click)="d2.toggle()" type="button">
                    <i class="far fa-calendar-alt"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-xs-12 b-r" *ngIf="shiftDayModel">
            <small class="text-muted">{{"main-shift"| translate }}</small>
            <div class="row">
              <div class="col-md-2  col-lg-2 col-sm-2">
                <div class="form-group">
                  <input readonly type="text" class="form-control" placeholder="{{empInformation?.time0.time0id}}"
                    [(ngModel)]="shiftDayModel.time0Id">
                </div>
              </div>
              <div class="col-md-4  col-lg-4 col-sm-4">
                <div class="form-group">
                  <input readonly type="text" class="form-control" placeholder="{{empInformation?.time0.tdesc}}"
                    [(ngModel)]="shiftDayModel.time0Name">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-xs-12 b-r">
            <small class="text-muted">{{"new-shift"| translate }}</small>
            <div class="row">
              <div class="col-md-2 col-lg-2 col-sm-2">
                <div class="form-group">
                  <input readonly type="text" class="form-control" [(ngModel)]="selectShiftId">
                </div>
              </div>
              <div class="col-md-4 col-lg-4 col-sm-4">
                <div class="form-group">
                  <input readonly type="text" class="form-control" [(ngModel)]="selectShiftName">
                </div>
              </div>
              <div class="col-md-2 col-lg-2 col-sm-2">
                <div class="form-group">
                  <button type="submit" class="btn btn-info waves-effect waves-light "
                    (click)="openModalSwap(contentSwap)"><i class="fa fa-search"></i></button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- เหตุผลที่เปลี่ยนกะ -->
  <div class="col-12">
    <div class="card mb-0">
      <div class="card-header bg-myhr">
        <h6 class="card-title">{{"swap-reason" | translate}}</h6>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12 col-xs-12 b-r">
            <div class="form-group">
              <small class="text-muted">{{"swap-reason"| translate}}</small>
              <textarea class="form-control" rows="2" style="resize: none;" [(ngModel)]="reason"
                placeholder='{{"swap-reason"| translate}}'></textarea>
            </div>
          </div>
          <app-workflow-remark [wfid]="wfid"></app-workflow-remark>
          <!-- <div class="col-md-12 col-xs-12 b-r">
            <small class="text-muted">{{"Note" | translate}}</small>
            <h6>{{"systemcode.shiftchange.1" | translate}}</h6>
            <h6>{{"systemcode.shiftchange.2" | translate}}</h6>
            <button [disabled]="selectShiftId==''" type="submit" class="btn btn-info waves-effect waves-light me-1"
              (click)="viewClick()">View</button>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <!-- ตารางการขอ OT -->
  <div class="col-12" *ngIf="viewShift&&shiftListTimeE">
    <div class="card mb-0 ">
      <div class="card-header bg-myhr" *ngIf="shiftDayModel">
        <h6 class="card-title">{{ "systemcode.old.work" | translate }}</h6>
      </div>
      <div class="card-body pe-0 ps-0 " *ngIf="shiftDayModel">
        <div class="table-responsive">
          <div class="wrapper">
            <table class="table  table-hover table-striped-myhr table-sm  mb-0 no-wrap v-middle ">
              <thead class="bg-info ">
                <tr class="text-white font-weight-normal">
                  <th class="font-weight-normal text-center" scope="col">{{"date" | translate }}</th>
                  <th class="font-weight-normal text-center" scope="col">{{"systemcode.time.code" | translate }}</th>
                  <th class="font-weight-normal text-center" scope="col">{{"systemcode.description" | translate }}</th>
                  <th class="font-weight-normal text-center" scope="col">{{"Time In" | translate }}</th>
                  <th class="font-weight-normal text-center" scope="col">{{"Time Out" | translate }}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="align-middle text-center">{{shiftDayModel.dateId}}</td>
                  <td class="align-middle text-center">{{shiftDayModel.time0Id}}</td>
                  <td class="align-middle text-center">{{shiftDayModel.time0Name}}</td>
                  <td class="align-middle text-center">{{shiftDayModel.timeIn}}</td>
                  <td class="align-middle text-center">{{shiftDayModel.timeOut}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="card-header bg-myhr">
        <h6 class="card-title">{{ "systemcode.new.work" | translate }}</h6>
      </div>
      <div class="card-body pe-0 ps-0 ">
        <div class="table-responsive">
          <div class="wrapper">
            <table class="table  table-hover table-striped-myhr table-sm  mb-0 no-wrap v-middle ">
              <thead class="bg-info ">
                <tr class="text-white font-weight-normal">
                  <th class="font-weight-normal text-center" scope="col">{{"date" | translate }}</th>
                  <th class="font-weight-normal text-center" scope="col">{{"systemcode.time.code" | translate }}</th>
                  <th class="font-weight-normal text-center" scope="col">{{"systemcode.description" | translate }}</th>
                  <th class="font-weight-normal text-center" scope="col">{{"Time In" | translate }}</th>
                  <th class="font-weight-normal text-center" scope="col">{{"Time Out" | translate }}</th>
                </tr>
              </thead>
              <tbody *ngFor="let item of shiftListTimeE">
                <tr>
                  <td class="align-middle text-center">{{item.dateId}}</td>
                  <td class="align-middle text-center">{{item.timeCode}}</td>
                  <td class="align-middle text-center">{{item.getDesc()}}</td>
                  <td class="align-middle text-center">{{item.startTime}}.00</td>
                  <td class="align-middle text-center">{{item.endTime}}.00</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- เหตุผล -->
  <div class="col-12">
    <div class="card mb-0">
      <div class="card-header bg-myhr">
        <h6 class="card-title">{{"systemcode.note" | translate}}</h6>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12 col-xs-12 b-r">
            <div class="form-group">
              <small class="text-muted">{{"systemcode.note"| translate}}</small>
              <textarea class="form-control" rows="2" style="resize: none;" [(ngModel)]="remark"
                placeholder='{{"systemcode.note"| translate}}'></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- เอกสารอ้างอิง -->
  <div class="col-12" *ngIf="runno&&workflowData">
    <div class="card mb-0">
      <div class="card-header bg-myhr">
        <h6 class="card-title">{{"Doc Reference" | translate}}</h6>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6 col-xs-12 b-r">
            <div class="form-group">
              <h6 class="cursor-myhr" (click)="openDocReference()">
                {{translateService.currentLang=="th"?workflowData.thaiSubject:workflowData.engSubject}}
                [{{workflowData.doc_no}}]
              </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- แนบไฟล์ -->
  <div class="col-12">
    <div class="card mb-0">
      <div class="card-header bg-myhr">
        <h6 class="card-title">{{"attach_file" | translate}}</h6>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6 col-xs-12 b-r">
            <div class="form-group">
              <small class="text-muted">{{"selected_file"| translate}}</small>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">{{"upload_file"|translate}}</span>
                </div>
                <div class="custom-file">
                  <input #fileInput type="file" class="custom-file-input" id="inputGroupFile01" title=""
                    (change)="onFileSelected($event)"
                    accept="{{uploadConfig?uploadConfig.filter.replaceAll('*',''):''}}">
                  <label class="custom-file-label col-lg-12 col-md-12 col-sm-12" for="inputGroupFile01">{{nameFile |
                    translate}}</label>
                </div>

              </div>
            </div>
          </div>

          <div class="col-md-6 col-xs-12 b-r">
            <div class="form-group " style="margin-top: 20px;">
              <button type="button" class="btn btn-danger" (click)="resetIMG()">{{"cancel"| translate}}</button>
            </div>
          </div>
          <div class="col-md-12 col-xs-12 b-r" *ngIf="uploadConfig">
            <p class="text-danger m-b-0">{{"Maximum upload size" | translate}} {{uploadConfig.maxSize/1024/1024}} MB</p>
            <p class="text-danger">{{"Extensions are support" | translate}} {{uploadConfig.filter}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="d-flex no-block align-items-center justify-content-center">
        <div class="action-form">
          <div class="form-group m-b-0 text-center">
            <button [disabled]="selectShiftId==''||!selectStartDate||!selectEndDate" type="submit" class="btn btn-success waves-effect waves-light"
              (click)="openOnSubmit()"><i class=" fas fa-check"></i>
              {{"Submit" | translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Row ปิดใบแก้ไขบันทึกการทำงาน -->

<!-- Modal สำเนาถึง -->
<ng-template #modalCC let-modal>
  <div class="modal-content dialog-height">
    <div class="modal-body" [perfectScrollbar]="config">
      <div class="card" style="margin-bottom:-15px">
        <div class="card-header bg-myhr">
          <h5 class="card-title">{{"menu.employee-list" | translate}}</h5>
        </div>
        <div class="card-body pb-0 pt-1">
          <div class="d-flex mb-1">
            <input type="text" placeholder="{{'Name-Surname' | translate}}" class="form-control w-50">
          </div>
          <div class="table-responsive">
            <div class="wrapper">
              <table class="table  table-hover  table-sm  mb-0 no-wrap v-middle">
                <thead class="bg-info ">
                  <tr class="text-white font-weight-normal">
                    <th class="font-weight-normal text-center" scope="col">{{"systemcode.emp.id" | translate}}</th>
                    <th class="font-weight-normal text-center" scope="col">{{"systemcode.emp.name" | translate}}</th>
                    <th class="font-weight-normal text-center" scope="col">{{"systemcode.position"| translate}}</th>
                    <th class="font-weight-normal text-center" scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="bg-myhr" colspan="4">Executive Office 3 :</td>
                  </tr>
                  <tr>
                    <td class="font-weight-normal text-center">540954</td>
                    <td class="font-weight-normal text-center">นายชัยยันต์ เค้าแคน</td>
                    <td class="font-weight-normal text-center">Executive Office</td>
                    <td class="font-weight-normal text-center"><button type="button" class="btn btn-info btn-sm"
                        style="width: 60px;"> {{"choose"| translate}}</button></td>
                  </tr>
                  <tr>
                    <td class="font-weight-normal text-center">570906</td>
                    <td class="font-weight-normal text-center">นายสามารถ เนื่องศรี</td>
                    <td class="font-weight-normal text-center">Executive Office</td>
                    <td class="font-weight-normal text-center"><button type="button" class="btn btn-info btn-sm"
                        style="width: 60px;"> {{"choose"| translate}}</button></td>
                  </tr>
                  <tr>
                    <td class="bg-myhr" colspan="4">Operations :</td>
                  </tr>
                  <tr>
                    <td class="font-weight-normal text-center">580109</td>
                    <td class="font-weight-normal text-center">นางสาวนิตยา เนมขุนทด</td>
                    <td class="font-weight-normal text-center">Marketing Officer</td>
                    <td class="font-weight-normal text-center"><button type="button" class="btn btn-info btn-sm"
                        style="width: 60px;"> {{"choose"| translate}}</button></td>
                  </tr>
                  <tr>
                    <td class="font-weight-normal text-center">580109</td>
                    <td class="font-weight-normal text-center">นางสาวนิตยา เนมขุนทด</td>
                    <td class="font-weight-normal text-center">Marketing Officer</td>
                    <td class="font-weight-normal text-center"><button type="button" class="btn btn-info btn-sm"
                        style="width: 60px;"> {{"choose"| translate}}</button></td>
                  </tr>
                  <tr>
                    <td class="font-weight-normal text-center">580109</td>
                    <td class="font-weight-normal text-center">นางสาวนิตยา เนมขุนทด</td>
                    <td class="font-weight-normal text-center">Marketing Officer</td>
                    <td class="font-weight-normal text-center"><button type="button" class="btn btn-info btn-sm"
                        style="width: 60px;"> {{"choose"| translate}}</button></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="d-flex justify-content-end p-2">

            <select class="form-select m-r-5" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="page=1">
              <option [ngValue]="10">{{"Items per page" | translate}}: 10</option>
              <option [ngValue]="50">{{"Items per page" | translate}}: 50</option>
              <option [ngValue]="100">{{"Items per page" | translate}}: 100</option>
            </select>
            <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" [maxSize]="3"
              [rotate]="true">
              <ng-template ngbPaginationPrevious>{{"Prev" | translate}}</ng-template>
              <ng-template ngbPaginationNext>{{"Next" | translate}}</ng-template>
            </ngb-pagination>

          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">{{"Close" | translate}}</button>
    </div>
  </div>
</ng-template>


<ng-template #contentSwap let-modal>
  <div class="modal-content dialog-height">
    <div class="modal-body" [perfectScrollbar]="config">
      <div class="card" style="margin-bottom:-15px">
        <div class="card-header bg-myhr">
          <h4>{{"working-table" | translate}}</h4>
        </div>
        <div class="card-body pt-0 pt-2">
          <div class="d-flex mb-1">
            <input type="text" placeholder="{{'time-code' | translate}}" class="form-control w-25"
            [(ngModel)]="shiftListSearch" (ngModelChange)="searchShiftList()">
          </div>
          <div class="table-responsive">
            <table class="table  table-hover table-striped-myhr table-sm  mb-0 no-wrap v-middle ">
              <thead class="bg-info ">
                <tr class="text-white font-weight-normal">
                  <th class="font-weight-normal" scope="col">{{"time-code"| translate}}</th>
                  <th class="font-weight-normal" scope="col">{{"th-detail"| translate}}</th>
                  <th class="font-weight-normal" scope="col">{{"en-detail"| translate}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="shiftListShow.length==0">
                  <td colspan="4" class="font-weight-normal text-center">{{"No Data Found" | translate}}</td>
                </tr>
                <tr 
                  class="cursor-myhr"
                  *ngFor="let item of shiftListShow | slice: (pageShift-1) * pageSizeShift : (pageShift-1) * pageSizeShift + pageSizeShift; let i=index" 
                  (click)="selectShiftList(item); changeId(); modal.dismiss('Cross click'); resetSearch()">
                  <td class="align-middle">{{item.time0id}}</td>
                  <td class="align-middle">{{item.tdesc}}</td>
                  <td class="align-middle">{{item.edesc}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="d-flex justify-content-end p-2">
            <select class="form-select m-r-5" style="width: auto" [(ngModel)]="pageSizeShift">
              <option [ngValue]="10">{{"Items per page"| translate}}: 10</option>
              <option [ngValue]="50">{{"Items per page"| translate}}: 50</option>
              <option [ngValue]="100">{{"Items per page"| translate}}: 100</option>
            </select>

            <ngb-pagination [collectionSize]="collectionSizeShift" [(page)]="pageShift" [pageSize]="pageSizeShift">
              <ng-template ngbPaginationPrevious>{{"Prev"| translate}}</ng-template>
              <ng-template ngbPaginationNext>{{"Next"| translate}}</ng-template>
            </ngb-pagination>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="modal.dismiss('Cross click');resetSearch()">{{"Close"|
        translate}}</button>
    </div>
  </div>
</ng-template>


<!-- แจ้งเตือน -->
<ng-template #alertModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="editLabel">{{"Alert Message" | translate}}</h5>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{msg}}
  </div>
</ng-template>
<ng-template #confirmModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="editLabel">{{"Alert Message" | translate}}</h5>
    <button type="button" class="close" (click)="closeBtnClick()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{msg | translate}}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info" (click)="onSubmit();modal.close('Close click')">{{"confirm"|
      translate}}</button> <button type="button" class="btn btn-danger" (click)="closeBtnClick()">{{"cancel"|
      translate}}</button>
  </div>
</ng-template>

<ng-template #DocReferenceModal let-modal>
  <div class="modal-content dialog-height">
    <div class="modal-header">
      <h5 class="modal-title" id="editLabel">{{"systemcode.documents.detail" | translate}}</h5>
      <button type="button" class="close" (click)="closeBtnClick()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" [perfectScrollbar]="config">
      <div class="card" style="margin-bottom:-15px">
        <div class="card-body">
          <!-- ใส่เอกสารตรงนี้นะจ๊ะ -->
          <ng-template #workflowView [ngComponentOutlet]="dynamicComponent" [ndcDynamicInputs]="inputs"
            [ndcDynamicOutputs]="outputs"></ng-template>
          <!-- <app-wel210-nstda-create></app-wel210-nstda-create> -->
        </div>
      </div>
      <div class="d-flex no-block align-items-center justify-content-center mt-4">
        <div class="action-form">
          <div class="form-group m-b-0 text-center">
            <button type="button" class="btn btn-danger" (click)="onCancel()"><i class=" fas fa-times"></i>
              {{"cancel" |translate}}</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-info" (click)="closeBtnClick()">{{"confirm"| translate}}</button>
    </div>
  </div>
</ng-template>
<ng-template #cancelModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="editLabel">{{"Alert Message" | translate}}</h5>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{msg | translate}}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info" (click)="cancelWF()">{{"confirm"| translate}}</button> <button
      type="button" class="btn btn-danger" (click)="modal.dismiss('Cross click')">{{"cancel"| translate}}</button>
  </div>
</ng-template>
