<div class="card">
    <div class="card-header bg-myhr" >
      <h4>{{"Document cancellation" | translate}}</h4>
    </div>
    <div class="card-body " >
        <!-- นิยามเวิร์คโฟล์ -->
         <div class="row ">
            <div class="offset-md-2 col-md-3 col-12 col-sm-12">
                <div class="form-group">
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="{{'Employee ID'| translate }}" aria-describedby="basic-addon1">
                    <div class="input-group-append">
                      <button class="btn me-0 btn-info" type="button"><i
                          class="fa fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-4 col-sm-8">
                <div class="form-group">
                  <input type="text" placeholder="{{'Name-Surname'| translate }}" class="form-control"disabled>
                </div>
              </div>
        </div>
         <div class="row ">
            <div class="offset-md-2 col-md-3 col-12 col-sm-12">
                <div class="form-group">
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="{{'documents.type'| translate }}" aria-describedby="basic-addon1">
                    <div class="input-group-append">
                      <button class="btn me-0 btn-info" type="button"><i
                          class="fa fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-4 col-sm-8">
                <div class="form-group">
                  <input type="text" placeholder="" class="form-control"disabled>
                </div>
              </div>
        </div>

        <div class="row">
            <div class="offset-md-2 col-md-2 col-xs-3">
                <div class="form-group">
                    <input type="text" placeholder="{{'systemcode.documents.id'| translate }}" class="form-control"disabled>
                </div>
            </div>
            <div class="col-md-2 col-xs-3">
                <div class="form-group">
                    <div class="input-group">
                      <input readonly class="form-control col-md-12 col-sm-12 col-lg-12"
                        placeholder="{{'dd.mm.yyyy' | translate}}" name="dp3"  ngbDatepicker
                        #d3="ngbDatepicker">
                      <div class="input-group-append">
                        <button  class="btn btn-outline-info no-shadow" (click)="d3.toggle()" type="button">
                          <i class="far fa-calendar-alt"></i>
                        </button>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-md-2 col-xs-3">
                <div class="form-group">
                    <div class="input-group">
                      <input readonly class="form-control col-md-12 col-sm-12 col-lg-12"
                        placeholder="{{'dd.mm.yyyy' | translate}}" name="dp4"  ngbDatepicker
                        #d4="ngbDatepicker">
                      <div class="input-group-append">
                        <button  class="btn btn-outline-info no-shadow" (click)="d4.toggle()" type="button">
                          <i class="far fa-calendar-alt"></i>
                        </button>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-md-2 col-xs-3">
                <div class="form-group">
                    <input type="text" placeholder="{{'documents.late'| translate }}" class="form-control"disabled>
                </div>
            </div>
        </div>

    </div>
</div>


<div class=" align-items-center mt-2 p-2 bg-white mb-0">
    <div class="row mb-0 pb-0">
      <div class="col-lg-3 col-md-6  col-sm-6 col-6 col-xl-3">
        <div class="">
          <div class="input-group ">
            <input type="text" class="form-control" placeholder="{{'systemcode.search' | translate}}"
              [(ngModel)]="docSearch" (ngModelChange)="searchDoc()">
            <div class="input-group-append">
              <button class="btn me-0 btn-info" type="button" (click)="searchApi()"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-9 col-md-6 col-sm-6 col-6 col-xl-9  text-end">
        <!-- Create Doc  -->
      
      </div>
    </div>
  </div>
  <div class="justify-content-center text-center" role="status" *ngIf="loadingIn || loadingOut">
    <div class="spinner-grow text-info" role="status" style="margin: 5px">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-info" role="status" style="margin: 5px">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-info" role="status" style="margin: 5px">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div class="main-part" style="height: calc(100vh - 175px); z-index: -2" *ngIf="!loadingIn && !loadingOut">
    <div class="right-part">
      <!-- ช่องรายการเมล -->
      <div class="card mb-0">
        <div class="row g-0">
          <div class="col-lg-3 col-md-12 col-xl-3 border-right">
            <div class="position-relative" style="height: 100%;">
              <div class="
                  d-flex
                  align-items-center
                  justify-content-center
                  px-3
                  py-3
                  border-bottom
                ">
                <div class="mail-pagination">
                  <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" [maxSize]="4"
                    [rotate]="true" [ellipses]="false">
                  </ngb-pagination>
                </div>
              </div>
  
              <div class="position-relative" style="height: calc(100vh - 258px)" [perfectScrollbar]="config">
                <div *ngFor="
                    let item of showList
                      | slice
                        : (page - 1) * pageSize
                        : (page - 1) * pageSize + pageSize;
                    let i = index
                  " (click)="mailSelected(item);listClick($event, item)"
                  [ngClass]="{'activemail': selectedIteMail == item}">
                  <!-- Row -->
                  <ul class="mailbox list-style-none">
                    <li>
                      <div class="message-center" style="height: calc(100vh - 267px);">
                        <div>
  
                          <a class="message-item pe-0 ">
                            <span class="user-img">
                              <img appShowLoading src="{{baseUrl+ item.initiator_pic}}" alt="user" class="rounded-circle"
                                style="width: 35px; height: 35px;">
                            </span>
                            <div class="mail-contnet  mt-2 ps-2  ">
                              <div class="row">
                                <div class="col-9">
                                  <!-- <h6 class="text-dark mb-0">{{translateService.currentLang == 'th'?
                                    item.receiver_tdesc:item.receiver_edesc }}</h6> -->
                                  <h6 class="text-dark mb-0">{{translateService.currentLang == 'th'?
                                    item.initiator_tdesc:item.initiator_edesc }}</h6>
                                </div>
                                <div class="col-3 text-end " style="font-size: 0.8rem;">
                                  <!-- รออนุมัติ -->
                                  <span class="fa-stack fa-xs rt_anim" *ngIf="item.status == 0"
                                    ngbTooltip="{{'systemcode.status.1' | translate}}" container="body"
                                    tooltipClass="myhrcolor-2">
                                    <i class="fa fa-circle fa-stack-2x text-success"></i>
                                    <i class=" fas fa-hourglass-half fa-stack-1x fa-inverse"></i>
                                  </span>
  
                                  <!-- งานถูกอนุมัติ  -->
                                  <span class="fa-stack fa-xs rt_anim" *ngIf="item.status == 1"
                                    ngbTooltip="{{'systemcode.status.2' | translate}}" container="body"
                                    tooltipClass="myhrcolor-2">
                                    <i class="fa fa-circle fa-stack-2x text-success"></i>
                                    <i class=" fas fa-check  fa-stack-1x fa-inverse"></i>
                                  </span>
  
                                  <!-- ไม่อนุมัติงาน -->
                                  <span class="fa-stack fa-xs rt_anim" *ngIf="item.status == 2"
                                    ngbTooltip="{{'systemcode.status.3' | translate}}" container="body"
                                    tooltipClass="myhrcolor-3">
                                    <i class="fa fa-circle fa-stack-2x text-danger"></i>
                                    <i class="fas fa-times fa-stack-1x fa-inverse" style="font-size: 1.25em;"></i>
                                  </span>
  
                                  <!-- ไม่มีผู้รับงาน -->
                                  <span class="fa-stack fa-xs rt_anim" *ngIf="item.status == 3"
                                    ngbTooltip="{{'systemcode.status.4' | translate}}" container="body"
                                    tooltipClass="myhrcolor-3">
                                    <i class="fa fa-circle fa-stack-2x text-danger"></i>
                                    <i class="fas fa-exclamation-triangle fa-stack-1x fa-inverse"></i>
                                  </span>
  
                                  <!-- ยกเลิกงาน -->
                                  <span class="fa-stack fa-xs rt_anim" *ngIf="item.status == 4"
                                    ngbTooltip="{{'systemcode.status.5' | translate}}" container="body"
                                    tooltipClass="myhrcolor-3">
                                    <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                    <i class="fas fa-ban fa-stack-2x text-danger "></i>
                                  </span>
  
  
                                  <!-- ยกเลิกงาน -->
                                  <span class="fa-stack fa-xs rt_anim" *ngIf="item.status == 5"
                                    ngbTooltip="{{'systemcode.status.5' | translate}}" container="body"
                                    tooltipClass="myhrcolor-3">
                                    <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                    <i class="fas fa-ban fa-stack-2x text-danger "></i>
                                  </span>
  
                                  <!-- ส่งงานกลับ -->
                                  <span class="fa-stack fa-xs rt_anim" *ngIf="item.status == 6"
                                    ngbTooltip="{{'systemcode.status.6' | translate}}" container="body"
                                    tooltipClass="myhrcolor-4">
                                    <i class="fa fa-circle fa-stack-2x text-warning "></i>
                                    <i class="fas fa-exclamation fa-stack-1x fa-inverse"></i>
                                  </span>
  
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-7"> <span class="text-muted font-14 " style="font-weight: 600;">{{
                                    item.docNo | slice: 0:20 }}</span></div>
                                <div class="col-5 text-end"><span class="font-14 text-info text-muted"    ngbTooltip="{{translateService.currentLang == 'th'?(convertDate(item.date) | thaidate :'fullNotYear':'a'):(convertDate(item.date) | date:'EEEE d MMMM y')}}" container="body"
                                  tooltipClass="myhrcolor-date">{{(convertDate(item.date) | date:'EE') | translate}}
                                    {{convertTime(item.date)}}</span>
                                  </div>
                              </div>
                              <div class="row">
                                <div class="col-12">
                                  <p class="font-weight-normal font-14 text-info mb-0 mb-2 ellipsis-mail">
                                    {{translateService.currentLang == 'th'? item.subject_tdesc : item.subject_edesc }}</p>
                                </div>
  
                              </div>
  
                            </div>
                          </a>
                        </div>
                      </div>
                    </li>
                  </ul>
                  <!-- End Row -->
                </div>
              </div>
            </div>
          </div>
  
          <!-- ช่องรายละเอียดเมล -->
          <div class="col-lg-9 col-md-12 col-xl-9 detail-part" [class.movetodetail]="ms.addClass">
            <div *ngIf="!selectedWF" class="h-100 d-none d-lg-block">
              <div class="d-flex align-items-center justify-content-center h-100">
                <div class="text-center">
                  <i class="far fa-envelope display-5 rt_anim text-info"></i>
                  <h4 class="text-info rt_anim">{{"systemcode.select.workflow" | translate}}</h4>
                </div>
              </div>
            </div>
  
            <div *ngIf="selectedWF != null">
              <div class="position-relative" style="height: calc(100vh - 180px)" [perfectScrollbar]="config">
                <!-- ปุ่มกดกลับ -->
                <div *ngIf='selectedWF' class="d-flex align-items-center px-3 py-2 border-bottom bg-light">
                  <div class="d-flex align-items-center">
                    <button class="me-3 d-block d-lg-none btn btn-info btn-sm" (click)="removeClass()">
                      <i class="fas fa-arrow-left"></i>
                    </button>
                  </div>
                </div>
                <!-- หัวข้อเมล -->
                <spam *ngIf='selectedWF'>
                  <div class="d-flex justify-content-center p-3 border-bottom bg-info ">
                    <div class="text-center mx-auto">
                      <h5 class="mb-0 mt-1 text-white">{{translateService.currentLang == 'th'? selectedWF.subject_tdesc :
                        selectedWF.subject_edesc }}</h5>
                    </div>
                    <!-- รออนุมัติ -->
                    <span class="fa-stack fa-md " *ngIf="selectedWF.status == 0"
                      ngbTooltip="{{'systemcode.status.1' | translate}}" container="body" tooltipClass="myhrcolor-2">
                      <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                      <i class=" fas fa-hourglass-half fa-stack-1x  text-success rt_anim"></i>
                    </span>
  
                    <!-- งานถูกอนุมัติ  -->
                    <span class="fa-stack fa-md" *ngIf="selectedWF.status == 1"
                      ngbTooltip="{{'systemcode.status.2' | translate}}" container="body" tooltipClass="myhrcolor-2">
                      <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                      <i class=" fas fa-check  fa-stack-1x text-success rt_anim"></i>
                    </span>
  
                    <!-- ไม่อนุมัติงาน -->
                    <span class="fa-stack fa-md" *ngIf="selectedWF.status == 2"
                      ngbTooltip="{{'systemcode.status.3' | translate}}" container="body" tooltipClass="myhrcolor-3">
                      <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                      <i class="fas fa-times fa-stack-1x text-danger rt_anim" style="font-size: 1.5em;"></i>
                    </span>
  
                    <!-- ไม่มีผู้รับงาน -->
                    <span class="fa-stack fa-md" *ngIf="selectedWF.status == 3"
                      ngbTooltip="{{'systemcode.status.4' | translate}}" container="body" tooltipClass="myhrcolor-3">
                      <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                      <i class="fas fa-exclamation-triangle fa-stack-1x text-danger rt_anim"></i>
                    </span>
  
                    <!-- ยกเลิกงาน -->
                    <span class="fa-stack fa-md" *ngIf="selectedWF.status == 4"
                      ngbTooltip="{{'systemcode.status.5' | translate}}" container="body" tooltipClass="myhrcolor-3">
                      <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                      <i class="fas fa-ban fa-stack-1x text-danger  rt_anim" style="font-size: 1.6em;"></i>
                    </span>
  
                    <!-- ยกเลิกงาน -->
                    <span class="fa-stack fa-md" *ngIf="selectedWF.status == 5"
                      ngbTooltip="{{'systemcode.status.5' | translate}}" container="body" tooltipClass="myhrcolor-3">
                      <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                      <i class="fas fa-ban fa-stack-1x text-danger  rt_anim" style="font-size: 1.6em;"></i>
                    </span>
  
                    <!-- ส่งงานกลับ -->
                    <span class="fa-stack fa-md" *ngIf="selectedWF.status == 6"
                      ngbTooltip="{{'systemcode.status.6' | translate}}" container="body" tooltipClass="myhrcolor-4">
                      <i class="fa fa-circle fa-stack-2x fa-inverse "></i>
                      <i class="fas fa-exclamation fa-stack-1x text-warning rt_anim"></i>
                    </span>
  
                  </div>
                  <!-- ปิดหัวข้อเมล -->
                  <div class="p-3">
                    <div class="mb-4">
                      <!-- WorkFlow -->
                      <app-workflow-type [wf_id]="selectedWF.param.wf_id" [runno]="selectedWF.param.__runno"
                        [create]="false" (inbox)='newInbox($event)' [fromPage]="'admin-view'"></app-workflow-type>
                      <!-- End WorkFlow  -->
                    </div>
                  </div>
                </spam>
  
              </div>
            </div>
          </div>
          <!-- ปิดช่องรายละเอียด -->
  
        </div>
      </div>
    </div>
  </div>
  
  
  <!-- ----------------------------------------------------------------------------- -->
  <!-- Compose Modal -->
  <!-- ----------------------------------------------------------------------------- -->
  

  
  
