<div class="profile-modal-container">
  <div class="text-center">
    <ul ngbNav #navKC="ngbNav" [(activeId)]="activeKeep" [destroyOnHide]="false" class="nav-tabs d-inline-flex">
      <li [ngbNavItem]="1" [destroyOnHide]="true">
        <a ngbNavLink><i class="fas fa-user-circle mr-2"></i>{{"setting.user.information" | translate}}</a>
        <ng-template ngbNavContent>
          <div class="row justify-content-center">
            <div class="col-lg-10 col-xl-8">
              <div class="card profile-card anim-fade-in">
                <div class="card-body">
                  <div class="row align-items-center">
                    <div class="col-md-4 text-center" *ngIf="empProfile">
                      <div class="profile-pic-wrapper">
                        <img src="{{empProfile.getPictureUrl()}}" class="profile-pic" alt="User Picture">
                      </div>
                    </div>
                    <div class="col-md-8" *ngIf="empProfile">
                      <h3 class="profile-name">{{translate.currentLang=='th'?empProfile.getFullnameTH():empProfile.getFullnameEN()}}</h3>
                      <div class="profile-details mt-3">
                        <div class="detail-item">
                          <span class="detail-label">{{"setting.user.group" | translate}}</span>
                          <span class="detail-value">{{user_level?user_level:'-'}}</span>
                        </div>
                        <div class="detail-item">
                          <span class="detail-label">{{"setting.user.role" | translate}}</span>
                          <span class="detail-value">{{user_role?user_role:'-'}}</span>
                        </div>
                        <div class="detail-item">
                          <span class="detail-label">{{"setting.user.passworexpire" | translate}}</span>
                          <span class="detail-value">{{setCharacterPass?.expireDate && setCharacterPass?.passwordStatus !="1"? (setCharacterPass.expireDate | date : 'dd-MM-yyyy') : '-' }}</span>
                        </div>
                        <div class="detail-item">
                          <span class="detail-label">{{"setting.user.passwordstatus" | translate}}</span>
                          <span class="detail-value">{{setCharacterPass?.passwordStatus ? getDesc(setCharacterPass.passwordStatus) :'-'}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="2">
        <a ngbNavLink><i class="fas fa-cog mr-2"></i>{{"systemcode.profile.setting" | translate}}</a>
        <ng-template ngbNavContent>
          <div class="row justify-content-center">
            <div class="col-lg-11 col-xl-10">
              <div class="card settings-card anim-fade-in">
                <div class="card-body p-lg-5">
                  <div class="row">
                    <div class="col-md-7 border-right-form pr-lg-5">
                      <h4 class="form-title">{{"setting.user.passnew" | translate}}</h4>
                      <div class="form-group">
                        <label class="form-label" for="oldPassword">{{"setting.user.passold" | translate}}</label>
                        <input id="oldPassword" type="password" [(ngModel)]="oldPassword" class="form-control">
                      </div>
                      <div class="form-group">
                        <label class="form-label" for="newPassword">{{"setting.user.passnew" | translate}}</label>
                        <input required [ngClass]="{'is-invalid' : checkPassword || checkNumPassword || checkLengthPassword || checkSmallPassword || (checkPass && confirmPassword != '')}"
                          type="password" [(ngModel)]="password" class="form-control" (ngModelChange)="changePass()">
                      </div>
                      <div class="form-group">
                        <label class="form-label" for="confirmPassword">{{"setting.user.passconfirm" | translate}}</label>
                        <input id="confirmPassword" required [ngClass]="{'is-invalid' : checkPass && confirmPassword != ''}" type="password"
                          [(ngModel)]="confirmPassword" class="form-control" (ngModelChange)="changePass()">
                        <small *ngIf="checkPass" class="invalid-feedback d-block">{{translate.currentLang=='th'?"รหัสผ่านไม่ตรงกัน":"Passwords do not match"}}</small>
                      </div>
                      <hr class="my-4">
                      <h4 class="form-title">{{"setting.user.language" | translate}}</h4>
                      <div class="form-group">
                        <div class="d-flex">
                          <div class="custom-control custom-radio mr-4">
                            <input type="radio" id="th" name="status21" class="custom-control-input" value="THA" [(ngModel)]="checkLang">
                            <label class="custom-control-label" for="th">{{"systemcode.thai" | translate}}</label>
                          </div>
                          <div class="custom-control custom-radio">
                            <input type="radio" id="eng" name="status21" class="custom-control-input" value="ENG" [(ngModel)]="checkLang">
                            <label class="custom-control-label" for="eng">{{"systemcode.eng" | translate}}</label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-5">
                      <div class="password-rules">
                        <h6>{{"systemcode.password.requirements" | translate}}</h6>
                        <small [class.valid]="!checkLengthPassword && password.length >= validMin"><i class="fas fa-check-circle"></i> {{translate.currentLang=='th'?"ความยาว "+ validMin+" - "+validMax+" ตัวอักษร":" "+ validMin+" - "+validMax+" characters long"}}</small>
                        <small [class.valid]="!checkPassword && password.length > 0"><i class="fas fa-check-circle"></i> {{translate.currentLang=='th'?"ตัวอักษรใหญ่ [A-Z] อย่างน้อย "+validAZ:"At least "+validAZ+" uppercase letter [A-Z]"}}</small>
                        <small [class.valid]="!checkSmallPassword && password.length > 0"><i class="fas fa-check-circle"></i> {{translate.currentLang=='th'?"ตัวอักษรเล็ก [a-z] อย่างน้อย "+validaz:"At least "+validaz+" lowercase letter [a-z]"}}</small>
                        <small [class.valid]="!checkNumPassword && password.length > 0"><i class="fas fa-check-circle"></i> {{translate.currentLang=='th'?"ตัวเลข [0-9] อย่างน้อย "+validNum:"At least "+validNum+" number [0-9]"}}</small>
                        <small><i class="fas fa-check-circle"></i> {{translate.currentLang=='th'?"อักขระพิเศษ [@#+$%] อย่างน้อย "+validSpecial:"At least "+validSpecial+" special character [@#+$%]"}}</small>
                        <hr>
                        <small class="form-text text-muted">{{translate.currentLang=='th'?"- รหัสผ่านจะมีผลเมื่อมีการ Login เข้าระบบใหม่":"- This password will be effective when Login into the system later."}}</small>
                      </div>
                    </div>
                  </div>
                  <div class="text-center mt-4">
                    <button [disabled]="checkSmallPassword || checkPass || checkNumPassword || checkLengthPassword || password == '' || confirmPassword == '' " (click)="savePassword()" class="btn btn-save">
                      <i class="fas fa-save mr-2"></i>
                      {{'systemcode.save' | translate}}
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="navKC"></div>
  </div>

  <button *ngIf="btnclose" type="button" class="btn-close-modal" (click)="closeBtnClick()">
    &times;
  </button>

  <!-- Modals remain the same -->
  <ng-template #errorModal let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="editLabel">{{"Alert Message" | translate}}</h5>
      <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      {{msg | translate}}
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-info" (click)="modal.dismiss('Cross click')">{{"confirm"|
        translate}}</button>
    </div>
  </ng-template>
  <ng-template #confirmModal let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="editLabel">{{"Alert Message" | translate}}</h5>
      <button type="button" class="close" (click)="closeBtnClick()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      {{msg | translate}}
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-info" (click)="closeBtnClick()">{{"confirm"|
        translate}}</button>
    </div>
  </ng-template>
</div>
