.border-gray {
    border-color: #e9ecef #e9ecef #e9ecef #e9ecef !important;
}
.border-gray:focus {
    color: #4f5467 !important;
    background-color: #fff !important;
    border-color: rgba(0, 0, 0, 0.25) !important;
    outline: 0 !important;
    box-shadow: transparent;
}

.border-red {
    border-color: red red red red !important;
}

.tr-hover:hover {
    cursor: pointer;
    color: #7460ee;
}
.text-color-normal {
    color: #3e5569;
}
