<!-- ข้อมูลพนักงาน -->
<div class="col-12">
    <app-workflow-emp-information [employeeId]="employeeId"></app-workflow-emp-information>
</div>
<!-- ปิดข้อมูลพนักงาน -->
<!-- รายละเอียดการขอหนังสือรับรอง -->
<div class="col-12">
    <div class="card mb-0">
        <div class="card-header bg-myhr">
            <h6 class="card-title">{{"Detail" | translate }}</h6>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-8 col-md-6 col-lg-4  b-r">
                    <div class="form-group">
                        <small class="text-muted ellipsis-myhr">
                            {{"pwf001.certificate.type"| translate }}
                        </small>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" readonly [value]="certificate.getName()">
                            <div class="input-group-append">
                                <button class="btn me-0 btn-info" type="button" disabled>
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4 col-sm-3 col-md-2 col-lg-2 align-self-center ">
                    <div class="custom-checkbox ms-4">
                        <input type="checkbox" class="custom-control-input" id="CheckTh" disabled [checked]="thCheck">
                        <label class="custom-control-label" for="CheckTh">
                            {{"systemcode.thai" | translate }}
                        </label>
                    </div>
                </div>
                <div class="col-4 col-sm-3 col-md-2 col-lg-2">
                    <input type="text" class="form-control" disabled [value]="thCopy">
                </div>
                <div class="col-2 col-sm-2 col-md-2 col-lg-1">
                    <label class=" control-label col-form-label">
                        {{"pwf001.copy" | translate}}
                    </label>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-4 col-sm-3 col-md-2 col-lg-2 align-self-center ">
                    <div class="custom-checkbox ms-4">
                        <input type="checkbox" class="custom-control-input" id="CheckEng" disabled [checked]="engCheck">
                        <label class="custom-control-label" for="CheckEng">
                            {{"systemcode.eng" | translate }}
                        </label>
                    </div>
                </div>
                <div class="col-4 col-sm-3 col-md-2 col-lg-2">
                    <input type="number" class="form-control" disabled [value]="engCopy">
                </div>
                <div class="col-2 col-sm-2 col-md-2 col-lg-1">
                    <label class=" control-label col-form-label">
                        {{"pwf001.copy" | translate}}
                    </label>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-12 col-xs-12 b-r">
                    <small class="text-muted">{{"Note"| translate}}</small>
                    <h6>{{"systemcode.pwf.001.note" | translate}}</h6>
                </div>
                <app-workflow-remark [wfid]="wfid"></app-workflow-remark>
            </div>
        </div>
    </div>
</div>
<!-- ปิดรายละเอียดการขอหนังสือรับรอง -->
<!-- หมายเหตุ แนบไฟล์ ประวัติเส้นทางเอกสาร ข้อเสนอแนะ -->
<app-workflow-detail-footer [workflowData]="workflowData" [manageDocument]="manageDocument">
</app-workflow-detail-footer>
<!-- ปิด หมายเหตุ แนบไฟล์ ประวัติเส้นทางเอกสาร ข้อเสนอแนะ -->
