<div class="card" style=" height: 100vh;">
    <div class="row g-0">
        <div class="col-12 border-right workflow-height-doc">
            <ul ngbNav #navVp="ngbNav" [(activeId)]="activeId" class="nav-pills ellipsis-mail"
                style="white-space: nowrap;" orientation="vertical">
                <li *ngFor="let items of workflowMenuList; let i=index" [ngbNavItem]="i" (click)="toggleMenu()">
                    <div class="row">
                        <div class="col-12">
                            <a ngbNavLink
                                class="cursor-myhr text-dark hover-myhr font-test border-bottom p-2  border-top">
                                <img src="{{'assets/images/iconworkflow/'+items.code+'img.png'}}" height="70"
                                    width="70" />
                                <span class="ms-2 font-16">
                                    {{items.code | translate}}
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="row" *ngIf="activeId==i">
                        <div class="col-12" *ngFor="let item of items.child; let l=index">
                            <a class="btn-info-myhr border-bottom  ps-3" style="display: flex;align-items: center;padding-top: 15px;padding-bottom: 15px;"
                                routerLink="../workflow-type/{{getWorkflowId(item)}}">
                                {{item.getDesc()}}
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-12   col-lg-8 " style="display: none;">
            <div class="position-relative" style="height: 100%;">
                <div [ngbNavOutlet]="navVp"></div>
            </div>
        </div>
    </div>
</div>
