input[type="color"] {
    border: none;
    width: 100%;
}
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}
input[type="color"]::-webkit-color-swatch {
    border: none;
}
::ng-deep .fc .fc-button-primary {
    background-color: #2962ff !important;
    border-color: #ffffff !important;
}
::ng-deep .fc-daygrid-day-frame {
    cursor: pointer;
}

::ng-deep .my_calendar {
    background-color: red;
    .fc-daygrid-day-number {
        color: white;
    }
    .fc-daygrid-event-dot {
        display: none;
    }
    .fc-event-time {
        display: none;
    }
    .fc-event-title {
        color: white;
        text-align: center;
    }
}
