<div class="card">
  <div class="card-header bg-myhr">
    <h4>{{"Memployee Holiday" | translate}}</h4>
  </div>
  <div class="card-body ">
    <div class="row g-2">
      <div class="form-group col-3 text-center">
        <label class="col-form-label font-weight-bold font-14">
          {{"Employee"| translate}}
        </label>
      </div>
      <div class="form-group  col-6 col-md-3">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="{{'Employee ID'| translate}}"
            aria-describedby="basic-addon1" [ngModel]="employee.employeeId"
            (ngModelChange)="modelEmployeeChange($event)">
          <div class="input-group-append">
            <button class="btn me-0 btn-info" type="button" (click)="openEmployeeModal();"><i
                class="fa fa-search"></i></button>
          </div>
        </div>
      </div>
      <div class="form-group offset-3 offset-md-0 col-6 col-md-3 ">
        <input type="text" placeholder="{{'Name-Surname'| translate}}" class="form-control" disabled
          [value]="employee.getName()">
      </div>
    </div>
    <div *ngIf="employee.engFullName||employee.thFullName">
      <div class="row g-2">
        <div class="form-group col-3 text-center">
          <label class="col-form-label font-weight-bold font-14">
            {{"Holiday"| translate}}
          </label>
        </div>
        <div class="form-group  col-6 col-md-3">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="{{'Holiday Name'| translate}}"
              aria-describedby="basic-addon1" [ngModel]="publicHoliday.getName()"
              (ngModelChange)="modelPublicHolidayChange($event)">
            <div class="input-group-append">
              <button class="btn me-0 btn-info" type="button" (click)="openPublicHolidayModal()">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row g-2" *ngIf="publicHolidayStatus">
        <div class="form-group col-3 text-center">
          <label class="col-form-label font-weight-bold font-14">
            {{"Holiday remaining"| translate}}
          </label>
        </div>
        <div class="form-group  col-6 col-md-3">
          <label class="col-form-label font-weight-bold font-14">
            {{publicHoliday.countHoliday-publicHoliday.used}}&nbsp;{{"day"|translate}}
          </label>
        </div>
      </div>
      <div class="row g-2">
        <div class="form-group col-12 text-center">
          <button type="button" class="btn btn-success waves-effect waves-light" style="width: 85px;"
            [disabled]="!employee.engFullName&&!employee.thFullName" (click)="saveHoliday1()">
            {{"Save"| translate}}
          </button>
        </div>
      </div>
      <full-calendar #calendar [options]="calendarOptions"></full-calendar>
    </div>
    <div class="row g-2">
      <div class="col-12  border-bottom border-top p-1">
        <small class="text-muted  ">{{"detail.heading.1" | translate}}</small>
        <h6>1.&nbsp;{{getMessageTranslate("เลือกพนักงาน","Select employee")}}</h6>
        <h6>2.&nbsp;{{getMessageTranslate("เลือกวันหยุด","Select holiday")}}</h6>
        <h6>3.&nbsp;{{"memployee-holiday.detail.mark" | translate}}</h6>
        <h6>4.&nbsp;{{"memployee-holiday.detail.clicksave" | translate}}</h6>
        <h6>{{getMessageTranslate("ป.ล.","P.S.")}}&nbsp;&nbsp;1.&nbsp;
          {{getMessageTranslate("ไม่สามารถเลือกวันที่ที่น้อยกว่าปัจจุบันได้",
          "A date less than the current cannot be selected.")}}</h6>
        <h6>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.&nbsp;
          {{getMessageTranslate("ไม่สามารถเลือกวันที่ได้หากวันหยุดคงเหลือเป็น 0",
          "The date cannot be selected if the remaining holiday is 0.")}}</h6>
        <h6>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.&nbsp;
          {{getMessageTranslate("หากเลือกวันหยุดซ้ำในปฏิทิน วันหยุดเก่าจะถูกลบออก",
          "If a repeating holiday is selected in the calendar Old holidays will be deleted.")}}</h6>
      </div>
      <div class="col-12 border-bottom p-1">
        <small class="text-muted ">{{"detail.heading.2" | translate}}</small>
        <h6>1.&nbsp;{{getMessageTranslate("เลือกพนักงาน","Select employee")}}</h6>
        <h6>2.&nbsp;{{getMessageTranslate("เลือกวันหยุดที่ตรงกับวันหยุดที่ต้องการลบในปฏิทิน",
          "Select the holiday that corresponds to the holiday you want to delete in the calendar.")}}</h6>
        <h6>3.&nbsp;{{"memployee-holiday.detail.unmark" | translate}}</h6>
        <h6>4.&nbsp;{{"memployee-holiday.detail.clicksave" | translate}}</h6>
      </div>
    </div>
  </div>
</div>
