<div class="modal-content dialog-height">
    <div class="modal-body">
        <div class="card" style="margin-bottom:-15px">
            <div class="card-header bg-myhr">
                <h5 class="card-title">{{"pwf001.certificate.type" | translate}}</h5>
            </div>
            <div class="card-body pb-0 pt-1">
                <div class="d-flex mb-1">
                    <input type="text" placeholder="{{'pwf001.certificate.type' | translate}}" class="form-control w-50"
                        [ngModel]="textSearch" (ngModelChange)="search($event)">
                </div>
                <div class="table-responsive">
                    <div class="wrapper">
                        <table class="table  table-hover table-striped-myhr table-sm  mb-0 no-wrap v-middle">
                            <thead class="bg-info ">
                                <tr class="text-white font-weight-normal">
                                    <th class="font-weight-normal text-center" scope="col">
                                        {{"pwf001.certificate.type" |translate}}
                                    </th>
                                    <th class="font-weight-normal text-center" scope="col">
                                        {{"systemcode.doctype.name.th" | translate}}
                                    </th>
                                    <th class="font-weight-normal text-center" scope="col">
                                        {{"systemcode.doctype.name.eng"| translate}}
                                    </th>

                                </tr>
                            </thead>
                            <tbody *ngIf="certificateFilter.length == 0">
                                <tr>
                                    <td colspan="100%" class="font-weight-normal text-center">
                                        {{"No Data Found" | translate}}
                                    </td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="certificateFilter.length != 0">
                                <tr
                                    *ngFor="let item of certificateFilter |slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; let i=index">
                                    <td class="align-middle"><a class="link-myhr link-hover"
                                      (click)="activeModal.close(item)">
                                      <p class="font-medium mb-0">{{item.certType}}</p>
                                    </a></td>
                                    <td class="font-weight-normal text-center">{{item.tdesc}}</td>
                                    <td class="font-weight-normal text-center">{{item.edesc}}</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="d-flex justify-content-end p-2">
                    <select class="form-select m-r-5" style="width: auto" [(ngModel)]="pageSize"
                        (ngModelChange)="page=1">
                        <option *ngFor="let item of [10,50,100]" [ngValue]="item">
                            {{"Items per page" | translate}}: {{item}}
                        </option>
                    </select>
                    <ngb-pagination [collectionSize]="certificateFilter.length" [(page)]="page" [pageSize]="pageSize"
                        [maxSize]="3" [rotate]="true">
                        <ng-template ngbPaginationPrevious>
                            {{"Prev" | translate}}
                        </ng-template>
                        <ng-template ngbPaginationNext>
                            {{"Next" | translate}}
                        </ng-template>
                    </ngb-pagination>

                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="activeModal.dismiss()">
            {{"Close" | translate}}
        </button>
    </div>
</div>
