<div class="justify-content-center text-center" role="status" *ngIf="loadingWF">
  <div class="spinner-grow text-info" role="status" style="margin: 5px;">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-info" role="status" style="margin: 5px;">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-info" role="status" style="margin: 5px;">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<!-- ใบขอลาหยุดงานโดยหัวหน้างาน  -->
<div class="row" *ngIf="!loadingWF">
  <!-- ส่งถึง -->
  <div class="col-12">
    <app-workflow-sendto (employeeCCId)="employeeCCId=$event" [wfid]="wfid" cardName="systemcode.leave.sup"
      subjectName="{{'systemcode.leave.sup' | translate}}  {{this.dataEMP?'('+this.dataEMP[this.leaveData]?.getDesc()+')':''}}"></app-workflow-sendto>
  </div>

  <!-- รายละเอียดข้อมูลพนักงาน -->
  <div class="col-12">
    <div class="card mb-0">
      <div class="card-header bg-myhr">
        <h6 class="card-title">{{"Employee Detail" | translate}}</h6>
      </div>
      <div class="card-body" *ngIf="empList">
        <div class="row">
          <div class="col-md-6 col-xs-12 b-r">
            <small class="text-muted">{{"Employee ID" | translate}}</small>
            <h6><button type="button" class="btn btn-info  btn-sm btn-circle me-3" (click)="openModal(content);"><i
                  class="fa fa-search"></i> </button>{{ empList[index]?.employeeId?empList[index].employeeId:'' }}</h6>
          </div>
          <div class="col-md-6 col-xs-12 b-r">
            <small class="text-muted">{{"Name-Surname" | translate}}</small>
            <h6>{{ empList[index]?.getFullname()?empList[index].getFullname():'-'}}</h6>
          </div>
          <div class="col-md-6 col-xs-12 b-r">
            <small class="text-muted">{{"Position" | translate}}</small>
            <h6>{{ empList[index]?.position.getPositionDesc()?empList[index].position.getPositionDesc():'-'}}</h6>
          </div>
          <div class="col-md-6 col-xs-12 b-r">
            <small class="text-muted">{{(SwaplangCodeService.getSwapLangCodeFromModelList("BU1"))?SwaplangCodeService.getSwapLangCodeFromModelList("BU1"):"Bu1"| translate}}</small>
            <h6>{{empList[index]?.bu1?empList[index].bu1.getBu1Desc():'-'}}</h6>
          </div>
          <div class="col-md-6 col-xs-12 b-r">
            <small class="text-muted">{{(SwaplangCodeService.getSwapLangCodeFromModelList("BU2"))?SwaplangCodeService.getSwapLangCodeFromModelList("BU2"):"Bu2"| translate}}</small>
            <h6>{{empList[index]?.bu2?empList[index].bu2.getBu2Desc():'-'}}</h6>
          </div>
          <div class="col-md-6 col-xs-12 b-r">
            <small class="text-muted">{{(SwaplangCodeService.getSwapLangCodeFromModelList("BU3"))?SwaplangCodeService.getSwapLangCodeFromModelList("BU3"):"Bu3"| translate}}</small>
            <h6>{{empList[index]?.bu3?empList[index].bu3.getBu3Desc():'-'}}</h6>
          </div>
          <div class="col-md-6 col-xs-12 b-r">
            <small class="text-muted">{{(SwaplangCodeService.getSwapLangCodeFromModelList("BU4"))?SwaplangCodeService.getSwapLangCodeFromModelList("BU4"):"Bu4"| translate}}</small>
            <h6>{{empList[index]?.bu4?empList[index].bu4.getBu4Desc():'-'}}</h6>
          </div>
          <div class="col-md-6 col-xs-12 b-r">
            <small class="text-muted">{{(SwaplangCodeService.getSwapLangCodeFromModelList("BU5"))?SwaplangCodeService.getSwapLangCodeFromModelList("BU5"):"Bu5"| translate}}</small>
            <h6>{{empList[index]?.bu5?empList[index].bu5.getBu5Desc():'-'}}</h6>
          </div>
          <div class="col-md-6 col-xs-12 b-r">
            <small class="text-muted">{{(SwaplangCodeService.getSwapLangCodeFromModelList("BU6"))?SwaplangCodeService.getSwapLangCodeFromModelList("BU6"):"Bu6"| translate}}</small>
            <h6>{{empList[index]?.bu6?empList[index].bu6.getBu6Desc():'-'}}</h6>
          </div>
          <div class="col-md-6 col-xs-12 b-r">
            <small class="text-muted">{{(SwaplangCodeService.getSwapLangCodeFromModelList("BU7"))?SwaplangCodeService.getSwapLangCodeFromModelList("BU7"):"Bu7"| translate}}</small>
            <h6>{{empList[index]?.bu7?empList[index].bu7.getBu7Desc():'-'}}</h6>
          </div>
          <div class="col-md-6 col-xs-12 b-r">
            <small class="text-muted">{{"tel" | translate}}</small>
            <h6>{{ empList[index]?.telExt?empList[index].telExt:'-'}}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- รายละเอียดการลา -->
  <div class="col-12">
    <div class="card mb-0">
      <div class="card-header bg-myhr">
        <h6 class="card-title">{{"leave-detail" | translate}}</h6>
      </div>
      <div class="card-body" *ngIf="loadingEmp">
        <div class="col-12" style="z-index: 1;position: absolute;top: 50%;text-align: center;">
          <div class="spinner-grow text-info" role="status" style="margin: 5px;">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow text-info" role="status" style="margin: 5px;">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow text-info" role="status" style="margin: 5px;">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>
      <div class="card-body" *ngIf="!loadingEmp">
        <div class="col-12" style="z-index: 1;position: absolute;top: 50%;text-align: center;">
          <div class="spinner-grow text-info" role="status" style="margin: 5px;" *ngIf="loadingCal">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow text-info" role="status" style="margin: 5px;" *ngIf="loadingCal">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow text-info" role="status" style="margin: 5px;" *ngIf="loadingCal">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <div class="row" *ngIf="dataEMP!=undefined&&dataEMP[leaveData]">
          <div class="col-md-6 col-xs-12 b-r">
            <div class="form-group">
              <small class="text-muted">{{"leave.type" | translate}}</small>
              <select class="form-control col-md-6 col-sm-6 col-lg-6" [(ngModel)]="leaveData" (change)="resetCal()">
                <option *ngFor="let item of dataEMP; let i=index" [value]="i">
                  {{item.getDesc()}}
                </option>
              </select>
            </div>
          </div>
          <div class="col-md-6 col-xs-12 b-r">
            <small class="text-muted">{{"remain" | translate}} ({{"date-hr-min" | translate}})</small>
            <h6>{{dataEMP[leaveData].remain}}</h6>
          </div>
          <div class="col-md-12 col-xs-12 b-r">

            <div class="form-group">
              <small class="text-muted">{{"Leave Format" | translate}}</small>
              <div class="form-check">
                <div class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input" id="leave1" name="radio-stacked" [value]="0"
                    (change)="detailsLeave($event.target.value);resetCal('edit')" [checked]="typeLeave==0">
                  <label class="custom-control-label" for="leave1">{{"workflow.format_leave0"|
                    translate}}</label>
                </div>
              </div>
              <div class="form-check">
                <div class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input" id="leave2" name="radio-stacked" [value]="1"
                    (change)="detailsLeave($event.target.value);resetCal('edit')" [checked]="typeLeave==1">
                  <label class="custom-control-label" for="leave2">{{"workflow.format_leave1" |
                    translate}}</label>
                </div>
              </div>
              <div class="form-check">
                <div class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input" id="leave3" name="radio-stacked" [value]="2"
                    (change)="detailsLeave($event.target.value);resetCal()" [checked]="typeLeave==2">
                  <label class="custom-control-label" for="leave3">{{"workflow.format_leave2" |
                    translate}}</label>
                </div>
              </div>
              <div class="form-check">
                <div class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input" id="leave4" name="radio-stacked" [value]="3"
                    (change)="detailsLeave($event.target.value);resetCal()" [checked]="typeLeave==3">
                  <label class="custom-control-label" for="leave4">{{"workflow.format_leave3" |
                    translate }}</label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-xs-12 b-r" *ngIf="typeLeave==0 || typeLeave==1">
            <div class="form-group" *ngIf="typeLeave==0">
              <small class="text-muted">{{"full-day-leave" | translate}}</small>
              <input type="number" min="1" max="100" class="form-control col-lg-3 col-md-3 col-sm-6 "
                (change)="changeTime();numdate>100?numdate=100:numdate" placeholder='{{"day" | translate}}'
                [(ngModel)]="numdate">
              <small *ngIf="numdate>100" class="text-danger ">{{"systemcode.alert.leave.day" | translate}}</small>
            </div>
            <div class="form-group" *ngIf="typeLeave==1">
              <small class="text-muted">{{"hour-leave" | translate}} {{"(Hr:Min)" |translate}}</small>
              <ngb-timepicker [(ngModel)]="hourleaveTime" [spinners]="spinners" (change)="changeTime();">
              </ngb-timepicker>
            </div>
          </div>
          <div class="col-md-6 col-xs-12 b-r">
            <div class="form-group">
              <small class="text-muted">{{"start.date" | translate}}</small>
              <div class="input-group">
                <input class="form-control col-md-6 col-sm-6 col-lg-6" placeholder="{{'dd.mm.yyyy' | translate}}" oninput="value = value.replace(/[^0-9/]/g, '');"
                  name="dp1" (ngModelChange)="changeTime()" [(ngModel)]="selectStartDate" ngbDatepicker
                  #d1="ngbDatepicker" #c1="ngModel"
                  (change)="selectStartDate = datepickerService.validateFormatDate(c1,false)">
                <div class="input-group-append">
                  <button class="btn btn-outline-info no-shadow" (click)="d1.toggle()" type="button">
                    <i class="far fa-calendar-alt"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xs-12 b-r">
            <div class="form-group" *ngIf="fullDay||partial||half">
              <small class="text-muted">{{"end.date" | translate}}</small>
              <div class="input-group">
                <input readonly class="form-control col-md-6 col-sm-6 col-lg-6"
                  placeholder="{{'dd.mm.yyyy' | translate}}" name="dp2" [(ngModel)]="selectEndDate" ngbDatepicker
                  #d2="ngbDatepicker" [minDate]="selectStartDate" #c2="ngModel"
                  (change)="selectEndDate = datepickerService.validateFormatDate(c2)">
                <div class="input-group-append">
                  <button disabled class="btn btn-outline-info no-shadow" (click)="d2.toggle()" type="button">
                    <i class="far fa-calendar-alt"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xs-12 b-r">
            <div class="form-group" *ngIf="fullDay||half">
              <small class="text-muted">{{"time-start" | translate}}</small>
              <input readonly type="time" class="form-control col-md-6 col-sm-6 col-lg-6" [(ngModel)]="selectStartTime">
            </div>
            <div class="form-group" *ngIf="typeLeave==1">
              <small class="text-muted">{{"time-start" | translate}}</small>
              <input type="time" class="form-control col-md-6 col-sm-6 col-lg-6" [(ngModel)]="selectStartTime">
            </div>
          </div>
          <div class="col-md-6 col-xs-12 b-r">
            <div class="form-group" *ngIf="fullDay||partial||half">
              <small class="text-muted">{{"time-end" | translate}}</small>
              <input readonly type="time" class="form-control col-md-6 col-sm-6 col-lg-6" [(ngModel)]="selectEndTime">
            </div>
          </div>

          <div class="col-md-12 col-xs-12 b-r">
            <div class="d-flex no-block align-items-center mb-1">
              <div class="action-form">
                <div class="form-group m-b-0 text-center">
                  <button [disabled]="loadingCal" type="submit" class="btn btn-success waves-effect waves-light "
                    (click)="calculate()">
                    <i class=" fas fa-calculator"></i> {{"calculate" |translate}}
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12 col-xs-12 b-r">
            <div class="form-group">
              <small class="text-muted">{{"leave-reason" | translate}}</small>
              <textarea class="form-control" rows="2" style="resize: none;" placeholder='{{"leave-reason" | translate}}'
                [(ngModel)]="leaveReason"></textarea>
            </div>
          </div>
          <div class="col-md-12 col-xs-12 b-r">
            <small class="text-muted">{{"systemcode.pwf.001.remark" | translate}}</small>
            <h6>
              {{get_eventgrpLeaveData_remark(dataEMP[leaveData].eventgrpid)}}
            </h6>
          </div>
          <app-workflow-remark [wfid]="wfid"></app-workflow-remark>
        </div>
      </div>
    </div>
  </div>
  <!-- เอกสารอ้างอิง -->
  <div class="col-12" *ngIf="runno&&workflowData">
    <div class="card mb-0">
      <div class="card-header bg-myhr">
        <h6 class="card-title">{{"Doc Reference" | translate}}</h6>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6 col-xs-12 b-r">
            <div class="form-group">
              <h6 class="cursor-myhr" (click)="openDocReference()">
                {{translateService.currentLang=="th"?workflowData.thaiSubject:workflowData.engSubject}}
                [{{workflowData.doc_no}}]
              </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- แนบไฟล์ -->
  <div class="col-12">
    <div class="card mb-0">
      <div class="card-header bg-myhr">
        <h6 class="card-title">{{"attach_file" | translate}}</h6>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6 col-xs-12 b-r">
            <div class="form-group">
              <small class="text-muted">{{"selected_file"| translate}}</small>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">{{"upload_file"|translate}}</span>
                </div>
                <div class="custom-file">
                  <input #fileInput type="file" class="custom-file-input" id="inputGroupFile01" title=""
                    (change)="onFileSelected($event)"
                    accept="{{uploadConfig?uploadConfig.filter.replaceAll('*',''):''}}">
                  <label class="custom-file-label col-lg-12 col-md-12 col-sm-12" for="inputGroupFile01">{{nameFile |
                    translate}}</label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xs-12 b-r">
            <div class="form-group " style="margin-top: 20px;">
              <button type="button" class="btn btn-danger" (click)="resetIMG()"><i class="fas fa-times"></i> {{"cancel"|
                translate}}</button>
            </div>
          </div>
          <div class="col-md-12 col-xs-12 b-r" *ngIf="uploadConfig">
            <p class="text-danger m-b-0">{{"Maximum upload size" | translate}} {{uploadConfig.maxSize/1024/1024}} MB</p>
            <p class="text-danger">{{"Extensions are support" | translate}} {{uploadConfig.filter}}</p>
          </div>
        </div>
      </div>
    </div>
    <!-- สิทธิการลา -->
    <div class="col-12">
      <div class="card mb-0">
        <div class="card-header bg-myhr">
          <div class="d-flex">
            <h6 class="card-title" style="margin-top: 3px;">{{"Privilege Leave" | translate}} </h6>
            <button class="btn btn-success btn-sm  ms-3" (click)="showPrivilegeLeave()"><i
                class="{{showP == 'Show Privilege Leave'  ? 'fas fa-eye-slash' : 'fas fa-eye'}}"></i> {{showP |
              translate}}</button>
          </div>
        </div>
        <div class="card-body" *ngIf="loadingEmp">
          <div class="col-12" style="z-index: 1;position: absolute;top: 50%;text-align: center;">
            <div class="spinner-grow text-info" role="status" style="margin: 5px;">
              <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-info" role="status" style="margin: 5px;">
              <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-info" role="status" style="margin: 5px;">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>
        <div class="card-body" *ngIf="!loadingEmp&&dataEMP!=undefined&&privilegeLeave">
          <div class="row" *ngIf="dataEMP[leaveData]">
            <div class="col-lg-4 col-md-6  col-xs-6 mb-2 text-center" *ngFor="let item of dataEMP; let i=index">
              <h4 class="text-white ">
                <span class="badge bg-info btn-block font-weight-bold">{{item.getDesc()}}</span>
              </h4>
              <small class="text-muted">{{"Limit" | translate}}</small>
              <h6>{{item.limit}}</h6>
              <small class="text-muted">{{"Used" | translate}}</small>
              <h6>{{item.used}}</h6>
              <small class="text-muted">{{"Remain" | translate}}</small>
              <h6>{{item.remain}}</h6>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card-body ">
      <div class="d-flex no-block align-items-center justify-content-center">
        <div class="action-form">
          <div class="form-group m-b-0 text-center">
            <button [disabled]="!submit" type="submit" class="btn btn-success waves-effect waves-light"
              (click)="openOnSubmit()"><i class=" fas fa-check"></i>
              {{"Submit" | translate}}</button>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Row ปิดใบขอลาหยุดงาน โดยหัวหน้า -->
</div>
<ng-template #content let-modal>
  <div class="modal-content">
    <div class="modal-body" [perfectScrollbar]="config">

      <div class="card" style="margin-bottom:-15px">
        <div class="card-header bg-myhr">
          <h4>{{"subordinate list" | translate}}</h4>
        </div>
        <div class="card-body pt-0 pt-2">
          <div class="d-flex mb-1">
            <input type="text" placeholder="{{'Name-Surname' | translate}}, {{'Employee ID' | translate}}, {{'Position' | translate}} {{'and_all_bu' | translate}}" class="form-control w-25"
              [(ngModel)]='searchTerm'>
          </div>
          <div class="table-responsive">
            <table class="table  table-hover table-striped-myhr table-sm  mb-0 no-wrap v-middle ">
              <thead class="bg-info ">
                <tr class="text-white font-weight-normal">
                  <th class="font-weight-normal" scope="col">{{"No."| translate}}</th>
                  <th class="font-weight-normal" scope="col">{{"Employee ID"| translate}}</th>
                  <th class="font-weight-normal" scope="col">{{"Name-Surname"| translate}}</th>
                  <th class="font-weight-normal" scope="col">{{"Position"| translate}}</th>
                  <th class="font-weight-normal" scope="col">{{(SwaplangCodeService.getSwapLangCodeFromModelList("BU1"))?SwaplangCodeService.getSwapLangCodeFromModelList("BU1"):"Bu1"| translate}}</th>
                  <th class="font-weight-normal" scope="col">{{(SwaplangCodeService.getSwapLangCodeFromModelList("BU2"))?SwaplangCodeService.getSwapLangCodeFromModelList("BU2"):"Bu2"| translate}}</th>
                  <th class="font-weight-normal" scope="col">{{(SwaplangCodeService.getSwapLangCodeFromModelList("BU3"))?SwaplangCodeService.getSwapLangCodeFromModelList("BU3"):"Bu3"| translate}}</th>
                  <th class="font-weight-normal" scope="col">{{(SwaplangCodeService.getSwapLangCodeFromModelList("BU4"))?SwaplangCodeService.getSwapLangCodeFromModelList("BU4"):"Bu4"| translate}}</th>
                  <th class="font-weight-normal" scope="col">{{(SwaplangCodeService.getSwapLangCodeFromModelList("BU5"))?SwaplangCodeService.getSwapLangCodeFromModelList("BU5"):"Bu5"| translate}}</th>
                  <th class="font-weight-normal" scope="col">{{(SwaplangCodeService.getSwapLangCodeFromModelList("BU6"))?SwaplangCodeService.getSwapLangCodeFromModelList("BU6"):"Bu6"| translate}}</th>
                  <th class="font-weight-normal" scope="col">{{(SwaplangCodeService.getSwapLangCodeFromModelList("BU7"))?SwaplangCodeService.getSwapLangCodeFromModelList("BU7"):"Bu7"| translate}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="noData">
                  <td colspan="100%" class="font-weight-normal text-center">{{"No Data Found" | translate}}</td>
                </tr>
                <tr class="cursor-myhr"
                  *ngFor="let item of empListShow | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize ; let i=index"
                  (click)="selectEmp(item.employeeId);leaveData=0;modal.dismiss('Cross click');requireEMP();resetCalEmp();empListShow = empList;_searchTerm = '';collectionSize=empListShow.length;page=1">
                  <th class="align-middle text-center" scope="row">{{i+1+((page-1)*pageSize)}}</th>
                  <td class="align-middle">{{ item.employeeId}}</td>
                  <td class="align-middle">{{ item.getFullname()?item.getFullname():'-'}}</td>
                  <td class="align-middle">{{ item.position.getPositionDesc()?item.position.getPositionDesc():'-'}}</td>
                  <td class="align-middle">{{ item.bu1?item.bu1.getBu1Desc():'-'}}</td>
                  <td class="align-middle">{{ item.bu2?item.bu2.getBu2Desc():'-'}}</td>
                  <td class="align-middle">{{ item.bu3?item.bu3.getBu3Desc():'-'}}</td>
                  <td class="align-middle">{{ item.bu4?item.bu4.getBu4Desc():'-'}}</td>
                  <td class="align-middle">{{ item.bu5?item.bu5.getBu5Desc():'-'}}</td>
                  <td class="align-middle">{{ item.bu6?item.bu6.getBu6Desc():'-'}}</td>
                  <td class="align-middle">{{ item.bu7?item.bu7.getBu7Desc():'-'}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="d-flex justify-content-end p-2">

            <select class="form-select m-r-5" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="page=1">
              <option [ngValue]="10">{{"Items per page"| translate}}: 10</option>
              <option [ngValue]="50">{{"Items per page"| translate}}: 50</option>
              <option [ngValue]="100">{{"Items per page"| translate}}: 100</option>
            </select>

            <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" [maxSize]="3"
              [rotate]="true">
              <ng-template ngbPaginationPrevious>{{"Prev"| translate}}</ng-template>
              <ng-template ngbPaginationNext>{{"Next"| translate}}</ng-template>
            </ngb-pagination>

          </div>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger"
        (click)="modal.dismiss('Cross click');empListShow = empList;_searchTerm = '';collectionSize=empListShow.length;page=1">{{"Close"|
        translate}}</button>
    </div>
  </div>
</ng-template>
<ng-template #alertModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="editLabel">{{"Alert Message" | translate}}</h5>
    <button type="button" class="close" (click)="closeBtnClick()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{errormsg | translate}}
  </div>
</ng-template>
<ng-template #confirmModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="editLabel">{{"Alert Message" | translate}}</h5>
    <button type="button" class="close" (click)="closeBtnClick()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{errormsg | translate}}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info" (click)="onSubmit()">{{"confirm"| translate}}</button> <button
      type="button" class="btn btn-danger" (click)="closeBtnClick()">{{"cancel"| translate}}</button>
  </div>
</ng-template>

<ng-template #DocReferenceModal let-modal>
  <div class="modal-content dialog-height">
    <div class="modal-header">
      <h5 class="modal-title" id="editLabel">{{"systemcode.documents.detail" | translate}}</h5>
      <button type="button" class="close" (click)="closeBtnClick()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" [perfectScrollbar]="config">
      <div class="card" style="margin-bottom:-15px">
        <div class="card-body">
          <!-- ใส่เอกสารตรงนี้นะจ๊ะ -->
          <ng-template #workflowView [ngComponentOutlet]="dynamicComponent" [ndcDynamicInputs]="inputs"
            [ndcDynamicOutputs]="outputs"></ng-template>
          <!-- <app-wel210-nstda-create></app-wel210-nstda-create> -->
        </div>
      </div>
      <div class="d-flex no-block align-items-center justify-content-center mt-4">
        <div class="action-form">
          <div class="form-group m-b-0 text-center">
            <button type="button" class="btn btn-danger" (click)="onCancel()"><i class=" fas fa-times"></i>
              {{"cancel" |translate}}</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-info" (click)="closeBtnClick()">{{"confirm"| translate}}</button>
    </div>
  </div>
</ng-template>
<ng-template #cancelModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="editLabel">{{"Alert Message" | translate}}</h5>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{errormsg | translate}}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info" (click)="cancelWF()">{{"confirm"| translate}}</button> <button
      type="button" class="btn btn-danger" (click)="modal.dismiss('Cross click')">{{"cancel"| translate}}</button>
  </div>
</ng-template>
