<ng-container *ngTemplateOutlet="ALL">
</ng-container>
<ng-template #ALL>
    <!-- <div class="row justify-content-between m-0 p-2">
        <div class="col-6 col-md-3 ps-0 input-group">
            <input type="text" class="form-control border-gray"
                placeholder="{{'systemcode.search' | translate}} {{'Doc No.' | translate}}" [ngModel]="docNo"
                (ngModelChange)="changeDocNo($event);scrollToTop('workflowDataList')">
            <div class="input-group-append">
                <button class="btn me-0 btn-info" type="button">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
        <div class="row col-auto justify-content-end m-0 p-0">
            <div class="col-auto p-0 pe-2">
                <button type="button" class="btn btn-info text-white" (click)="workflowApproveAll()">
                    {{"take.work" | translate}}
                </button>
            </div>
        </div>
    </div> -->
    <div class="row justify-content-center p-2" style="background-color: #eef5f9;" *ngIf="workflowListLoading||submitLoading">
        <div *ngFor="let item of [1,2,3]" class="spinner-grow text-info" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div class="row m-0" *ngIf="!workflowListLoading&&!submitLoading">
        <div class="col-12 col-md-3 h-100 m-0 p-0 border-right" [ngClass]="{'d-none':workflow&&!windowWidth(768)}">
            <div class="col-12 d-flex justify-content-center box-workflow-pagination">
                <button type="button" class="btn btn-success text-white" (click)="workflowTakeAll()"
                    style="width: 80%;">
                    {{"take.work" | translate}}
                </button>
                <!-- <ngb-pagination [collectionSize]="workflowList.length" [(page)]="page" [pageSize]="pageSize"
                    [maxSize]="page>99?3:4" [rotate]="true" [ellipses]="false"
                    (pageChange)="scrollToTop('workflowDataList')">
                </ngb-pagination> -->
            </div>
            <div class="row col-12 align-items-end m-0 py-2 border-bottom">
                <div class="col-1 ps-0">
                    <input type="checkbox" class="mt-2" id="selectAll" [ngModel]="checkboxAll"
                        (click)="changeCheckboxAll($event.target.checked)">
                </div>
                <div class="col-auto p-0 ps-2">
                    <label class="font-14 font-weight-normal text-dark m-0" for="selectAll">
                        {{'systemcode.select.all'|translate}}
                    </label>
                </div>
                <div class="col text-end p-0">
                    {{"all" | translate}} {{workflowList.length}} {{"Note(s)"|translate}}
                </div>
                <!-- แสดงการโหลดข้อมูลทั้งหมด  -->
                <!-- <div class="position-absolute" style="bottom:0px;right: 0px;" *ngIf="workflowListAllLoading">
          <div class="load-data-ring" tooltipClass="myhrcolor-1"
            ngbTooltip="{{translateService.currentLang == 'th'?'กำลังโหลดข้อมูล':'Loading data'}}" container="body">
          </div>
        </div> -->
                <!-- ปิดแสดงการโหลดข้อมูลทั้งหมด  -->
            </div>
            <div #workflowDataList class="col-12 box-workflow-list p-0">
                <div class="row col-12 align-items-center m-0 py-2 " *ngIf="workflowList.length==0">
                    {{"No Data Found" | translate}}
                </div>
                <div class="row col-12 align-items-center m-0 py-2 "
                    *ngFor="let item of workflowList | slice:(page-1) * pageSize : (page-1) * pageSize + pageSize"
                    [ngClass]="{'border-bottom':workflow!=item.data,'select-workflow':workflow==item.data}">
                    <div class="col-1 ps-0">
                        <input type="checkbox" class="mt-2" [(ngModel)]="item.checkbox"
                            [disabled]="item.data.status != 0">
                    </div>
                    <div class="col-2 ps-0">
                        <img appShowLoading
                             src="{{jbossUrl + '/FileViewer.jsp?uploadfield=memployee.picture&filename=' + item.data.initiator_pic}}"
                             alt="user" class="rounded-circle" width="35" height="35" style="object-fit: cover;">
                    </div>
                    <div class="row col-9 m-0 p-0" style="cursor: pointer"
                        (click)="workflow = item.data;scrollToTop('workflowDataShow')">
                        <div class="row col-12 m-0 p-0">
                            <div class="col-10 p-0">
                                <h6 class=" text-truncate text-dark m-0" style="line-height:inherit">
                                    {{item.data.getInitiatorDesc()}}
                                </h6>
                            </div>
                            <div class="row col-2 justify-content-end align-items-center m-0 p-0">
                                <!-- รออนุมัติ -->
                                <span class="fa-stack fa-xs rt_anim" *ngIf="item.data.status == 0"
                                    ngbTooltip="{{'systemcode.status.1' | translate}}" container="body"
                                    tooltipClass="myhrcolor-2">
                                    <i class="fa fa-circle fa-stack-2x text-success"></i>
                                    <i class=" fas fa-hourglass-half fa-stack-1x fa-inverse"></i>
                                </span>
                                <!-- งานถูกอนุมัติ  -->
                                <span class="fa-stack fa-xs rt_anim" *ngIf="item.data.status == 1"
                                    ngbTooltip="{{'systemcode.status.2' | translate}}" container="body"
                                    tooltipClass="myhrcolor-2">
                                    <i class="fa fa-circle fa-stack-2x text-success"></i>
                                    <i class=" fas fa-check  fa-stack-1x fa-inverse"></i>
                                </span>
                                <!-- ไม่อนุมัติงาน -->
                                <span class="fa-stack fa-xs rt_anim" *ngIf="item.data.status == 2"
                                    ngbTooltip="{{'systemcode.status.3' | translate}}" container="body"
                                    tooltipClass="myhrcolor-3">
                                    <i class="fa fa-circle fa-stack-2x text-danger"></i>
                                    <i class="fas fa-times fa-stack-1x fa-inverse" style="font-size: 1.25em;"></i>
                                </span>
                                <!-- ไม่มีผู้รับงาน -->
                                <span class="fa-stack fa-xs rt_anim" *ngIf="item.data.status == 3"
                                    ngbTooltip="{{'systemcode.status.4' | translate}}" container="body"
                                    tooltipClass="myhrcolor-3">
                                    <i class="fa fa-circle fa-stack-2x text-danger"></i>
                                    <i class="fas fa-exclamation-triangle fa-stack-1x fa-inverse"></i>
                                </span>
                                <!-- ยกเลิกงาน -->
                                <span class="fa-stack fa-xs rt_anim"
                                    *ngIf="item.data.status == 4||item.data.status == 5"
                                    ngbTooltip="{{'systemcode.status.5' | translate}}" container="body"
                                    tooltipClass="myhrcolor-3">
                                    <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                    <i class="fas fa-ban fa-stack-2x text-danger "></i>
                                </span>
                                <!-- ส่งงานกลับ -->
                                <span class="fa-stack fa-xs rt_anim" *ngIf="item.data.status == 6"
                                    ngbTooltip="{{'systemcode.status.6' | translate}}" container="body"
                                    tooltipClass="myhrcolor-4">
                                    <i class="fa fa-circle fa-stack-2x text-warning "></i>
                                    <i class="fas fa-exclamation fa-stack-1x fa-inverse"></i>
                                </span>
                            </div>
                        </div>
                        <div class="row col-12 m-0 p-0">
                            <div class="d-flex col-7 align-items-center p-0 ">
                                <label class="font-14 text-muted text-truncate m-0"
                                    style="font-weight: 600;line-height:inherit">
                                    {{item.data.docNo | slice: 0:20 }}
                                </label>
                            </div>
                            <div class="d-flex col-5 justify-content-end align-items-center p-0">
                                <label class="font-14 font-weight-normal text-muted text-truncate m-0"
                                    style="line-height:inherit"
                                    ngbTooltip="{{translateService.currentLang == 'th'?(convertDate(item.data.date) | thaidate :'fullNotYear':'a'):(convertDate(item.data.date) | date:'EEEE d MMMM y')}}"
                                    container="body" tooltipClass="myhrcolor-date">
                                    {{(convertDate(item.data.date) | date:'EE') | translate}}
                                    {{convertTime(item.data.date)}}
                                </label>
                            </div>
                        </div>
                        <div class="d-flex col-12 align-items-center p-0">
                            <label class="font-14 font-weight-normal text-info text-truncate m-0"
                                style="line-height:inherit">
                                {{item.data.getSubjectDesc() }}
                            </label>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-12 d-flex justify-content-center box-workflow-pagination">
                <ngb-pagination [collectionSize]="workflowList.length" [(page)]="page" [pageSize]="pageSize"
                    [maxSize]="page>99?3:4" [rotate]="true" [ellipses]="false"
                    (pageChange)="scrollToTop('workflowDataList')">
                </ngb-pagination>
            </div>
        </div>
        <div class="col-12 col-md-9 p-0 border-top" [ngClass]="{'d-none':!workflow&&!windowWidth(768)}">
            <div #workflowDataShow class="col-12 box-workflow-detail p-0"
                [ngClass]="{'row align-items-center m-0':!workflow}" >
                <div class="row col-12 justify-content-center m-0 p-0" *ngIf="!workflow">
                    <div class="col-12 d-flex justify-content-center">
                        <i class="far fa-envelope display-5 rt_anim text-info"></i>
                    </div>
                    <div class="col-12 d-flex justify-content-center">
                        <h4 class="text-info rt_anim">{{"systemcode.select.workflow" | translate}}</h4>
                    </div>
                </div>
                <div class="col-12 p-0" *ngIf="workflow">
                    <div class="row col-12 justify-content-center align-items-center m-0 p-3 card-header bg-info">
                        <div class="" style="left: 1rem;z-index: 1;"
                            [ngClass]="{'d-none':windowWidth(768)}">
                            <button type="submit" class="btn btn-info" (click)="workflow=undefined">
                                <i class="fas fa-arrow-left"></i>
                            </button>
                        </div>
                        <div class="col">
                            <h5 class="mb-0 mt-1 text-center text-white">
                                {{workflow.getSubjectDesc()}}
                            </h5>
                        </div>
                        <div class="position-absolute" style="right: 1rem;z-index: 1;">
                            <!-- รออนุมัติ -->
                            <span class="fa-stack fa-md " *ngIf="workflow.status == 0"
                                ngbTooltip="{{'systemcode.status.1' | translate}}" container="body"
                                tooltipClass="myhrcolor-2">
                                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                <i class=" fas fa-hourglass-half fa-stack-1x  text-success rt_anim"></i>
                            </span>
                            <!-- งานถูกอนุมัติ  -->
                            <span class="fa-stack fa-md" *ngIf="workflow.status == 1"
                                ngbTooltip="{{'systemcode.status.2' | translate}}" container="body"
                                tooltipClass="myhrcolor-2">
                                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                <i class=" fas fa-check  fa-stack-1x text-success rt_anim"></i>
                            </span>
                            <!-- ไม่อนุมัติงาน -->
                            <span class="fa-stack fa-md" *ngIf="workflow.status == 2"
                                ngbTooltip="{{'systemcode.status.3' | translate}}" container="body"
                                tooltipClass="myhrcolor-3">
                                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                <i class="fas fa-times fa-stack-1x text-danger rt_anim" style="font-size: 1.5em;"></i>
                            </span>
                            <!-- ไม่มีผู้รับงาน -->
                            <span class="fa-stack fa-md" *ngIf="workflow.status == 3"
                                ngbTooltip="{{'systemcode.status.4' | translate}}" container="body"
                                tooltipClass="myhrcolor-3">
                                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                <i class="fas fa-exclamation-triangle fa-stack-1x text-danger rt_anim"></i>
                            </span>
                            <!-- ยกเลิกงาน -->
                            <span class="fa-stack fa-md" *ngIf="workflow.status == 4 || workflow.status == 5"
                                ngbTooltip="{{'systemcode.status.5' | translate}}" container="body"
                                tooltipClass="myhrcolor-3">
                                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                <i class="fas fa-ban fa-stack-1x text-danger  rt_anim" style="font-size: 1.6em;"></i>
                            </span>
                            <!-- ส่งงานกลับ -->
                            <span class="fa-stack fa-md" *ngIf="workflow.status == 6"
                                ngbTooltip="{{'systemcode.status.6' | translate}}" container="body"
                                tooltipClass="myhrcolor-4">
                                <i class="fa fa-circle fa-stack-2x fa-inverse "></i>
                                <i class="fas fa-exclamation fa-stack-1x text-warning rt_anim"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-12 p-2">
                        <app-workflow-type [workflow]="workflow" [fromPage]="'centerbox'"
                            (newLoading)="getShareboxPage()"></app-workflow-type>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #NotALL>

    <div class="row justify-content-center p-2" style="background-color: #eef5f9;" *ngIf="workflowListLoading">
        <div *ngFor="let item of [1,2,3]" class="spinner-grow text-info" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div class="row m-0" *ngIf="!workflowListLoading">
        <div class="col-12 col-md-3 h-100 m-0 p-0 border-right" [ngClass]="{'d-none':workflow&&!windowWidth(768)}">

            <div #workflowDataList class="col-12 box-workflow-list-notall p-0">
                <div class="row col-12 align-items-center m-0 py-2 " *ngIf="workflowList.length==0">
                    {{"No Data Found" | translate}}
                </div>
                <div class="row col-12 align-items-center m-0 py-2 "
                    *ngFor="let item of workflowList | slice:(page-1) * pageSize : (page-1) * pageSize + pageSize"
                    [ngClass]="{'border-bottom':workflow!=item,'select-workflow':workflow==item}"
                    style="cursor: pointer" (click)="workflow = item.data;scrollToTop('workflowDataShow')">
                    <div class="col-2 ps-0">
                        <img appShowLoading
                            src="{{rootUrl + '/hr/FileViewer.jsp?uploadfield=memployee.picture&filename=' + item.data.initiator_pic}}"
                            alt="user" class="rounded-circle" width="35px" height="35px">
                    </div>
                    <div class="row col-10 m-0 p-0 ps-2">
                        <div class="row col-12 m-0 p-0">
                            <div class="col-10 p-0">
                                <h6 class=" text-truncate text-dark m-0" style="line-height:inherit">
                                    {{item.data.getInitiatorDesc()}}
                                </h6>
                            </div>
                            <div class="row col-2 justify-content-end align-items-center m-0 p-0">
                                <!-- รออนุมัติ -->
                                <span class="fa-stack fa-xs rt_anim" *ngIf="item.data.status == 0"
                                    ngbTooltip="{{'systemcode.status.1' | translate}}" container="body"
                                    tooltipClass="myhrcolor-2">
                                    <i class="fa fa-circle fa-stack-2x text-success"></i>
                                    <i class=" fas fa-hourglass-half fa-stack-1x fa-inverse"></i>
                                </span>
                                <!-- งานถูกอนุมัติ  -->
                                <span class="fa-stack fa-xs rt_anim" *ngIf="item.data.status == 1"
                                    ngbTooltip="{{'systemcode.status.2' | translate}}" container="body"
                                    tooltipClass="myhrcolor-2">
                                    <i class="fa fa-circle fa-stack-2x text-success"></i>
                                    <i class=" fas fa-check  fa-stack-1x fa-inverse"></i>
                                </span>
                                <!-- ไม่อนุมัติงาน -->
                                <span class="fa-stack fa-xs rt_anim" *ngIf="item.data.status == 2"
                                    ngbTooltip="{{'systemcode.status.3' | translate}}" container="body"
                                    tooltipClass="myhrcolor-3">
                                    <i class="fa fa-circle fa-stack-2x text-danger"></i>
                                    <i class="fas fa-times fa-stack-1x fa-inverse" style="font-size: 1.25em;"></i>
                                </span>
                                <!-- ไม่มีผู้รับงาน -->
                                <span class="fa-stack fa-xs rt_anim" *ngIf="item.data.status == 3"
                                    ngbTooltip="{{'systemcode.status.4' | translate}}" container="body"
                                    tooltipClass="myhrcolor-3">
                                    <i class="fa fa-circle fa-stack-2x text-danger"></i>
                                    <i class="fas fa-exclamation-triangle fa-stack-1x fa-inverse"></i>
                                </span>
                                <!-- ยกเลิกงาน -->
                                <span class="fa-stack fa-xs rt_anim"
                                    *ngIf="item.data.status == 4||item.data.status == 5"
                                    ngbTooltip="{{'systemcode.status.5' | translate}}" container="body"
                                    tooltipClass="myhrcolor-3">
                                    <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                    <i class="fas fa-ban fa-stack-2x text-danger "></i>
                                </span>
                                <!-- ส่งงานกลับ -->
                                <span class="fa-stack fa-xs rt_anim" *ngIf="item.data.status == 6"
                                    ngbTooltip="{{'systemcode.status.6' | translate}}" container="body"
                                    tooltipClass="myhrcolor-4">
                                    <i class="fa fa-circle fa-stack-2x text-warning "></i>
                                    <i class="fas fa-exclamation fa-stack-1x fa-inverse"></i>
                                </span>
                            </div>
                        </div>
                        <div class="row col-12 m-0 p-0">
                            <div class="d-flex col-7 align-items-center p-0 ">
                                <label class="font-14 text-muted text-truncate m-0"
                                    style="font-weight: 600;line-height:inherit">
                                    {{item.data.docNo | slice: 0:20 }}
                                </label>
                            </div>
                            <div class="d-flex col-5 justify-content-end align-items-center p-0">
                                <label class="font-14 font-weight-normal text-muted text-truncate m-0"
                                    style="line-height:inherit"
                                    ngbTooltip="{{translateService.currentLang == 'th'?(convertDate(item.data.date) | thaidate :'fullNotYear':'a'):(convertDate(item.data.date) | date:'EEEE d MMMM y')}}"
                                    container="body" tooltipClass="myhrcolor-date">
                                    {{(convertDate(item.data.date) | date:'EE') | translate}}
                                    {{convertTime(item.data.date)}}
                                </label>
                            </div>
                        </div>
                        <div class="d-flex col-12 align-items-center p-0">
                            <label class="font-14 font-weight-normal text-info text-truncate m-0"
                                style="line-height:inherit">
                                {{item.data.getSubjectDesc() }}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 d-flex justify-content-center box-workflow-pagination border-bottom">
                <ngb-pagination [collectionSize]="workflowList.length" [(page)]="page" [pageSize]="pageSize"
                    [maxSize]="page>99?3:4" [rotate]="true" [ellipses]="false"
                    (pageChange)="scrollToTop('workflowDataList')">
                </ngb-pagination>
            </div>
        </div>
        <div class="col-12 col-md-9 p-0 border-top" [ngClass]="{'d-none':!workflow&&!windowWidth(768)}">
            <div #workflowDataShow class="col-12 p-0" [ngClass]="{'row align-items-center m-0':!workflow}">
                <div class="row col-12 justify-content-center m-0 p-0 box-workflow-detail" *ngIf="!workflow">
                    <div class="row w-100 justify-content-center" style="align-items: end;">
                        <i class="far fa-envelope display-5 rt_anim text-info"></i>
                    </div>
                    <div class="row w-100 justify-content-center">
                        <h4 class="text-info rt_anim">{{"systemcode.select.workflow" | translate}}</h4>
                    </div>
                </div>
                <div class="col-12 p-0" *ngIf="workflow">
                    <div class="row col-12 justify-content-center align-items-center m-0 p-3 card-header bg-info">
                        <div class="position-absolute" style="left: 1rem;z-index: 1;"
                            [ngClass]="{'d-none':windowWidth(768)}">
                            <button type="submit" class="btn btn-info" (click)="workflow=undefined">
                                <i class="fas fa-arrow-left"></i>
                            </button>
                        </div>
                        <div class="col">
                            <h5 class="mb-0 mt-1 text-center text-white">
                                {{workflow.getSubjectDesc()}}
                            </h5>
                        </div>
                        <div class="position-absolute" style="right: 1rem;z-index: 1;">
                            <!-- รออนุมัติ -->
                            <span class="fa-stack fa-md " *ngIf="workflow.status == 0"
                                ngbTooltip="{{'systemcode.status.1' | translate}}" container="body"
                                tooltipClass="myhrcolor-2">
                                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                <i class=" fas fa-hourglass-half fa-stack-1x  text-success rt_anim"></i>
                            </span>
                            <!-- งานถูกอนุมัติ  -->
                            <span class="fa-stack fa-md" *ngIf="workflow.status == 1"
                                ngbTooltip="{{'systemcode.status.2' | translate}}" container="body"
                                tooltipClass="myhrcolor-2">
                                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                <i class=" fas fa-check  fa-stack-1x text-success rt_anim"></i>
                            </span>
                            <!-- ไม่อนุมัติงาน -->
                            <span class="fa-stack fa-md" *ngIf="workflow.status == 2"
                                ngbTooltip="{{'systemcode.status.3' | translate}}" container="body"
                                tooltipClass="myhrcolor-3">
                                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                <i class="fas fa-times fa-stack-1x text-danger rt_anim" style="font-size: 1.5em;"></i>
                            </span>
                            <!-- ไม่มีผู้รับงาน -->
                            <span class="fa-stack fa-md" *ngIf="workflow.status == 3"
                                ngbTooltip="{{'systemcode.status.4' | translate}}" container="body"
                                tooltipClass="myhrcolor-3">
                                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                <i class="fas fa-exclamation-triangle fa-stack-1x text-danger rt_anim"></i>
                            </span>
                            <!-- ยกเลิกงาน -->
                            <span class="fa-stack fa-md" *ngIf="workflow.status == 4 || workflow.status == 5"
                                ngbTooltip="{{'systemcode.status.5' | translate}}" container="body"
                                tooltipClass="myhrcolor-3">
                                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                <i class="fas fa-ban fa-stack-1x text-danger  rt_anim" style="font-size: 1.6em;"></i>
                            </span>
                            <!-- ส่งงานกลับ -->
                            <span class="fa-stack fa-md" *ngIf="workflow.status == 6"
                                ngbTooltip="{{'systemcode.status.6' | translate}}" container="body"
                                tooltipClass="myhrcolor-4">
                                <i class="fa fa-circle fa-stack-2x fa-inverse "></i>
                                <i class="fas fa-exclamation fa-stack-1x text-warning rt_anim"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-12 p-2">
                        <app-workflow-type [workflow]="workflow" [fromPage]="'centerbox'"
                            (newLoading)="getShareboxPage($event)"></app-workflow-type>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
