<div class="card">
    <div class="card-header bg-myhr">
        <h4><i class="fas fa-exclamation-triangle me-2"></i>{{"Daily Statistics" | translate}}</h4>
    </div>
    <div class="card-body p-4">
        <!-- Filters Section -->
        <div class="row mb-3">
            <div class="col-lg-6 mb-3 mb-lg-0">
                <label class="form-label">{{"subordinate"| translate}}</label>
                <div class="input-group">
                    <ng-template #rt let-r="result" let-t="term">{{ r.groupId}}</ng-template>
                    <input placeholder="{{'subordinate.group.id'| translate}}" id="typeahead-focus" type="text" class="form-control" [(ngModel)]="model" (ngModelChange)="changeModel()" [ngbTypeahead]="search" (focus)="focus$.next($any($event).target.value)" (click)="click$.next($any($event).target.value)" #instance="ngbTypeahead" [inputFormatter]="formatter" [resultTemplate]="rt" [ngModelOptions]="{standalone: true}">
                    <input readonly type="text" class="form-control" placeholder="{{'subordinate.description'| translate}}" [value]="(model?.groupId)?(model?.getDesc()):''">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-outline-secondary" (click)="clearSearch()"><i class="fa fa-times"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <label class="form-label">{{"date_range" | translate}}</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">{{"Start Date" | translate}}</span>
                    </div>
                    <input class="form-control" placeholder="{{'dd.mm.yyyy' | translate}}" name="dp1" [(ngModel)]="selectStartDate" ngbDatepicker #d1="ngbDatepicker" #c1="ngModel" (change)="selectStartDate = datepickerService.validateFormatDate(c1)">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary no-shadow" (click)="d1.toggle()" type="button"><i class="far fa-calendar-alt"></i></button>
                    </div>
                    <div class="input-group-prepend ms-2">
                        <span class="input-group-text">{{"End Date" | translate}}</span>
                    </div>
                    <input class="form-control" placeholder="{{'dd.mm.yyyy' | translate}}" name="dp2" [(ngModel)]="selectEndDate" ngbDatepicker #d2="ngbDatepicker" [minDate]="selectStartDate" #c2="ngModel" (change)="selectEndDate = datepickerService.validateFormatDate(c2)">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary no-shadow" (click)="d2.toggle()" type="button"><i class="far fa-calendar-alt"></i></button>
                    </div>
                    <div class="input-group-append ms-2">
                        <button type="button" class="btn btn-primary" (click)="refreshData()"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Warning Type Filters -->
        <div class="p-3 mb-4 filter-box">
            <h6 class="font-weight-bold">{{"warning_types" | translate}}</h6>
            <hr class="mt-2 mb-3">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                    <div class="custom-control custom-checkbox mb-2">
                        <input type="checkbox" class="custom-control-input" id="customCheck1" [(ngModel)]="forgotswipein" (ngModelChange)="changeFilter()">
                        <label class="custom-control-label" for="customCheck1">{{"forgot.swipein" | translate}}</label>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                    <div class="custom-control custom-checkbox mb-2">
                        <input type="checkbox" class="custom-control-input" id="customCheck2" [(ngModel)]="forgotswipeout" (ngModelChange)="changeFilter()">
                        <label class="custom-control-label" for="customCheck2">{{"forgot.swipeout" | translate}}</label>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                    <div class="custom-control custom-checkbox mb-2">
                        <input type="checkbox" class="custom-control-input" id="customCheck3" [(ngModel)]="late" (ngModelChange)="changeFilter()">
                        <label class="custom-control-label" for="customCheck3">{{"late" | translate}}</label>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                    <div class="custom-control custom-checkbox mb-2">
                        <input type="checkbox" class="custom-control-input" id="customCheck4" [(ngModel)]="otbefore" (ngModelChange)="changeFilter()">
                        <label class="custom-control-label" for="customCheck4">{{"ot.before" | translate}}</label>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                    <div class="custom-control custom-checkbox mb-2">
                        <input type="checkbox" class="custom-control-input" id="customCheck5" [(ngModel)]="otafter" (ngModelChange)="changeFilter()">
                        <label class="custom-control-label" for="customCheck5">{{"ot.after" | translate}}</label>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                    <div class="custom-control custom-checkbox mb-2">
                        <input type="checkbox" class="custom-control-input" id="customCheck6" [(ngModel)]="leavebeforefinish" (ngModelChange)="changeFilter()">
                        <label class="custom-control-label" for="customCheck6">{{"leave.before.finish" | translate}}</label>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                    <div class="custom-control custom-checkbox mb-2">
                        <input type="checkbox" class="custom-control-input" id="customCheck7" [(ngModel)]="swipecardinholiday" (ngModelChange)="changeFilter()">
                        <label class="custom-control-label" for="customCheck7">{{"swipe.card.in.holiday" | translate}}</label>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                    <div class="custom-control custom-checkbox mb-2">
                        <input type="checkbox" class="custom-control-input" id="customCheck8" [(ngModel)]="otoverbefore" (ngModelChange)="changeFilter()">
                        <label class="custom-control-label" for="customCheck8">{{"ot.over.before" | translate}}</label>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                    <div class="custom-control custom-checkbox mb-2">
                        <input type="checkbox" class="custom-control-input" id="customCheck9" [(ngModel)]="otoverafter" (ngModelChange)="changeFilter()">
                        <label class="custom-control-label" for="customCheck9">{{"ot.over.after" | translate}}</label>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                    <div class="custom-control custom-checkbox mb-2">
                        <input type="checkbox" class="custom-control-input" id="customCheck10" [(ngModel)]="otlessbefore" (ngModelChange)="changeFilter()">
                        <label class="custom-control-label" for="customCheck10">{{"ot.less.before" | translate}}</label>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                    <div class="custom-control custom-checkbox mb-2">
                        <input type="checkbox" class="custom-control-input" id="customCheck11" [(ngModel)]="otlessafter" (ngModelChange)="changeFilter()">
                        <label class="custom-control-label" for="customCheck11">{{"ot.less.after" | translate}}</label>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                    <div class="custom-control custom-checkbox mb-2">
                        <input type="checkbox" class="custom-control-input" id="customCheck12" (click)="selectAll();">
                        <label class="custom-control-label" for="customCheck12">{{"systemcode.select.all" | translate}}</label>
                    </div>
                </div>
            </div>
        </div>

        <!-- Search and Count -->
        <div class="row mb-3 align-items-center">
            <div class="col-lg-6">
                <input type="text" placeholder="{{'systemcode.search.name' | translate}}" class="form-control form-control-search" [(ngModel)]='searchTerm'>
            </div>
            <div class="col-lg-6 text-lg-right mt-2 mt-lg-0">
                <span class="badge rounded-pill badge-primary-light p-2">
                    {{'all'| translate}} <strong class="text-primary">{{timeWarnListShow.length || 0}}</strong> {{'items' | translate}}
                </span>
            </div>
        </div>

        <div *ngIf="loading" class="d-flex justify-content-center p-5">
            <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;"><span class="sr-only">Loading...</span></div>
        </div>

        <!-- Desktop Table View -->
        <div *ngIf="!loading" class="d-none d-lg-block table-responsive">
            <table class="table table-hover table-striped table-sm mb-0">
                <thead>
                    <tr>
                        <th>{{"Employee ID" | translate}}</th>
                        <th>{{"Name-Surname" | translate}}</th>
                        <th>{{"date" | translate}}</th>
                        <th *ngIf="forgotswipein">{{"forgot.swipein" | translate}}</th>
                        <th *ngIf="forgotswipeout">{{"forgot.swipeout" | translate}}</th>
                        <th *ngIf="late">{{"late" | translate}}</th>
                        <th *ngIf="otbefore">{{"ot.before" | translate}}</th>
                        <th *ngIf="otafter">{{"ot.after" | translate}}</th>
                        <th *ngIf="leavebeforefinish">{{"leave.before.finish" | translate}}</th>
                        <th *ngIf="swipecardinholiday">{{"swipe.card.in.holiday" | translate}}</th>
                        <th *ngIf="otoverbefore">{{"ot.over.before" | translate}}</th>
                        <th *ngIf="otoverafter">{{"ot.over.after" | translate}}</th>
                        <th *ngIf="otlessbefore">{{"ot.less.before" | translate}}</th>
                        <th *ngIf="otlessafter">{{"ot.less.after" | translate}}</th>
                        <th class="text-center">{{"Other" | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="noData">
                        <td [attr.colspan]="15" class="text-center p-4">{{"No Data Found" | translate}}</td>
                    </tr>
                    <tr *ngFor="let item of timeWarnListShow | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; let i = index">
                        <td *ngIf="item.time">{{item.emp.employeeId}}</td>
                        <td *ngIf="item.time">{{item.emp.getFullname()}}</td>
                        <td *ngIf="item.time">{{item.time.dateId | date: 'dd-MM-yyyy'}}</td>
                        <td [class.text-danger]="item.time.eventgrpId === 'J'" *ngIf="forgotswipein">{{item.time.warn00 || ''}}</td>
                        <td [class.text-danger]="item.time.eventgrpId === 'J'" *ngIf="forgotswipeout">{{item.time.warn01 || ''}}</td>
                        <td *ngIf="late">{{item.time.warn02 || ''}}</td>
                        <td *ngIf="otbefore">{{item.time.warn03 || ''}}</td>
                        <td *ngIf="otafter">{{item.time.warn04 || ''}}</td>
                        <td *ngIf="leavebeforefinish">{{item.time.warn05 || ''}}</td>
                        <td *ngIf="swipecardinholiday">{{item.time.warn11?.replaceAll(',',' ') || ''}}</td>
                        <td *ngIf="otoverbefore">{{item.time.warn12 || ''}}</td>
                        <td *ngIf="otoverafter">{{item.time.warn13 || ''}}</td>
                        <td *ngIf="otlessbefore">{{item.time.warn14 || ''}}</td>
                        <td *ngIf="otlessafter">{{item.time.warn15 || ''}}</td>
                        <td class="text-center">
                            <button class="btn btn-sm btn-outline-primary btn-circle" *ngIf="checkButton(item.time)" (click)="openDialog(dialog, (i+((page-1)*pageSize)))">
                                <i class="fa fa-eye"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Mobile Card View -->
        <div *ngIf="!loading" class="d-lg-none">
            <div *ngIf="noData" class="text-center p-4 text-muted">{{"No Data Found" | translate}}</div>
            <div class="card list-card-mobile mb-3" *ngFor="let item of timeWarnListShow | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; let i = index">
                <div class="card-body">
                    <div class="d-flex align-items-center mb-3">
                        <img src="assets/images/users/defaultperson.jpg" alt="user" class="rounded-circle" width="50" height="50">
                        <div class="ms-3">
                            <h5 class="card-title mb-0">{{ item.emp.getFullname() }}</h5>
                            <small class="text-muted">{{ item.emp.employeeId }} | {{ item.time.dateId | date: 'dd-MM-yyyy' }}</small>
                        </div>
                    </div>
                    <p class="mb-2"><strong>{{"warnings" | translate}}:</strong></p>
                    <div class="warning-tags">
                        <span *ngIf="item.time.warn00" class="badge rounded-pill badge-warning">{{"forgot.swipein" | translate}}</span>
                        <span *ngIf="item.time.warn01" class="badge rounded-pill badge-warning">{{"forgot.swipeout" | translate}}</span>
                        <span *ngIf="item.time.warn02" class="badge rounded-pill badge-danger">{{"late" | translate}}</span>
                        <span *ngIf="item.time.warn03" class="badge rounded-pill badge-info">{{"ot.before" | translate}}</span>
                        <span *ngIf="item.time.warn04" class="badge rounded-pill badge-info">{{"ot.after" | translate}}</span>
                        <span *ngIf="item.time.warn05" class="badge rounded-pill badge-danger">{{"leave.before.finish" | translate}}</span>
                        <span *ngIf="item.time.warn11" class="badge rounded-pill badge-secondary">{{"swipe.card.in.holiday" | translate}}</span>
                        <span *ngIf="item.time.warn12" class="badge rounded-pill badge-info">{{"ot.over.before" | translate}}</span>
                        <span *ngIf="item.time.warn13" class="badge rounded-pill badge-info">{{"ot.over.after" | translate}}</span>
                        <span *ngIf="item.time.warn14" class="badge rounded-pill badge-info">{{"ot.less.before" | translate}}</span>
                        <span *ngIf="item.time.warn15" class="badge rounded-pill badge-info">{{"ot.less.after" | translate}}</span>
                    </div>
                    <button *ngIf="checkButton(item.time)" class="btn btn-sm btn-outline-primary mt-3" (click)="openDialog(dialog, (i+((page-1)*pageSize)))">
                        <i class="far fa-eye me-1"></i> {{"view_details" | translate}}
                    </button>
                </div>
            </div>
        </div>

        <!-- Pagination -->
        <div *ngIf="!loading && !noData" class="d-flex flex-wrap justify-content-between align-items-center mt-4">
            <select class="form-select" style="width: auto;" [(ngModel)]="pageSize" (ngModelChange)="page=1">
                <option [ngValue]="10">{{"Items per page"| translate}}: 10</option>
                <option [ngValue]="50">{{"Items per page"| translate}}: 50</option>
                <option [ngValue]="100">{{"Items per page"| translate}}: 100</option>
            </select>
            <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" [maxSize]="3" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
        </div>
    </div>
</div>

<!-- Details Modal -->
<ng-template #dialog let-modal>
    <div class="modal-header">
        <h5 class="modal-title">{{"detail" | translate}}</h5>
        <button type="button" class="close" (click)="modal.close('Close click')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" *ngIf="timeWarnListShow[index]">
        <div class="row">
            <div class="col-md-6">
                <div class="detail-item">
                    <span class="detail-label">{{"dashboard.employeeid" |translate}}</span>
                    <span class="detail-value">{{timeWarnListShow[index].emp.employeeId}} {{timeWarnListShow[index].emp.getFullname()}}</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-item">
                    <span class="detail-label">{{"system.code.emp.dialog.1" |translate}}</span>
                    <span class="detail-value">{{timeWarnListShow[index].time.dateId | date:'dd-MM-yyyy' || '-'}}</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-item">
                    <span class="detail-label">{{"system.code.emp.dialog.2" |translate}}</span>
                    <span class="detail-value">{{timeWarnListShow[index].time.cdtBg | date:'dd-MM-yyyy'}} {{timeWarnListShow[index].time.ctmBg | number: '2.2'}}</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-item">
                    <span class="detail-label">{{"system.code.emp.dialog.3" |translate}}</span>
                    <span class="detail-value">{{timeWarnListShow[index].time.cdtEn | date:'dd-MM-yyyy'}} {{timeWarnListShow[index].time.ctmEn | number: '2.2'}}</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-item">
                    <span class="detail-label">{{"system.code.emp.dialog.4" |translate}}</span>
                    <span class="detail-value">{{timeWarnListShow[index].time.mdtBg | date:'dd-MM-yyyy'}} {{timeWarnListShow[index].time.mtmBg | number: '2.2'}}</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-item">
                    <span class="detail-label">{{"system.code.emp.dialog.5" |translate}}</span>
                    <span class="detail-value">{{timeWarnListShow[index].time.mdtEn | date:'dd-MM-yyyy'}} {{timeWarnListShow[index].time.mtmEn | number: '2.2'}}</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-item">
                    <span class="detail-label">{{"system.code.emp.dialog.6" |translate}}</span>
                    <span class="detail-value text-danger">{{timeWarnListShow[index].time.warn00 || '-'}}</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-item">
                    <span class="detail-label">{{"system.code.emp.dialog.7" |translate}}</span>
                    <span class="detail-value text-danger">{{timeWarnListShow[index].time.warn01 || '-'}}</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-item">
                    <span class="detail-label">{{"system.code.emp.dialog.8" |translate}}</span>
                    <span class="detail-value">{{timeWarnListShow[index].time.warn02 || '-'}} {{timeWarnListShow[index].time.warn02 ? ('Hours' | translate) : ''}}</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-item">
                    <span class="detail-label">{{"system.code.emp.dialog.9" |translate}}</span>
                    <span class="detail-value">{{timeWarnListShow[index].time.warn03 || '-'}} {{timeWarnListShow[index].time.warn03 ? ('Hours' | translate) : ''}}</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-item">
                    <span class="detail-label">{{"system.code.emp.dialog.10" |translate}}</span>
                    <span class="detail-value">{{timeWarnListShow[index].time.warn04 || '-'}} {{timeWarnListShow[index].time.warn04 ? ('Hours' | translate) : ''}}</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-item">
                    <span class="detail-label">{{"system.code.emp.dialog.11" |translate}}</span>
                    <span class="detail-value">{{timeWarnListShow[index].time.warn05 || '-'}} {{timeWarnListShow[index].time.warn05 ? ('Hours' | translate) : ''}}</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-item">
                    <span class="detail-label">{{"system.code.emp.dialog.13" |translate}}</span>
                    <span class="detail-value">{{timeWarnListShow[index].time.warn11?.replaceAll(',',' ') || '-'}}</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-item">
                    <span class="detail-label">{{"system.code.emp.dialog.14" |translate}}</span>
                    <span class="detail-value">{{timeWarnListShow[index].time.warn12 || '-'}} {{timeWarnListShow[index].time.warn12 ? ('Hours' | translate) : ''}}</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-item">
                    <span class="detail-label">{{"system.code.emp.dialog.15" |translate}}</span>
                    <span class="detail-value">{{timeWarnListShow[index].time.warn13 || '-'}} {{timeWarnListShow[index].time.warn13 ? ('Hours' | translate) : ''}}</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-item">
                    <span class="detail-label">{{"system.code.emp.dialog.16" |translate}}</span>
                    <span class="detail-value">{{timeWarnListShow[index].time.warn14 || '-'}} {{timeWarnListShow[index].time.warn14 ? ('Hours' | translate) : ''}}</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-item">
                    <span class="detail-label">{{"system.code.emp.dialog.17" |translate}}</span>
                    <span class="detail-value">{{timeWarnListShow[index].time.warn15 || '-'}} {{timeWarnListShow[index].time.warn15 ? ('Hours' | translate) : ''}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.close('Close click')">{{"Close"| translate}}</button>
    </div>
</ng-template>
