.col-1-5 {
    width: 12.499999995%;
    flex: 0 0 12.499%;
    max-width: 12.499%;
}

::ng-deep .w-100px {
    width: 110px !important;
}

.custom-btn-blue {
    background-color: #1ea7fd;
    border-color: #1ea7fd;
    color: #ffffff;
    transition: all 0.2s ease-in-out;
}

.custom-btn-blue:active {
    background-color: #1591d1;
    border-color: #1591d1;
    box-shadow: 0 0 0 0.2rem rgba(21, 145, 209, 0.5); /* เงาสีน้ำเงินอ่อนจะขึ้นเฉพาะตอนกด */
}
