<div class="card">
    <div class="card-header bg-myhr">
        <h4>{{"Working Time Details" | translate}}</h4>
    </div>
    <div class="card-body ">
        <form novalidate="" class="form-horizontal ">
            <div class="row g-2 align-middle">
                <div class="form-group col-md-2 " style="text-align: center;margin-top: 5px;">
                    <label class="font-weight-bold text-end control-label col-form-label"
                        style="font-size: 14px;">{{"subordinate"| translate}}</label>
                </div>
                <div class="form-group col-md-3 col-5 col-sm-5" style="margin-top: 5px;">
                    <ng-template #rt let-r="result" let-t="term">
                        {{ r.groupId}}
                    </ng-template>
                    <input placeholder="{{'subordinate.group.id'| translate}}" id="typeahead-focus" type="text"
                        class="form-control" [(ngModel)]="model" (ngModelChange)="changeModel()" [ngbTypeahead]="search"
                        (focus)="focus$.next($any($event).target.value)"
                        (click)="click$.next($any($event).target.value)" #instance="ngbTypeahead"
                        [inputFormatter]="formatter" [resultTemplate]="rt" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="form-group col-md-3 col-5 col-sm-5" style="margin-top: 5px;">
                    <input readonly type="text" class="form-control"
                        placeholder="{{'subordinate.description'| translate}}" id="inputCity"
                        [value]="(model?.groupId)?(model?.getDesc()):''">
                </div>
                <div class="form-group col-md-2 col-2 col-sm-2 " style="text-align: left;margin-top: 5px;">
                    <button type="button" class="btn btn-danger  btn-sm btn-circle  m-r-5 m-l-10"
                        (click)="clearSearch()"><i class="fa fa-times"></i> </button>
                </div>
                <div class="form-group col-md-2" style="margin-top: 5px; text-align: right;">

                </div>
            </div>
        </form>
        <!-- ค้นหาเดือน/ปี -->
        <form novalidate="" class="form-horizontal ">
            <div class="row g-2 align-middle">
                <div class="form-group offset-md-2 col-md-3 col-5 col-sm-5" style="margin-top: 5px;">
                    <select class="form-select" id="inputGroupSelect01" [(ngModel)]="selectMonth"
                        [ngModelOptions]="{standalone: true}">
                        <option *ngFor="let m of month" [ngValue]="m.val">{{m.name | translate}}</option>
                    </select>
                </div>
                <div class="form-group col-md-3 col-5 col-sm-5" style="margin-top: 5px;">
                    <select class="form-select" id="inputGroupSelect01" [(ngModel)]="selectYear"
                        [ngModelOptions]="{standalone: true}">
                        <option *ngFor="let y of years" [ngValue]="y">{{y}}</option>
                    </select>
                </div>
                <div class="form-group col-md-2 col-2 col-sm-2" style="text-align: left;margin-top: 5px;">
                    <button type="button" class="btn btn-info  btn-sm btn-circle  m-r-5 m-l-10"
                        (click)="selectDate()"><i class="fa fa-search"></i> </button>
                </div>
                <div class="form-group col-md-2" style="margin-top: 5px; text-align: right;">
                    <span class="badge badge-light rounded-pill " style="width: 130px;padding: 4px;">
                        <p class="badge rounded-pill badge-primary-light p-2"> {{'all'| translate}} <span
                                class="text-primary mx-1">{{totalElements?totalElements:0}}</span>
                        </p>
                    </span>
                </div>
            </div>
        </form>



        <div class="table-responsive">
            <div class="wrapper">
                <!-- <perfect-scrollbar [config]="{useBothWheelAxes: true, suppressScrollX: false, suppressScrollY: false}"> -->
                    <table class="table table-bordered table-sm  no-wrap v-middle ">
                        <thead class="bg-info ">
                            <tr class="text-white font-weight-normal">
                                <th class="font-weight-normal width-table sticky-col-th first-col" scope="col">
                                    {{"Name-Surname" |
                                    translate}}</th>
                                <th class="font-weight-normal width-table text-center" scope="col">1</th>
                                <th class="font-weight-normal width-table text-center" scope="col">2</th>
                                <th class="font-weight-normal width-table text-center" scope="col">3</th>
                                <th class="font-weight-normal width-table text-center" scope="col">4</th>
                                <th class="font-weight-normal width-table text-center" scope="col">5</th>
                                <th class="font-weight-normal width-table text-center" scope="col">6</th>
                                <th class="font-weight-normal width-table text-center" scope="col">7</th>
                                <th class="font-weight-normal width-table text-center" scope="col">8</th>
                                <th class="font-weight-normal width-table text-center" scope="col">9</th>
                                <th class="font-weight-normal width-table text-center" scope="col">10</th>
                                <th class="font-weight-normal width-table text-center" scope="col">11</th>
                                <th class="font-weight-normal width-table text-center" scope="col">12</th>
                                <th class="font-weight-normal width-table text-center" scope="col">13</th>
                                <th class="font-weight-normal width-table text-center" scope="col">14</th>
                                <th class="font-weight-normal width-table text-center" scope="col">15</th>
                                <th class="font-weight-normal width-table text-center" scope="col">16</th>
                                <th class="font-weight-normal width-table text-center" scope="col">17</th>
                                <th class="font-weight-normal width-table text-center" scope="col">18</th>
                                <th class="font-weight-normal width-table text-center" scope="col">19</th>
                                <th class="font-weight-normal width-table text-center" scope="col">20</th>
                                <th class="font-weight-normal width-table text-center" scope="col">21</th>
                                <th class="font-weight-normal width-table text-center" scope="col">22</th>
                                <th class="font-weight-normal width-table text-center" scope="col">23</th>
                                <th class="font-weight-normal width-table text-center" scope="col">24</th>
                                <th class="font-weight-normal width-table text-center" scope="col">25</th>
                                <th class="font-weight-normal width-table text-center" scope="col">26</th>
                                <th class="font-weight-normal width-table text-center" scope="col">27</th>
                                <th class="font-weight-normal width-table text-center" scope="col">28</th>
                                <th class="font-weight-normal width-table text-center" scope="col">29</th>
                                <th class="font-weight-normal width-table text-center" scope="col">30</th>
                                <th class="font-weight-normal width-table text-center" scope="col">31</th>
                                <th class="font-weight-normal width-table text-center" scope="col">{{"OT"| translate}}
                                </th>
                                <th class="font-weight-normal width-table text-center" scope="col">{{"Leave"|
                                    translate}}
                                </th>
                            </tr>
                        </thead>
                        <tbody *ngIf="loading">
                            <tr>
                                <td colspan="34" class="font-weight-normal text-center">
                                    <div class="justify-content-center text-center" role="status">
                                        <div class="spinner-grow text-info" role="status" style="margin: 5px;"
                                            *ngFor="let item of [1,2,3]">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="data&&!loading">
                            <tr *ngFor="let emp of data">
                                <td class="align-middle sticky-col first-col" style="color: #7460ee;"><a
                                        class="link-myhr link-hover"
                                        (click)="loadData(emp.employee.employeeId);getName(emp.employee.employeeId,emp.employee.getFullname());openDialog(dialog)">{{emp.employee.employeeId}}
                                        : {{emp.employee.getFullname()}}</a> </td>
                                <td class="align-middle text-center"
                                    *ngFor="let item of emp.timeCurrent ; let i = index"
                                    [ngStyle]="{'background-color': statusColor(item)}">{{getTypeStatus(item)}}</td>
                                <td class="align-middle sticky-col first-col">{{sumScoreOT(emp).toFixed(2)}}</td>
                                <td class="align-middle sticky-col first-col">{{sumScoreLt(emp).toFixed(2)}}</td>
                            </tr>
                        </tbody>
                    </table>
                <!-- </perfect-scrollbar> -->
            </div>
        </div>
        <div class="d-flex justify-content-start p-2">
            <div class="p-2 bd-highlight">
                <span class="badge badge-light rounded-pill "
                    style="padding:2.5px 10px 2.5px 10px ;background-color:#d9dde1;">
                    <p class="mb-0 me-1 text-dark font-weight-bold font-14"> * = {{"No data"| translate}}
                    </p>
                </span>
            </div>
            <div class="p-2 bd-highlight">
                <span class="badge badge-light rounded-pill "
                    style="padding:2.5px 10px 2.5px 10px ;background-color:#d9dde1;">
                    <p class="mb-0 me-1 text-dark font-weight-bold font-14"> L = {{"Leave"| translate}}
                    </p>
                </span>
            </div>
            <div class="p-2 bd-highlight">
                <span class="badge badge-light rounded-pill "
                    style="padding:2.5px 10px 2.5px 10px ;background-color:#d9dde1;">
                    <p class="mb-0 me-1 text-dark font-weight-bold font-14"> A = {{"Absent"| translate}}
                    </p>
                </span>
            </div>
            <div class="p-2 bd-highlight">
                <span class="badge badge-light rounded-pill "
                    style="padding:2.5px 10px 2.5px 10px ;background-color:#d9dde1;">
                    <p class="mb-0 me-1 text-dark font-weight-bold font-14"> O = {{"Overtime"| translate}}
                    </p>
                </span>
            </div>
            <div class="p-2 bd-highlight">
                <span class="badge badge-light rounded-pill "
                    style="padding:2.5px 10px 2.5px 10px ;background-color:#d9dde1;">
                    <p class="mb-0 me-1 text-dark font-weight-bold font-14"> NP = {{"Not Punch"| translate}}
                    </p>
                </span>
            </div>

            <div class="p-2 bd-highlight">
                <span class="badge badge-light rounded-pill "
                    style="padding:2.5px 10px 2.5px 10px ;background-color:#68cebc;">
                    <p class="mb-0 me-1 text-dark font-weight-bold font-14"> {{"Annual Holiday"| translate}}
                    </p>
                </span>
            </div>
            <div class="p-2 bd-highlight">
                <span class="badge badge-light rounded-pill "
                    style="padding:2.5px 10px 2.5px 10px ;background-color: #5f89ff;">
                    <p class="mb-0 me-1 text-dark font-weight-bold font-14"> {{"Work"| translate}}
                    </p>
                </span>
            </div>
            <div class="p-2 bd-highlight">
                <span class="badge badge-light rounded-pill "
                    style="padding:2.5px 10px 2.5px 10px ;background-color: #f8627d;">
                    <p class="mb-0 me-1 text-dark font-weight-bold font-14"> {{"Day off"| translate}}
                    </p>
                </span>
            </div>
        </div>
        <div class="d-flex justify-content-end p-2">

            <select class="form-select m-r-5" style="width: auto" [(ngModel)]="pageSize"
                (ngModelChange)="refreshData()">
                <option [ngValue]="10">{{"Items per page"| translate}}: 10</option>
                <option [ngValue]="50">{{"Items per page"| translate}}: 50</option>
                <option [ngValue]="100">{{"Items per page"| translate}}: 100</option>
            </select>

            <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
                (pageChange)="refreshData()">
                <ng-template ngbPaginationPrevious>{{"Prev"| translate}}</ng-template>
                <ng-template ngbPaginationNext>{{"Next"| translate}}</ng-template>
            </ngb-pagination>


        </div>



    </div>
</div>

<ng-template #dialog let-modal>
    <div class="modal-content dialog-height-myhr">
        <div class="card cardmyhr-mb-set p-3">
            <div class="card-header bg-myhr">
                <h4>{{"Working Time History Detail of Employee" | translate}} : {{id}} {{name}}</h4>
            </div>
            <div class="container mt-1 ">
                <div class="row row-cols-2 row-cols-lg-4 g-2 g-lg-3">
                    <div class="col">
                        <div class="p-3">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1" [(ngModel)]="late"
                                    (ngModelChange)="changeFilter()">
                                <label class="custom-control-label" for="customCheck1">{{"Display Late" |
                                    translate}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="p-3">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck2"
                                    [(ngModel)]="absent" (ngModelChange)="changeFilter()">
                                <label class="custom-control-label" for="customCheck2">{{"Display Absent" |
                                    translate}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="p-3">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck3"
                                    [(ngModel)]="leave" (ngModelChange)="changeFilter()">
                                <label class="custom-control-label" for="customCheck3">{{"Display Leave" |
                                    translate}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="p-3">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck4"
                                    [(ngModel)]="overtime" (ngModelChange)="changeFilter()">
                                <label class="custom-control-label" for="customCheck4">{{"Display Overtime" |
                                    translate}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-body " [perfectScrollbar]="config">
            <div class="card cardmyhr-mb-reset15">
                <div class="table-responsive">
                    <div class="wrapper">
                        <table class="table  table-hover table-striped-myhr table-sm  mb-0 no-wrap v-middle ">
                            <thead class="bg-info ">
                                <tr class="text-white font-weight-normal">
                                    <th class="font-weight-normal text-center" scope="col">{{"date" | translate}}</th>
                                    <th class="font-weight-normal text-center" scope="col">{{"day" | translate}}</th>
                                    <th class="font-weight-normal text-center" scope="col">{{"Shift ID" | translate}}
                                    </th>
                                    <th class="font-weight-normal text-center" scope="col">{{"Work Time" | translate}}
                                    </th>
                                    <th class="font-weight-normal text-center" scope="col">{{"Punch Time" | translate}}
                                    </th>
                                    <th class="font-weight-normal text-center" scope="col">{{"Device No" | translate}}
                                    </th>
                                    <th class="font-weight-normal text-center" scope="col">{{"Day Type" | translate}}
                                    </th>
                                    <th class="font-weight-normal text-center" scope="col">{{"late" | translate}}</th>
                                    <th class="font-weight-normal text-center" scope="col">{{"Absent" | translate}}</th>
                                    <th class="font-weight-normal text-center" scope="col">{{"Leave" | translate}}</th>
                                    <th class="font-weight-normal text-center" scope="col">{{"OT Total" | translate}}
                                    </th>
                                    <th class="font-weight-normal text-center" scope="col">{{"OT" | translate}}1</th>
                                    <th class="font-weight-normal text-center" scope="col">{{"OT" | translate}}1.5</th>
                                    <th class="font-weight-normal text-center" scope="col">{{"OT" | translate}}2</th>
                                    <th class="font-weight-normal text-center" scope="col">{{"OT" | translate}}3</th>
                                    <th class="font-weight-normal text-center" scope="col">{{"Work" | translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="noData">
                                    <td colspan="16" class="font-weight-normal text-center">{{"No Data Found" |
                                        translate}}</td>
                                </tr>
                                <tr
                                    *ngFor="let item of dataTimeShow | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                                    <td class="align-middle text-center"
                                        [ngStyle]="{'color':item.eventgrp.tdesc == 'วันหยุด'?'#FF4F41' : item.eventgrp.tdesc == 'ขาดงาน' ? '#007ec3' :'' }">
                                        {{item.dateid | date:'dd-MM-yyyy'}}</td>
                                    <td class="align-middle text-center"
                                        [ngStyle]="{'color':item.eventgrp.tdesc == 'วันหยุด'?'#FF4F41' : item.eventgrp.tdesc == 'ขาดงาน' ? '#007ec3' :'' }">
                                        {{"systemcode.memployee.workplan.day." + convertyyyyMMddTodate(item.dateid) |
                                        translate}}</td>
                                    <td class="align-middle text-center"
                                        [ngStyle]="{'color':item.eventgrp.tdesc == 'วันหยุด'?'#FF4F41' : item.eventgrp.tdesc == 'ขาดงาน' ? '#007ec3' :'' }">
                                        {{item.time0id}}</td>
                                    <td class="align-middle text-center"
                                        [ngStyle]="{'color':item.eventgrp.tdesc == 'วันหยุด'?'#FF4F41' : item.eventgrp.tdesc == 'ขาดงาน' ? '#007ec3' :'' }">
                                        {{getFormatWorktime(item)}}</td>
                                    <td class="align-middle text-center"
                                        [ngStyle]="{'color':item.eventgrp.tdesc == 'วันหยุด'?'#FF4F41' : item.eventgrp.tdesc == 'ขาดงาน' ? '#007ec3' :'' }">
                                        {{getPunchtime(item)}}</td>
                                    <td class="align-middle text-center">
                                        {{item.machineNo?item.machineNo:"__.__ - __.__"}}</td>
                                    <td class="align-middle text-center"
                                        [ngStyle]="{'color':item.eventgrp.tdesc == 'วันหยุด'?'#FF4F41' : item.eventgrp.tdesc == 'ขาดงาน' ? '#007ec3' :'' }">
                                        {{getEventGrpId(item)}}</td>
                                    <td class="align-middle text-center">
                                        {{item.lt > 0 ? item.lt.toFixed(2) : ""}}</td>
                                    <td class="align-middle text-center">
                                        {{item.eventgrp.eventgrpid == 'J' && (item.warn05 != undefined || item.warn05 !=
                                        '') ?
                                        item.m_lv.toFixed(2) : ""}}</td>
                                    <td class="align-middle text-center">
                                        {{item.m_lv > 0 && (item.tr_type.indexOf('A') == 0) ? item.m_lv.toFixed(2) :
                                        ""}}</td>
                                    <td class="align-middle text-center">
                                        {{item.ac_ot > 0 ? item.ac_ot.toFixed(2) : ""}}</td>
                                    <td class="align-middle text-center">
                                        {{item.ot1 > 0 ? item.ot1.toFixed(2) : ""}}</td>
                                    <td class="align-middle text-center">
                                        {{item.ot5>0 ? item.ot5.toFixed(2) : ""}}</td>
                                    <td class="align-middle text-center">
                                        {{item.ot2>0 ? item.ot2.toFixed(2) : ""}}</td>
                                    <td class="align-middle text-center">
                                        {{item.ot3>0 ? item.ot3.toFixed(2) : ""}}</td>
                                    <td class="align-middle text-center">
                                        {{item.hour_d > 0 ? item.hour_d.toFixed(2) : ""}}</td>
                                </tr>
                                <tr *ngIf="dataTimeShow&&!noData">
                                    <td colspan="6"></td>
                                    <td class="align-middle text-center">{{getTotal() | translate}}</td>
                                    <td class="align-middle text-center">{{getTotalLate() | number:".2"}}</td>
                                    <td class="align-middle text-center">{{getTotalAbsent() | number:".2"}}</td>
                                    <td class="align-middle text-center">{{getTotalLeave() | number:".2"}}</td>
                                    <td class="align-middle text-center">{{getTotalOtTotal() | number:".2"}}</td>
                                    <td class="align-middle text-center">{{getTotalOt1() | number:".2"}}</td>
                                    <td class="align-middle text-center">{{getTotalOt1_5() | number:".2"}}</td>
                                    <td class="align-middle text-center">{{getTotalOt2() | number:".2"}}</td>
                                    <td class="align-middle text-center">{{getTotalOt3() | number:".2"}}</td>
                                    <td class="align-middle text-center">{{getTotalWork() | number:".2"}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="d-flex justify-content-end p-2">
                    <select class="form-select m-r-5" style="width: auto" [(ngModel)]="pageSize"
                        (ngModelChange)="page=1;getTotalData()">
                        <option [ngValue]="10">{{"Items per page"| translate}}: 10</option>
                        <option [ngValue]="50">{{"Items per page"| translate}}: 50</option>
                        <option [ngValue]="100">{{"Items per page"| translate}}: 100</option>
                    </select>
                    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
                        [maxSize]="3" (pageChange)="getTotalData()" [rotate]="true">
                        <ng-template ngbPaginationPrevious>{{"Prev"| translate}}</ng-template>
                        <ng-template ngbPaginationNext>{{"Next"| translate}}</ng-template>
                    </ngb-pagination>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">{{"Close"|
            translate}}</button>
    </div>
</ng-template>

<ng-template #alertModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="editLabel">Alert Message</h5>
        <button type="button" class="close" (click)="closeBtnClick()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {{msg}}
    </div>
</ng-template>
