<div class="pnd91-container">
    <div class="filter-card">
        <h4 class="form-title">{{"menu.employee-pnd91" | translate}}</h4>
        <div class="year-selector-group">
            <div class="input-group">
                <span class="input-group-text">{{"year" | translate}}</span>
                <select class="form-select" [(ngModel)]="yearSelected">
                    <option *ngFor="let item of yearList" [value]="item.value">{{ item.value }}</option>
                </select>
            </div>
            <button class="btn btn-search" (click)="loadPDF()" [disabled]="isLoading">
                <span *ngIf="!isLoading"><i class="mdi mdi-magnify"></i></span>
                <span *ngIf="isLoading" class="spinner-border spinner-border-sm visually-hidden" role="status" aria-hidden="true"></span>
            </button>
        </div>
    </div>

    <div class="loading-container" *ngIf="isLoading">
        <div class="spinner-border text-primary" role="status"></div>
        <span class="ms-3">{{"Loading Data" | translate}}...</span>
    </div>
</div>
