<div class="card">
    <div class="card-header bg-myhr" >
      <h4>{{"menu.sup-leavestatistic2" | translate}}</h4>
    </div>
    <div class="card-body " >
      <div class="row g-2 align-middle">
        <div class="form-group col-md-2 " style="text-align: center;margin-top: 5px;">
          <label  class="font-weight-bold text-end control-label col-form-label" style="font-size: 14px;">{{"subordinate"| translate}}</label>
        </div>
        <div class="form-group col-md-3 col-5 col-sm-5" style="margin-top: 5px;">
          <ng-template #rt let-r="result" let-t="term">
            {{ r.groupId}}
          </ng-template>
          <input
            placeholder="{{'subordinate.group.id'| translate}}"
            id="typeahead-focus"
            type="text"
            class="form-control"
            [(ngModel)]="modelSup"
            (ngModelChange)="changeModel()"
            [ngbTypeahead]="search"
            (focus)="focus$.next($any($event).target.value)"
            (click)="click$.next($any($event).target.value)"
            #instance="ngbTypeahead"
            [inputFormatter]="formatter"
            [resultTemplate]="rt"
            [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group col-md-3 col-5 col-sm-5" style="margin-top: 5px;">
          <input readonly type="text" class="form-control"  placeholder="{{'subordinate.description'| translate}}"  id="inputCity" [value]="(modelSup?.groupId)?(modelSup?.getDesc()):''">
        </div>
      </div>

          <!-- ค้นหาเดือน/ปี -->
          <form novalidate="" class="form-horizontal ">
            <div class="row g-2 align-middle">
              <div class="form-group mb-0 mb-2 col-md-2 " style="text-align: center;margin-top: 5px;">
              </div>
              <div class="form-group mb-0 mb-2 col-md-3" style="margin-top: 5px;">
                <div class="form-group mb-0 mb-2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon13">
                              {{"Start Date" | translate}}
                            </span>
                        </div>
                        <input class="form-control" placeholder="{{'dd.mm.yyyy' | translate}}" name="dp1" [(ngModel)]="selectStartDate" ngbDatepicker #d1="ngbDatepicker"
                        oninput="value = value.replace(/[^0-9/]/g, '');" #c1="ngModel" (change)="selectStartDate = datepickerService.validateFormatDate(c1)">
                        <div class="input-group-append">
                          <button class="btn btn-outline-info no-shadow" (click)="d1.toggle()" type="button">
                              <i class="far fa-calendar-alt"></i>
                          </button>
                        </div>
                    </div>
                </div>
              </div>
              <div class="form-group mb-0 mb-2 col-md-3" style="margin-top: 5px;">
                <div class="form-group mb-0 mb-2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon13">
                              {{"End Date" | translate}}
                            </span>
                        </div>
                        <input class="form-control" placeholder="{{'dd.mm.yyyy' | translate}}"oninput="value = value.replace(/[^0-9/]/g, '');"  name="dp2" [(ngModel)]="selectEndDate" ngbDatepicker #d2="ngbDatepicker"
                        [minDate]="selectStartDate" #c2="ngModel" (change)="selectEndDate = datepickerService.validateFormatDate(c2)">
                        <div class="input-group-append">
                          <button class="btn btn-outline-info no-shadow" (click)="d2.toggle()" type="button">
                              <i class="far fa-calendar-alt"></i>
                          </button>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </form>

          <div class="row g-2 align-middle">
            <div class="form-group offset-md-2 col-md-3 col-5 col-sm-5" style="margin-top: 5px;">
              <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon13">
                  {{"Search By" | translate}}
                </span>
            </div>
                <select class="form-select" id="inputGroupSelect01" [(ngModel)]="eventgrpSelcte">
                  <option ngValue="">{{"All" | translate}}</option>
                  <option *ngFor="let m of eventgrpList" [ngValue]="m.eventgrpid">{{m.getDesc()}}</option>
                </select>
            </div>
            </div>
            <div class="form-group col-md-3 col-5 col-sm-5" style="margin-top: 5px;">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon13">
                    {{"Order By" | translate}}
                  </span>
              </div>
                <select class="form-select" id="inputGroupSelect01" [(ngModel)]="orderSelcte">
                    <option  ngValue="date">{{"date" | translate}}</option>
                    <option  ngValue="datemax">{{"Date [Max->Min]" | translate}}</option>
                    <option  ngValue="emp">{{"employee.id" | translate}}</option>
                    <option  ngValue="empmax">{{"EmployeeID [Max->Min]" | translate}}</option>
                </select>
            </div>
            </div>
            <div class="form-group col-md-2 col-2 col-sm-2" style="text-align: left;margin-top: 5px;">
                <button type="button" class="btn btn-info  btn-sm btn-circle  m-r-5 m-l-10" (click)="getSupLeaveService()"><i class="fa fa-search"></i> </button>
            </div>
            <div class="form-group col-md-2" style="margin-top: 5px; text-align: right;">
              <span  class="badge rounded-pill badge-primary-light p-2 " style="width: 130px;padding: 4px;">
                 {{'all'| translate}} <span  class="text-primary">{{empLeaveList.length?empLeaveList.length:0}}</span>
              </span>
            </div>
        </div>


<div class="table-responsive">
    <div class="wrapper">
        <table class="table  table-hover table-striped-myhr table-sm  mb-0 no-wrap v-middle">
            <thead class="bg-info " >
            <tr class="text-white font-weight-normal">
              <th class="font-weight-normal width-table" scope="col">{{"dmy" | translate}}</th>
              <th class="font-weight-normal width-table" scope="col">{{"day" | translate}}</th>
              <th class="font-weight-normal width-table" scope="col">{{"Name-Surname" | translate}}</th>
              <th class="font-weight-normal width-table" scope="col">{{"Position" | translate}}</th>
              <th class="font-weight-normal width-table" scope="col">{{"leave-time" | translate}}</th>
              <th class="font-weight-normal width-table" scope="col">{{"total.hour" | translate}}</th>
              <th class="font-weight-normal width-table" scope="col">{{"leave.type" | translate}}</th>
            </tr>
            </thead>
            <tbody *ngIf="loading">
              <tr >
                <td colspan="7" class="font-weight-normal text-center">
                  <div class="justify-content-center text-center" role="status" >
                    <div class="spinner-grow text-info" role="status" style="margin: 5px;">
                      <span class="sr-only">Loading...</span>
                    </div>
                    <div class="spinner-grow text-info" role="status" style="margin: 5px;">
                      <span class="sr-only">Loading...</span>
                    </div>
                    <div class="spinner-grow text-info" role="status" style="margin: 5px;">
                      <span class="sr-only">Loading...</span>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="empLeaveList&&!loading">
              <tr *ngIf="noData">
                <td colspan="7" class="font-weight-normal text-center">{{"No Data Found" |  translate}}</td>
              </tr>
              <tr *ngFor="let item of empLeaveList | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize ; let i=index">
                <td class="align-middle sticky-col first-col">{{item.leaveSummary.dateid | date:'dd-MM-yyyy'}}</td>
                <td class="align-middle sticky-col first-col">{{translateService.currentLang == 'th'?(item.leaveSummary.dateid |thaidate : "day"):(item.leaveSummary.getDateId() | date:'EEEE' )}}</td>
                <td class="align-middle sticky-col first-col" style="color: #7460ee;"><a style="color: #7460ee;cursor: hand;cursor: pointer;"   (click)="openEmpLeaveStatistic(item.employee.employeeId,item.employee.prefix.getPrefixDesc()+' '+item.employee.getFullname())">{{item.employee.employeeId}} : {{item.employee.prefix.getPrefixDesc()}} {{item.employee.getFullname()}}</a></td>
                <td class="align-middle sticky-col first-col">{{item.employee.position.getPositionDesc() }}</td>
                <td class="align-middle sticky-col first-col">{{item.leaveSummary.lv_bg_time | number:'2.2'}} - {{item.leaveSummary.lv_en_time | number:'2.2'}}</td>
                <td class="align-middle sticky-col first-col">{{item.leaveSummary.m_lv | number:'2.2'}}</td>
                <td class="align-middle sticky-col first-col" style="color: #7460ee;"><a style="color: #7460ee;cursor: hand;cursor: pointer;"  (click)="loadLeaveData(i,item.employee.employeeId,item.employee.prefix.getPrefixDesc()+' '+item.employee.getFullname(),item.leaveSummary.lv_type.getLvTypeDesc())">{{item.leaveSummary.lv_type.getLvTypeDesc()}}</a></td>
              </tr>
            </tbody>
          </table>
        </div>
        </div>

          <div class="d-flex justify-content-end p-2">
            <select class="form-select m-r-5" style="width: auto" [(ngModel)]="pageSize"  (ngModelChange)="page=1">
              <option [ngValue]="10">{{"Items per page"| translate}}: 10</option>
              <option [ngValue]="50">{{"Items per page"| translate}}: 50</option>
              <option [ngValue]="100">{{"Items per page"| translate}}: 100</option>
            </select>
            <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" [maxSize]="3"
              [rotate]="true">
              <ng-template ngbPaginationPrevious>{{"Prev"| translate}}</ng-template>
              <ng-template ngbPaginationNext>{{"Next"| translate}}</ng-template>
            </ngb-pagination>
          </div>



    </div>
</div>


<!-- สิทธิการลา -->
<ng-template #dialogLeave let-modal >
  <div class="modal-content dialog-height-myhr">
    <div class="card cardmyhr-mb-set p-3">
      <div class="card-header bg-myhr">
        <h5 class="card-title">{{"Employee Privilege Leave" | translate}} {{id}} {{name}} {{"date" | translate}} {{('0'+selectStartDate.day).slice(-2)}}-{{('0'+selectStartDate.month).slice(-2)}}-{{selectStartDate.year}} {{"systemcode.to" | translate}} {{('0'+selectEndDate.day).slice(-2)}}-{{('0'+selectEndDate.month).slice(-2)}}-{{selectEndDate.year}} </h5>
    </div>
    </div>
    <div class="modal-body" [perfectScrollbar]="config">
    <div class="card cardmyhr-mb-reset15">
                      <div class="table-responsive">
                          <div class="wrapper">
                              <table class="table  table-hover table-striped-myhr table-sm  mb-0 no-wrap v-middle " >
                                  <thead class="bg-info " >
                                  <tr class="text-white font-weight-normal">
                                  <th class="font-weight-normal text-center" scope="col">{{"Leave Type" | translate}}</th>
                                  <th class="font-weight-normal text-center" scope="col">{{"limit-total" | translate}}</th>
                                  <th class="font-weight-normal text-center" scope="col">{{"used-total" | translate}}</th>
                                  <th class="font-weight-normal text-center" scope="col">{{"remain-total" | translate}}</th>
                                  </tr>
                                  </thead>
                                  <tbody *ngIf="loadingEMP">
                                    <tr >
                                      <td colspan="4" class="font-weight-normal text-center">
                                        <div class="justify-content-center text-center" role="status" >
                                          <div class="spinner-grow text-info" role="status" style="margin: 5px;">
                                            <span class="sr-only">Loading...</span>
                                          </div>
                                          <div class="spinner-grow text-info" role="status" style="margin: 5px;">
                                            <span class="sr-only">Loading...</span>
                                          </div>
                                          <div class="spinner-grow text-info" role="status" style="margin: 5px;">
                                            <span class="sr-only">Loading...</span>
                                          </div>
                                        </div>
                                      </td>
                                    </tr>
                                  </tbody>
                                  <tbody *ngIf="!loadingEMP">
                                    <tr *ngIf="noDataLeave">
                                      <td colspan="4" class="font-weight-normal text-center">{{"No Data Found" |  translate}}</td>
                                    </tr>
                                    <tr *ngFor="let item of dataEMP.statistic | slice: (pageLeave-1) * pageSizeLeave : (pageLeave-1) * pageSizeLeave + pageSizeLeave  ; let i=index">
                                        <td class="align-middle text-center">{{item.getDesc() }}</td>
                                        <td class="align-middle text-center">{{item.limit}}</td>
                                        <td class="align-middle text-center">{{item.used }}</td>
                                        <td class="align-middle text-center">{{item.remain }}</td>
                                    </tr>
                                  </tbody>

                              </table>
                          </div>
                      </div>
                      <div class="d-flex justify-content-end p-2">
                        <select class="form-select m-r-5" style="width: auto" [(ngModel)]="pageSizeLeave"  (ngModelChange)="pageLeave=1">
                          <option [ngValue]="10">{{"Items per page"| translate}}: 10</option>
                          <option [ngValue]="50">{{"Items per page"| translate}}: 50</option>
                          <option [ngValue]="100">{{"Items per page"| translate}}: 100</option>
                        </select>
                        <ngb-pagination [collectionSize]="collectionSizeLeave" [(page)]="pageLeave" [pageSize]="pageSizeLeave" [maxSize]="3"
                          [rotate]="true">
                          <ng-template ngbPaginationPrevious>{{"Prev"| translate}}</ng-template>
                          <ng-template ngbPaginationNext>{{"Next"| translate}}</ng-template>
                        </ngb-pagination>
                      </div>
    </div>
</div>
  <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">{{"Close"| translate}}</button>
  </div>
</div>
</ng-template>

<!-- สถิติการลา -->
<ng-template #dialogLeaveStatistic let-modal >
  <div class="modal-content dialog-height">
    <div class="modal-body" [perfectScrollbar]="config">
    <div class="card" style="margin-bottom:-15px" >
<!-- Row -->
      <div class="row ">
          <div class="col-12 m-t-10">
              <div class="card">
                  <div class="card-header bg-myhr">
                      <h5 class="card-title">{{titleLeave}} : {{id}} {{name}} {{"date" | translate}} {{selectStartDate.day}}-{{selectStartDate.month}}-{{selectStartDate.year}} {{"to" | translate}} {{selectEndDate.day}}-{{selectEndDate.month}}-{{selectEndDate.year}} </h5>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <div class="wrapper">
                              <table class="table  table-hover table-striped-myhr table-sm  mb-0 no-wrap v-middle " >
                                  <thead class="bg-info " >
                                  <tr class="text-white font-weight-normal">
                                  <th class="font-weight-normal text-center" scope="col">{{"No." | translate}}</th>
                                  <th class="font-weight-normal text-center" scope="col">{{"leave-date" | translate}}</th>
                                  <th class="font-weight-normal text-center" scope="col">{{"leave-time" | translate}}</th>
                                  <th class="font-weight-normal text-center" scope="col">{{"total.hour" | translate}}</th>
                                  <th class="font-weight-normal text-center" scope="col">{{"document no" | translate}}</th>
                                  <th class="font-weight-normal text-center" scope="col">{{"Year" | translate}}</th>
                                  </tr>
                                  </thead>
                                  <tbody *ngIf="loadingEMP">
                                    <tr >
                                      <td colspan="4" class="font-weight-normal text-center">
                                        <div class="justify-content-center text-center" role="status" >
                                          <div class="spinner-grow text-info" role="status" style="margin: 5px;">
                                            <span class="sr-only">Loading...</span>
                                          </div>
                                          <div class="spinner-grow text-info" role="status" style="margin: 5px;">
                                            <span class="sr-only">Loading...</span>
                                          </div>
                                          <div class="spinner-grow text-info" role="status" style="margin: 5px;">
                                            <span class="sr-only">Loading...</span>
                                          </div>
                                        </div>
                                      </td>
                                    </tr>
                                  </tbody>
                                  <tbody *ngIf="!loadingEMP">
                                    <tr *ngIf="noDataLeave">
                                      <td colspan="6" class="font-weight-normal text-center">{{"No Data Found" |  translate}}</td>
                                    </tr>
                                    <tr *ngFor="let item of dataLeave.content | slice: (pageLeave-1) * pageSizeLeave : (pageLeave-1) * pageSizeLeave + pageSizeLeave  ; let i=index">
                                        <td class="align-middle text-center">{{i+1}}</td>
                                        <td class="align-middle text-center">{{item.lv_bg_date  | date:'dd-MM-yyyy'}}</td>
                                        <td class="align-middle text-center">{{item.lv_bg_date | date:'dd-MM-yyyy'}} : {{item.lv_bg_time | number:'2.2'}} - {{item.lv_en_date | date:'dd-MM-yyyy'}} : {{item.lv_en_time | number:'2.2'}}</td>
                                        <td class="align-middle text-center">{{item.m_lv | number:'1.2'}}</td>
                                        <td class="align-middle text-center">{{item.docid }}</td>
                                        <td class="align-middle text-center">{{item.lv_bg_date  | date:'yyyy'}}</td>
                                    </tr>
                                  </tbody>

                              </table>
                          </div>
                      </div>
                      <div class="d-flex justify-content-end p-2">
                        <select class="form-select m-r-5" style="width: auto" [(ngModel)]="pageSizeLeave"  (ngModelChange)="pageLeave=1">
                          <option [ngValue]="10">{{"Items per page"| translate}}: 10</option>
                          <option [ngValue]="50">{{"Items per page"| translate}}: 50</option>
                          <option [ngValue]="100">{{"Items per page"| translate}}: 100</option>
                        </select>
                        <ngb-pagination [collectionSize]="collectionSizeLeave" [(page)]="pageLeave" [pageSize]="pageSizeLeave" [maxSize]="3"
                          [rotate]="true">
                          <ng-template ngbPaginationPrevious>{{"Prev"| translate}}</ng-template>
                          <ng-template ngbPaginationNext>{{"Next"| translate}}</ng-template>
                        </ngb-pagination>
                      </div>
                  </div>
              </div>
          </div>



      </div>
    </div>
</div>
  <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">{{"Close"| translate}}</button>
  </div>
</div>
</ng-template>

<!-- สถิติการลา -->
<ng-template #modelEmpLeaveStatistic let-modal >
  <div class="modal-content dialog-height">
    <div class="modal-body" [perfectScrollbar]="config">
    <div class="card" style="margin-bottom:-15px" >
<!-- Row -->
      <div class="row ">
          <div class="col-12 m-t-10">
              <div class="card">
                  <div class="card-header bg-myhr">
                    <h5 class="card-title">{{'Privilege Leave'| translate}} : {{id}} {{name}} {{'year'| translate}} {{selectYear}}</h5>
                  </div>
                  <div class="card-body">
                    <div class="row" *ngIf="loadEmpLeaveStatistic">
                      <div class="col-12 mt-1" style="z-index: 1;position: absolute;top: 50%;text-align: center;">
                        <div class="spinner-grow text-info" role="status" style="margin: 5px;">
                          <span class="sr-only">Loading...</span>
                        </div>
                        <div class="spinner-grow text-info" role="status" style="margin: 5px;">
                          <span class="sr-only">Loading...</span>
                        </div>
                        <div class="spinner-grow text-info" role="status" style="margin: 5px;">
                          <span class="sr-only">Loading...</span>
                        </div>
                      </div>
                    </div>
            
                    <div class="row" *ngIf="!loadEmpLeaveStatistic">
                      <div class="col-12">
                        <div class="table-responsive">
                          <table class="table table-bordered table-sm   no-wrap v-middle " id="table">
                            <thead class="bg-info ">
                              <tr class="text-white font-weight-normal">
                                <th class="font-weight-normal width-table  align-middle text-center" scope="col" rowspan="2">
                                  {{"Leave Type" | translate}}</th>
                                <th class="font-weight-normal width-table text-center" scope="col">{{'menu.employee-leaverole' |
                                  translate}}</th>
                                <th class="font-weight-normal width-table text-center" scope="col">{{'Used' | translate}}</th>
                                <th class="font-weight-normal width-table text-center" scope="col">{{'Remain' | translate}}</th>
                              </tr>
                              <tr class="text-white font-weight-normal">
                                <th class="font-weight-normal width-table text-center" scope="col">{{'date-hr-min' | translate}}
                                </th>
                                <th class="font-weight-normal width-table text-center" scope="col">{{'date-hr-min' | translate}}
                                </th>
                                <th class="font-weight-normal width-table text-center" scope="col">{{'date-hr-min' | translate}}
                                </th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let item of empLeaveStatistic; let i = index">
                                <td class="align-middle ">{{item.getDesc()}}</td>
                                <td class="align-middle text-center">{{item.limit}}</td>
                                <td class="align-middle text-center">{{item.used}}</td>
                                <td class="align-middle text-center">{{item.remain}}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
          </div>



      </div>
    </div>
</div>
  <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">{{"Close"| translate}}</button>
  </div>
</div>
</ng-template>
